<div class="left-campaign-block">
	<div class="title-hr-line">
		<span class="campaign-title-logo"></span> <span
			class="block-title-info">Campaign Information</span>
	</div>
	<div>
		<span class="left-labels">Client</span> <span class="right-details">{{qaDetail.campaign.organizationId}}</span>
	</div>
	<div>
		<span class="left-labels">Campaign</span> <span class="right-details">{{qaDetail.campaign.name}}</span>
	</div>
	<div>
		<span class="left-labels">Type</span> <span class="right-details">{{qaDetail.campaign.type}}</span>
	</div>
	<div>
		<span class="left-labels">Agent</span> <span class="right-details">{{qaDetail.agentName}}</span>
	</div>
	<div>
		<span class="left-labels">Partner</span> <span class="right-details">{{qaDetail.teamName}}</span>
	</div>
</div>