<!-- START Date - 14 Feb 2017 Reason - added below css reference in order to make lead details editable -->
<link href="css/xeditable.css" rel="stylesheet">
<!-- END Date - 14 Feb 2017 Reason - added below css reference in order to make lead details editable -->

<link href="css/qascreen.css" rel="stylesheet">
<link rel="stylesheet" href="css/angucomplete-alt.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="css/jquery.dataTables.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	
	
QA Score page
<qa-score-navigation></qa-score-navigation>