<div class="alert-info">
	<div class="left-info" ng-click="goBack()">
		<span class="arrow-left-center"></span>Back to List
	</div>
	<div class="center-info"
		ng-click="prevPage(qaDetail.prospectCallLog.prospectCall.prospectCallId)">
		<span
			ng-class="disabldPrevArrow ? 'arrow-left-disabled' : 'arrow-left'"></span>
	</div>
	<div>
		<span class="preview-left-logo"></span> <span class="right-info">{{qaDetail.campaign.name
			| limitTo:18}} <span class="arro-space">></span> <span
			class="blue-prosp">{{qaDetail.prospectCallLog.prospectCall.prospectCallId}}</span>
			<span class="arro-space">|</span> <span
			ng-class="qaDetail.prospectCallLog.prospectCall.dispositionStatus == 'FAILURE' ? 'stat-color' : 'stat-succ-color'">{{qaDetail.prospectCallLog.prospectCall.dispositionStatus
				| uppercase}}</span> <span class="arro-space">></span> {{subStatus}}
		</span>
	</div>
	<div class="right-end"
		ng-click="nextPage(qaDetail.prospectCallLog.prospectCall.prospectCallId)">
		<span
			ng-class="disabldNextArrow ? 'arrow-right-disabled' : 'arrow-right'"></span>
	</div>
</div>