<script type="text/ng-template" id="agentCalendar.html">
<span class="formError  modal-error"><toaster-container toaster-options="{'time-out': 3000, 'close-button':true , 'position-class': 'toast-cust-pos'}"></toaster-container></span>
	<h3></h3>
							<div class="calender_popup">
							<form name="" id=""  novalidate>
								<a href="" id="cal-popup-close" ng-click="cancel();"><img src="images/popup_close.png"/></a>
								<section class="form-group col-md-12 nopad">
									<select ng-change="selectCampaign(selectedOption)" ng-model="selectedOption" ng-options="item.id as item.name for item in allCampaignlist" name="type" class="form-control top-select ng-pristine ng-invalid ng-invalid-required">
										 
									</select>
								</section>
								
								<section class="form-group pickdate">                        
									<input ng-model="currentEventDate" type="date" required class="date-control" is-open="startDateOpened" ng-disabled="isIOSignedDisable" /> 
									<input ng-model="eventStartHour" confirm-action="checkStartTime(checkhours)" readonly dn-timepicker type="text" class="form-control time-dropdown" min-time="{{eventStartHourMin}}" max-time="{{eventStartHourMax}}" step="60m" time-format="hh:mm a"/>
									<span class="between-dates">to</span>
									<input ng-model="eventEndHour" confirm-action="checkEndTime(checkhours)" readonly dn-timepicker type="text" class="form-control time-dropdown" min-time="{{eventEndHourMin}}" max-time="{{eventEndHourMax}}" step="60m" time-format="hh:mm a"/>
								</section>
								
								<section  class="form-group setrec clearfix">
									<div><input ng-model="eventRecurrence" ng-checked="eventRecurrence" ng-click="setRecurrenceCheck(eventRecurrence)" type="checkbox"/> Set Recurrence</div>
									<div class="set-recurrence">
										<div class="set-recu-row">
											<div class="recur-lable">Recurrence :</div>
											<div class="form-group">
												<select ng-change="onEventTypeChange(eventType)" id="eventType" ng-disabled="!eventRecurrence" ng-model="eventType" name="type" class="form-control text-color ng-pristine ng-invalid ng-invalid-required">
													<option ng-value="">---------Select --------</option>
													<option ng-value="Daily">Daily</option>
													<option ng-value="Weekly">Weekly</option>
												</select>
											</div>
										</div>
										<div class="set-recu-row">
											<div class="recur-lable">Recur on :</div>
											<div class="form-group">
											<span ng-repeat="day in days">
												<input ng-disabled="!eventRecurrence || eventType=='Daily' || eventType=='---------Select --------'"" name="selectedDays[]" value="day.name" ng-model="day.selected" type="checkbox"/><span>{{day.shortName}}</span> 
											<span>
												</div>
										</div>
										
										<section class="form-group">
											<span class="dt-lable">Starts on :</span>
											<input ng-disabled="!eventRecurrence || eventType=='---------Select --------'" ng-model="eventStartDate" type="date" required class="date-control" is-open="startDateOpened" ng-disabled="isIOSignedDisable"/>
										</section>
										
										<section class="form-group ">
											<span class="dt-lable">Ends on :</span> 
											<input ng-disabled="!eventRecurrence || eventType=='---------Select --------'" ng-model="eventEndDate" type="date" required class="date-control" is-open="startDateOpened" ng-disabled="isIOSignedDisable"/>
										</section>
									</div>
								</section>
								
								
								
								<section ng-if="eventRecurrence" class="form-group">
									<div class="summary">
										<span>Summary :</span>
										<p ng-if="eventType=='Weekly' || eventType=='Daily'">{{eventType}} <span ng-if="selectionString!='' && eventType=='Weekly'">on</span> <span ng-if="eventType=='Weekly'">{{selectionString}}</span> from {{eventStartDate | date:'d MMM yyyy'}} to {{eventEndDate | date:'d MMM yyyy'}}</p>
									</div>
								</section>
								
								<section class="form-group pull-left">
									<button class="pull-left ssblue_btn" ng-show="scheduleId!= null" ng-click="delete();">Delete</button> 
									<button class="pull-right ssblue_btn" ng-click="cancel();">Cancel</button> 
									<button class="pull-right ssblue_btn" ng-click="save();">Save</button>
								</section>
								</form>
								
								</div>
	
</script>



	<section ui-view="main" id="directives-calendar">
  <div class="clear"></div>

  
  
  
  <div class="col-md-10 whitebg1 pull-left">
	<div class="screen_main_container screen_main_container_calendar">
		<div class="row">
       	  <div class="col-md-6">
           	<!-- <h4>AGENT SCHEDULE</h4>-->
              <section class="calender-profile-pic">
           	  	
           	  	<img ng-if="agentProfilePic == null" src="tmp_images/defaultprofile.png"/>
           	  	<img ng-if="agentProfilePic != null" ng-src="{{agentProfilePic}}" />
                <section>
                	<!-- <i class="agent_status online_agent"></i> -->{{agentName}}
                	
                </section>
                <span>{{agentCity}}, {{agentState}}
    				<br>TimeZone: {{agentTimezone}}</span>
              </section>
			</div>
        	<div class="col-md-6"><div id="datepicker1" class="pull-right datepicker" newdatepicker ng-model="currentCalendarDate"></div></div>
		</div>
        <div class="row fullcalendar_container">
        	<div class="row">

                
            </div> 
        	<div class="col-md-12">
        		<div id="calendar"  class="calendar" ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar"></div> 
                <table width="100%" border="1" cellspacing="0" cellpadding="0">
                  	<tr>
                    	<td class="total-busy-hours"><button ng-click="redirect()" class="ssblue_btn pull-right">Back</button></td>
                  	</tr>
                </table>
            </div>
        </div>
	</div>    
  </div> 
  
    <aside class="col-md-2 userlist pull-right">
        <a class="calender_icon" ng-href="/#!/calendar/{{item.id}}" href="" ng-repeat="item in agentList">
            <div class="aa_agents">
				<figure class="profile_pic"><img ng-if="item.agentProfilePicUrl == null" src="tmp_images/defaultprofile.png"/><img ng-if="item.agentProfilePicUrl != null" ng-src="{{item.agentProfilePicUrl}}" /></figure>
               	<section class="aa_agent_status agent_offline"> {{item.name}}</section>
            </div>
        </a>
  </aside>
  
  
</section>

<div class="processing" id="ad_loading" ng-show="loading">
	<div class="processing_message">
		<span>Processing</span>
		<p align="center"><img alt="processing" src="images/loader_circle.gif"></p>
	</div>
</div>

 