<link href="css/supervisorscreen.css" rel="stylesheet">
<a>
	<div class="col-md-3 paddingfirst">
		<div class="col-md-12">           
			<a ng-click="navigateToSupervisorScreen();"><span class="steplogogeneral"></span></a>
		</div>                        
	</div>
</a>
<span style="
margin-left: -150px;
font-size: 13px;
text-transform: uppercase;
color: #00bfff;
font-weight: 700;">
	ABMCompanies Count : 
</span>
<span>
	{{abmListCount}}
</span>
<button style="margin-left: 241px;cursor: pointer;" class="add_condition text-weight" ng-click="addExpression(modal.prospectCriteria.expressions)">Add
	Condition</button>
<div class="health-check">
	<toaster-container toaster-options="{'showDuration': 120000000000000, 'time-out':4000, 'close-button':true , 'position-class': 'toast-cust-pos-super'}"></toaster-container>
</div>
<div class="tab-content-row" style="padding-bottom:0;">
	<table cellspacing="0" cellpadding="0" class="data_source_table expression-table">
		<tr ng-repeat="expression in modal.prospectCriteria.expressions">
			<td class="expression-cell">
				<select class="form-control initial-width" ng-change="expression.value = []"
					ng-model="expression.attribute">
					<option value="" selected>Please Select</option>
					<option ng-repeat="item in modal.prospectAttribute" ng-value="item.id">{{item.label}}</option>
				</select>
			</td>
			<td class="expression-cell">
				<div ng-switch="getAttributeType(expression.attribute, $index)">
					<div>
						<select class="form-control select-box" ng-model="expression.operator" ng-change="formChanged()" ng-switch-default name = "operator" required>		                        	    		
							<option value="" selected="">Please Select</option>
							<option value="IN">IN</option>
							<option value="NOT IN">NOT IN</option>
							<option value = "GREATER THAN">Greater Than</option>
							<option value = "LESS THAN">Less Than</option>
						</select>
					</div>
				</div>
			</td>
			<td class="expression-cell">
				<div ng-switch="getAttributeType(expression.attribute, $index)">
					<div ng-switch-default>
						<input type="text" autocomplete="off" ng-trim="true" class="form-control initial-width wht-placeholder" required
							class="form-control" ng-model="expression.value">
					</div>
					<div ng-switch-when="String">
						<div ng-show="size{{$index}} == 0">
							<input type="text" autocomplete="off" ng-trim="true" class="form-control initial-width wht-placeholder" required
								class="form-control" ng-model="expression.value">
						</div>
						<div class="multi-val-box"
							ng-show="size{{$index}} > 0 && (expression.attribute == 'mgmtLevel' || expression.attribute == 'state' || expression.attribute == 'title' || expression.attribute == 'industry' || expression.attribute == 'department')">
							<ui-select multiple close-on-select="false" ng-model="expression.bindValue" ng-change=""
								theme="select2" ng-disabled="disabled" style="width: 300px;"
								on-select="clearMultiselectBox($select)">
								<ui-select-match placeholder="Select option..">{{$item.key}}</ui-select-match>
								<ui-select-choices repeat="item in modal.expressionAttributes | filter: $select.search">
									{{item.key}}
								</ui-select-choices>
							</ui-select>
						</div>
						<div
							ng-show="size{{$index}} > 0 && (expression.attribute == 'revMax' || expression.attribute == 'revMin' || expression.attribute == 'empMax' || expression.attribute == 'empMin')">
							<select class="form-control initial-width" ng-model="expression.value[0]"
								placeholder="Select option.." style="width:100%">
								<option value="">Select option..</option>
								<option ng-repeat="item in modal.expressionAttributes" ng-value="item.value">
									{{item.key}}</option>
							</select>
						</div>
					</div>
					<div ng-switch-when="Range">
						<select class="form-control initial-width" ng-model="expression.value[0]">
							<option value="" selected>Please Select</option>
							<option ng-repeat="item in modal.expressionAttributes" ng-value="item.value">{{item.key}}
							</option>
						</select>
					</div>
					<div ng-switch-when="Boolean">
						<select class="form-control initial-width" ng-model="expression.value[0]">
							<option value="" selected>Please Select</option>
							<option>TRUE</option>
							<option>FALSE</option>
						</select>
					</div>
				</div>
			</td>
			<td class="delete-cell"><button ng-click="removeExpression(modal.prospectCriteria.expressions,$index)"><img
						src="images/trashicon.png"/ title="Delete"></button></td>
		</tr>
	</table>
</div>
<div class="tab-content-row" style="padding-top:0;padding-right: 55px;font-size: 15px;font-weight: bolder;margin-left: 600px;cursor: pointer;">
	<button ng-click="getHealthCheck();" ng-disabled="waitPurchaseMsg" class="ssblue_btn">Health Checks</button>
	<!-- <button ng-click="getRecycledList();" class="ssblue_btn">Recycle</button> -->
</div>
<div class="wrap" ng-show="isResponseReceived">
	<table class="table table-striped head" style="width: 300px">
		<thead>
			<tr>
			  <th>Criteria</th>
			  <th>Count</th>
			</tr>
		  </thead>
		<tr>
		  <td>Title</td>
		  <td>{{healthCheckDto.titleHealthCount}}</td>
		</tr>
		<tr>
			<td>Revenue</td>
			<td>{{healthCheckDto.revenueHealthCount}}</td>
		</tr>
		<tr>
			<td>Employee</td>
			<td>{{healthCheckDto.employeeHealthCount}}</td>
		</tr>
		<tr>
			<td>Industry</td>
			<td>{{healthCheckDto.industryHealthCount}}</td>
		</tr>
		<tr>
			<td>Department</td>
			<td>{{healthCheckDto.departmentHealthCount}}</td>
		</tr>

	  </table>
</div>
<!-- <div class="wrap">
	<table ng-if="modal.prospectSearchResult.count > 0" class="table table-striped head"
		ng-show="modal.prospectSearchResultView">
		<tr>
			<td>Id</td>
			<td>First Name</td>
			<td>Last Name</td>
			<td>Role</td>
			<td>Mgmt Level</td>
			<td>Company</td>
			<td>State</td>
			<td>Industry</td>
			<td>SIC Code</td>
			<td>Annual Revenue</td>
			<td>Number of Employees</td>
		</tr>
	</table>
	<div class="inner_table">
		<table>
			<tr ng-repeat="item in modal.prospectSearchResult.contacts">
				<td>{{item.sourceId}}</td>
				<td>{{item.firstName}}</td>
				<td>{{item.lastName}}</td>
				<td>{{item.title}}<span ng-if="item.title == null">{{item.hierarchyTitle}}</span></td>
				<td>
					<span ng-repeat="title in item.hierarchyTitle">
						{{title}}{{$last ? '' : ', '}}
					</span>
				</td>
				<td>{{item.organizationName}}</td>
				<td>{{item.state}}</td>
				<td>
					<span ng-repeat="industry in item.industries">
						{{industry.name}}{{$last ? '' : ', '}}
					</span>
				</td>
				<td>
					<span ng-repeat="sicCode in item.sicCodes">
						{{sicCode.label}}{{$last ? '' : ', '}}
					</span>
				</td>
				<td>
					<span
						ng-show="item.minRevenue > 0 && item.maxRevenue > 0">${{convert_Number_to_Words(item.minRevenue)}}
						- less than ${{convert_Number_to_Words(item.maxRevenue)}}</span>
					<span ng-show="item.minRevenue <= 0 && item.maxRevenue > 0">Less than
						${{convert_Number_to_Words(item.maxRevenue)}}</span>
					<span
						ng-show="item.minRevenue > 0 && item.maxRevenue <= 0">${{convert_Number_to_Words(item.minRevenue)}}
						and Above</span>
					<span ng-show="item.minRevenue <= 0 && item.maxRevenue <= 0">-</span>
				</td>
				<td>
					<span ng-show="item.minEmployeeCount > 0 && item.maxEmployeeCount > 0">{{item.minEmployeeCount}} -
						less than {{item.maxEmployeeCount}}</span>
					<span ng-show="item.minEmployeeCount <= 0 && item.maxEmployeeCount > 0">Less than
						{{item.maxEmployeeCount}}</span>
					<span ng-show="item.minEmployeeCount > 0 && item.maxEmployeeCount <= 0">{{item.minEmployeeCount}}
						and Above</span>
					<span ng-show="item.minEmployeeCount <= 0 && item.maxEmployeeCount <= 0">-</span>
				</td>
			</tr>
		</table>
	</div>
</div> -->