<script type="text/ng-template" id="agentcalendarpopover.html">
<div class="aa_calender_container">
                <div class="aa_calender">
                    <section class="aa_month">

                        <button class="left_arrow" ng-click="prevMonth();"><img src="images/black_left_arrow.png"/></button>
                        {{popover.currentMonth}}
                        <button class="right_arrow" ng-click="nextMonth();"><img src="images/black_right_arrow.png"/></button>
                    </section>
                    <section class="aa_week">
                        <button ng-click="prevWeek()" class="left_arrow"><img src="images/black_left_arrow.png"/></button>
                        Week : {{parseInt(currentWeekStart())+parseInt(1)}} to {{currentWeekEnd()-1}}
                        <button ng-click="nextWeek()" class="right_arrow"><img src="images/black_right_arrow.png"/></button>
                    </section>
                    <table class="mtwtf">
                        <tr>
                            <td class="day_name">M</td>
							<td class="day_time">
								<span ng-repeat="schedule in calData.Mon" class="busy_time" ng-class="{busy_time:schedule.available==false,free_time:schedule.available==true}">{{schedule.startHour}}to{{schedule.endHour}}</span>
							</td>
                        </tr>
						<tr>
                            <td class="day_name">T</td>
							<td class="day_time">
								<span ng-repeat="schedule in calData.Tue" class="busy_time" ng-class="{busy_time:schedule.available==false,free_time:schedule.available==true}">{{schedule.startHour}}to{{schedule.endHour}}</span>
							</td>
                        </tr>
						<tr>
                            <td class="day_name">W</td>
							<td class="day_time">
								<span ng-repeat="schedule in calData.Wed" class="busy_time" ng-class="{busy_time:schedule.available==false,free_time:schedule.available==true}">{{schedule.startHour}}to{{schedule.endHour}}</span>
							</td>
                        </tr>
						<tr>
                            <td class="day_name">T</td>
							<td class="day_time">
								<span ng-repeat="schedule in calData.Thu" class="busy_time" ng-class="{busy_time:schedule.available==false,free_time:schedule.available==true}">{{schedule.startHour}}to{{schedule.endHour}}</span>
							</td>
                        </tr>
						<tr>
                            <td class="day_name">F</td>
							<td class="day_time">
								<span ng-repeat="schedule in calData.Fri" class="busy_time" ng-class="{busy_time:schedule.available==false,free_time:schedule.available==true}">{{schedule.startHour}}to{{schedule.endHour}}</span>
							</td>
                        </tr>
						
                        
                    </table>
                    <section class="free-busy"><img src="images/free.png"/> Free&nbsp;&nbsp;&nbsp;<img src="images/busy.png"/> Busy</section>

                </div>
            </div>

</script>
<script type="text/ng-template" id="purchaseModal.html">
<form name="$parent.purchaseForm" id="purchaseForm"  novalidate>
<div class="modal-header">

				<button type="button" class="close" ng-click="cancel()">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="addassetLabel">Purchase</h4>
			</div>
			<div class="modal-body">
	<div class="addasset-form">
					<div class="form-group" >
						<label>Total Required</label> <input type="number"
							class="form-control" required  ng-model="modal.purchaseCount"  />
							 <div class="error-container" 
                                            ng-show="">
                                            <small class="error" 
                                                   ng-show="purchaseForm.count.$error.required">
                                            Please enter valid number.
                                            </small>
                                        </div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					ng-click="purchase()">Purchase</button>
				<button type="button" class="btn btn-default"  ng-click="cancel()">Cancel</button>
			</div>
			</form>

</script>
<script type="text/ng-template" id="activateasset.html">
<form name="$parent.activateasset" id="activateasset"  novalidate>
<div class="modal-header">
<button type="button" class="close"  ng-click="cancel();"  data-dismiss="modal" aria-hidden="true"><img src="images/black-cross.png" title="Close"/></button>
<h4 class="modal-title">Activate Asset</h4><a ng-class="{collapseicon: isCollapsed2, expandicon: !isCollapsed2}"  ng-click="isCollapsed2 = !isCollapsed2"></a> 
</div>
<div class="modal-body" collapse="isCollapsed2">
<table class="assets-popup_content">
  	<tr ng-repeat="items in modal.assetList">
    	<td class="radio_btn"><input  ng-value="items.assetId" ng-model="modal.acctiveAsset"   type="radio"/></td>
    	<td class="asset_text">
            <h1><a ng-href="{{items.url}}" target="blank" >{{items.name}}</a></h1>
            <p>{{items.description}}</p>
        </td>
  	</tr>
 <tr ng-if="modal.assetList.length == 0" >
    	<td  colspan="2">No Assets Added</td>
    	
  	</tr>
   
</table>

<button ng-if="modal.assetList.length > 0"  ng-click="activateAsset();" class="ssblue_btn" style="margin-left:0; margin-top:20px;">Activate</button>
</div>
</form>
<form name="$parent.assetEmail" id="assetEmail"  novalidate>
<div class="modal-header">
			
				<h4 class="modal-title" id="addassetLabel">Asset Email Template</h4><a ng-class="{collapseicon: isCollapsed, expandicon: !isCollapsed}"  ng-click="isCollapsed = !isCollapsed"></a> 
			</div>
			<div class="modal-body"  collapse="isCollapsed">
				<div class="addasset-form">
					<div class="form-group" >
						<label>From Name</label> 
						<input type="text" autocomplete="off" ng-trim="true" class="form-control" required  ng-model="modal.assetEmailFromName"  />
							 
					</div>
					
					<div class="form-group" >
						<label>Reply To</label> 
						<input type="text" autocomplete="off" ng-trim="true" class="form-control" required  ng-model="modal.assetEmailReplyTo"  />
							 
					</div>
					<div class="form-group" >
						<label>Subject</label> 
						<input type="text" autocomplete="off" ng-trim="true" class="form-control" required  ng-model="modal.assetEmailSubject"  />
							 
					</div>
					<div class="form-group" >
						<label>Message</label> 
						<textarea class="form-control" autocomplete="off" required  ng-model="modal.assetEmailMessage"></textarea>
							 
					</div>

				</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					ng-click="sendAssetEmail()" style="float:left;">Save</button>
				<button type="button" class="btn btn-default"  ng-click="cancel()" style="margin-left:2px;float:left">Cancel</button>
				
				
			</div>
			</div>
			
			</form>
</script>
<script type="text/ng-template" id="contactlistdatasource.html">

<form name="$parent.contactlistdatasource" id="contactlistdatasource"  novalidate>
<div class="modal-header">
<button type="button" class="close"  ng-click="cancel();" data-dismiss="modal" aria-hidden="true"><img src="images/black-cross.png" title="Close"/></button>
<h4>Contact list data source</h4>
</div>
<div class="modal-body">
<div class="row">
	<div role="tabpanel">
<tabset>
    <tab heading="Data Source">
		<button class="add_condition" ng-click="addExpression(modal.prospectCriteria.expressions)">Add Condition</button>
            <div class="tab-content-row" style="padding-bottom:0;">
            <table cellspacing="0" cellpadding="0" class="data_source_table">
            
              	<tr ng-repeat="expression in modal.prospectCriteria.expressions">
                	<td class="cell1">
                	<select class="form-control"  ng-change = "expression.value=[];" ng-model="expression.attribute">
						<option value=""  selected>Please Select</option>                		
						<option ng-repeat="item in modal.prospectAttribute" ng-value="item.id">{{item.label}}</option>
                    </select>
                    </td>
                	<td class="cell2">
                	<div ng-switch="getAttributeType(expression.attribute)" >
                    <div ng-switch-default>
                     <select class="form-control" required ng-model="expression.operator">
                        <option value=""  selected>Please Select</option>
                        <option>IN</option>
                       
                    </select>
					</div>
					<div ng-switch-when="Double">
                    <select class="form-control" required ng-model="expression.operator">
                        <option value=""  selected>Please Select</option>
 						<option>&gt;=</option>
                        <option>&lt;=</option>
	 					
                    </select>
					</div>
					<div ng-switch-when="Datetime">
                    <select class="form-control" required ng-model="expression.operator">
                        <option value=""  selected>Please Select</option>
                        <option>=</option>
                        <option>!=</option>
                        <option>&gt;</option>
                        <option>&lt;</option>
                        <option>&gt;=</option>
                        <option>&lt;=</option>
                    </select>
					</div>
					<div ng-switch-when="Boolean">
                    <select class="form-control" required ng-model="expression.operator">
                        <option value=""  selected>Please Select</option>
                        <option>=</option>
                        <option>!=</option>
                    </select>
					</div>
                    </td>
                	<td class="cell3">
	                	<div ng-if="modal.expressionAttributes.length == 0">
		                   <input type="text" autocomplete="off" ng-trim="true" class="form-control" required class="form-control" ng-model="expression.value[0]">
						</div>
						<div ng-if= "modal.expressionAttributes.length > 0"> 
							<div class="multi-val-box">
		                   		<ui-select multiple ng-model="expression.bindValue"  ng-change="" theme="select2" ng-disabled="disabled" style="width: 300px;">
		                    	<ui-select-match placeholder="Select option..">{{$item.value}}</ui-select-match>
						    	<ui-select-choices repeat="item in modal.expressionAttributes | filter: $select.search">
						      		{{item.key}}
						    	</ui-select-choices>
						  		</ui-select>
							</div>
						</div>
                	</td>
                	<td class="cell4"><button ng-click="removeExpression(modal.prospectCriteria.expressions,$index)"><img src="images/trashicon.png"/ title="Delete"></button></td>
              	</tr>
               
            </table>
            </div>
            <div class="tab-content-row" style="padding-top:0;"> <button ng-click="getContacts();" class="ssblue_btn">Get Samples</button></div>
            
            <div  ng-show="modal.prospectSearchResultView" style="padding: 10px 0;">
				<div style="float:left">Total Records:- {{modal.prospectSearchResult.count}}
					<span ng-if="modal.prospectSearchResult.count > 0 && modal.prospectSearchResult.count > 100">( Showing 100 out of {{modal.prospectSearchResult.count}})
					</span>
					<span ng-if="modal.prospectSearchResult.count > 0 && modal.prospectSearchResult.count < 100">( Showing {{modal.prospectSearchResult.count}} out of {{modal.prospectSearchResult.count}})
					</span>
				</div>
				<div style="float:right;margin-bottom:10px;" ng-if="modal.prospectSearchResult.count > 0">
					<button class="ssblue_btn" ng-click="openPurchaseModal();">Purchase
					</button>
				</div>
			</div>
            <table ng-if="modal.prospectSearchResult.count > 0" class="table table-striped" ng-show="modal.prospectSearchResultView">
            <tr><th>First Name</th><th>Last Name</th><th>Title</th><th>Company</th><th>Country</th></tr>
            <tr ng-repeat="item in modal.prospectSearchResult.contacts ">
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.title}}<span ng-if="item.title == null">{{item.hierarchyTitle}}</span></td>
            <td>{{item.organizationName}}</td>
			<td>{{item.country}}</td>
           
            </tr>
			
           
            </table>
            </tab>
    <tab heading="File Upload">
		<div class="pull-right"><a target="_blank" href="/template/contacts_template.xlsx" download>Download Template</a></div>
		<div class="tab-content-row" id="file_upload">
			<div class="form-group" ng-show = "!showProgressBar"><input  type="file" file-model="myFile" class="file pull-left" ng-click = "resetReadOnlyComponent()"/></div>
			<div class="form-group successClass msg-records" ng-show = "showProgressBar"><span> Uploading of file {{myFile.name}} ...</span></div>
		 </div>

            <div class="tab-content-row" id="file_upload"><button class="ssblue_btn" ng-click="uploadContacts(myFile)" ng-disabled="uploadBtnDisabled">Upload Contacts</button>
				<div class="progress" ng-show = "showProgressBar || clear">
 					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:{{campaignContact.progress}}%">
						{{campaignContact.progress}}% complete
    	 			</div>
				</div>
				<span ng-show="waitMsg" class="successClass">Uploading File... </span>
				<span class = "msg-records" ng-if = "showProgressBar || clear"> of {{fileUploadStatus.totalRecordsCount}} records</span>
				<span ng-show="FileUploadFail" class="error-upload">File upload failed </span>
				<span ng-show="FileUploadSuccess" class="successClass"> {{fileUploadStatus.successRecordCount}} records Uploaded Successfully</span>
				<span ng-show="FileRecordFail" class="error-upload">,  {{fileUploadStatus.failRecordsCount}} records with error</span>
				<span ng-show = "errorLinkEnabled"><a target="_blank" href= "" ng-click="getUploadErrors()">View errors</a> </span>
				
			</div>
	</tab>

  </tabset>
	
    </div>
</div>

</div>
</form>
</script>
<script type="text/ng-template" id="agentalloocation.html">
<form name="$parent.agentalloocation" id="agentalloocation"  novalidate>
<div class="modal-header">
<button type="button" class="close"  ng-click="cancel();"  data-dismiss="modal" aria-hidden="true"><img src="images/black-cross.png" title="Close"/></button>
<h4>Agent Allocation</h4>
</div>
<div class="modal-body">

<table class="table table-striped" id="mehul">
    <thead>
        <tr>
            <th width="30%" class="right_border">Campaigns</th>
            <th width="70%">Agents</th>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="campaign in modal.campaignAgent track by $index" ng-if="campaign.CampaignName != 'UNALLOCATED'">
        	<td class="right_border">{{campaign.CampaignName}}</td>
        	<td>
        	
        	<ul style="min-height: 70px;width: 100% !important;" ui-on-Drop="onDrop($event,$data,campaign.Agents,campaign.CampaignId)" drop-channel="priests">
	            <li class="agent-listing" ui-draggable="true" drag="item" drag-channel="priests"
	            on-drop-success="dropSuccessHandler($event,$index,campaign.Agents,campaign.CampaignId)"
	            ng-repeat="item in campaign.Agents track by $index" drag-enter-class="win-dister-show">
		            <div class="aa_agents"  ng-class="{tmp_aa_agents:item.campaignTemporaryAllocated==true}">
	            	<figure class="profile_pic"><img ng-if="item.agentProfilePicUrl == null" src="tmp_images/defaultprofile.png"/><img ng-if="item.agentProfilePicUrl != null" ng-src="{{item.agentProfilePicUrl}}" /></figure>
	            	<a href="" ng-click="opencalendar(item.id)" class="calender_icon"><img src="images/calender_icon.png" title="Calender"/></a>
	            	<span class="win-dister" ng-class="{win_dister_show:item.campaignTemporaryAllocated==true}" ng-click="undoAllocation(item.id)" ><img src="images/undo.png"  /></span>
	                <section class="aa_agent_status"><i class="agent_status" ng-class="{online_agent:item.currentStatus=='ONLINE',offline_agent:item.currentStatus=='OFFLINE',away_agent:item.currentStatus=='AWAY',onbreak_agent:item.currentStatus=='ONBREAK',gearing_agent:item.currentStatus=='GEARING',idle_agent:item.currentStatus=='IDLE'}"></i>{{item.name | limitTo:12}}</section>
	                </div>
	            </li>
            </ul>
            </td>
        </tr>
        <tr><td colspan="2" class="avail_res_title">Available Resource</td></tr>
        <tr><td colspan="2" class="avail_resource" ng-repeat="campaign in modal.campaignAgent track by $index" ng-if="campaign.CampaignName == 'UNALLOCATED'">
      
            <div id="available_resource_agents" class="sortable">
            <ul style="min-height: 70px;width: 100% !important;" ui-on-Drop="onDrop($event,$data,campaign.Agents,campaign.CampaignId)" drop-channel="priests" class="agent-listing">
            <li ui-draggable="true" drag="item" drag-channel="priests"
            on-drop-success="dropSuccessHandler($event,$index,campaign.Agents,campaign.CampaignId)"
            ng-repeat="item in campaign.Agents track by $index" drag-enter-class="win-dister-show">
            <div class="aa_agents" ng-mouseenter="showCalendarPopover(item.id);">
            <div class="aa_calender_container" ng-include="'agentcalendarpopover.html'">
                                                        
            </div>
            <figure class="profile_pic"><img ng-if="item.agentProfilePicUrl == null" src="tmp_images/defaultprofile.png"/><img ng-if="item.agentProfilePicUrl != null" ng-src="{{item.agentProfilePicUrl}}" /></figure>
            <a href="" ng-click="opencalendar(item.id)" class="calender_icon"><img src="images/calender_icon.png" title="Calender"/></a>
            <span class="win-dister" ><img src="images/win_distr.jpg"  /></span>
            <section class="aa_agent_status"><i class="agent_status" ng-class="{online_agent:item.currentStatus=='ONLINE',offline_agent:item.currentStatus=='OFFLINE',away_agent:item.currentStatus=='AWAY',onbreak_agent:item.currentStatus=='ONBREAK',gearing_agent:item.currentStatus=='GEARING',idle_agent:item.currentStatus=='IDLE'}"></i>{{item.name | limitTo:12}}</section>
        </div>
            
            
            </li>
        </ul>
               
        
               
            </div>
        </td></tr>
    </tbody>
	</table>


</div>
</form>
</script>
<script type="text/ng-template" id="callSpeed.html">
<form name="$parent.callSpeedForm" id="callSpeedForm"  novalidate>
<div class="modal-header">
<button type="button" class="close" ng-click="cancel();" data-dismiss="modal" aria-hidden="true"><img src="images/black-cross.png" title="Close"/></button>
<h4>Dialer setting</h4>
</div>
<div class="modal-body">
<div class="modal-middle-content">
	
	<div class="form-group" >
		<label>Call Speed</label> 
<select class="form-control" ng-model="modal.callSpeed">
                                                                   
                                                                    <option value="CONSERVATIVE">Conservative</option>
                                                                    <option value="INTERMEDIATE">Intermediate</option>
																	<option value="AGGRESSIVE">Aggressive</option>
                                                                </select>
			 <div class="error-container" 
							ng-show="">
							<small class="error" 
								   ng-show="callSpeedForm.modal.callSpeed.$error.required">
							Please enter valid input for call speed.
							</small>
			</div>
	</div>
	

</div>
<div class="modal-footer">
	<button class="ssblue_btn"  ng-click="setCallSpeed();">Set</button>
	<button class="ssblue_btn" ng-click="cancel();">Cancel</button>
</div>
</form>
</script>
<script type="text/ng-template" id="leadsortingorder.html">
<form name="$parent.leadsortingorder" id="callSpeedForm"  novalidate>
<div class="modal-header">
<button type="button" class="close" ng-click="cancel();" data-dismiss="modal" aria-hidden="true"><img src="images/black-cross.png" title="Close"/></button>
<h4>Lead Sorting Order</h4>
</div>
<div class="modal-body">
<div class="modal-middle-content">
	<select ng-model="modal.leadSortOrder" name="type" class="form-control text-color ng-pristine ng-invalid ng-invalid-required">
		<option value="">Please Select</option>        
		<option value="FIFO">FIFO</option>
        <option value="LIFO">LIFO</option>
    </select>
</div>
<div class=" center-align-text">
	
	<button class="ssblue_btn"  ng-click="setLeadSortingOrder();">Submit</button>
	<button class="ssblue_btn"  ng-click="cancel();">Cancel</button>
    
</div>
</form>
</script>
<script type="text/ng-template" id="callguide.html">
<form name="$parent.agentPerformance" id="callSpeedForm"  novalidate>
<div class="modal-header">
<button type="button" class="close"  ng-click="cancel();" data-dismiss="modal" aria-hidden="true"><img src="images/black-cross.png" title="Close"/></button>
<h4>Call Script</h4> <button class="add_rebuttal">ADD REBUTTAL</button>
</div>
<div class="modal-body">
<div class="row">
	<div role="tabpanel">
	<tabset>
    <tab heading="Introduction"><textarea ng-model="modal.introductionGuide" class="tab_textarea" placeholder="Introduction"></textarea></tab>
    <tab heading="Questions"><textarea  ng-model="modal.questionGuide" class="tab_textarea" placeholder="Questions"></textarea></tab>
    <tab heading="Assets"><textarea  ng-model="modal.assetGuide" class="tab_textarea" placeholder="Assets"></textarea></tab>
    <tab heading="Closing"><textarea ng-model="modal.closingGuide" class="tab_textarea" placeholder="Closing"></textarea></tab>
  </tabset>
	
	
    </div>
</div>
<button class="ssblue_btn no-margin-left" ng-click="setCallGuideOption();">Submit</button>
</div>

</form>
</script>
<script type="text/ng-template" id="agentPerformance.html">
<form name="$parent.agentPerformance" id="agentPerformanceForm"  novalidate>
<div class="modal-header full_width"><button type="button" class="close"  ng-click="cancel();" data-dismiss="modal" aria-hidden="true"><img src="images/black-cross.png" title="Close"/></button></div>
<div class="modal-body">
     <table class="table">
        <thead>
          <tr>
            <th width="20%">Agent Name</th>
            <th width="10%">Login Time</th>
            <th width="10%">Avg Talk Time</th>
            <th width="10%">Contact Rate</th>
            <th width="10%">Success Rate</th>
            <th width="20%">Leads Delivered</th>
            <th width="20%">Time Distribution</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="agent in modal.agentPerformance">
                <td><i class="agent_status online_agent"></i>{{agent.agentName}}</td>
                <td class="center_text">{{agent.metrics.LAST_LOGIN_TIME | date:'hh:mm'}}</td>
                <td class="center_text">{{agent.metrics.AVG_TALK_TIME}}</td>
                <td class="center_text">{{agent.metrics.CONTACT_RATE}}</td>
                <td class="center_text"><span ng-if="agent.metrics.SUCCESS_RATE != null">{{agent.metrics.SUCCESS_RATE}}%</span></td>
                <td>
<progressbar animate="false" value="agent.metrics.LEADS_DELIVERED" type="info"><b>{{agent.metrics.LEADS_DELIVERED}}</b></progressbar>
<td>
<progress>
<bar  value="agent.metrics.ONLINE_DURATION" type="online"> <span>{{agent.metrics.ONLINE_DURATION}}%</span></bar>
<bar  value="agent.metrics.AWAY_DURATION" type="away"> <span>{{agent.metrics.AWAY_DURATION}}%</span></bar>
<bar  value="agent.metrics.ONBREAK_DURATION" type="on-break"> <span>{{agent.metrics.ONBREAK_DURATION}}%</span></bar>
								</progress>

            </tr>
           
        </tbody>                                            
    </table>  
    <div class="time_dis_color_info">
        <span class="online">Online</span>
        <span class="away">Away</span>
        <span class="onbreak">On-Break</span>
    </div>                                      
</div>

</form>
</script>


<div class="container whitebg1">

	<div class="screen_main_container">
<span class="formError supervisor-error modal-error" ng-if="fileSuccess">
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true , 'position-class': 'toast-cust-pos'}"></toaster-container></span>

<span class="formError supervisor-error modal-error" ng-if="!fileSuccess">
<toaster-container toaster-options="{'time-out': 30000, 'close-button':true , 'position-class': 'toast-cust-pos'}"></toaster-container></span>

		<div class="row">
			<div class="col-md-6">
				<h4>Campaign Performance</h4>
			</div>

			<div class="col-md-6">
				<div class="customize_view_popup">


					<ui-select multiple ng-model="customizeView.selectedOption"
						ng-change="" theme="select2" ng-disabled="disabled"
						style="width: 300px;"> <ui-select-match
						placeholder="Select option..">{{$item}}</ui-select-match> <ui-select-choices
						repeat="item in customizeViewOption"> {{item}}
					</ui-select-choices> </ui-select>





					<button class="bluenextbtn" ng-click="getCustomizeView();" onclick="closeAddPopover('closeCustomizeView')">ADD</button>
					<button class="colse_popup">
						<img src="images/black-cross.png" id="closeCustomizeView" title="Close" />
					</button>
				</div>
				<button class="pull-right bluesmall_btn customize_view">Customize
					View</button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 table_container">
				<table class="table table-striped" >
					<thead>
						<tr>
							<th width="35%">Campaign</th>
							<th>Status</th>
							<th>Count of Agents</th>
							<th ng-if="inMatrics('Contact Ratio')">Contact Ratio</th>
							<th ng-if="inMatrics('Lead Delivered')">Leads Delivered</th>
							<th ng-if="inMatrics('Conversion Ratio')">Conversion Ratio</th>
							<th ng-if="inMatrics('Quality')">Quality</th>
							<th style="width:50px;"></th>
						</tr>
					</thead>
					<tbody>
					<tr ng-if="campaignsList.length == 0"><td colspan="8">No Record Found</td></tr>
						<tr ng-repeat="campaign in campaignsList">
							<td><a ng-click="openAgentPerformance(campaign.id);" href="">{{campaign.name}}</a></td>
							<td class="center_text">{{campaign.status}}</td>
							<td class="center_text">{{campaign.agentCount}}</td>
							<td ng-if="inMatrics('Contact Ratio')" class="center_text">{{campaign.ContactRatio}}%</td>
							<td ng-if="inMatrics('Lead Delivered')"
								class="center_text leads-delivered"><progress>
									<bar  value="campaign.LeadDelivered" type="leads-delivered"> <span>{{campaign.LeadDelivered}}</span></bar>
									<bar  value="campaign.LeadTargeted" type="leads-pending"> <span>{{campaign.LeadTargeted}}</span></bar>
								</progress></td>
							<td ng-if="inMatrics('Conversion Ratio')"
								class="center_text leads-delivered">{{campaign.ConversionRatio}}</td>
							<td ng-if="inMatrics('Quality')"
								class="center_text leads-delivered">{{campaign.Quality}}</td>
							<td class="center_text">
								<div class="setting_container">
									<button class="setting_btn" ng-click="showTool(campaign.id)">
										<img src="images/setting_icon.png" title="Settings" />
									</button>
									<div class="setting_btns_container" ng-class="{showtools:campaign.isShow==true}">
										<button class="close" ng-click="showTool(campaign.id)" aria-label="Close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span>
										</button>
										<a ng-click="openCallSpeedModal(campaign.id);" href=""><img
											src="images/call_speed_btn.png" title="Call Speed" /></a> <a
											ng-click="openLeadSortingOrderModal(campaign.id);" href=""><img
											src="images/lead_sorting_order_btn.png"
											title="Lead Sorting Order" /></a> <a
											ng-click="openCallGuideModal(campaign.id);" href=""><img
											src="images/call_guide_btn.png" title="Call Script" /></a> <a
											ng-click="openAgentAlloocationModal(campaign.id);" ng-show="campaign.status == 'RUNNING'" href=""><img
											src="images/agent_alloocation_btn.png"
											title="Agent Allocation" /></a>
											<a
											 ng-href="/#!/calendar/{{defaultAgent}}" ng-show="campaign.status != 'RUNNING'" href=""><img
											src="images/calendar-btn_26x24.png"
											title="Agent Allocation" /></a>
											 <a
											ng-click="openContactlistdatasourceModal(campaign.id);"
											href=""><img src="images/data_source_btn.png"
											title="Contact list data source" /></a> <a
											ng-click="openActivateAssetModal(campaign.id);" href=""><img
											src="images/assets_btn.png" title="Assets" /></a> <!-- <a
											ng-click="openAssetEmailTemplateModal(campaign.id);" href=""><img
											src="images/email-temp.png" title="Asset Email Template" /></a> -->
									</div>
								</div>
							</td>
						</tr>

					</tbody>
				</table>

			</div>
		</div>


		<div class="row">
			<div class="col-md-4">
				<h4>Agents</h4>
			</div>
			<div class="col-md-8 search_by_container searchb">
				


				<ui-select multiple ng-model="agentSearchOption.selectedAgent" class="pull-right"
					ng-change="filterAgentList()" theme="select2" ng-disabled="disabled"> <ui-select-match
					placeholder="Select option..">{{$item}}</ui-select-match> <ui-select-choices
					repeat="item in agentSearchByOption"> {{item}}
				</ui-select-choices> </ui-select>
<span class="search_by pull-right">Search By: </span> 
				<!-- <button class="pull-right bluesmall_btn">Set as Default</button> -->
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 table_container">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Agent</th>
							<th>Campaign Name</th>
							<th>Speaking with</th>
							<th>Call Start Time</th>
							<th>Join/Chat</th>
						</tr>
					</thead>
					<tbody>
					<tr ng-if="AgentList.length == 0 || counterFilter < 1"><td colspan="5">No Record Found</td></tr>
						<tr ng-repeat="agent in AgentList" ng-hide="agent.hide" >
							<td><i class="agent_status" ng-class="{online_agent:agent.agentStatus=='ONLINE',offline_agent:agent.agentStatus=='OFFLINE',away_agent:agent.agentStatus=='AWAY',onbreak_agent:agent.agentStatus=='ONBREAK',gearing_agent:agent.agentStatus=='GEARING',idle_agent:agent.agentStatus=='IDLE'}"></i>{{agent.agentName}}</td>
							<td>{{agent.campaignName}}</td>
							<td><div><b>{{agent.metrics.CONNECTED_WITH_PROSPECT_NAME}},</b> {{agent.metrics.CONNECTED_WITH_PROSPECT_COMPANY}}<span> <i>(Wrapping Up)</i></span></div></td>
							<td class="center_text">{{agent.metrics.LAST_STATUS_DURATION}}</td>
							<td class="center_text"><button  ng-if="agent.Incall != true"
							ng-class="{user_add_enable:agent.agentStatus=='ONLINE',user_add_disable:agent.agentStatus!='ONLINE',blink_me:agent.inviteStatus == true}"
									class="join_chat" ng-click="connectCall(agent.agentId);" title="Join"></button>
									<button
							         ng-if="agent.Incall == true"
									class="join_chat user_end_call" ng-click="endCall(agent.agentId);" title="Disconnect"></button>
									
									<button
								
								 class="join_chat user_chat_disable" title="Chat"></button>
								<!--  <button
								ng-class="{user_chat_enable:agent.agentStatus=='ONLINE',user_chat_disable:agent.agentStatus!='ONLINE'}"
								 class="join_chat" title="Chat"></button>--></td>
						</tr>
						
					</tbody>
				</table>
				<div class="time_dis_color_info agent-status pull-left">
        <span class="ag-online">Online</span>
        <span class="ag-offline">Offline</span>
        <span class="ag-onbreak">On-Break</span>
        <span class="ag-away">Away</span>
        <span class="ag-idle">Idle</span>
        <span class="ag-gearing">Gearing</span>
        
        
    </div>

			</div>
		</div>

	</div>
</div>
<div class="processing" id="ad_loading" ng-show="loading">
	<div class="processing_message">
		<span>Processing</span>
		<p align="center">
			<img alt="processing" src="images/loader_circle.gif">
		</p>
	</div>
</div>
<script>
	$(document).ready(function() {
		$(".customize_view").click(function() {
			$(".customize_view_popup").toggle();
		});
		$(".colse_popup").click(function() {
			$(".customize_view_popup").hide();
		});

	});
	
	function closeAddPopover(id)
	{
		///angular.element(document.getElementById(id)).scope().getSearchTerm();    
		$("#"+ id).click();

	}
</script>
