<link href="css/supervisorscreen.css" rel="stylesheet">
<div class="processing" id="ad_loading" ng-show="loading">
<div class="processing_message">
	<span>Processing</span>
	<p align="center"><img alt="processing" src="images/loader_circle.gif"></p>
</div>
</div>
<div class = "reportcontainer nopad whitebg">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-md-4 control-label text-label">To View Report </label>
				<div class="col-md-8">
					<select ng-disabled="!reportingInitialized" class="form-control text-color" ng-change="selectCampaign(selectedOption)" ng-model="selectedOption" ng-options="item.id as item.name for item in allCampaignList" name="campaign" class="form-control top-select">
						<option value="">Select Campaign</option>
					</select>
   				</div>
			</div>
		</div>
	</div>
	<div id="reportArea" class="table-responsive">
	</div>
</div>


