<div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="panel-group" id="accordion" role="tablist"
				aria-multiselectable="true">
				<div ng-repeat="key in notSorted(qaFeedbackForm)"
					ng-init="val = qaFeedbackForm[key]">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion"
									data-target="#{{$index}}" href=""> <!--  href="{{$index}}" aria-expanded="true" aria-controls="{{$index}}" > -->
									{{mapNumberToLetter[$index]}}. {{key}}
								</a>
							</h4>
						</div>
						<div id="{{$index}}" class="collapse in" role="tabpanel"
							aria-labelledby="headingOne">
							<div class="panel-body  datatable">
								<table class="table table-striped  custome-radio">

									<tr ng-show="key != 'Lead Validation'">
										<th class="id-num font-bold">No.</th>
										<th class="particulars font-bold">Criteria</th>
										<th class="per-id font-bold">Yes</th>
										<th class="per-id font-bold">No</th>
										<th class="per-id font-bold">Notes</th>
										<!-- <th class="scor-id font-bold">Score</th> -->
									</tr>

									<tr ng-show="key == 'Lead Validation'">
										<th class="id-num font-bold">No.</th>
										<th class="quest-id font-bold">Criteria</th>
										<th class="per-id font-bold">Yes</th>
										<th class="per-id font-bold">No</th>
										<th class="per-id font-bold">Reject Reason</th>
										<th class="per-id font-bold">Notes</th>
									</tr>

									<tr ng-repeat-start="item in  val | filter:tableFilter"
										ng-mouseover="getDescription(key, $index);"
										ng-class="{'odd':($index%2) == 0,'even':($index%2) != 0}">
										<td class="id-num">{{$index+1}}</td>
										<td class="particulars">{{item.questionSkin}} <input
											type="hidden" ng-value="item.questionSkin"
											ng-model="item.attribute"> <input type="hidden"
											ng-value="item.category" ng-model="item.category">
										</td>

										<td class="scor-id" ng-show="key != 'Customer Satisfaction'"
											ng-class="item.checked == 'YES' ? 'radio-green-bg-selected' : ''">
											<span class="ans-set radio green"> <input
												id="ye{{$parent.$index}}{{$index}}" type="radio"
												ng-disabled="isReadOnly"
												ng-click="addScore($parent.$index, key,$index, 1, 'YES', item.questionSkin, item, $event);"
												ng-model="item.checked" value="YES" /> <label id="yes"
												class="align-check-label"
												for="ye{{$parent.$index}}{{$index}}"></label>
										</span>
										</td>

										<td class="scor-id" ng-show="key != 'Customer Satisfaction'"
											ng-class="item.checked == 'NO' ? 'radio-red-bg-selected' : ''">
											<span class="ans-set radio red"> <input
												id="no{{$parent.$index}}{{$index}}" type="radio"
												id="data-row" ng-disabled="isReadOnly"
												ng-click="addScore($parent.$index, key,$index,0, 'NO', item.questionSkin, item, $event);"
												ng-model="item.checked" value="NO" /> <label
												class="align-check-label"
												for="no{{$parent.$index}}{{$index}}"></label>
										</span>
										</td>

										<td ng-show="key == 'Lead Validation'"
											style="text-align: -webkit-auto;" class="scor-id"><select
											ng-disabled="!(item.checked == 'NO') || isReadOnly"
											ng-model="item.rejectionReason"
											ng-options="qaRejectReasons.value as qaRejectReasons.key for qaRejectReasons in qaRejectReasons">

										</select></td>

										<td style="text-align: -webkit-auto;"
											class="scor-id showHidePop_{{$parent.$index}}_{{$index}}"
											ng-show="key != 'Customer Satisfaction'"><span
											class="comment-box" id="comment-box1"> <img
												class="img-responsive" src="images/logo8.png"
												title="Comment Box" ng-show="!item.attributeComment"
												ng-click="toggleComment(key,item.questionSkin, $parent.$index, $index, undefined)" />
												<img class="img-responsive" src="images/logo7.png"
												title="Comment Box" ng-show="item.attributeComment"
												ng-click="toggleComment(key,item.questionSkin, $parent.$index, $index, undefined)" /></td>

									</tr>

									<!-- <tr class="add-comment-row" ng-show = "showComment"><td colspan="4"><textarea class="form-control"></textarea></td></tr> -->
									<tr id="comment-row" ng-repeat-end
										ng-show="main.activeRow== item.questionSkin">
										<td colspan="4"><span class="arrow-up-side"></span> <textarea
												class="comment-area-box" id="" rows="2" autofocus
												placeholder="Enter comment..."
												ng-model="item.attributeComment" ng-disabled="isReadOnly"></textarea>
											<button class="btncancel"
												ng-click="toggleComment(key,item.questionSkin, $parent.$index, $index, item.attributeComment, 'Cancel')">Cancel</button>
											<button class="btnok"
												ng-click="toggleComment(key,item.questionSkin, $parent.$index, $index, item.attributeComment, 'Ok')">OK</button>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="padd-cls"></div>
			</div>
		</div>
	</div>
</div>
