<div class="right-agent-block">
	<div class="title-hr-line">
		<span class="lead-title-logo"></span> <span class="block-title-info">Qualifications</span>
		<span ng-show="totalQuestion < 1" class="no-found-error">No
			questions found. </span>
	</div>
	<div
		ng-repeat="(key, val) in  qaDetail.prospectCallLog.prospectCall.answers"
		class="item" ng-class="{ 'active': isCurrentQuestion == $index+1}">
		<div>
			<div>
				<span>Q:</span> <span>{{key}}</span>
			</div>
			<div>
				<span>A:</span> <span>{{val}}</span>
			</div>
		</div>
	</div>
</div>