<div class="lead-block">
	<div class="title-hr-line">
		<span class="lead-title-logo"></span> <span class="block-title-info">Lead
			Details</span>
	</div>
</div>
<div class="main-upper-block">
	<div class="left-campaign-block">
		<div>
			<span class="left-labels">First Name</span> <span
				class="right-details">{{qaDetail.prospectCallLog.prospectCall.prospect.firstName}}</span>
		</div>
		<div>
			<span class="left-labels">Last Name</span> <span
				class="right-details">{{qaDetail.prospectCallLog.prospectCall.prospect.lastName}}</span>
		</div>
		<div>
			<span class="left-labels">Company</span> <span class="right-details">{{qaDetail.prospectCallLog.prospectCall.prospect.company}}</span>
		</div>
		<div>
			<span class="left-labels">Address</span> <span class="right-details">{{qaDetail.prospectCallLog.prospectCall.prospect.addressLine1}},
				{{qaDetail.prospectCallLog.prospectCall.prospect.addressLine2}}</span>
		</div>
		<div>
			<span class="left-labels">City</span> <span class="right-details">{{qaDetail.prospectCallLog.prospectCall.prospect.city}}</span>
		</div>
		<div>
			<span class="left-labels">State</span> <span class="right-details">{{qaDetail.prospectCallLog.prospectCall.prospect.stateCode}}</span>
		</div>
		<div>
			<span class="left-labels">Zip code</span> <span class="right-details">{{qaDetail.prospectCallLog.prospectCall.prospect.zipCode}}</span>
		</div>
		<div>
			<span class="left-labels">Country</span> <span class="right-details">{{qaDetail.prospectCallLog.prospectCall.prospect.country}}</span>
		</div>
	</div>
	<div class="middle-call-block">
		<div>
			<span class="left-labels-center">Lead Date</span> <span
				class="right-details-center">{{qaDetail.campaign.brand}}</span>
		</div>
		<div>
			<span class="left-labels-center">Asset Title</span> <span
				class="right-details-center">{{getDeliveredAssetTitle()}}</span>
		</div>
		<div>
			<span class="left-labels-center">Company</span> <span
				class="right-details-center">{{qaDetail.prospectCallLog.prospectCall.prospect.company}}</span>
		</div>
		<div>
			<span class="left-labels-center">Phone</span> <span
				class="right-details-center">{{qaDetail.prospectCallLog.prospectCall.prospect.phone}}</span>
		</div>
		<div>
			<span class="left-labels-center">Email</span> <span
				class="right-details-center">{{qaDetail.prospectCallLog.prospectCall.prospect.email}}</span>
		</div>
		<div>
			<span class="left-labels-center">Job Title</span> <span
				class="right-details-center">{{qaDetail.prospectCallLog.prospectCall.prospect.title}}</span>
		</div>
		<div>
			<span class="left-labels-center">Job Function</span> <span
				class="right-details-center">{{qaDetail.prospectCallLog.prospectCall.prospect.mgmtLevel}}</span>
		</div>
	</div>
	<div class="right-agent-block">
		<div>
			<span class="left-labels-end">Industry</span> <span
				class="right-details-end">{{qaDetail.prospectCallLog.prospectCall.prospect.industry}}</span>
		</div>
		<div>
			<span class="left-labels-end">All Industry</span>
			<div class="right-details-end">
				<span
					ng-repeat="industry in qaDetail.prospectCallLog.prospectCall.prospect.industryList">{{industry}}<span
					ng-show="!$last">, </span>
			</div>
			</span>
		</div>
		<div>
			<span class="left-labels-end">Company Size</span> <span
				class="right-details-end">{{qaDetail.prospectCallLog.prospectCall.prospect.customAttributes.maxEmployeeCount}}</span>
		</div>
		<div>
			<span class="left-labels-end">Revenue</span> <span
				class="right-details-end">{{qaDetail.prospectCallLog.prospectCall.prospect.customAttributes.minRevenue}}
				-
				{{qaDetail.prospectCallLog.prospectCall.prospect.customAttributes.maxRevenue}}</span>
		</div>
	</div>