<script type="text/ng-template" id="showaudiopopup.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="addassetLabel">Recording Audio</h4>
    </div>
    <div class="modal-body">
        <div audioplayer="{{currentRecordingUrl}}" ng-if = "currentRecordingUrl != null && currentRecordingUrl != undefined"></div>
        <span ng-if = "currentRecordingUrl == null || currentRecordingUrl == undefined || currentRecordingUrl == ''" style="color:red;"> No recording Found</span>
    </div>
</script>
<link href="css/secondaryqascreen.css" rel="stylesheet">
    <link rel="stylesheet" href="css/angucomplete-alt.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
            <link rel="stylesheet" href="css/jquery.dataTables.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                  <!--   <script src="js/vendor/d3graph/d3.js"></script>
                    <script src="js/vendor/d3graph/nv.d3.js"></script> -->
                    <link rel="stylesheet" href="css/d3graph/nv.d3.css"/>
                    <div class="clear"></div>
                    
                    
                    <div class="container nopad  qa-score">
                        <div class="headerTitle">Quality Assurance</div>
                        <!-- <div class="alert alert-info alert-dismissible" ng-show="notice.length != 0"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p ng-repeat="item in notice track by $index">{{item}}</p></div> -->
                        <div class="success_msg" ng-show="saveData">Feedback saved successfully</div>
                        <div class="success_msg" ng-show="submitData">Feedback submitted successfully</div>
                        <!-- <div class="errorMessageNoCampMargin" ng-show="noQA"></div> -->
                        <div class="errorMessageMargin" ng-show="noStatus"></div>
                        <div class="clearfix"></div>
                        <div class="qaToast">
                            <toaster-container toaster-options="{'showDuration': 120, 'time-out':3000, 'close-button':true , 'position-class': 'toast-cust-pos'}"></toaster-container>
                            <div class="pull-right txt-decoration" ng-show="userRoleAgent == 'AGENT'">
                                <a href="" ng-click="goToSplash()"> Back to splash screen</a>
                            </div>
                            <div class="col-md-12 nopad qual-assu-block">
                                <div class="col-md-12 nopad assur-quali">
                                    <!-- <div>
                                        <div class="searchtitle">
                                            <div class="select-style-left select-multiple">
                                                <select class="" ng-model="agentSearchBy.selectedCampaign" ng-options="item.key as item.value for item in qa.campaignList | orderBy:'value' " ng-change="setClientList(); filterAgent();">
                                                    <option value="">All Campaigns</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="searchtitle">
                                            <div class="select-style-left select-multiple">
                                                <select ng-model="agentSearchBy.quickTime" ng-options="item as item for item in quickTimeList" ng-change="setQuickTime();filterAgent();">
                                                    <option value="">Select QuickTime</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="searchtitle">
                                            <dropdown-multiselect id="agentFilterDropdown" pre-selected="qa.agentList" model="agentSearchBy.selectedAgentMulti" multiarr="agentSearchBy.selectedAgentMulti2" ng-click="opentrue == false ? filterAgent():''" class="multisel-cls dropmulti" options="qa.agentList"></dropdown-multiselect>
                                        </div>
                                        <div class="searchtitle">
                                        	<global-lead-status-drop-down id="leadStatusDropdown" pre-selected="qa.leadStatusList" model="leadStatusSearchBy.selectedStatusMulti2" multiarr="leadStatusSearchBy.selectedStatusMulti"  ng-click="opentrue == false ? filterAgent():''" class="lead-status-multisel2-cls" options="qa.leadStatusList"></global-lead-status-drop-down>
                                        </div>                                        
                                        <!-- <button ng-click="reset()" class="btnreset">RESET</button> 
                                    </div> -->
                                    
                                    <!-- <div>
                                        <div class="leftgraph topinfo">
                                            <div style="float:left;width:100%">
                                                <div class="graph-error" ng-show="qa.dispositionStatusList.COUNT_FAILURE_PROSPECTCALL == undefined && qa.dispositionStatusList.COUNT_SUCCESS_PROSPECTCALL == undefined && qa.dispositionStatusList.COUNT_CALLBACK_PROSPECTCALL == undefined && qa.dispositionStatusList.COUNT_DIALERCODE_PROSPECTCALL == undefined">No Data Available</div>
                                                <nvd3-pie-chart
										            data="newvar"
										            id="exampleId"
										            margin="{left:0,top:0,bottom:0,right:190}"
										            x="xFunction()"
										            y="yFunction()"
										            showLabels="false"  
										            width="350"
      												height="150"                      
										            pieLabelsOutside="false"
										            showValues="false"
										            showLegend="false"
										            legendPosition="top"
										            legendColor="colorFunction2()"
										            color="colorFunction()"
										            labelType="value"
										            tooltips="true"
										            tooltipcontent="toolTipContentFunction()">
                                                    <svg></svg>
                                                </nvd3-pie-chart>
                                            </div>
                                            <div class="select-style-graph">
                                                <select ng-model="agentSearchBy.selectedDispositionStatus"  ng-change="setDisposition(agentSearchBy.selectedDispositionStatus);filterAgent();">
                                                    <option value="" selected>View by Disposition</option>
                                                    <option value="SUCCESS">SUCCESS</option>
                                               DATE:07/12/2017	REASON:Added to show QA_COMPLETE leads READY_FOR_DELIVERY AND REJECTED_LEADS
                                                    <option style="background-color: rgb(213, 219, 224);" value="" disabled="true">QA_COMPLETE</option>
                                                    <option value="READY_FOR_DELIVERY">READY FOR DELIVERY</option>
                                                    <option value="REJECTED_LEADS">REJECTED LEADS</option>
                                                    
                                                    DATE:11/01/2018 Reason:TO show only Succes and Qacomplete lead disposition  
                                               <option value="CALLBACK">CALLBACK</option>
                                                    <option style="background-color: rgb(213, 219, 224);" value="FAILURE">FAILURE</option>
                                                    <option value="FAILURE-DNCL">DO NOT CALL LIST</option>
                                                    <option value="FAILURE-DNRM">DO NOT RECORD ME</option>
                                                    <option value="FAILURE-BADNUMBER">BAD NUMBER</option>
                                                    <option value="FAILURE-LANGUAGEBARRIER">LANGUAGE BARRIER</option>
                                                    <option value="FAILURE-NO_LONGER_EMPLOYED">NO LONGER EMPLOYED</option>
                                                    <option value="FAILURE-NOTINTERESTED">NOT INTERESTED</option>
                                                    <option value="FAILURE-OTHER">OTHER</option>
                                                    <option value="FAILURE-UNSERVICEABLE">UNSERVICEABLE</option>
                                                    <option value="FAILURE-PROSPECT_UNREACHABLE">PROSPECT UNREACHED</option>
                                                    <option style="background-color: rgb(213, 219, 224);" value="DIALERCODE">DIALERCODE</option>
                                                    <option value="DIALERCODE-ANSWERMACHINE">ANS MACH</option> 
                                                    <option value="DIALERCODE-DEADAIR">DEAD AIR</option>
                                                    <option value="DIALERCODE-BUSY">BUSY</option> 
                                                    <option value="DIALERCODE-NOANSWER">NO ANSWER</option>
                                                    <option value="DIALERCODE-GATEKEEPER_ANSWERMACHINE">GK ANS MACH</option>
                                                    
                                                    
                                                </select>
                                            </div>
                                            <div class="graphdetails">
                                                <ul>
                                                    <li class="failure pointerClass">
                                                        <span class="labl">Failure</span>
                                                        <span class="coln-1">:</span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_FAILURE_PROSPECTCALL != undefined">
                                                            <span class="">{{qa.dispositionStatusList.COUNT_FAILURE_PROSPECTCALL}}</span>
                                                        </span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_FAILURE_PROSPECTCALL == undefined">0</span>
                                                    </li>
                                                    <li class="succ pointerClass">
                                                        <span class="labl">Success</span>
                                                        <span class="coln-2">:</span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_SUCCESS_PROSPECTCALL != undefined">
                                                            <span class="">{{qa.dispositionStatusList.COUNT_SUCCESS_PROSPECTCALL}}</span>
                                                        </span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_SUCCESS_PROSPECTCALL == undefined">0</span>
                                                    </li>
                                                    <li class="callb pointerClass">
                                                        <span class="labl">Callback</span>
                                                        <span class="coln-3">:</span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_CALLBACK_PROSPECTCALL != undefined">
                                                            <span class="">{{qa.dispositionStatusList.COUNT_CALLBACK_PROSPECTCALL}}</span>
                                                        </span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_CALLBACK_PROSPECTCALL == undefined">0</span>
                                                    </li>
                                                    <li class="diler pointerClass">
                                                        <span class="labl">Dialercode</span>
                                                        <span class="coln-4">:</span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_DIALERCODE_PROSPECTCALL != undefined">
                                                            <span class="">{{qa.dispositionStatusList.COUNT_DIALERCODE_PROSPECTCALL}}</span>
                                                        </span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_DIALERCODE_PROSPECTCALL == undefined">0</span>
                                                    </li>
                                                </ul>
                                                
                                                <ul>
                                                    <li class="failure pointerClass" ng-click="setClickable(qa.dispositionStatusList.COUNT_FAILURE_PROSPECTCALL, 'FAILURE')">
                                                        <span class="labl">Failure</span>
                                                        <span class="coln-1">:</span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_FAILURE_PROSPECTCALL != undefined">
                                                            <span class="">{{qa.dispositionStatusList.COUNT_FAILURE_PROSPECTCALL}}</span>
                                                        </span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_FAILURE_PROSPECTCALL == undefined">0</span>
                                                    </li>
                                                    <li class="succ pointerClass" ng-click="setClickable(qa.dispositionStatusList.COUNT_SUCCESS_PROSPECTCALL, 'SUCCESS')">
                                                        <span class="labl">Success</span>
                                                        <span class="coln-2">:</span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_SUCCESS_PROSPECTCALL != undefined">
                                                            <span class="">{{qa.dispositionStatusList.COUNT_SUCCESS_PROSPECTCALL}}</span>
                                                        </span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_SUCCESS_PROSPECTCALL == undefined">0</span>
                                                    </li>
                                                    <li class="callb pointerClass" ng-click="setClickable(qa.dispositionStatusList.COUNT_CALLBACK_PROSPECTCALL, 'CALLBACK')">
                                                        <span class="labl">Callback</span>
                                                        <span class="coln-3">:</span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_CALLBACK_PROSPECTCALL != undefined">
                                                            <span class="">{{qa.dispositionStatusList.COUNT_CALLBACK_PROSPECTCALL}}</span>
                                                        </span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_CALLBACK_PROSPECTCALL == undefined">0</span>
                                                    </li>
                                                    <li class="diler pointerClass" ng-click="setClickable(qa.dispositionStatusList.COUNT_DIALERCODE_PROSPECTCALL, 'DIALERCODE')">
                                                        <span class="labl">Dialercode</span>
                                                        <span class="coln-4">:</span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_DIALERCODE_PROSPECTCALL != undefined">
                                                            <span class="">{{qa.dispositionStatusList.COUNT_DIALERCODE_PROSPECTCALL}}</span>
                                                        </span>
                                                        <span class="pull-right" ng-show="qa.dispositionStatusList.COUNT_DIALERCODE_PROSPECTCALL == undefined">0</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="middlescore topinfo">
                                            <ul>
                                                <li>
                                                    <label>Not Scored</label>
                                                    <span class="pull-right set-marg" ng-show="qa.prospectCallStatusList.COUNT_NOT_SCORED_PROSPECTCALL != undefined && qa.prospectCallStatusList.COUNT_NOT_SCORED_PROSPECTCALL > 0">
                                                        <span class="pointerClass">{{qa.prospectCallStatusList.COUNT_NOT_SCORED_PROSPECTCALL}}</span>
														<span class="pointerClass" ng-click="setCallStatus('','Not Scored',''); filterAgent();">{{qa.prospectCallStatusList.COUNT_NOT_SCORED_PROSPECTCALL}}</span>
														</span>
                                                    <span class="pull-right set-marg" ng-show="qa.prospectCallStatusList.COUNT_NOT_SCORED_PROSPECTCALL == undefined || qa.prospectCallStatusList.COUNT_NOT_SCORED_PROSPECTCALL == 0">0</span>
                                                </li>
                                                <li>
                                                    <label>In Progress</label>
                                                    <span class="pull-right set-marg" ng-show="qa.prospectCallStatusList.COUNT_IN_PROGRESS_PROSPECTCALL != undefined && qa.prospectCallStatusList.COUNT_IN_PROGRESS_PROSPECTCALL > 0">
                                                        <span class="pointerClass">{{qa.prospectCallStatusList.COUNT_IN_PROGRESS_PROSPECTCALL}}</span>
    													<span class="pointerClass" ng-click="setCallStatus('','In Progress',''); filterAgent();">{{qa.prospectCallStatusList.COUNT_IN_PROGRESS_PROSPECTCALL}}</span>
                                                    </span>
                                                    <span class="pull-right set-marg" ng-show="qa.prospectCallStatusList.COUNT_IN_PROGRESS_PROSPECTCALL == undefined || qa.prospectCallStatusList.COUNT_IN_PROGRESS_PROSPECTCALL == 0">0</span>
                                                </li>
                                                <li class="lastli">
                                                    <label>Scored</label>
                                                    <span class="pull-right set-marg" ng-show="qa.prospectCallStatusList.COUNT_COMPLETE_PROSPECTCALL != undefined && qa.prospectCallStatusList.COUNT_COMPLETE_PROSPECTCALL > 0">
                                                        <span class="pointerClass">{{qa.prospectCallStatusList.COUNT_COMPLETE_PROSPECTCALL}}</span>
														<span class="pointerClass" ng-click="setCallStatus('','Scored',''); filterAgent();">{{qa.prospectCallStatusList.COUNT_COMPLETE_PROSPECTCALL}}</span>                                                        
                                                    </span>
                                                    <span class="pull-right set-marg" ng-show="qa.prospectCallStatusList.COUNT_COMPLETE_PROSPECTCALL == undefined || qa.prospectCallStatusList.COUNT_COMPLETE_PROSPECTCALL == 0">0</span>
                                                </li>
                                                <button class="secondary-qa-btn" ng-click="getPrimaryQaReviewList()">Primary QA Review</button>		DATE : 05/06/2017	REASON : added Secondary QA Review button to fetch records for secondary review
                                            </ul>
                                        </div>
                                        <div class="rightscore topinfo">
                                            <ul>
                                                <li ng-class="qa.scoredRateList.QA_PENDING_PROSPECTCALL_COUNT_LAST_WEEK > 0 ? 'bgselected' : ''">
                                                    <label>Pending from past week</label>
                                                    <span ng-show="qa.scoredRateList.QA_PENDING_PROSPECTCALL_COUNT_LAST_WEEK != undefined && qa.scoredRateList.QA_PENDING_PROSPECTCALL_COUNT_LAST_WEEK > 0">
                                                        <span class="pointerClass">{{qa.scoredRateList.QA_PENDING_PROSPECTCALL_COUNT_LAST_WEEK}}</span>
                                                        <span class="pointerClass" ng-click="setCallStatus('','Not Scored','COUNT_LAST_WEEK'); filterAgent();">{{qa.scoredRateList.QA_PENDING_PROSPECTCALL_COUNT_LAST_WEEK}}</span>
                                                    </span>
                                                    <span ng-show="qa.scoredRateList.QA_PENDING_PROSPECTCALL_COUNT_LAST_WEEK == undefined || qa.scoredRateList.QA_PENDING_PROSPECTCALL_COUNT_LAST_WEEK == 0">0</span>
                                                </li>
                                                <li>
                                                    <label>Scored in Past 24 Hours</label>
                                                    <span ng-show="qa.scoredRateList.QA_COMPLETE_PROSPECTCALL_COUNT_LAST24_HOURS != undefined && qa.scoredRateList.QA_COMPLETE_PROSPECTCALL_COUNT_LAST24_HOURS > 0">
                                                        <span class="pointerClass">{{qa.scoredRateList.QA_COMPLETE_PROSPECTCALL_COUNT_LAST24_HOURS}}</span>
                                                        <span class="pointerClass" ng-click="setCallStatus('','Scored','COUNT_LAST24_HOURS'); filterAgent();">{{qa.scoredRateList.QA_COMPLETE_PROSPECTCALL_COUNT_LAST24_HOURS}}</span>
                                                    </span>
                                                    <span ng-show="qa.scoredRateList.QA_COMPLETE_PROSPECTCALL_COUNT_LAST24_HOURS == undefined || qa.scoredRateList.QA_COMPLETE_PROSPECTCALL_COUNT_LAST24_HOURS == 0">0</span>
                                                    <span ng-show="!performanceHidden && pastPerformance && finalPercRate > 0">
                                                        <span class="redarrow"></span>
                                                        <span class="redtxt" >{{finalPercRate | toPercentVal}}%</span>
                                                    </span>
                                                    <span ng-show="!performanceHidden && !pastPerformance && finalPercRate > 0">
                                                        <span class="greenarrow"></span>
                                                        <span class="greentxt">{{finalPercRate | toPercentVal}}%</span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <label>Review Rate</label>
                                                    <span>{{reviewRateCount || '0.0'}}%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> -->
                                    <div class="clearfix"></div>
                                    <!-- <div>
	                             		<div class="secondary-QA-mat">
		                             		<span>Not Scored : </span>
		                           			<span>{{qa.qaMetricsList.COUNT_NOT_SCORED_PROSPECTCALL}}</span>
	                             		</div>
	                             		<div class="secondary-QA-mat">
	                             			<span>Scored : </span>
                              				<span>{{qa.qaMetricsList.COUNT_COMPLETE_PROSPECTCALL}}</span>
	                             		</div>
                                    </div> -->
                                    <div>
                                        <div style="float: left">
                                            <span>Upload lead report file</span>
                                            <input type="file" ngf-select="uploadLeadReportFile($file, $invalidFiles)" />
                                        </div>
                                        <!-- <div style="float: right">
                                            <span>Download mapping report</span>
                                            <span ng-show="loggedInUserOrganization.organizationLevel == 'INTERNAL'">
                                                <span class="downloadIcon-clientMapping">
                                                    <i class="fa fa-download" title="Download new client mapping report" ng-click="downloadNewClientMappingTemplate()" aria-hidden="true"></i>
                                                </span>
                                            </span>
                                        </div> -->
                                    </div>
                                    <div class="filter-result">
                                    <table width="100%">
                                    
                                    <tr>
                                      <td width="15%"><b>{{totalRecordCount}}</b> records found</td>
                                      <td style="width:75%";>
                                      			<div ng-show="callIdSelectedText != null && callIdSelectedText != '' && callIdSelectedText != undefined" ng-class="callIdSelectedText ? 'searchcrite-bg' : ''">
		                                        	<span class="searchcritetxt">CallId:{{callIdSelectedText | limitTo:10}}
			                                            <span class="closesearchcritetxt" ng-click="hideCriteria('callIdSelectedText')">X</span>
			                                      	</span>
	                                  	 		</div>
	                                   			<div ng-show="teamSelectedText != null && teamSelectedText != '' && teamSelectedText != undefined"  ng-class="teamSelectedText ? 'searchcrite-bg' : ''">         
		                                            <span class="searchcritetxt">Team:{{teamSelectedText | limitTo:10}}
		                                                <span class="closesearchcritetxt" ng-click="hideCriteria('teamSelectedText')">X</span>
		                                            </span>
	                                            </div>
	                                            <div ng-class="agentSelectedText[0] ? 'searchcrite-bg' : ''">
	                                            <span ng-repeat="(key, value) in agentSelectedText[0]">
	                                                <span class="searchcritetxt" ng-show="agentSelected[key]">Agent:{{value}}			                                          
	                                                    <span class="closesearchcritetxt" ng-click="hideAgentCriteria(key, $index, value)">X</span>
	                                                </span>
	                                            </span>
                                                </div>
                                                <div ng-class="leadStatusSelectedText[0] ? 'searchcrite-bg' : ''">
                                                    <span ng-repeat="(key, value) in leadStatusSelectedText[0]">
                                                        <span class="searchcritetxt" ng-show="statusSelected[key]">LeadStatus:{{value}}			                                          
                                                            <span class="closesearchcritetxt" ng-click="hideLeadStatusCriteria(key, $index, value)">X</span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div ng-class="supervisorSelectedText[0] ? 'searchcrite-bg' : ''">
                                                    <span ng-repeat="(key, value) in supervisorSelectedText[0]">
                                                        <span class="searchcritetxt" ng-show="supervisorSelected[key]">Team:{{value}}			                                          
                                                            <span class="closesearchcritetxt" ng-click="hideSupervisorCriteria(key, $index, value)">X</span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div ng-class="campaignSelectedText[0] ? 'searchcrite-bg' : ''">
                                                    <span ng-repeat="(key, value) in campaignSelectedText[0]">
                                                        <span class="searchcritetxt" ng-show="qaCampaignSelected[key]">Campaign:{{value}}			                                          
                                                            <span class="closesearchcritetxt" ng-click="hideCampaignCriteria(key, $index, value)">X</span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div ng-class="partnerSelectedText[0] ? 'searchcrite-bg' : ''">
                                                    <span ng-repeat="(key, value) in partnerSelectedText[0]">
                                                        <span class="searchcritetxt" ng-show="qaIdSelected[key]">Partner Id:{{value}}			                                          
                                                            <span class="closesearchcritetxt" ng-click="hideQaCriteria(key, $index, value)">X</span>
                                                        </span>
                                                    </span>
                                                </div>
	                                            <div ng-show="clientSelectedText != null && clientSelectedText != '' && clientSelectedText != undefined" ng-class="clientSelectedText ? 'searchcrite-bg' : ''">
	                                            <span  class="searchcritetxt">Client:{{clientSelectedText | limitTo:10}}
	                                                <span class="closesearchcritetxt" ng-click="hideCriteria('clientSelectedText')">X</span>
	                                            </span>
	                                            </div>
	                                            <div ng-show="sDateSelectedText != null && sDateSelectedText != '' && sDateSelectedText != undefined" ng-class="sDateSelectedText ? 'searchcrite-bg' : ''">
	                                            <span class="searchcritetxt">sDate:{{sDateSelectedText | limitTo:10}}
	                                                <span class="closesearchcritetxt" ng-click="hideCriteria('sDateSelectedText')">X</span>
	                                            </span>
	                                            </div>
	                                            <div ng-show="eDateSelectedText != null && eDateSelectedText != '' && eDateSelectedText != undefined" ng-class="eDateSelectedText ? 'searchcrite-bg' : ''">
	                                            <span class="searchcritetxt">eDate:{{eDateSelectedText | limitTo:10}}
	                                                <span class="closesearchcritetxt" ng-click="hideCriteria('eDateSelectedText')">X</span>
	                                            </span>
	                                            </div>
	                                            <div ng-show="sTimeSelectedText != null && sTimeSelectedText != '' && sTimeSelectedText != undefined" ng-class="sTimeSelectedText ? 'searchcrite-bg' : ''">
	                                            <span class="searchcritetxt">sTime:{{sTimeSelectedText | limitTo:10}}
	                                                <span class="closesearchcritetxt" ng-click="hideCriteria('sTimeSelectedText')">X</span>
	                                            </span>
	                                            </div>
	                                            <div ng-show="eTimeSelectedText != null && eTimeSelectedText != '' && eTimeSelectedText != undefined" ng-class="eTimeSelectedText ? 'searchcrite-bg' : ''">
	                                            <span class="searchcritetxt">eTime:{{eTimeSelectedText | limitTo:10}}
	                                                <span class="closesearchcritetxt" ng-click="hideCriteria('eTimeSelectedText')">X</span>
	                                            </span>
	                                            </div>
	                                            <div ng-show="disposeSelectedText != null && disposeSelectedText != '' && disposeSelectedText != undefined" ng-class="disposeSelectedText ? 'searchcrite-bg' : ''">
	                                            <span class="searchcritetxt">Dispose:{{disposeSelectedText | limitTo:10}}
	                                                <span class="closesearchcritetxt" ng-click="hideCriteria('disposeSelectedText')">X</span>
	                                            </span>
                                                </div>
	                                            <div ng-show="durSelectedText != null && durSelectedText != '' && durSelectedText != undefined" ng-class="durSelectedText ? 'searchcrite-bg' : ''">
	                                            <span class="searchcritetxt">Dur:{{durSelectedText | limitTo:10}}
	                                                <span class="closesearchcritetxt" ng-click="hideCriteria('durSelectedText')">X</span>
	                                            </span>
	                                            </div>
	                                            <div ng-show="setProspCalltxt != null && setProspCalltxt != '' && setProspCalltxt != undefined" ng-class="setProspCalltxt ? 'searchcrite-bg' : ''">
	                                            <span class="searchcritetxt">{{setProspCalltxt}}
	                                                <span class="closesearchcritetxt" ng-click="hideCriteria('setProspCalltxt')">X</span>
	                                            </span>
	                                            </div>
	                                            <div ng-show="setDispStatustxt != null && setDispStatustxt != '' && setDispStatustxt != undefined" ng-class="setDispStatustxt ? 'searchcrite-bg' : ''">
	                                            <span class="searchcritetxt">{{setDispStatustxt}}
	                                                <span class="closesearchcritetxt" ng-click="hideCriteria('setDispStatustxt')">X</span>
	                                            </span>
	                                            </div>
                                      </td>
                                      <!-- <td ng-show="loggedInUserOrganization.organizationLevel == 'INTERNAL'">
                                            <!-- <button ng-click="downloadReport()" ng-disabled="disableReportDownloadButton" class="btnreset"> MAPPING REPORT</button>
                                            <span class="downloadIcon-clientMapping">
                                                <i class="fa fa-download" title="Download new client mapping report" ng-click="downloadMappingReport()" aria-hidden="true"></i>
                                            </span>
                                      </td>  -->
                                      <td ng-show="loggedInUserOrganization.organizationLevel == 'INTERNAL' || loggedInUserOrganization.organizationLevel == 'CLIENT'">
                                            <button ng-click="downloadReport()" ng-disabled="disableReportDownloadButton" class="btnreset">DOWNLOAD</button>
                                      </td>
                                      <td>
                                      		<button ng-click="reset()" class="btnreset">RESET</button>
                                      </td>
                                    </tr>
                                    </table>
                                    </div>
                                    <div>
                                        <!-- <input class="search-formControl ; searchTextBox" type="text" ng-enter="searchProspect()" id="qu" placeholder="Search by name or company name" ng-model="searchLead" style="width: 260px">
                                        <button type="submit" ng-click="searchProspect()" class="searchbuttonstyle"><img src="images/search_icon.png"></button> -->
                                        <div class="input-group" style="margin-bottom: 10px; ">
                                            <input type="text" autocomplete="off" ng-trim="true" class="form-control" id="qu" ng-enter="searchProspect()" ng-model="searchLead" style="width: 250px;float:right" placeholder="Search by name or company name"/>
                                            <span class="input-group-addon" ng-click="searchProspect()" style="margin-right: 5px">
                                            <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <table id="example" class="datatable" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                            <!-- <th class="call-id">
                                                <span ng-click="changeSorting('prospectCall.prospectCallId')">CALL ID</span>
				                                <span class="sort-arrow-call-Id" ng-click="changeSorting('prospectCall.prospectCallId')">
				                                    <span class="arrow-sort-up" ng-show="sorts.descending && callIdSortFlag" ng-class="{'active':sorts.descending && sortKey == 'prospectCall.prospectCallId'}"></span>
				                                    <span class="arrow-sort-down" ng-show="!sorts.descending && callIdSortFlag" ng-class="{'active':!sorts.descending && sortKey == 'prospectCall.prospectCallId'}"></span>
				                                </span>			                                
				                                <span class="arrow-up-call-Id">
                                                            <img src="images/Shape19.png" ng-click="showHideCallSearch()" ng-show="!callIdSelected"/>
                                                            <img src="images/Shape191.png" ng-click="showHideCallSearch()" ng-show="callIdSelected"/>
                                                </span>	
                                                <div class="procedure-details-call" ng-show="showHidecall">
                                					<p class="topSelect">
                                    					<input type="text" ng-model="agentSearchBy.callId" class="txtcall">
                                    				</p>
                                    				<button ng-click="resetCall()" class="btncancel">CANCEL</button>
                                    				<button ng-click="setClientAgent(); filterAgent();" class="btnreset">OK</button>
                                				</div>			                                
                                            </th> -->
                                            <th class="prospect-name">
                                                <span>NAME</span>
                                            </th>
                                            <th class="prospect-company">
                                                <span>COMPANY</span>
                                            </th>
                            				<th class="agent">
                            					<span ng-click="changeSorting('prospectCall.agentId')">AGENT</span>
				                                <span ng-click="changeSorting('prospectCall.agentId')" class="sort-arrow">
				                                    <span class="arrow-sort-up" ng-show="sorts.descending && agentSortFlag" ng-class="{'active':sorts.descending && sortKey == 'prospectCall.agentId'}"></span>
				                                    <span class="arrow-sort-down" ng-show="!sorts.descending && agentSortFlag" ng-class="{'active':!sorts.descending && sortKey == 'prospectCall.agentId'}"></span>
				                                </span>
				                                <span class="arrow-up">
                                                            <img src="images/Shape19.png" ng-click="showHideAgentSearch()" ng-show="!teamSelected"/>
                                                            <img src="images/Shape191.png" ng-click="showHideAgentSearch()" ng-show="teamSelected"/>
                                                </span>
                                                <div class="procedure-details-agent" ng-show="showHideagent">
				                                    <dropdown-multiselect2 id="agentFilterDropdown2" pre-selected="qa.agentList" model="agentSearchBy.selectedAgentMulti2" multiarr="agentSearchBy.selectedAgentMulti" class="multisel2-cls" options="qa.agentList"></dropdown-multiselect2>
                                    					<button ng-click="setClientAgent(); resetAgent();" class="btncancel">CANCEL</button>
                                    					<button ng-click="filterAgent()" class="btnreset">OK</button>
                                				</div>
                                            </th>
                                            <th class="qaId">
                                                <span ng-click="changeSorting('qaId')">PARTNER ID</span>
                                                <span ng-click="changeSorting('qaId')" class="sort-arrow">
                                                    <span class="arrow-sort-up" ng-show="sorts.descending && partnerIdSortFlag" ng-class="{'active':sorts.descending && sortKey == 'qaId'}"></span>
                                                    <span class="arrow-sort-down" ng-show="!sorts.descending && partnerIdSortFlag" ng-class="{'active':!sorts.descending && sortKey == 'qaId'}"></span>
                                                </span>
                                                <span class="arrow-up">
                                                            <img src="images/Shape19.png" ng-click="showHidePartnerIdSearch()" ng-show="!partnerSelected"/>
                                                            <img src="images/Shape191.png" ng-click="showHidePartnerIdSearch()" ng-show="partnerSelected"/>
                                                </span>
                                                <div class="qaId-procedure-details" ng-show="showHidePartner" >
                                                    <dropdown-multiselect-qa id="qaFilterDropdown2" pre-selected="partnerIds" model="partnerSearchBy.selectedPartnerMulti2" multiarr="partnerSearchBy.selectedPartnerMulti" class="multisel2-cls" options="partnerIds"></dropdown-multiselect-qa>
                                                        <button ng-click="setClientAgent(); resetPartnerId();" class="btncancel">CANCEL</button>
                                                        <button ng-click="filterAgent()" class="btnreset">OK</button>
                                                </div>
                                            </th>
                                            <th class="campaign">
                                                <span ng-click="changeSorting('prospectCall.campaignId')">CAMPAIGN</span>
                                                    <span class="sort-arrow" ng-click="changeSorting('prospectCall.campaignId')">
                                                        <span class="arrow-sort-up" ng-show="sorts.descending && campaignSortFlag" ng-class="{'active':sorts.descending && sortKey == 'prospectCall.campaignId'}"></span>
                                                        <span class="arrow-sort-down" ng-show="!sorts.descending && campaignSortFlag" ng-class="{'active':!sorts.descending && sortKey == 'prospectCall.campaignId'}"></span>
                                                    </span>
                                                    <span class="arrow-up">
                                                        <img src="images/Shape19.png" ng-click="showHideClientSearch()" ng-show="!campaignSelected"/>
                                                        <img src="images/Shape191.png" ng-click="showHideClientSearch()" ng-show="campaignSelected"/>
                                                    </span>
                                                    <div class="lead-status-procedure-details" ng-show="showHideclient">
                                                        <campaign-multi-select id="campaignDropdown" pre-selected="qa.campaignList" model="campaignSearchBy.selectedCampaignMulti2" multiarr="campaignSearchBy.selectedCampaignMulti" class="lead-status-multisel2-cls" options="qa.campaignList"></campaign-multi-select>
                                                        <button ng-click="resetClient()" class="btncancel">CANCEL</button>
                                                        <button ng-click="setClientAgent(); filterAgent();" class="btnreset">OK</button>
                                                    </div>
                                            </th>
                                            <th class="campaign">
                                                <span ng-click="changeSorting('prospectCall.teamId')">Team</span>
                                                    <span class="sort-arrow" ng-click="changeSorting('prospectCall.teamId')">
                                                        <span class="arrow-sort-up" ng-show="sorts.descending && teamSortFlag" ng-class="{'active':sorts.descending && sortKey == 'prospectCall.teamId'}"></span>
                                                        <span class="arrow-sort-down" ng-show="!sorts.descending && teamSortFlag" ng-class="{'active':!sorts.descending && sortKey == 'prospectCall.teamId'}"></span>
                                                    </span>
                                                    <span class="arrow-up">
                                                        <img src="images/Shape19.png" ng-click="showHideTeamSearch()" ng-show="!teeamSelected"/>
                                                        <img src="images/Shape191.png" ng-click="showHideTeamSearch()" ng-show="teeamSelected"/>
                                                    </span>
                                                    <div class="lead-status-procedure-details" ng-show="showHideTeam">
                                                        <team-multi-Select id="teamDropdown" pre-selected="qa.teamIdList" model="teamSearchIds.selectedTeamMulti2" multiarr="teamSearchIds.selectedTeamMulti" class="lead-status-multisel2-cls" options="qa.teamIdList"></team-multi-Select>
                                                        <button ng-click="resetTeam()" class="btncancel">CANCEL</button>
                                                        <button ng-click="setClientAgent(); filterAgent();" class="btnreset">OK</button>
                                                    </div>
                                            </th>
                                            <th class="date">
                                                <span ng-click="changeSorting('prospectCall.callStartTime')">DATE</span>
					                            <span ng-click="changeSorting('prospectCall.callStartTime')" class="sort-arrow">
					                                    <span class="arrow-sort-up" style="right: 10px;" ng-show="sorts.descending && dateSortFlag" ng-class="{'active':sorts.descending && sortKey == 'prospectCall.callStartTime'}"></span>
					                                    <span class="arrow-sort-down" style="right: 10px;" ng-show="!sorts.descending && dateSortFlag" ng-class="{'active':!sorts.descending && sortKey == 'prospectCall.callStartTime'}"></span>
					                            </span>
					                            <span class="arrow-up">
	                                                            <img src="images/Shape19.png" ng-click="showHideDateSearch()" ng-show="!sDateSelected"/>
	                                                            <img src="images/Shape191.png" ng-click="showHideDateSearch()" ng-show="sDateSelected"/>
	                                            </span>
	                                            <div class="procedure-details-date" ng-show="showHidedate">
                                                    <p class="topSelect" style="margin: 10px 6px;">
                                                        <Label class="date-filter">Start Date</Label>
				                                        <input type="date" name="startDate" required class="date-control backdownarrow" ng-model="qa.startDate" is-open="startDateOpened" max = "{{maxDate}}" ng-change = "resetQuickDate();" class="txtdate">
                                                        <Label class="date-filter">End Date</Label>
                                                        <input type="date" required name="endDate"	class="date-control endDate-control backdownarrow" ng-model="qa.endDate" is-open="endDateOpened" min="{{minDate}}" max = "{{maxDate}}" ng-change = "resetQuickDate();" class="txtdate">
                                                        <!-- <select ng-model="agentSearchBy.startTime" ng-options="item.key as item.value for item in startHourList" ng-change="setStartHour();" style="margin-top: -7px;" class="starttimeclass">
                                                            <option value="">Start Time</option>
                                                        </select>
                                                        <select ng-model="agentSearchBy.endTime" ng-options="item.key as item.value for item in endHourList" ng-change="setEndHour();" class="starttimeclass">
                                                            <option value="">End Time</option>
                                                        </select> -->
				                                    </p>
				                                    <button ng-click="resetDate()" class="btncancel">CANCEL</button>
				                                    <button ng-click="setClientAgent(); filterAgent();" class="btnreset">OK</button>
				                                </div>
                            				</th>
                                             <!-- <th class="dispos">
                                                <span ng-click="changeSorting('prospectCall.dispositionStatus')">DISPOSITION</span>
					                                <span ng-click="changeSorting('prospectCall.dispositionStatus')" class="sort-arrow">
					                                    <span class="arrow-sort-up" ng-show="sorts.descending && disposeSortFlag" ng-class="{'active':sorts.descending && sortKey == 'prospectCall.dispositionStatus'}"></span>
					                                    <span class="arrow-sort-down" ng-show="!sorts.descending && disposeSortFlag" ng-class="{'active':!sorts.descending && sortKey == 'prospectCall.dispositionStatus'}"></span>
					                                </span>
					                                <span class="arrow-up">
	                                                            <img src="images/Shape19.png" ng-click="showHideDisposSearch()" ng-show="!disposeSelected"/>
	                                                            <img src="images/Shape191.png" ng-click="showHideDisposSearch()" ng-show="disposeSelected"/>
	                                                </span>
	                                                <div class="procedure-details-dispos" ng-show="showHidedispos">
			                                            <div class="select-style-top">
			                                                <p class="topSelect">
			                                                    <select ng-model="agentSearchBy.selectedDispositionStatus"  ng-change="setDisposition(agentSearchBy.selectedDispositionStatus);">
			                                                        <option value="" selected>Select Disposition</option>
			                                                        <option value="SUCCESS">SUCCESS</option>
                                                    				<option value="READY_FOR_DELIVERY">READY FOR DELIVERY</option>
                                                   					<option value="REJECTED_LEADS">REJECTED LEADS</option>
                                                   					
                                                   			   !-- DATE:11/01/2018 Reason:TO show only Succes and Qacomplete lead disposition --
			                                                   !-- <option value="CALLBACK">CALLBACK</option>
			                                                        <option style="background-color: rgb(213, 219, 224);" value="FAILURE">FAILURE</option>
			                                                        <option value="FAILURE-DNCL">DO NOT CALL LIST</option>
			                                                        <option value="FAILURE-DNRM">DO NOT RECORD ME</option>
			                                                        <option value="FAILURE-BADNUMBER">BAD NUMBER</option>
			                                                        <option value="FAILURE-LANGUAGEBARRIER">LANGUAGE BARRIER</option>
			                                                        <option value="FAILURE-NO_LONGER_EMPLOYED">NO LONGER EMPLOYED</option>
			                                                        <option value="FAILURE-NOTINTERESTED">NOT INTERESTED</option>
			                                                        <option value="FAILURE-OTHER">OTHER</option>
			                                                        <option value="FAILURE-UNSERVICEABLE">UNSERVICEABLE</option>
			                                                        <option value="FAILURE-PROSPECT_UNREACHABLE">PROSPECT UNREACHED</option>
			                                                        <option style="background-color: rgb(213, 219, 224);" value="DIALERCODE">DIALERCODE</option>
			                                                        <option value="DIALERCODE-ANSWERMACHINE">ANS MACH</option>
			                                                        <option value="DIALERCODE-DEADAIR">DEAD AIR</option>
			                                                        <option value="DIALERCODE-BUSY">BUSY</option>
			                                                        <option value="DIALERCODE-NOANSWER">NO ANSWER</option>
			                                                        <option value="DIALERCODE-GATEKEEPER_ANSWERMACHINE">GK ANS MACH</option> --
			                                                    </select>
			                                                </p>
			                                            </div>
			                                            <button ng-click="resetDispose()" class="btncancel">CANCEL</button>
			                                            <button ng-click="setClientAgent(); filterAgent();" class="btnreset">OK</button>
			                                        </div>
                                              </th> -->
                                              <th class="lead-status">
                                                  <span ng-click="changeSorting('prospectCall.leadStatus')">LEAD STATUS</span>
					                                <span class="sort-arrow" ng-click="changeSorting('prospectCall.leadStatus')">
					                                    <span class="arrow-sort-up" ng-show="sorts.descending && leadStatusSortFlag" ng-class="{'active':sorts.descending && sortKey == 'prospectCall.leadStatus'}"></span>
					                                    <span class="arrow-sort-down" ng-show="!sorts.descending && leadStatusSortFlag" ng-class="{'active':!sorts.descending && sortKey == 'prospectCall.leadStatus'}"></span>
					                                </span>
					                                <span class="arrow-up">
                                                        <img src="images/Shape19.png" ng-click="showHideLeadStatusSearch()" ng-show="!leadStatusSelected"/>
                                                        <img src="images/Shape191.png" ng-click="showHideLeadStatusSearch()" ng-show="leadStatusSelected"/>
	                                                </span>
	                                                <div class="lead-status-procedure-details" ng-show="showHideLeadStatus">
                                                        <lead-status-multi-select id="leadStatusDropdown" pre-selected="qa.leadStatusList" model="leadStatusSearchBy.selectedStatusMulti2" multiarr="leadStatusSearchBy.selectedStatusMulti" class="multisel2-cls" options="qa.leadStatusList"></lead-status-multi-select>
			                                            <button ng-click="setLeadStatus()" class="btncancel">CANCEL</button>
			                                            <button ng-click="setClientAgent(); filterAgent();" class="btnreset">OK</button>
			                                        </div>
                                              </th>
                                              <th class="dispos">
                                                    <span ng-click="changeSorting('prospectCall.callDuration')">DURATION</span>
					                                <span class="sort-arrow" ng-click="changeSorting('prospectCall.callDuration')">
					                                    <span class="arrow-sort-up" ng-show="sorts.descending && durationSortFlag" ng-class="{'active':sorts.descending && sortKey == 'prospectCall.callDuration'}"></span>
					                                    <span class="arrow-sort-down" ng-show="!sorts.descending && durationSortFlag" ng-class="{'active':!sorts.descending && sortKey == 'prospectCall.callDuration'}"></span>
					                                </span>
					                                <!-- <span class="arrow-up">
	                                                            <img src="images/Shape19.png" ng-click="showHideDurSearch()" ng-show="!durSelected"/>
	                                                            <img src="images/Shape191.png" ng-click="showHideDurSearch()" ng-show="durSelected"/>
	                                                </span> -->
	                                                <div class="procedure-details-dur" ng-show="showHidedur">
			                                            <div class="select-style-top">
			                                                <p class="topSelect">
			                                                    <select ng-model="agentSearchBy.duration" ng-options="item as item for item in durationList" ng-change="setClientAgent();">
			                                                        <option value="">Select Duration</option>
			                                                    </select>
			                                                </p>
			                                            </div>
			                                            <button ng-click="resetDur()" class="btncancel">CANCEL</button>
			                                            <button ng-click="setDuration(); setClientAgent(); filterAgent();" class="btnreset">OK</button>
			                                        </div>
                            					</th>
                                                
                                                <th class="audio">AUDIO</th>
                                                
                                                <th class="status" style="width:15%" ng-click="changeSorting('qaFeedback.overallScore')">SCORE STATUS
					                                <div class="sort-arrow">
					                                    <span class="arrow-sort-up" style="right:2px;" ng-show="sorts.descending && statusScoreFlag" ng-class="{'active':sorts.descending && sortKey == 'status'}"></span>
					                                    <span class="arrow-sort-down" style="right:2px;" ng-show="!sorts.descending && statusScoreFlag" ng-class="{'active':!sorts.descending && sortKey == 'status'}"></span>					                                    
					                                </div>
                            					</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-show="prospectCallList.prospectCallSearchList.length > 0">
                                            <tr ng-repeat="item in prospectCallList.prospectCallSearchList | orderBy:sort.active:sort.descending" ng-class="{'row-highlight' : item.status == 'SECONDARY_REVIEW'}">
                                                <!-- <td class="call-id element">
                                                    <a ng-model="item.prospectCall.prospectCallId" style="float:left;text-decoration:none !important;color:#6d676c !important;" title="{{item.prospectCall.prospectCallId}}">{{item.prospectCall.prospectCallId}}</a>
                                                    <button clipboard text="item.prospectCall.prospectCallId" on-copied="success()" on-error="fail(err)" style="background-color:transparent;border:transparent;margin-left: 91px;margin-top: 13px;position: absolute;display:none;" title="Copy" class="qacopybtn"></button>
                                                </td> -->
                                                <td class="prospect-name word-breaker">
                                                    <span ng-show="item.prospectCall.dispositionStatus != 'FAILURE'">{{item.prospectCall.prospect.name}} </span>
                                                    <span ng-show="item.prospectCall.dispositionStatus == 'FAILURE' && loggedInUserOrganization.organizationLevel == 'CLIENT'"> {{item.prospectCall.prospect.name}} </span>
                                                    <span ng-show="item.prospectCall.dispositionStatus == 'FAILURE' && loggedInUserOrganization.organizationLevel != 'CLIENT'" > ----- </span>
                                                </td>
                                                <td class="prospect-company word-breaker">
                                                    <span ng-show="item.prospectCall.dispositionStatus != 'FAILURE'">{{item.prospectCall.prospect.company}} {{item.prospectCall.dispositionStatus}}</span>
                                                    <span ng-show="item.prospectCall.dispositionStatus == 'FAILURE' && loggedInUserOrganization.organizationLevel == 'CLIENT'"> {{item.prospectCall.prospect.company}} {{item.prospectCall.dispositionStatus}} </span>
                                                    <span ng-show="item.prospectCall.dispositionStatus == 'FAILURE' && loggedInUserOrganization.organizationLevel != 'CLIENT'"> ----- </span>
                                                </td>
                                                <td class="agent sorting_1 word-breaker">
                                                    <span>{{item.prospectCall.agentId}} </span>
                                                    <!-- <span>{{item.teamName}}</span> -->
                                                </td>
                                                <td>
                                                    <span>{{item.prospectCall.partnerId}} </span>
                                                </td>
                                                <td class="campaign word-breaker">
                                                    <span>{{item.campaignName}} </span>
                                                    <!-- <span>{{item.clientId}} </span> -->
                                                </td>
                                                <td class="campaign">
                                                    <span>{{item.prospectCall.supervisorId}} </span>
                                                </td>
                                                <td class="date">
                                                    <span>{{item.prospectCall.callStartTime | date:"MM/dd/yyyy"}},</span>
                                                    <span>{{item.prospectCall.callStartTime | date:"hh:mm:ssa"}}</span>
                                                </td>
                                                <td class="lead-status">
                                                    <span ng-if="item.prospectCall.leadStatus">{{item.prospectCall.leadStatus}}</span>
                                                    <span ng-if="!item.prospectCall.leadStatus">{{item.prospectCall.subStatus}}</span>

                                                    <!-- <a href="#" ng-mouseover="showPopover5=true;" ng-mouseleave="showPopover5=false;">Hi
                                                        <div class="popover you-asset" ng-show="showPopover5"><span>Test Popover.</span></div></a> -->
                                                </td>
                                                <!-- <td class="dispos">
                                                    <span>
                                                        <img ng-show="item.prospectCall.dispositionStatus == 'FAILURE'" src="images/failure.png"/>
                                                        <img ng-show="item.prospectCall.dispositionStatus == 'SUCCESS'" src="images/success.png"/>
                                                        <img ng-show="item.prospectCall.dispositionStatus == 'CALLBACK'" src="images/callback.png"/>
                                                        <img ng-show="item.prospectCall.dispositionStatus == 'DIALERCODE'" src="images/dialer.png"/>
                                                    </span>
                                                    <span class="fontformat">{{item.prospectCall.subStatus}}</span>
                                                </td> -->
                                            <td class="duration">{{convertSecToMin(item.prospectCall.callDuration) | date:'HH:mm:ss' }}</td>
                                            <td class="audio" align="center">
                                                <a href="" ng-click="showaudiopopup(item, $parent.$index)">
                                                    <img src="images/Layer9.png" ng-show="!audioClick{{$parent.$index}}" />
                                                    <img src="images/Layer91.jpeg" ng-show="audioClick{{$parent.$index}}" />
                                                </a>
                                            </td>
                                            <td class="status">
                                                <a href="" ng-show="item.overallScore != null && item.overallScore != -1 && item.status !='QA_INITIATED'" ng-click="goto(item.prospectCall.prospectCallId)" ng-class="{'linkDisabled': (item.prospectCall.dispositionStatus=='FAILURE' && !loggedInUserOrganization.failureEnable)}">{{item.overallScore|toPercent}}%</a>
                                                <a href="" ng-show="item.overallScore == null && item.status !='QA_INITIATED'" ng-click="goto(item.prospectCall.prospectCallId, item.prospectCall.dispositionStatus)" ng-class="{'linkDisabled': (item.prospectCall.dispositionStatus=='FAILURE' && !loggedInUserOrganization.failureEnable)}">Click to Score</a>
                                                <a href="" ng-show="item.overallScore == -1 && item.status !='QA_INITIATED'" ng-click="goto(item.prospectCall.prospectCallId)" ng-class="{'linkDisabled': (item.prospectCall.dispositionStatus=='FAILURE' && !loggedInUserOrganization.failureEnable)}">NA</a>
                                                <a href="" ng-show="item.status =='QA_INITIATED'" ng-click="goto(item.prospectCall.prospectCallId, item.prospectCall.dispositionStatus)" ng-class="{'linkDisabled': (item.prospectCall.dispositionStatus=='FAILURE' && !loggedInUserOrganization.failureEnable)}">In Progress</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div align="center" ng-show="(prospectCallList.prospectCallSearchList.length == 0) && agentSearchBy.qastatus != 'SECONDARY_QA_INITIATED'">No Records Found</div>
                                <div align="center" ng-show="(prospectCallList.prospectCallSearchList.length == 0) && agentSearchBy.qastatus == 'SECONDARY_QA_INITIATED'">No Secondary QA Records Found</div>
                                <div align="center" ng-show="(prospectCallList.prospectCallSearchList == undefined || prospectCallList.prospectCallSearchList == null) && agentSearchBy.qastatus != 'SECONDARY_QA_INITIATED'">Please select date range and filter.</div>
                                <div align="center" ng-show="(prospectCallList.prospectCallSearchList == undefined || prospectCallList.prospectCallSearchList == null) && agentSearchBy.qastatus == 'SECONDARY_QA_INITIATED'">Please select date range and filter.</div>
                            </div>
                            
                                
                               
                                
                                        
                                        
                                        <!-- end of middle campaign List div-->
                                        <!-- start of bottom campaign List div-->
                                        <div class="footerBlock">
                                            <div class="divleftfloat pagination-wrap" ng-show="prospectCallList.prospectCallSearchList.length > 0">
                                                <div class="leftdiv">
                    								Show
               									</div>
                                                <div class="divshowmargin">
                                                    <select class="form-control addselectoptionright addrightmargin" ng-disabled="noSize" ng-model="pageSize" ng-options="size.id as size.name for size in totalPageSize" ng-change="filterAgent()"></select>
                                                </div> per page
			
                                            
                                            </div>
                                            
                                            <div class="divrightfloat pagination-wrap">
                                                <div ng-show="prospectCallList.prospectCallSearchList.length > 0">
                                                    <div class="divsearchbuttonleft">
                                                        <!-- <span class="number-box label-text-transform"> {{((currentPage-1) * pageSize) +1 }} - {{((currentPage-1) * pageSize) + currentPageLength}} of {{totalRecordCount}}</span> -->
                                                    </div>
                                                    <div class="divsearchbuttonright">
                                                        <pagination page="currentPage" max-size="0" ng-change="pageChanged(selectedStatus, searchName, currentPage, pageSize)" total-items="totalRecordCount" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"  items-per-page="pageSize"></pagination>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of bottom camapign List div-->
                                    </div>
                                </div>
                            </div>
                            <div class="processing" id="ad_loading" ng-show="loading">
                                <div class="processing_message">
                                    <span>Processing</span>
                                    <p align="center">
                                        <img alt="processing" src="images/loader_circle.gif">
                                        </p>
                                    </div>
                                </div>
                                
                                <!-- START TODO -->
                                <div class="processing" id="ad_loading" ng-show="secondaryQaloading">
                                <div class="processing_message">
                                    <span>Processing</span>
                                    <p align="center">
                                        <img alt="processing" src="images/loader_circle.gif">
                                        </p>
                                    </div>
                                </div>
                                <!-- END TODO -->
                                
                                <script>
    $(document).on("contextmenu", ".element", function(e) {
        $('.qacopybtn').css("display", "none");
        $(this).find('.qacopybtn').css("display", "block");
        e.preventDefault();
    });

    $('html, body').on("click", function(e) {
        $('.qacopybtn').css("display", "none");
    });
    $(document).ready(function() {
        var timeout;
        var finishTimeout = false;

        //////////////////////////////////for tab inner a/bulst///////////////////////
        $("#showDesc").tooltip({
            show: null, // show immediately 
            items: 'li',
            hide: {
                effect: "", // fadeOut
            },
            content: function() {
                if (!finishTimeout)
                    return false;
                //ajax call here 
                return $("#status-detail-content").html();
            },
            open: function(event, ui) {
                //ui.tooltip.animate({ top: ui.tooltip.position().top + 10 }, "fast" );
            },
            close: function(event, ui) {
                ui.tooltip.hover(
                    function() {
                        $(this).stop(true).fadeTo(400, 1);
                        //.fadeIn("slow"); // doesn't work because of stop()
                    },
                    function() {
                        $(this).fadeOut("400", function() {
                            $(this).remove();
                        })
                    }
                );
            }
        });
        $('#showDesc').mouseover(function() {
            var el = $(this);
            timeout = setTimeout(function() {
                finishTimeout = true;
                el.tooltip("open");
                finishTimeout = false;
            }, 1000);
        });
        $('#showDesc').mouseout(function() {
            clearTimeout(timeout);
        });



    });
</script>
<script>

$('body').mouseup(function (e) {
    var container = $(".btn-group");

    if (!container.is(e.target) && container.has(e.target).length === 0 && $(".dropmulti > .btn-group").hasClass('open')) {
        $(".dropmulti > .btn-group > button").click();
    }
});
       
    $(function() {
        $("#draggable").draggable();
    });
</script>
                                <script>
    $(window).scroll(function() {
        if ($(this).scrollTop() > 130) {
            $('.floatbar').addClass("sticky");
        } else {
            $('.floatbar').removeClass("sticky");
        }
    });
    $(".bs-docs-footer.footer").hide();
</script>
<head>
    <!-- Start of xtaascorp Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=79a5108e-d547-4b2b-82f7-41a25f84e9f1"> </script>
    <!-- End of xtaascorp Zendesk Widget script -->
</head>