<script type="text/ng-template" id="saveConfirmModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true" class="cross-img"></span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="addassetLabel">QA SCORE</h4>
    </div>
    <div class="modal-body qa-confirm-modal-body">
        <img alt="icon" src="images/ques-icon.png"  class="ques-text align-img">
            <div class = "align-content">
                <span class = "content-font">You have unsaved work. If you navigate away from this page without saving your data, the changes will be lost.Click on OK to save the changes.</span>
                </div>
            </div>
            <input type="hidden" ng-model="pturl">
                <div class="modal-footer">
                    <button type="button" class="btn btn-primarys" ng-click="goToSave()">Ok</button>
                    <button type="button" class="btn btn-defaults"   ng-click="cancel()">Cancel</button>
                </div>
            </script>

	<script type="text/ng-template" id="changeLeadStatusModal.html">
		<div class="modal-header">
			<!-- <div class="qaToast">
				<toaster-container
					toaster-options="{'showDuration': 120, 'time-out':3000, 'close-button':true , 'position-class': 'toast-cust-pos-center'}"></toaster-container>
			</div> -->
			<button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">
				<img src="images/black-cross.png" title="Close"/>
			</button>
			<h4>Lead Status</h4>
		</div>
		<div class="modal-body">
			<select class="form-control rnd-input" ng-change="setLeadStatus(leadStatus)" ng-model="leadStatus">
				<option value="" disabled selected>Select Status</option>
				<option value="SUCCESS">SUCCESS</option>
				<option value="DNCL" title="Do Not Call List">DNCL</option>
				<option value="PROSPECT_UNREACHABLE">PROSPECT_UNREACHABLE</option>
				<option value="FAILED_QUALIFICATION">FAILED_QUALIFICATION</option>
				<option value="NO_CONSENT">NO_CONSENT</option>
				<option value="DNRM" title="Do Not Record Me">DNRM</option>
				<option value="NOTINTERESTED">NOTINTERESTED</option>
				<option value="OTHER">OTHER</option>
				<option value="OUT_OF_COUNTRY">OUT_OF_COUNTRY</option>
			</select>
		</div>
		<div class="modal-footer">
			<p class="rndFooter">
				<button type="button" class="btn btn-gray pull-right" ng-click="cancel()">Close</button>
				<button type="button" style="margin-right:20px" class="btn btn-primary pull-right" ng-click="saveLeadStatus()">Save</button>
			</p> 
		</div>
	</script>
	<script type="text/ng-template" id="campaignScriptModal.html">
		<div class="modal-header">
			<button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">
				<img src="images/black-cross.png" title="Close"/>
			</button>
			<h4>Campaign Script</h4>
		</div>
		<div class="modal-body">
			<div class="tabContainer">
				<ul id="tabHeader" class="nav nav-tabs" role="tablist">
					<li role="presentation" ng-class="{'active':scriptSelectedTab == 'questions'}"><a
							href="#questions" aria-controls="home" role="tab" data-toggle="tab">Questions</a>
					</li>
					<li role="presentation" ng-class="{'active':scriptSelectedTab == 'confirm'}"><a
							href="#confirm" aria-controls="home" role="tab" data-toggle="tab">Confirm</a></li>
					<li role="presentation" ng-class="{'active':scriptSelectedTab == 'consent'}"><a
							href="#consent" aria-controls="profile" role="tab" data-toggle="tab">Consent</a>
					</li>
					<li role="presentation" ng-class="{'active':scriptSelectedTab == 'notes'}"><a href="#notes"
							aria-controls="profile" role="tab" data-toggle="tab">Notes</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane white-bg-block"
						ng-class="{'active':scriptSelectedTab == 'questions'}" id="questions">
						<div ng-bind-html="questionSectionScript" style="background: white; overflow-y: auto;overflow-x: hidden;height: 325px;"></div>
					</div>
					<div role="tabpanel" class="tab-pane white-bg-block"
						ng-class="{'active':scriptSelectedTab == 'confirm'}" id="confirm">
						<p ng-bind-html="confirmSectionScript" style="background: white; overflow-y: auto;overflow-x: hidden;height: 325px;"></p>
					</div>
					<div role="tabpanel" class="tab-pane white-bg-block"
						ng-class="{'active':scriptSelectedTab == 'consent'}" id="consent">
						<p ng-bind-html="consentSectionScript" style="background: white; overflow-y: auto;overflow-x: hidden;height: 325px;"></p>
					</div>
					<div role="tabpanel" class="tab-pane white-bg-block"
						ng-class="{'active':scriptSelectedTab == 'notes'}" id="notes">
						<p ng-bind-html="noteSectionScript" style="background: white; overflow-y: auto;overflow-x: hidden;height: 325px;"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<p class="rndFooter">
				<button type="button" class="btn btn-gray pull-right" ng-click="cancel()">Close</button>
			</p> 
		</div>
	</script>

	<script type="text/ng-template" id="callBackHistoryModal.html">
		<div class="modal-header">
			<button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">
				<img src="images/black-cross.png" title="Close"/>
			</button>
			<h4>Callback History</h4>
		</div>
		<div class="modal-body">
			<div class="tabContainer">
				<div>
					<div>
						<span class="callback-history-labels">Callback Schedule</span> 
						<span class="right-details" ng-show="qaDetail.prospectCallLog.callbackDate == null || qaDetail.prospectCallLog.callbackDate == undefined">
							<strong>NA</strong>
						</span>
						<span class="right-details" ng-show="qaDetail.prospectCallLog.callbackDate != null && qaDetail.prospectCallLog.callbackDate != undefined">
							<strong>{{qaDetail.prospectCallLog.callbackDate | date:"MM/dd/yyyy h:mm a" : 'UTC'}}</strong>
						</span>
					</div>

					<div>
						<span class="callback-history-labels">Call History</span> 
						<span class="right-details" ng-show="qaDetail.prospectCallLog.prospectCall.notes == null || qaDetail.prospectCallLog.prospectCall.notes == undefined || qaDetail.prospectCallLog.prospectCall.notes.length == 0">
							<strong>NA</strong>
						</span>

						<div  ng-show="qaDetail.prospectCallLog.prospectCall.notes != null && qaDetail.prospectCallLog.prospectCall.notes.length > 0">
								<div class="call-history-block">
									<p class="text" ng-repeat="history in qaDetail.prospectCallLog.prospectCall.notes">
										{{history.creationDate  | date:"MM/dd/yyyy"}} <strong>{{history.agentName}} </strong>called at<strong>
										{{history.creationDate | date:"h:mma"}}</strong>, {{history.dispositionStatus}}-{{history.subStatus}}. {{history.text}}
									</p>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<p class="rndFooter">
				<button type="button" class="btn btn-gray pull-right" ng-click="cancel()">Close</button>
			</p> 
		</div>
	</script>

	<script type="text/ng-template" id="agentNotesModal.html">
		<div class="modal-header">
			<button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">
				<img src="images/black-cross.png" title="Close"/>
			</button>
			<h4>Agent notes</h4>
		</div>
		<div class="modal-body">
			<div class="tabContainer">
				<div>
					<div>
						<span class="callback-history-labels">Agent notes </span> 
						<span class="right-details" ng-show="qaDetail.prospectCallLog.prospectCall.notes == null || qaDetail.prospectCallLog.prospectCall.notes == undefined || qaDetail.prospectCallLog.prospectCall.notes.length == 0">
							<strong>NA</strong>
						</span>

						<div  ng-show="qaDetail.prospectCallLog.prospectCall.notes != null && qaDetail.prospectCallLog.prospectCall.notes.length > 0">
								<div class="call-history-block">
									<p class="text" ng-repeat="multipleNotes in qaDetail.prospectCallLog.prospectCall.notes">
										<strong>
											{{multipleNotes.creationDate  | date:"MM/dd/yyyy"}}<br />
											{{multipleNotes.text}}
										</strong>	
									</p>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<p class="rndFooter">
				<button type="button" class="btn btn-gray pull-right" ng-click="cancel()">Close</button>
			</p> 
		</div>
	</script>
<!-- START Date - 14 Feb 2017 Reason - added below css reference in order to make lead details editable -->
<link href="css/xeditable.css" rel="stylesheet">
<!-- END Date - 14 Feb 2017 Reason - added below css reference in order to make lead details editable -->

<!-- <link href="css/qascreen.css" rel="stylesheet"> -->
<link href="css/secondaryqascreen.css" rel="stylesheet">
<link rel="stylesheet" href="css/angucomplete-alt.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="css/jquery.dataTables.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="container nopad pos-rel qa-score">
	<div class="clearfix"></div>
	<div class="qaToast">
		<toaster-container
			toaster-options="{'showDuration': 120, 'time-out':3000, 'close-button':true , 'position-class': 'toast-cust-pos-center'}"></toaster-container>
	</div>
	<div class="headerTitle">Quality Assurance</div>
	<!-- <div class="info_msg">Info message</div><div class="success_msg">Successful operation message</div><div class="warning_msg">Warning message</div> -->
	<!-- <div class="error_msg" ng-show = "isReadOnly">Form is not editable as it is already scored</div> -->
	<div class="error_msg"
		ng-show="noNextRecordFound || noPreviousRecordFound">No record
		Found</div>
	<div class="alert-info">
		<div class="left-info" ng-click="goBack()">
			<span class="arrow-left-center"></span>Back to List
		</div>
		<div class="center-info"
			ng-click="prevPage(qaDetail.prospectCallLog.prospectCall.prospectCallId)">
			<span
				ng-class="disabldPrevArrow ? 'arrow-left-disabled' : 'arrow-left'"></span>
		</div>
		<div>
			<span class="preview-left-logo"></span> <span class="right-info">{{qaDetail.campaign.name
				| limitTo:18}} <span class="arro-space">></span> <span
				class="blue-prosp">{{qaDetail.prospectCallLog.prospectCall.prospectCallId}}</span>
				<span class="arro-space">|</span> <span
				ng-class="qaDetail.prospectCallLog.prospectCall.dispositionStatus == 'FAILURE' ? 'stat-color' : 'stat-succ-color'">{{qaDetail.prospectCallLog.prospectCall.dispositionStatus
					| capitalize}}</span> <span class="arro-space">></span> {{subStatus}}
			</span>
		</div>
		<div class="right-end"
			ng-click="nextPage(qaDetail.prospectCallLog.prospectCall.prospectCallId, '')">
			<span
				ng-class="disabldNextArrow ? 'arrow-right-disabled' : 'arrow-right'"></span>
		</div>
	</div>
	<div style="display: flex;">
		<div class="campaign-information-block">
			<div class="title-hr-line">
				<span class="campaign-title-logo"></span> <span
					class="block-title-info">Campaign Information</span>
			</div>
			<div>
				<span class="campaign-information-labels">Client</span> <span class="right-details">{{qaDetail.campaign.organizationId}}</span>
			</div>
			<div>
				<span class="campaign-information-labels">Campaign</span> <span
					class="right-details">{{qaDetail.campaign.name}}</span>
			</div>
			<div>
				<span class="campaign-information-labels">Type</span> <span class="right-details">{{qaDetail.campaign.type}}</span>
			</div>
			<div>
				<span class="campaign-information-labels">Agent</span> <span class="right-details">{{qaDetail.agentName}}</span>
			</div>
			<div>
				<span class="campaign-information-labels">Partner</span> <span class="right-details">{{qaDetail.prospectCallLog.prospectCall.partnerId}}</span>
			</div>
			<div>
				<span class="campaign-information-labels">Script</span> 
				<a ng-show="(confirmSectionScript !== null && confirmSectionScript !== undefined) || (questionSectionScript !== null && questionSectionScript !== undefined) || (consentSectionScript !== null && consentSectionScript !== undefined) || (noteSectionScript !== null && noteSectionScript !== undefined)" class="right-details" style="cursor: pointer; text-decoration: underline; color: blue;" ng-click="showCampaignScriptModal()">Click Here</a>
				<span ng-show="(confirmSectionScript == null || confirmSectionScript == undefined) && (questionSectionScript == null || questionSectionScript == undefined) && (consentSectionScript == null || consentSectionScript == undefined) && (noteSectionScript == null || noteSectionScript == undefined)">NA</span>
			</div>
		</div>
		<div class="call-summary-block">
			<div class="title-hr-line">
				<span class="call-title-logo"></span> <span class="block-title-info">Call
					Summary</span>
			</div>
			<div>
				<span class="campaign-information-labels">Brand</span> <span
					class="right-details">{{qaDetail.campaign.brand}}</span>
			</div>
			<div>
				<span class="campaign-information-labels">Redial</span> <span
					class="right-details">{{qaDetail.prospectCallLog.prospectCall.outboundNumber}}</span>
			</div>
			<div>
				<span class="campaign-information-labels">Date</span> <span
					class="right-details">{{qaDetail.prospectCallLog.prospectCall.callStartTime
					| date:"MM/dd/yyyy hh:mm:ss a"}}</span>
			</div>
			<div>
				<span class="campaign-information-labels">Duration</span> <span
					class="right-details">{{convertSecToMin(qaDetail.prospectCallLog.prospectCall.callDuration)
					| date:'HH:mm:ss' }}</span>
			</div>
			<div>
				<span class="campaign-information-labels">Recording Url</span> 
				<span class="right-details">
					<a href="{{recordingURL}}" target="_blank">
					<span ng-if="recordingURL != null && recordingURL != undefined"><span class="recording-logo"></span></span>
					</a>
					<span ng-if = "recordingURL == null || recordingURL == undefined || recordingURL == ''">Not Available</span>
				</span>
			</div>
			<div>
				<span class="campaign-information-labels">Asset Name</span> <span
					class="right-details">{{ getDeliveredAssetTitle() }}</span>
			</div>
			<div>
				<span class="campaign-information-labels">Agent Notes</span> 
				<span ng-show="qaDetail.prospectCallLog.prospectCall.notes.length == 0">
					<span>NA</span>
				</span>
				<span ng-show="qaDetail.prospectCallLog.prospectCall.notes.length > 0" 
					class="right-details"> <a class="right-details" style="cursor: pointer; text-decoration: underline; color: blue;" ng-click="showAgentNotesModal()">CLICK HERE</a></span>
			</div>
			<div ng-show="qaDetail.prospectCallLog.prospectCall.dispositionStatus == 'CALLBACK'">
				<span class="campaign-information-labels">Callback history</span> <span
					class="right-details"> <a class="right-details" style="cursor: pointer; text-decoration: underline; color: blue;" ng-click="showCallbackHistoryModal()">CLICK HERE</a></span>
			</div>
		</div>
	</div>

	<!-- START CAMPAIGN REQUIREMENTS
		 DATE : 16/05/2017
		 REASON : Added to show campaign requirements -->
	<div>
		<div class="campaign-requirements-title-block">
			<div class="title-hr-line">
				<span class="campaignrequirements-title-logo"></span> 
				<span class="block-title-info">Campaign Requirements</span>
			</div>
		</div>
		<div class="main-upper-block">
			<div class="campaign-requirements-block">
				<div class="campaign-requirements-inner-block">
					<span ng-show="(qaDetail.campaign.campaignRequirements == undefined) || (qaDetail.campaign.campaignRequirements == '')" class="campaignrequirements-not-found">Campaign requirements not available.</span>
					<span class="campaign-requirements-paragraph">{{qaDetail.campaign.campaignRequirements}}</span>
				</div>
			</div>
		</div>
	</div>
	<!-- END CAMPAIGN REQUIREMENTS -->

	<div>
		<form editable-form name="editableForm" onaftersave="saveLeadDetails()">
			<div class="lead-block">
				<div class="title-hr-line" style="height: 35px">
					<span class="lead-title-logo"></span> 
					<span class="block-title-info">Lead Details</span>
						<div class="outerbtns">
							<!-- button to show form -->
							<button type="button" class="btngray" ng-click="showChangeLeadStatusModal()">Change Status</button>
							<button type="button" class="btn-edit-lead" ng-click="editableForm.$show()" ng-show="!editableForm.$visible && !isReadOnly">EDIT</button>
							<button type="button" class="btn-editreset-lead" ng-show="isReadOnly">EDIT</button>
							<!-- buttons to submit / cancel form -->
							<span ng-show="editableForm.$visible">
								<button type="submit" class="btn-save-lead" ng-disabled="editableForm.$waiting">SAVE</button>
								<button type="button" class="btn-cancel-lead" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">CANCEL</button>
							</span>
						</div>
				</div>
			</div>
			
			<div class="main-upper-block">
					<div class="left-campaign-block">
						<!-- editable (text with validation) -->
						<div>
							<span class="left-labels">First Name: </span> 
							<span class="right-details" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.firstName" e-required >
								{{qaDetail.prospectCallLog.prospectCall.prospect.firstName || 'empty'}}
							</span>
						</div>
						<div> 
							<span class="left-labels">Last Name: </span> 
							<span class="right-details" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.lastName" e-required >
								{{qaDetail.prospectCallLog.prospectCall.prospect.lastName || 'empty'}}
							</span>
						</div> 
						<div>
							<span class="left-labels">Address:</span>
							<div class="right-details">
								<span class="right-details" ng-if="getAddress1Flag()" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.addressLine1" e-required >
									{{qaDetail.prospectCallLog.prospectCall.prospect.addressLine1 || 'empty'}}
								</span>
								<span class="right-details" ng-if="getAddress2Flag()" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.addressLine2" >
									{{qaDetail.prospectCallLog.prospectCall.prospect.addressLine2 || 'empty'}}
								</span>
							</div>
						</div>
						<div>
							<span class="left-labels">City: </span> 
							<span class="right-details" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.city" e-required >
								{{qaDetail.prospectCallLog.prospectCall.prospect.city || 'empty'}}
							</span>
						</div>
						<div>
							<span class="left-labels">State: </span> <span class="right-details" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.stateCode" e-required >
								{{qaDetail.prospectCallLog.prospectCall.prospect.stateCode || 'empty'}}
							</span>
						</div>
						<div>
							<span class="left-labels">Country: </span> 
							<span class="right-details" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.country" e-required >
								{{qaDetail.prospectCallLog.prospectCall.prospect.country || 'empty'}}
							</span>
						</div>
						<div> 
							<span class="left-labels">Zip code: </span> 
							<span class="right-details" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.zipCode" e-required >
								{{qaDetail.prospectCallLog.prospectCall.prospect.zipCode || 'empty'}}
							</span>
						</div>
						<div>
							<span class="left-labels">Company Validation Url: </span>
								<span class="right-details">
									<span editable-text="qaDetail.prospectCallLog.prospectCall.prospect.zoomCompanyUrl" >
										{{qaDetail.prospectCallLog.prospectCall.prospect.zoomCompanyUrl || 'empty'}}
									</span>
									<a href="//{{qaDetail.prospectCallLog.prospectCall.prospect.zoomCompanyUrl}}" target="_blank">
										<span ng-show="qaDetail.prospectCallLog.prospectCall.prospect.zoomCompanyUrl != null && qaDetail.prospectCallLog.prospectCall.prospect.zoomCompanyUrl != undefined">
											<span title="Open link"><i class="fa fa-arrow-circle-right" class="fa-lg"></i></span>
										</span>
									</a>
									<span ng-show="qaDetail.prospectCallLog.prospectCall.prospect.zoomCompanyUrl == null || qaDetail.prospectCallLog.prospectCall.prospect.zoomCompanyUrl == undefined || qaDetail.prospectCallLog.prospectCall.prospect.zoomCompanyUrl == ''">Not
										Available</span>
								</span>
						</div>
					</div>
		
					<div class="middle-call-block">
						<!-- <div>
							<span class="left-labels">Lead Date: </span> 
							<span class="right-details" editable-text="qaDetail.campaign.brand" > 
								{{qaDetail.campaign.brand || 'empty'}}
							</span>
						</div> -->
						<!-- <div> 
							<span class="left-labels">Asset Title: </span> 
							<span class="right-details" editable-text="getDeliveredAssetTitle()" > 
							<span class="right-details">
								{{getDeliveredAssetTitle() || 'empty'}}
							</span>
						</div> -->
						<div>
							<span class="left-labels">Phone: </span> 
							<span class="right-details" editable-text="secEditablePhoneText" e-required >
								{{secEditablePhoneText || 'empty'}}
							</span>
						</div>
						<div>
							<span class="left-labels">Email: </span> <span class="right-details" editable-text="secEditableEmailText" e-required >
								{{secEditableEmailText || 'empty'}}
							</span>
						</div>
						<div>
							<span class="left-labels">Email Status</span> 
							<span class="right-details">
								<span>{{emailStatus}}</span>
							</span>
						</div>
						<div>
							<span class="left-labels">Company: </span> 
							<span class="right-details" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.company" >
								{{qaDetail.prospectCallLog.prospectCall.prospect.company || 'empty'}}
							</span>
						</div>
						<div>
							<span class="left-labels"> Extension: </span> 
							<span class="right-details" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.extension" >
								{{ qaDetail.prospectCallLog.prospectCall.prospect.extension || 'empty' }}
							</span>
						</div>
						<div>
							<span class="left-labels">Job Title: </span> 
							<span class="right-details" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.title" >
								{{qaDetail.prospectCallLog.prospectCall.prospect.title || 'empty'}}
							</span>
						</div>
						<div>
							<span class="left-labels">Department: </span> 
							<span class="right-details" editable-select="qaDetail.prospectCallLog.prospectCall.prospect.department" e-ng-options="s.label as s.label for s in leadDetailsMapping.departments" e-required>
								{{ showSelectedDepartment() }}
							</span>
						</div>
						<div>
							<span class="left-labels">Mngmnt Level: </span> 
							<span class="right-details" editable-select="qaDetail.prospectCallLog.prospectCall.prospect.managementLevel" e-ng-options="s.label as s.label for s in leadDetailsMapping.managementLevel" e-required>
								{{ showSelectedManagementLevel() }}
							</span>
						</div>
						<div>
							<span class="left-labels">Title Validation Url: </span>
								<span class="right-details">
									<span editable-text="qaDetail.prospectCallLog.prospectCall.prospect.zoomPersonUrl" >
										{{qaDetail.prospectCallLog.prospectCall.prospect.zoomPersonUrl || 'empty'}}
									</span>
									<a href="//{{qaDetail.prospectCallLog.prospectCall.prospect.zoomPersonUrl}}" target="_blank">
										<span ng-show="qaDetail.prospectCallLog.prospectCall.prospect.zoomPersonUrl != null && qaDetail.prospectCallLog.prospectCall.prospect.zoomPersonUrl != undefined">
											<span title="Open link"><i class="fa fa-arrow-circle-right" class="fa-lg"></i></span>
										</span>
									</a>
									<span ng-show="qaDetail.prospectCallLog.prospectCall.prospect.zoomPersonUrl == null || qaDetail.prospectCallLog.prospectCall.prospect.zoomPersonUrl == undefined || qaDetail.prospectCallLog.prospectCall.prospect.zoomPersonUrl == ''">Not
										Available</span>
							</span>
						</div>
						</div>
		
					<div class="right-agent-block">
						<div>
							<span class="left-labels">Industry: </span> 
							<span class="right-details" editable-select="qaDetail.prospectCallLog.prospectCall.prospect.industry" e-ng-options="s.label as s.label for s in leadDetailsMapping.industries" e-required>
								{{ showSelectedIndustry() }}
							</span>
						</div>
						<div>
							<span class="left-labels">All Industry: </span>
							<div class="right-details">
								<span ng-repeat="industry in qaDetail.prospectCallLog.prospectCall.prospect.industryList track by $index">{{industry || 'empty'}}<span ng-show="!$last">, </span>
								</span>
							</div>
						</div>
						<div>
							<span class="left-labels">Employees: </span>
							<span class="right-details" editable-select="employeeCount" e-ng-options="s.label as s.label for s in leadDetailsMapping.employeeRange" e-required>
								{{ showSelectedEmployeeRange() }}
							</span>
						</div>
						<div>
							<span class="left-labels">Revenue: </span>
							<span class="right-details" editable-select="revenue" e-ng-options="s.label as s.label for s in leadDetailsMapping.revenueRange" e-required>
								{{ showSelectedRevenueRange() }}
							</span>
						</div>
						<div>
							<span class="left-labels">Domain: </span>
							<span class="right-details" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.customAttributes.domain" >
								{{qaDetail.prospectCallLog.prospectCall.prospect.customAttributes.domain || 'empty'}}
							</span>
						</div>
					</div>
					<!-- <div class="colapsediv-whiteboxwithcontent">	                        	     -->
					<div ng-show="qaDetail.campaign.enableCustomFields" style="padding:2px;background-color: #fff;">
						<label class="customfieldLable">Additional Details</label>
					</div>
					<div ng-show="qaDetail.campaign.enableCustomFields" class="customfieldDiv">
						<div class="row">	                            		                          	
							<div class="col-md-4"  ng-repeat="item in qaDetail.prospectCallLog.prospectCall.prospect.customFields">
								<span class="left-labels" style="float: left;text-align: right;">{{item.question}}</span> 
								<span class="right-details" style="float: right;text-align: left;width: 49%;" editable-text="item.answer"  e-required>{{item.answer}}</span>
								<!-- <label class="left-labels">{{item.question}}</label> 
								<span class="label-value" editable-text="item.answer"  e-required>{{item.answer}}</span> -->
							</div>	 	             
							<!-- <span class="right-details" editable-text="qaDetail.prospectCallLog.prospectCall.prospect.country" e-required>
								{{item.answer}}
							</span>           	    	 -->
							<!-- <span class="left-labels">ABC</span> 
								<span class="right-details" >answer</span> -->
						</div>                            	    
					</div>
			</div>
		</form>
	</div>
			
	<div  ng-class="qaDetail.prospectCallLog.prospectCall.dispositionStatus == 'FAILURE' && loggedInUserOrganization.organizationLevel == 'CLIENT' ? 'disableddiv' : ''"> 
	<!-- START 
		 Date : 10/05/2017 
		 REASON : Below tag is added for QA validation -->
	 <div class="questionnaire-title-block" ng-if="!(certifyQuestionnaire.length == 0)">
		<div class="title-hr-line">
			<span class="questionnaire-title-logo"></span> 
			<span class="block-title-info">Questionnaire Validation</span>
		</div>
	</div>
	<div ng-show="clientMappings.length == 0">
	<div class="main-upper-block"
		ng-if="!(certifyQuestionnaire.length == 0)">
		<div class="questionnaire-block">
			<div id="carousel-example-generic" class="carousel ">
				<!--Wrapper for slides --> 
				<div class="carousel-inner" role="listbox">
					<div ng-repeat="(name, question) in certifyQuestionnaire"
						ng-class="{ 'active': isCurrentQuestion == $index+1}" class="item">
						<div class="innercontent">
							<div class="row">
								<div class="col-md-2">
									<label class="certify-block-label">Question</label>
								</div>
								<a href="#" ng-if="isAgentValidationRequired[$index] == true"
									ng-mouseover="showPopover=true;"
									ng-mouseleave="showPopover=false;"> <span
									class="quest-logo"></span>
									<div class="popover you" ng-show="showPopover">
										<span>Validated by agent</span>
									</div>
								</a>
								<div class="col-md-9">
									<label style="width: auto; margin-right: 0px;"
										class="certify-block-label">{{question.questionSkin}}</label>
								</div>
							</div>

							<div class="row">
								<div class="col-md-2">
									<label class="certify-block-label">Answer</label>
								</div>
								<div class="col-md-9">
									<label style="width: auto; margin-right: 0px;"
										class="certify-block-label"
										ng-if="question.answer=='NO' || question.answer=='No' || question.answer=='nO' || question.answer=='no' || question.answer">{{question.answer}}</label>
									<label style="width: auto; margin-right: 0px;"
										class="certify-block-label" ng-if="!question.answer">Answer
										not given</label>
								</div>
							</div>

							<div class="row">
								<div class="col-md-2">
									<label class="certify-block-label"
										style="width: auto; margin-right: 0px;">Valid answers</label>
								</div>
								<div class="col-md-9">
									<span style="width: auto; margin-right: 0px;"
										class="certify-block-label">"{{question.operator}}" (</span>
									<div style="display: inline; width: auto"
										ng-repeat="(validAnswersKey, validAnswersValue) in question.validAnswers">
										<label style="width: auto; margin-right: 0px;"
											class="certify-block-label">{{validAnswersValue}}</label> <span
											ng-show="!$last">,</span> <span class="certify-block-label"
											ng-show="$last">)</span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-2">
									<label class="certify-block-label"
										style="width: auto; margin-right: 0px;">Is answer
										valid</label>
								</div>
								<div class="col-md-9">
									<input id="yesvalidinput{{$index}}" type="radio"
										ng-disabled="isReadOnly"
										ng-model="qaDetail.prospectCallLog.qaFeedback.qaAnswers[$index].isAnswerValid" value="YES">
									<label id="yesvalidlabel{{$index}}"
										class="certify-validate-label" for="yesvalidinput{{$index}}">YES</label>
									<input id="novalidinput{{$index}}" type="radio"
										ng-disabled="isReadOnly"
										ng-model="qaDetail.prospectCallLog.qaFeedback.qaAnswers[$index].isAnswerValid" value="NO">
									<label id="novalidlabel{{$index}}"
										class="certify-validate-label" for="novalidinput{{$index}}">NO</label>
								</div>
							</div>

							<div class="row">
								<div class="col-md-2">
									<label class="certify-block-label">Certify</label>
								</div>
								<div class="col-md-9">
									<input class="certify-input" type="text" autocomplete="off" ng-trim="true" name="certify"
										ng-disabled="isReadOnly"
										ng-model="qaDetail.prospectCallLog.qaFeedback.qaAnswers[$index].answerCertification" required>
								</div>
							</div>
						</div>
					</div>

					<p ng-show="totalQuestion > 0" class="total-ques">
						<span>{{isCurrentQuestion}}</span> <span>of</span> <span>{{totalQuestion}}</span>
					</p>
				</div>
				<!--Controls  --> 
				<a ng-show="totalQuestion > 0" class="left carousel-control" href=""
					ng-click="leftSlide()"
					ng-class="{'disable' : isCurrentQuestion == 1}"
					ng-disable="isCurrentQuestion == 1"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a ng-show="totalQuestion > 0" class="right carousel-control"
					href="" ng-click="rightSlide()"
					ng-class="{'disable' : isCurrentQuestion == totalQuestion}"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div> 
</div>
<div ng-show="clientMappings.length > 0">
	<div class="main-upper-block"
		ng-show="!(certifyQuestionnaire.length == 0)">
		<div class="questionnaire-block">
			<div id="carousel-example-generic" class="carousel ">
				<!--Wrapper for slides-->
				<div class="carousel-inner" role="listbox">
					<div ng-repeat="(name, question) in certifyQuestionnaire"
						ng-class="{ 'active': isCurrentQuestion == $index+1}" class="item">
						<div class="innercontent">
							<div class="row">
									<div class="col-md-2">
										<label class="certify-block-label">Column Header</label>
									</div>
									<div class="col-md-9">
										<label style="width: auto; margin-right: 0px;"
											class="certify-block-label">{{question.colHeader}}</label>
									</div>
								</div>
							<div class="row">
								<div class="col-md-2">
									<label class="certify-block-label">Certify</label>&nbsp;&nbsp;<span class="mandatoryFields">*</span>
								</div>
								<div class="col-md-9">
									<input class="certify-input" type="text" autocomplete="off" ng-trim="true" name="certify"
										ng-disabled="isReadOnly"
										ng-model="question.answerCertification" required>
								</div>
							</div>

							<div class="row">
								<div class="col-md-2">
									<label class="certify-block-label"
									style="width: auto; margin-right: 0px;">Client value</label><span class="mandatoryFields">*</span>
								</div>
								<div class="col-md-9" ng-show="question.clientValues.length > 1">
									<select style="width: 60%;" ng-disabled="isReadOnly" ng-model="question.clientValue" ng-options="value for value in question.clientValues">
									</select>
								</div>
								<div class="col-md-9" ng-show="question.clientValues.length == 0">
									NA
								</div>
						</div>
						</div>
					</div>
					<p ng-show="totalQuestion > 0" class="total-ques">
						<span>{{isCurrentQuestion}}</span> <span>of</span> <span>{{totalQuestion}}</span>
					</p>
				</div>
				<a ng-show="totalQuestion > 0" class="left carousel-control" href=""
					ng-click="leftSlide()"
					ng-class="{'disable' : isCurrentQuestion == 1}"
					ng-disable="isCurrentQuestion == 1"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a ng-show="totalQuestion > 0" class="right carousel-control"
					href="" ng-click="rightSlide()"
					ng-class="{'disable' : isCurrentQuestion == totalQuestion}"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</div>
	<!-- END -->
	
	<div class="heading audio-title"
		ng-show="isReadOnly && qaDetail.prospectCallLog.prospectCall.dispositionStatus != 'CALLBACK' && qaDetail.prospectCallLog.prospectCall.dispositionStatus != 'DIALERCODE'">
		This call is scored and Submitted</div>
	<div class="audio-player-block"
		ng-show="recordingURL != null && recordingURL != undefined && recordingURL != ''">
		<div audioplayer="{{recordingURL}}"
			ng-if="recordingURL != null && recordingURL != undefined"></div>
		<!-- <span class="no-found-error" ng-if = "recordingURL == null || recordingURL == undefined || recordingURL == ''"> No recording Found</span> -->
	</div>

	<div>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="panel-group" id="accordion" role="tablist"
					aria-multiselectable="true">
					<div ng-repeat="key in notSorted(qaFeedbackForm)"
						ng-init="val = qaFeedbackForm[key]">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse"
										data-parent="#accordion" data-target="#{{$index}}" href="">
										<!--  href="{{$index}}" aria-expanded="true" aria-controls="{{$index}}" > -->
										{{mapNumberToLetter[$index]}}. {{key}}
									</a>
								</h4>
							</div>
							<div id="{{$index}}" class="collapse in" role="tabpanel"
								aria-labelledby="headingOne">
								<div class="panel-body  datatable">
									<table class="table table-striped  custome-radio">

										<tr ng-show="key != 'Lead Validation'">
											<th class="id-num font-bold">No.</th>
											<th class="particulars font-bold">Criteria</th>
											<th class="per-id font-bold">Yes</th>
											<th class="per-id font-bold">No</th>
											<th class="per-id font-bold">Notes</th>
											<!-- <th class="scor-id font-bold">Score</th> -->
										</tr>

										<tr ng-show="key == 'Lead Validation'">
											<th class="id-num font-bold">No.</th>
											<th class="quest-id font-bold">Criteria</th>
											<th class="per-id font-bold">Yes</th>
											<th class="per-id font-bold">No</th>
											<!-- <th class="per-id font-bold">Reject Reason</th> -->
											<th class="per-id font-bold">Notes</th>
										</tr>

										<tr ng-repeat-start="item in  val | filter:tableFilter"
											ng-mouseover="getDescription(key, $index);"
											ng-class="{'odd':($index%2) == 0,'even':($index%2) != 0}">
											<td class="id-num">{{$index+1}}</td>
											<td class="particulars">{{item.questionSkin}} <input
												type="hidden" ng-value="item.questionSkin"
												ng-model="item.attribute"> <input type="hidden"
												ng-value="item.category" ng-model="item.category">
											</td>

											<td class="scor-id" ng-show="key != 'Customer Satisfaction'"
												ng-class="item.checked == 'YES' ? 'radio-green-bg-selected' : ''">
												<span class="ans-set radio green"> <input
													id="ye{{$parent.$index}}{{$index}}" type="radio"
													ng-disabled="isReadOnly"
													ng-click="addScore($parent.$index, key,$index, 1, 'YES', item.questionSkin, item, $event);showRejectReasons('YES', item.attribute)"
													ng-model="item.checked" value="YES" /> <label id="yes"
													class="align-check-label"
													for="ye{{$parent.$index}}{{$index}}"></label>
											</span>
											</td>

											<td class="scor-id" ng-show="key != 'Customer Satisfaction'"
												ng-class="item.checked == 'NO' ? 'radio-red-bg-selected' : ''">
												<span class="ans-set radio red"> <input
													id="no{{$parent.$index}}{{$index}}" type="radio"
													id="data-row" ng-disabled="isReadOnly"
													ng-click="addScore($parent.$index, key,$index,0, 'NO', item.questionSkin, item, $event);showRejectReasons('NO', item.attribute)"
													ng-model="item.checked" value="NO" /> <label
													class="align-check-label"
													for="no{{$parent.$index}}{{$index}}"></label>
											</span>
											</td>

											<!-- <td ng-show="key == 'Lead Validation'" style="text-align: -webkit-auto;" class="scor-id">
												<select ng-disabled="!(item.checked == 'NO') || isReadOnly" ng-model="item.rejectionReason" 
													ng-options="qaRejectReasons.value as qaRejectReasons.key for qaRejectReasons in qaRejectReasons">		
												</select>
											</td> -->

											<td style="text-align: -webkit-auto;"
												class="scor-id showHidePop_{{$parent.$index}}_{{$index}}"
												ng-show="key != 'Customer Satisfaction'"><span
												class="comment-box" id="comment-box1"> <img
													class="img-responsive" src="images/logo8.png"
													title="Comment Box" ng-show="!item.attributeComment"
													ng-click="toggleComment(key,item.questionSkin, $parent.$index, $index, undefined)" />
													<img class="img-responsive" src="images/logo7.png"
													title="Comment Box" ng-show="item.attributeComment"
													ng-click="toggleComment(key,item.questionSkin, $parent.$index, $index, undefined)" /></td>

										</tr>
										
										<!-- START
											 DATE : 4/4/2017
											 REASON : The Code shows and hides dropdownlist and aligns the dropdownlist to right of table row. -->
										<tr ng-show="isRejectReasonsVisible && key == 'Lead Validation'">
											<td colspan="2" style="text-align: right">
												REJECT REASONS
											</td>
											<td colspan="3">
												<div>
													<select style="width: 100%;"  ng-model="item.rejectionReason" ng-options="qaRejectReason.value as qaRejectReason.value for qaRejectReason in qaRejectReasons">
													</select>
												</div>
											</td>
										</tr>
										<!-- END -->

										<!-- <tr class="add-comment-row" ng-show = "showComment"><td colspan="4"><textarea class="form-control"></textarea></td></tr> -->
										<tr id="comment-row" ng-repeat-end
											ng-show="main.activeRow== item.questionSkin">
											<td colspan="4"><span class="arrow-up-side"></span> <textarea
													class="comment-area-box" id="" rows="2" autofocus
													placeholder="Enter comment..."
													ng-model="item.attributeComment" ng-disabled="isReadOnly"></textarea>
												<button class="btncancel"
													ng-click="toggleComment(key,item.questionSkin, $parent.$index, $index, item.attributeComment, 'Cancel')">Cancel</button>
														<button class="btnok" ng-show="!isReadOnly"
													ng-click="toggleComment(key,item.questionSkin, $parent.$index, $index, item.attributeComment, 'Ok')">OK</button>
												<button class="btncancel" ng-show="isReadOnly"
													ng-click="toggleComment(key,item.questionSkin, $parent.$index, $index, item.attributeComment, 'Cancel')">OK</button>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="padd-cls"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div style="margin: -1px;">
			<table class="content-bar">
				<tr>
					<td class="last-td" colspan="2">
						<button ng-show="isScorePresent && !isReadOnly" ng-disabled="hideSaveSubmitButton" 
							class="btnreset" ng-click="saveFeedback('SAVE');">SAVE</button>
						<button ng-show="!isReadOnly && isleadValidationChecked" ng-disabled="hideSaveSubmitButton"
							class="btnreset" ng-click="saveFeedback('SUBMIT');">SUBMIT</button>
						<button ng-show="!isReadOnly && isleadValidationChecked" ng-disabled="hideSaveSubmitButton"
							class="btnreset" ng-click="saveFeedback('RETURN');">RETURN</button>
						<button ng-show="!isScorePresent || isReadOnly" class="btncancel">SAVE</button>
						<button
							ng-show="isReadOnly || isleadValidationChecked==false"
							class="btncancel">SUBMIT</button>
						<button
							ng-show="isReadOnly || isleadValidationChecked==false"
							class="btncancel">RETURN</button>
					</td>
				</tr>

			</table>

		</div>
	</div>
	</div>
</div>
<div class="processing" id="ad_loading" ng-show="loading">
	<div class="processing_message">
		<span>Processing</span>
		<p align="center">
			<img alt="processing" src="images/loader_circle.gif">
		</p>
	</div>
</div>
<script>
	var right_blk_pos;
	$(window).scroll(
			function() {
				/*  if (!right_blk_pos
						|| !($('.right-block').parent()
								.hasClass('sticky-right-block'))) {
					right_blk_pos = $('.right-block').position();
				}
				if ($(this).scrollTop() > right_blk_pos.top) {
					$('.right-block').parent().addClass("sticky-right-block");
				} else {
					$('.right-block').parent()
							.removeClass("sticky-right-block");
				} */  
				/* if ($(this).scrollTop() > 100) {
					$('.alert-info').addClass("sticky-blue-bar");

					$('.audio-player-block').addClass(
							"sticky-audio-player-block");
				} else {
					$('.alert-info').removeClass("sticky-blue-bar");

					$('.audio-player-block').removeClass(
							"sticky-audio-player-block");

				} */
			});
	$(".bs-docs-footer.footer").hide();
</script>
