<div class="middle-call-block">
	<div class="title-hr-line">
		<span class="call-title-logo"></span> <span class="block-title-info">Call
			Summary</span>
	</div>
	<div>
		<span class="left-labels-center">Brand</span> <span
			class="right-details-center">{{qaDetail.campaign.brand}}{{qaDetail.campaign.brand}}{{qaDetail.campaign.brand}}{{qaDetail.campaign.brand}}{{qaDetail.campaign.brand}}{{qaDetail.campaign.brand}}</span>
	</div>
	<div>
		<span class="left-labels-center">Redial</span> <span
			class="right-details-center">{{qaDetail.prospectCallLog.prospectCall.outboundNumber}}</span>
	</div>
	<div>
		<span class="left-labels-center">Date</span> <span
			class="right-details-center">{{qaDetail.prospectCallLog.prospectCall.callStartTime
			| date:"MM/dd/yyyy hh:mm:ss a"}}</span>
	</div>
	<div>
		<span class="left-labels-center">Duration</span> <span
			class="right-details-center">{{convertSecToMin(qaDetail.prospectCallLog.prospectCall.callDuration)
			| date:'HH:mm:ss' }}</span>
	</div>
	<div>
		<span class="left-labels-center">Recording Url</span> <span
			class="right-details-center"><a href=""><span>WAV
					file</span></span></a></span>
	</div>
</div>