.tab-list{ display:inline-block;  border-radius: 4px;  list-style: outside none none;
    padding: 0;
    text-align: center; overflow: hidden; position: relative; z-index: 666;
    }
    .tab-list li{ display: inline-block; padding: 0;}
.tab-list li a { background: #f7f7f7;box-shadow:0 1px 0 rgba(0, 0, 0, 0.075);
   border:1px #ddd solid;
    color: #333;
    display: inline-block;
    padding: 3px 10px;
    text-decoration: none;   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.tab-list li.active a{  background:#0bbaf3;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset; color: #fff; border-color: #54b6d1;
    border-style: solid;
    border-width: 1px; outline: none;}



.tab-list {
    border: 1px solid #ddd;
    border-radius: 14px;
    display: inline-block;
    list-style: outside none none;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 666;
}
.tab-list li a {
    background: #f7f7f7 none repeat scroll 0 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
    color: #333;
    display: inline-block;
    padding: 3px 10px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}
.tab-list li.active a {
    background: #0bbaf3 none repeat scroll 0 0;
    border-color: #54b6d1;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    outline: medium none;
}
.tab-list li {
    display: table-cell;
    padding: 0;
}
.datalist-custom .tab-list{
    margin: 0 0 10px 111px;
}
.select-page{ text-align: center;}