body{background:#F5F9FC !important;}
.agent-container{background:#F5F9FC !important;}
.agent-header{background:#F5F9FC !important;}
.header{background:#F5F9FC !important;}
.page-wrap {
    background: #f8f8f8 none repeat scroll 0 0;
    font-family: "Open Sans",sans-serif;
}
.main-header {
}
.pos-rel {
    position: relative;
}
.nopad {
    padding: 0;
}
p {
    line-height: 1.42857;
}
.white-bg {
    background: #fff none repeat scroll 0 0;
    border-radius: 0px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%; border-bottom: 1px solid #82c236;
}
label {
    color: #81BC21;
    font-size: 11px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    width: 27%;
}
.main-header .menu {
    margin-bottom: 14px;
    min-height: 38px;
}
.main-header .navbar-default {
    background-color: #7f7f7f;
    border: medium none;
    border-radius: 0;
}
.main-header .menu li a {
    color: #fff;
    font-weight: 500;
    padding: 9.5px 10px;
    text-transform: uppercase;
}
.navbar-toggle {
    margin-top: 15px;
}
.main-header .menu li a:last-child {
    padding-right: 0;
}
.left-block {
    float: left;
    width: 73%;
}
.heading {
    color: #777;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin: 10px 0 5px;
    text-indent: 0;
    text-transform: uppercase;
    text-shadow: 0.3px 0.3px 0.3px #777;
}
.label-value {
    color: #777;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding-left: 5px;
    vertical-align: text-top;
    width: 70%;
}
.timer {
    color: #777;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.9;
    padding: 0px 0 12px;
}
.asset-thumb {
    display: inline-block;
    height: 40px;
    margin-left: 0;
    margin-top: 7px;text-align: center;
    width: 40px; background:#07C8CF; border-radius:50%;
}
.right-sidebar {
    float: right;
    position: relative;
    width: 24%;
}
.text {
    color: #777;
    display: inline-block;
    font-size: 12px;
    margin: 7px 0;
    padding: 0 2px;
    white-space: normal;
}
.callstatus-list {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 8px;
    padding: 0;

}
.callbackstatus-list {
    display: block;
   

}
.right-sidebar .callstatus-list li {
    margin: 0;
    padding: 0 2px;
    text-align: left;
}
.callstatus-list li.checkbox input[type="checkbox"] {
    margin-left: 0;
}
.callstatus-list li.checkbox label {
    color: #666;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    text-align: left;
    vertical-align: text-top;
    width: 100%;
}
.callstatus-list > li:first-child {
    padding-bottom: 0;
}
.callstatus-list li h3.heading {
    margin: 14px 0 0; font-size: 13px; color: #555;
}
.gray-btn {
    background: #7f7f7f none repeat scroll 0 0;
    border: medium none #666;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    margin: 5px 2px 8px;
    padding: 4px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.gray-btn:hover {
    background: #7f7f7f none repeat scroll 0 0;
    color: #fff;
}
.btn-small {
    border-radius: 8px;
    color: #666;
    display: inline-block;
    font-size: 14px;
    margin: 0px 2px 5px;
    padding: 3px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 35%;
}
.btn-large {
    border-radius: 8px;
    color: #666;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px 10px;
    padding: 3px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
}
.btn-main {
    background: #07C8CF none repeat scroll 0 0;
    border: 1px solid #07C8CF;
    border-radius: 5px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0px 25px;
    padding: 2px 20px;
    text-shadow: none;
}
.alert-dismissable .close, .alert-dismissible .close {
    color: #fff;
    font-weight: 300;
    opacity: 1;
    position: relative;
    right: -3px;
    text-shadow: none;
    top: -10px;
}
#tabpanel {
	background:#fff;
    border-bottom: 1px solid #82c236;
    display: block;
    margin-bottom: 15px;
     border-top:1px #ddd solid;
}

#tabpanel ul.nav-tabs {
    border: medium none;
    display: inline-block;
    margin-left: 10px;
    vertical-align: text-top; padding-left:15px;
    width: 23%; border-right:1px #e4e8eb solid;
}
#tabpanel ul.nav-tabs li {
    margin: 0px 0;cursor:pointer;
    width: 100%; border-bottom:1px solid #e4e8eb; padding:15px 5px; 
}
#tabpanel ul.nav-tabs li:last-child{ border:0;}
#tabpanel ul.nav-tabs li a {
    background: transparent;
    border: medium none;
    border-radius: 0;
    color: #777;
    font-weight:600;
    display: inline-block;
    font-size: 15px;
    margin-right: 0;
    padding: 6px; vertical-align:middle; cursor:pointer;
    
}
#tabpanel ul.nav-tabs li:hover a, #tabpanel ul.nav-tabs li:focus a, #tabpanel ul.nav-tabs li.active a {
    background: transparent none repeat scroll 0 0 !important;
    /*border: medium none;*/
    outline: medium none; color:#0BBAF3;
}
#tabpanel ul.nav-tabs li:hover .tab-icon, #tabpanel ul.nav-tabs li:focus .tab-icon, #tabpanel ul.nav-tabs li.active .tab-icon{
	background:#0BBAF3; color:#fff;
}
#tabpanel .tab-content {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    vertical-align: top;
    width:74%;
}
.tab-content > .tab-pane {
    /*border: 2px solid #ddd;*/
    min-height: 360px;
    padding: 7px 7px 5px;
    position: relative;
}
.tab-content > .tab-pane.active {
    border: 2px solid #55b6d2;}
.arrow-right {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #dddddd;
    border-top: 20px solid transparent;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}
.blueborder {
    background: #54b6d1 none repeat scroll 0 0;
    height: 2px;
    margin: 0 auto;
    opacity: 0.18;
    width: 75%;
}
.no-radius {
    border-radius: 0;
}
#tabpanel .nav-tabs.tab-status-list {
        /*height: 35px;*/
   
    list-style: outside none none;
    margin: 0 0 5px;
    /*overflow: hidden;*/
    padding: 0 0 5px;
   height:50px;
    text-align: left;
    
    width: 100%;  border-right:0; border-bottom:1px #ddd solid;
}
#confirm #confirmTab:hover {
    height: auto;
    overflow: visible;
}
#tabpanel .nav-tabs.tab-status-list li {
    border-bottom:0; background:#fff;
    display: inline-block;
    float: none;
    margin:  0;
    padding:  0;
    text-align: center;
    text-transform: uppercase;
    width: 16.5%;
}
#tabpanel .nav-tabs.tab-status-list li a {
    background: transparent none repeat scroll 0 0; border-right:1px dotted #777;
    display: inline-block;
    font-size: 9.5px;
    padding: 5px 0 10px; line-height:1.2; height:40px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: pre-line;
    width: 100%; color:#777 !important; 
}
#tabpanel .nav-tabs.tab-status-list li:last-child {
    border: medium none;
}
#tabpanel .nav-tabs.tab-status-list li:hover, #tabpanel .nav-tabs.tab-status-list li:focus {
    background: transparent none repeat scroll 0 0 !important; border-bottom:2px #8FC72E solid;
}
/* #tabpanel .nav-tabs.tab-status-list li:hover, #tabpanel .nav-tabs.tab-status-list li:focus, #tabpanel .nav-tabs.tab-status-list li.active {
    background: transparent none repeat scroll 0 0 !important; border-bottom:2px #8FC72E solid;
} */
#tabpanel .nav-tabs.tab-status-list li:nth-child(6) {
    border-right: medium none;
}
#tabpanel .nav-tabs.tab-status-list li:nth-child(6) a {
    border-right: medium none;
}
#tabpanel .nav-tabs.tab-status-list li a:hover, #tabpanel .nav-tabs.tab-status-list li a:focus {
    background: transparent none repeat scroll 0 0;
}
.intro-block {
    background: #EEF3F7 none repeat scroll 0 0;
    color: #444;
    font-size: 13px;
    font-weight: 500;
    /* height: 90px; */
    line-height: 1.3;
    margin: 10px 30px 15px;
    padding: 20px 10px;
}
#tabpanel .tab-pane .tab-content {
    width: 100%;
}
.dialer-screen {
    background: #EEF3F7 none repeat scroll 0 0;
    margin-left: -10px;
    position: absolute;
    top: 30px;
    width: 222px;
    z-index: 666;border-bottom:1px solid #ff7328;
}
.number-display input.form-control {
    border-radius: 5px;
    height: 28px;
    margin: 5px auto;
    text-align: center;
    width: 80%; padding:5px;
}
.number-pad {
    background: #eef3f7 none repeat scroll 0 0;
    padding: 10px; width:100%; text-align:center;
}
.number-pad button {
    background: #5fe1ec;
    border: 1px solid #5fe1ec;
    display: inline-block;
    margin: 4px 6px; float:left;
    padding: 6px 3px;
    position: relative;
    text-align: center; font-size:14px; line-height:.8; height:42px;
    width: 26%; border-radius:50%; color:#fff; font-weight:600;
}

.num-cont {
    margin: 0 auto;
    width: 85%; overflow:hidden; padding-left:1px;
}
.btn.btn-default.red-btn.btn-large {
    width: 80%;
}
.dialer-screen .btn.btn-default.red-btn.btn-large {
    width: 70%;
}
/*.number-pad button:hover, .number-pad button:focus {
    background: #eee none repeat scroll 0 0;
}*/
.number-pad button.attand-call, .number-pad button.ignore-call {
    border: medium none;
    display: inline-block;
    height: 45px;
    padding: 0;
    text-align: center;
    width: 26%;
}
.row.margin-right {
    margin-right: -20px;
}
.left-block .margin-right p {
    display: inline-block;
    width: 100%;
}
.margin-right .white-bg .label-value {
    font-size: 12px;
    font-weight: 600;
    word-wrap: break-word;
}
.heading.lasthead {
    margin-bottom: 8px;
    margin-left: 5px;
    margin-top: -18px;
}
.innercontent {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    margin: 15px auto 0;
    overflow: hidden;
    width: 95%;
}
.innercontent .checkbox + .checkbox, .radio + .radio, .checkbox, .radio {
    margin-bottom: 0;
    margin-top: 0;
}
.innercontent div p {
    line-height: 0.7;
    margin-bottom: 11px;
}
.innercontent div.col-md-12 .checkbox {
    display: inline-block;
    margin: 0 20px;
    width: 20px;
}
.innercontent div.col-md-11 .label-value {
    width: 50%;
}
.right-sidebar label.call-timer {
    width: 100%;
}
.right-sidebar .label-value {
    padding-left: 5px;
    text-align: left;
    width: 40%;
}
.active-border {
    outline: 2px solid #55b6d2;
}
#email .btn-main {
    float: right;
    margin: 50px 0 0;
    width: 55%;
}
.total-ques {
    color: #777;
    float: right;
    margin: 0;
    padding: 0 10px;
}
.innercontent .checkbox > span {
    font-size: 15px;
    line-height: 0.8;
    text-transform: uppercase;
    vertical-align: top;
}
.small-inner-block {
    margin: 0 auto;
    width: 62%;
}
.carousel-inner .checkbox > span {
    line-height: 0.5;
}
.carousel-inner .small-inner-block .checkbox {
    padding: 0 0 0 20px;
}
.tab-content > .tab-pane.active.finalstep {
    border: 2px solid #ddd;
}
.correct-contact-detail .col-md-12 {
    margin-bottom: 0;
}
.name-field {
    display: inline-block;
    line-height: 0;
    text-align: left;
    vertical-align: super;
    width: 100px;
}
.carousel-inner .small-inner-block {
    width: 50%;
}
button.btn-main[disabled] {
    background: #bbb none repeat scroll 0 0;
    border: 1px solid #aaa; font-size:13px; border-radius:5px; display:inline-block;
}
.add-note-field {
    display: inline-block;
    height: 70px;
}
.note-btn {
    background: #999 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 1px;
    padding: 6px 15px;
    text-transform: uppercase;
    vertical-align: bottom;
}
.rebutal-description {
    background: #eee none repeat scroll 0 0;
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 400;
    left:7px;
    min-height: 105px;
    padding: 15px;
    position: absolute;
    text-align: left;
    top: 26%;
    width: 558px;
    z-index: 9999;
}
.uk-dropdown.rebutal-description {
    width:500px;
}
.tab-status-list.nav li, .tab-status-list.nav li a {
    position: static;
}
.number-pad span {
    font-size: 11px;
    font-style: normal;
   display:inline-block; width:100%;
}
.number-pad span i {
    font-style: normal;
}
.innercontent div.email-block .checkbox {
    margin: 10px 20px;
}
.email-block .label-value {
    text-align: left;
    width: 55%;
}
.email-block .editable-controls .editable-has-buttons {
    display: inline-block;
    width: 155px !important;
}
.tab-content email-block .form-group {
    width: 70%;
}
.email-block .editable-buttons button {
    margin: 0 2px;
}
#asset-content {
    display: none;
    position: absolute;
}
.asset-extra-content {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #666;
    font-size: 14px;
    left: 63%;
    min-height: 90px;
    padding: 15px;
    position: absolute;
    top: -90px;
}
.tab-status-list li a {
    background: transparent none repeat scroll 0 0;
    display: inline-block;
    font-size: 11px;
    padding: 0 10px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: pre-wrap;
    width: 100%;
}
.nav-tabs.tab-status-list li a:hover, .nav-tabs.tab-status-list li a:focus {
    background: transparent none repeat scroll 0 0;
}
.asset-note {
    display: inline-block;
    font-size: 11.5px;
    height: 70px;
    overflow: hidden;
    padding-left: 5px;
    vertical-align: top;
    width: 95px;
}
.asset-note.expand-note {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    min-height:76px;
    height: 100%;
    position: absolute;
    transition: all 1s ease 0.5s;
    width: 350px;
    z-index: 999;left:43.6px;
}
.extra-li-hide {
    display: none;
}
.extra-li-show {
    display: inline-block;
}
.right-sidebar .white-bg {
    overflow: visible; background:#eef3f7;
}
.ui-helper-hidden-accessible div {
    display: none !important;
}
.call-history-block {
    display: block;
}
.carousel-inner .innercontent {
    width: 60%;
}
.modal.finishcodemodal .modal-dialog {
    width: 557px;
}
.modal.autodisposemodal .modal-dialog {
    width: 350px;
}
.modal.finishcodemodal .modal-dialog .modal-header {
   /* border: medium none;*/
    margin-bottom: 0;
}
.finishcodemodal .modal-content {
   /* border-radius: 0;*/
}
.finish-code-div {
    padding: 0 10px;
}
.finish-code-div .callstatus-list li h3.heading {
    margin: 0;
}
.finishcodemodal .close span {
    font-size: 32px;
    font-weight: 300;
    margin-right: 5px;
}
.finish-code-div .callstatus-list {
    width: 100%;
}
.finish-code-div .callstatus-list li {
    /* display: inline-block; */
    margin: 0 0 6px;
    position: relative;
    width: 100%;
}
.finish-code-div .callstatus-list li.checkbox label {
    color: #888;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    vertical-align: top;
    width: auto;
}
.finish-code-div .callstatus-list li .status-detail {
    color: #888;
    font-style: italic;
    line-height: 1;
    padding-left: 10px;
    vertical-align: top;
    width: 70%;
}
.innercontent .radio {
    display: inline-block;
    padding: 0 10px 0 0;
}
.finish-code-div .callstatus-list li label {
    float: left;
    text-align: left;
    width: 160px;
   
}
.finish-code-div .callstatus-list li span.status-detail {
    float: left;
    position: absolute;
    right:0;
}
.finishcodemodal .btn-main {
    margin-top: 0px;
}
.finish-code-div .custome-radio label::before {
    top: 1px;
}
.labelloginmargin {
    text-align: left;
}
.agent-container .toast-cust-pos {
    left: 33%;
    top: 3%;
}

.agent-container .agent-toast .toast-cust-pos {
    left: 16%;
    top: 3%;
}

.agent-container #toast-container {
    position: fixed;
}

.agent-container .agent-toast #toast-container {
    position: relative;
}

.agent-container .toaster-margin #toast-container > div {
    width: 500px;
    position: absolute;
    background-color: #DC143C;
    color: white;
    font-weight: bold;
}

.agent-container .agent-toast .toaster-margin #toast-container > div {
    width: 500px;
    position: absolute;
    background-color: #DC143C;
    color: white;
    font-weight: bold;
}

.number-pad button.text-center {
    text-align: center;
}

.custome-radio input[type="radio"], .custome-radio input[type="checkbox"] {
    display: none;
}
.custome-radio label {
    color: #666;
    line-height: 0.3;
    width: auto;
}
.custome-radio label::before {
    background-color: #fff;
    border: 1px solid #81bc21; border-radius:2px; box-shadow: 0.1px 0.1px 2px 0.1px #81bc21 inset;
    bottom: 1px;
    content: "";
    display: inline-block;
    height: 12px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 12px;
}
.callstatus-list.custome-radio label{ vertical-align: sub;font-size: 10px;}
.custome-radio input[type="radio"]:checked + label::before {
    color: #333;
    content: "✓";
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    text-align: center;
}
.tab-content .email-block .editable-controls.form-group {
    width: 50%;
}
.scroller {

                height: 200px;
                width: 100%;
                overflow-y: hidden;
                position: relative;
   }

/* Header Message Popup */
.headerMessage {
		background: rgba(0, 0, 0, 0) url("../images/Shape36.png") no-repeat scroll 0 0;
		color: #377fa5 !important;
		float: right;
		font-weight: 600;
		line-height: 29px !important;		
		margin: 21px 0px;
		width: 37px;
		height: 26px;
	}

.message-box-area {
		position: absolute;
		margin: 19px 1px 6px 712px;
	}

	.pointertop-qa {
		margin: -13px -279px 0px 0 !important;
		padding-left: 19px;
		width: 400px;
	}

	.space-message {
	    margin-top: 5px;
	    font-size: 11px;
	    font-weight: 300;
	    color: #cbcbcb;
	}

	.textdiv-message {	    
	    font-size: 12px;	    
	    line-height: 19px;
	    width: 82%;		
	}
	
	/* EOF Header Message Popup */

/*new css*/
.asset-avail {
    width: 21%;
}
.asset-note strong{font-weight: normal}
.asset-thumb i {
    color: #fff;
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
}
.right-sidebar .dispo-block{ text-align:center; background:#fff;}
.blue-btn{ background:#7FDBE8; color:#fff;}
.blue-btn:hover, .blue-btn:focus, .blue-btn:active { background:#7FDBE8; color:#fff;}
.red-btn{background:#DB4546; color:#fff;}
.red-btn[disabled],.blue-btn[disabled] {box-shadow:0 1px 2px rgba(0, 0, 0, 0.075) inset;background:#e1e1e1 none repeat scroll 0 0; color:#666;}
.red-btn:hover, .red-btn:focus, .red-btn:active {background:#DB4546; color:#fff;}
.icon-phone:before {
  content: "\f095";
}
.tab-icon{    background: #eef3f6 none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 2.9;
    text-align: center; color:#666;cursor:pointer;
    width: 40px;float:left;}
    .tab-content .custome-radio .radio label {
    vertical-align: sub;
}
.row.tab {
    margin-left: 0; background:#fff;
}
#call-status.orig-call-status .btn-small{width:38%;}
.setcallback .btn-gray{font-family:"Open Sans",sans-serif; font-size:13px; padding:4px 10px; line-height:1.5; margin-left:5px; text-transform:uppercase; }
.setcallback .btn-main{ margin-top:0px; margin-bottom:0; padding:4px 15px; line-height:1.5;}
.finishcodemodal .btn-gray{font-family:"Open Sans",sans-serif; font-size:13px; padding:4px 10px; line-height:1.5; margin-left:5px; text-transform:uppercase; }
.finishcodemodal .btn-main{ margin-top:0px; margin-bottom:0; padding:4px 15px; line-height:1.5;}
.finishcodemodal .callstatus-list{float:none;}
.tab-content .innercontent label{ vertical-middle;}
.prospect-gen .editable-has-buttons.editable-input {
    width: 115px !important;
}
#tabpanel .nav-tabs.tab-status-list li.over {
    display: none;transition:
}
#tabpanel .nav-tabs.tab-status-list:hover li.over{display:inline-block;  transition:opacity 1s 1s linear; }
.setcallback label {
    vertical-align: text-bottom;
    width: 10%;
}

.setcallback .align-label {
   	text-align: left;
    width: 100%;
}

.setcallback .callstatus-list {
    width: 100%;
}
.left-block p{margin-bottom:5px;}
.finishcodemodal .modal-footer {
  margin-top: 40px;
}
/*new css*/
.innercontent span {
    font-weight: 500;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
.disposition-status {
    background: #eef3f7 none repeat scroll 0 0;
    font-size: 11px;
    color: #444;
    font-weight: 500;
    padding: 5px;
}
@media not all {
.innercontent .checkbox > span {
    vertical-align: top;
}
}
@media (max-width: 980px) {
.timer {
    font-size: 21px;
}
.left-block, .right-sidebar {
    width: 100%;
}
.right-sidebar {
    margin-top: 20px;
}
.right-sidebar .white-bg {
    display: inline-block;
    height: 226px;
    width: 33%;float:left;
}
}
@media (max-width: 768px) {
.left-block, .right-sidebar {
    width: 100%;
}
.timer {
    padding: 5px 0 5px;
}
.label-value {
    font-size: 13px;
}
#tabpanel ul.nav-tabs li a {
    font-size: 18px;
    padding: 8px 10px;
    width: 60%;
}
.arrow-right {
    border-bottom: 18px solid transparent;
    border-left: 17px solid #dddddd;
    border-top: 17px solid transparent;
    top: 3px;
}
.dialer-screen {
    top: 95%;
    width: 100%;left:10px;
}
.scroller{height:165px;}
.btn-small{width: 38%}
.dialer-screen .btn-small{margin:0 2px 5px 8px;}
.dialer-screen .number-display input.form-control{   margin: 5px 10.5%;     width: 82%;}
.dialer-screen .num-cont{  padding-left: 8px;}
}
@media (max-width: 700px) {
#tabpanel ul.nav-tabs {
    width: 100%;
}
#tabpanel ul.nav-tabs li {
    border-right: 1px solid #999;
    width: 25%;
}
#tabpanel ul.nav-tabs li a {
    text-align: center;
    width: 100%;
}
#tabpanel .tab-content {
    width: 100%;
}
}
.arrow-right {
    display: none;
}
.main-label-blk {
	width: 100%;
}
.main-label-blk .left-label{
	display: inline-block;
}
.main-label-blk .left-label-value{
	font-weight: 500;
}

.right-label-align {
	text-align: left;
    padding-top: 7px;
}

.custome-radio label {
	line-height: 1.5;
}
.setcallback .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	margin-left: 0;
}
.setcallback .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
	margin-top: 11px;
}

.custome-radio input[type="checkbox"]:checked + label::before {
	    color: #333;
    content: "✓";
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    text-align: center;
}

.dispo-block .left-dispose-blk {
	display: inline-block;
	vertical-align: top;
}
.dispo-block .right-dispose-blk {
	display: inline-block;
	vertical-align: top;
}


.hide-disposestatus { 
	display: none;
}

.finish-code-div .callstatus-list .hide-disposestatus{ 
	display: none;
}
.setcallback .hide-disposestatus{ 
	display: none;
}

/* added below css for handling alternate prospects */
.btn-select {
    background: #00B991 none repeat scroll 0 0;
    border: 1px solid #00B991;
    border-radius: 5px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0px 25px;
    padding: 2px 20px;
    text-shadow: none;
}

.btn-cancel {
    background: #bbb none repeat scroll 0 0;
    border: 1px solid #bbb;
    border-radius: 5px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0px 25px;
    padding: 2px 20px;
    text-shadow: none;
}

.alternate-prospect-link {
	float: right;
	font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin: 0px 15px 20px 0px;
    text-indent: 0;
    text-shadow: 0.3px 0.3px 0.3px #777;
    cursor: pointer;
}

#alternate-prospect {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#alternate-prospect td, #alternate-prospect th {
    border: 1px solid #ddd;
    padding: 8px;
}

#alternate-prospect tr:nth-child(even){background-color: #f2f2f2;}

#alternate-prospect tr:hover {background-color: #ECECEC;}

#alternate-prospect th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #bbb;
    color: white;
}

.modal.alternateprospectmodal .modal-dialog {
    width: 860px;
}

.alternateprospectmodal .close span {
    font-size: 32px;
    font-weight: 300;
    margin-right: 5px;
}

/* added above css for handling alternate prospects */

/* css for research & dial */
.modal.researchanddialprospectmodal .modal-dialog,
.modal.submitleadprospectmodal .modal-dialog {
    width: 920px;
}
.modal.campaignTypeProspectingModal .modal-dialog {
    width: 920px;
}

.researchanddialprospectmodal .close span {
    font-size: 32px;
    font-weight: 300;
    margin-right: 5px;
}

.modal.newindirectprospectmodal .modal-dialog {
    width: 750px;
}

.newindirectprospectmodal .close span {
    font-size: 32px;
    font-weight: 300;
    margin-right: 5px;
}

.rnd-input {
	width: 27% !important;
}

.phone-input {
	width: 17% !important;
}

.rnd-label {
	width: 20% !important;
}
.mandotoryFields{
	color: red;
}
.rndFooter {
    margin-right: 15px;
}
.rndLabel {
    color: #81BC21;
    font-size: 13px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    width: 27%;
}
/* css for research & dial */

.button-margin {
	margin: 5px 0px 5px !important;
}

.alt-prosp-label {
	width: auto;
	line-height: 1.5;
	margin-right: 9%;
	font-size: 13px !important;
}

.popup-disposition-label {
	line-height: 1.5;
	font-size: 13px !important;
}

.custon-numberpad.number-pad{
    width: 238px;
}
.num-cont.new-num-count{
    margin: 0;
    width: 100%;
}
.inner-num-count{
    width: 100%;
    float: left;

}
.item-num-cont{
    width: 33%;
    float: left;
    padding: 5px;
}
div.item-num-cont button{
    width: 100%;

}
.finish-code-div-custome.finish-code-div .new-select-btn{
    float: left;
}
.outerglobalpopup{
    float: left;
    width: 100%;
}

.btn[disabled] {
    pointer-events: inherit;
    cursor: not-allowed;
    opacity: 0.6;
}

.main {
  width:640px;
  height:250px;
}

.main > div{
  float:right;
  margin:10px;
}

.d1{
  width:230px;
  height:310px;
}

.d3 {
  width:365px;
  height:310px;
}

.child {
  height:30px;
  margin:15px;
}

.dial-btn-width {
	width: 38% !important;
}

.call-summary {
	height: 105px;
}

.label-font {
	border-bottom: 1px solid #D0E0E7;
    font-size: 15px;
    text-transform: uppercase;
    color: #87C729;
    font-weight: 700;
}

.boxstyle {
    width: 100%;
    vertical-align: top;
    background-color: #ffffff;
    border: 1px solid #C6D5DD;
    margin-bottom: 15px;
    display: block;
}
.boxstyle .box-heading {
    border-bottom: 1px solid #AFD2EA;
    font-weight: 600;
    font-size: 15px;
    color: #99CF51;
    padding: 10px;
    text-transform: uppercase;
}

.p10 {
    padding: 10px 10px 0 10px;
}

.box-border-style {
    border-bottom: 1px solid #E9E9E9;
    padding: 0px 0px 10px 0px;
}

.scrollstyle{
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
    display: inline-block;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    width: 459px
  } 
  @media(max-width:767px){
    .mobile-agent .nopad p label,
    .mobile-agent .nopad p span{
        text-align: left;
        width: auto;
  

    }
    .tab-desktop-section{
      display: none !important;  
    }

    .dialer-nopadbox .call-summary{
        height: auto;
        border-bottom: 0;
        margin: 0;
    }
    .dialer-nopadbox .call-summary .timer{
        padding: 0;
        font-size: 13px;
    
    }
    .dialer-nopadbox .call-summary .timer .ng-binding    {
        font-size: 13px;
    }
    .dialer-nopadbox .call-summary .nopadbox-heading{    
        padding: 4px 10px 0px 10px;
    }
    .mobile-section .dialer-box{
        padding: 0;

    }
    .mobile-section .dialer-box h3{
        margin: 0;
    }
    .mobile-section.white-bg .uk-button-dropdown,
    .mobile-section.white-bg #call-status{
        float: left;
    width: 50%;
    margin: 0;
    padding: 0 0;
    }
    .mobile-section.white-bg{
        padding-bottom: 15px;
    }
    .mobile-section.white-bg .uk-button-dropdown button,
    .mobile-section.white-bg #call-status button{
        float: left;
        width: 45% !important;
        margin: 0 2.5%;
        font-size: 11px;
        padding: 3px 0;
        text-transform: capitalize;
    }
    .tab #tabpanel ul.nav-tabs{
        margin: 0 !important;
        width: 50%;
        float: left;
    }
    .tab #tabpanel ul.nav-tabs li{
        width: 100%;
        padding: 5px 0;
    }
    .tab #tabpanel ul.nav-tabs li a {
        font-size: 13px !important;     
        width: 100%;
        padding: 0;
    }
   .tab-content .tab-pane .innercontent .form-group,
   .tab-content .tab-pane .innercontent .form-group textarea,
   .tab-content .tab-pane .innercontent .small-inner-block{
       margin: 0;
       padding: 0;
      
   }
   .tab-content .tab-pane .innercontent .small-inner-block{
    width: 100%;
   }
   .tab-content .tab-pane .innercontent{
    margin: 7px auto 0;
   }
   .tab-content .tab-pane .innercontent .form-group textarea{
   height: 35px;
   }
   div.tab-content .tab-pane {
    min-height: 60px;
    padding: 5px 22px 5px 5px;
}
aside.right-sidebar .white-bg {  
    width: 100%;
    float: none;
    float: none;
    padding: 0 22px 0 15px !important;
    display: table;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
aside.right-sidebar .white-bg select{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.dialer-screen .number-pad{
    padding: 10px 0;
}
div.dialer-screen{
    width: 280px;
}
div.dialer-screen .number-pad .num-cont button{
    width: 65px !important;
    height: 65px;
    margin-bottom: 5px !important;
}
div.dialer-screen .number-pad .num-cont button span{
    padding-top: 5px;
}
div.dialer-screen .number-pad .num-cont{
padding: 0;
}
div.modal.researchanddialprospectmodal .modal-dialog{
    width: 90%;
}
div.modal .modal-body {
    position: relative;
    padding: 0;
}
div.modal .modal-body .rnd-input {
    width: 70% !important;
}
.clear-field{
    clear: both;
    display: block;
    width: 100%;
    float:left;
    padding-bottom: 10px;
}
}
@media(min-width:768px){
.mobile-section{
    display: none !important;
}
.clear-field{
    display:none;
}
}
.scrolll
{
    line-height:60px;
    width:235px !important;
}
.chosen-container {
    width:235px !important;
}

.modal-body .horizontal-input .rnd-label{
    width: 15% !important;
}

.prspectdetail-table .table{
    font-size: 16px;
}

.outer-input {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 15px;
}

.no-border {
    border: 0 !important;
}

.orBlockLeadIQ {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.researchanddialprospectleeadiqmodal .modal-dialog, .prospectListToSelectmodal .modal-dialog {
    width: 700px !important;
}

.dialButtonBlink {
    animation: blinkerDialButton .5s step-end infinite alternate;
 }
 
 @keyframes blinkerDialButton {
 50% { background-color: #008000; color: white;}
 }

 .col-button-colapsed {
    background: rgba(0, 0, 0, 0) url("../img/downDoubleArrow.png") no-repeat scroll center center;
    height: 15px;
    position: absolute;   
    width: 18px;
    z-index: 1000;
    margin-left: 1%;
    margin-top: 5px;
}

.col-button-expand {
    background: rgba(0, 0, 0, 0) url("../img/upDoubleArrow.png") no-repeat scroll center center;
    height: 13px;
    position: absolute;   
    width: 18px;
    z-index: 1000;
    margin-left: 1%;
    margin-top: 5px;
}

.colapsediv {
    background-color: #ffffff;
	/* border:1px solid #AFD2EA;     */
    color: #ffffff;
    height: 50px;
    /* margin-top: 142px; */
    padding-left: 0;
    padding-top: 5px;
    width: 100%;
}
.colapsediv-whiteboxwithcontent {
    /* border-bottom: 1px solid #AFD2EA;
    border-left: 1px solid #AFD2EA;    
    border-right: 1px solid #AFD2EA; */
    float: left;
    margin-bottom: 7px;   
    width: 100%;    
}
.colapsediv .col-title {	
	color: #2ea4db;
	font-size: 14px;
	font-family: "Helvetica Neue Bold", Helvetica;
	font-weight: 600;
	margin: 6px 20px;
	float: left;
}
.colapsediv .col-divide {
	margin: 6px 1px;
	color: #999;
	float: left;
}
.set-ful-width {
	width: 100%;
}
.colapsediv .col-txt {
	margin: 6px 20px;
	color: #999;
	float: left;	
}
.bottom-audi-block {    
	padding: 25px 40px 0 40px;
}

.left-labels {
    color: #87c53e;
    font-size: 11px;
    text-transform: uppercase;
    width: 49%;
    /* width: 150px; */
    float: left;
    text-align: left;
    margin-right: 13px;
    word-break: break-word;
    margin-bottom: 5px;
    font-weight: 500;
}

.right-details {
    color: #838383;
    font-size: 11px;
    display: inline-table;
    width: 46%;
    /* width: 150px; */
    word-break: break-word;
    padding-left: 10px;
    font-weight: 600;
    text-align: left;
}

form[name="editableForm"] .editable-buttons {
    display: none !important;
}

.btn-edit-lead {
	background-color: #7fdbe6;
    border: 1px solid #6cc2bf;
    border-radius: 7px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-left: 23px;
    height: 30px;
    width: 71px;
    cursor: pointer;
}
.btn-editreset-lead {
	background-color: #eaeaea;
    border: 1px solid #cfcfcf;
    border-radius: 7px;
    color: #cfcfcf;
    font-size: 13px;
    font-weight: 400;
    margin-left: 23px;
    height: 30px;
    width: 71px;
    cursor: auto;
}
.btn-save-lead {
	background-color: #7fdbe6;
    border: 1px solid #6cc2bf;
    border-radius: 7px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-left: 23px;
    height: 30px;
    width: 71px;
    cursor: pointer;
}
.btn-cancel-lead {
	background-color: #7fdbe6;
    border: 1px solid #6cc2bf;
    border-radius: 7px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-left: 23px;
    height: 30px;
    width: 71px;
    cursor: pointer;
}
.editable-wrap .editable-controls .editable-input {
    display: inline-block;
    width: 103px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 5px;
	margin-bottom: 3px;
}
.editable-wrap .editable-controls .editable-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

a.notif {
    position: relative;
    display: block;
    height: 33px;
    width: 33px;
    top: 20px;
    background: url('../images/notification.png');
    background-size: contain;
    text-decoration: none;
  }
  .commentbox {
    position: absolute;
    width: 19px;
    height: 20px;
    top: 2px;
    border-radius: 50%;
    background: red;
    right: -5px;
  }
  .num {
    position: absolute;
    right: 1px;
    top: -21px;
    bottom: 10px;
    font-size: 10px;
    text-shadow: none;
    color: #fff;
  }

.revealEmailButton {
    background: transparent;
    border-color: white;
    border-style: solid;
    text-decoration: underline;
}