body,section{width:100%;height:100%}
.center-box{height:87%;position:absolute;width:100%}
.center-box .center-content{margin:auto;top:0;left:0;bottom:0;right:0;position:fixed;z-index:999;background-color:#fff}
.get-button.get-width{margin-left:30px!important;width:360px!important;background:linear-gradient(to bottom,#3195cf 0,#3195cf 100%)!important}
.login-style.txtalign{text-align:center!important;float:unset!important;margin-right:26px}
.camp-ifo-align{display:inline-block;margin-left:5px}
.infoalign .col-md-12{margin-left:15px}
.infoalign .col-md-8{width:65%}
.tdoc.align-training-doc-lnk{text-align:center!important;margin-left:0!important}
.footer{position:fixed;bottom:14px!important;z-index:99;background-color:#f8f8f8}
.tabContainer{width:100%;height:350px;padding:10px}
.labelContent{text-align:center;font-size:small;padding-top:50px;}
.nav-tabs{background-color: #eee;}
.cent-content {
    background-color: floralwhite;
    border-radius: 10px;
    line-height: 2.2;
    margin: 12% auto;
    min-height: 260px;
    min-width: 460px;
    padding: 5px 10px 20px 10px;
    width: 25.5%;
}
.cent-div {
    background-image: url("../images/agentsplash.jpg");
    background-size: 100% 100%;
}
/*-----------------------
responsive
------------------------*/

@media (min-width: 1024px) and (max-width: 1920px) {
	.center-box .center-content{
		height:320px;
		line-height:1.8 !important;
		min-height:320px !important;
		min-width:1100px !important;
	}
}

@media screen and (min-width:1024px) and (max-width:1920px){
	.center-box .center-content{height:320px;line-height:1.8!important;min-height:320px!important;min-width:460px!important}
}
@media (min-width: 771px) and (max-width: 1024px){
	.center-box .center-content{height:320px;line-height:1.8!important;min-height:320px!important;min-width:460px!important}
}
@media (min-width: 768px) and (max-width: 770px){
	.center-box .center-content{height:330px;line-height:1.8!important;min-height:330px!important;min-width:460px!important}
}
@media (min-width: 360px) and (max-width: 767px){
	.center-box .center-content{height:260px;line-height:1.8!important;min-height:260px!important;min-width:309px!important}
	.get-button.get-width {
		width: 202px !important;
	}
	.align-label-content {
	    font-size: 13px;
	    padding-left: 0;
	}
	.camp-ifo-align {
	    display: inline-block;
	    margin-left: 1px;
	}
	.result-font {
	    font-size: 13px;
	}
	body, input, select, textarea {
		font-size: 11px;
	}
	.bluenextbtn {
		margin: 14px 16px 0;
	}
	.dropdown-toggle.text-user.ng-binding {
		margin-top: -144px;
        width: 312px;
	}
	.profile-img{border:1px solid #ccc;display:inline-flex;height:40px;margin-left:5px;padding:1px;vertical-align:middle;width:40px}
	.navbar-right > li > a {
	    font-size: 10px;
	    margin-top: -9px;
	}
	.footer{color:#484848;font-size:10px;line-height:46px}
	.textleft {
		width: 35%;
	}
	.textright{float:left;width:55%;margin-left:55px}
}
@media (min-width: 320px) and (max-width: 359px){
	.center-box .center-content{height:46%;min-height:54%!important;min-width:85%!important;line-height:1.8!important}
	.get-button.get-width {
		width: 172px !important;
	}
	.align-label-content {
	    font-size: 13px;
	    padding-left: 0;
	}
	.camp-ifo-align {
	    display: inline-block;
	    margin-left: 1px;
	}
	.result-font {
	    font-size: 13px;
	}
	body, input, select, textarea {
		font-size: 11px;
	}
	.bluenextbtn {
		margin: 14px 16px 0;
	}
	.dropdown-toggle.text-user.ng-binding {
		margin-top: -144px;
        width: 312px;
	}
	.profile-img{border:1px solid #ccc;display:inline-flex;height:30px;margin-left:5px;padding:1px;vertical-align:middle;width:30px}
	.navbar-right > li > a {
		font-size: 8px;
	}
	.footer{color:#484848;font-size:7px;line-height:14px}
	.navbar-right>li>a{font-size:7px;margin-top:-14px}
	
	/* Header Message Popup */
.headerMessage {
		background: rgba(0, 0, 0, 0) url("../images/Shape36.png") no-repeat scroll 0 0;
		color: #377fa5 !important;
		float: right;
		font-weight: 600;
		line-height: 29px !important;		
		margin: 21px 0px;
		width: 37px;
		height: 26px;
	}

.message-box-area {
		position: absolute;
		margin: 19px 1px 6px 712px;
	}

	.pointertop-qa {
		margin: -13px -279px 0px 0 !important;
		padding-left: 19px;
		width: 400px;
	}

	.space-message {
	    margin-top: 5px;
	    font-size: 11px;
	    font-weight: 300;
	    color: #cbcbcb;
	}

	.textdiv-message {	    
	    font-size: 12px;	    
	    line-height: 19px;
	    width: 82%;		
	}
	
	/* EOF Header Message Popup */

	.tab-list {
		border: 1px solid #ddd;
		border-radius: 14px;
		display: inline-block;
		list-style: outside none none;
		overflow: hidden;
		padding: 0;
		position: relative;
		text-align: center;
		z-index: 666;
	}
	.tab-list li a {
		background: #f7f7f7 none repeat scroll 0 0;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
		color: #333;
		display: inline-block;
		padding: 3px 10px;
		text-decoration: none;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		text-transform: uppercase;
	}
	.tab-list li.active a {
		background: #0bbaf3 none repeat scroll 0 0;
		border-color: #54b6d1;
		border-style: solid;
		border-width: 1px;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
		color: #fff;
		outline: medium none;
	}
	.tab-list li {
		display: table-cell;
		padding: 0;
	}

}
	.center-content.clearfix {
		vertical-align: top;
	}
	
	.center-content .left-section{
		float: left;
		width: 50%;
	}
	
	.center-content .right-section{
		float: left;
		width: 50%;
	}

	.sup-toast .toast-cust-pos-super{
		position:fixed !important;
		top:15% !important;
		width:60% !important;
		/* margin-left: 100px; */
	}