.audio-main-div {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,f2f2f2+37,f2f2f2+69,dbdbdb+100,dbdbdb+101 */
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(242,242,242,1) 37%, rgba(242,242,242,1) 69%, rgba(219,219,219,1) 100%, rgba(219,219,219,1) 101%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(37%,rgba(242,242,242,1)), color-stop(69%,rgba(242,242,242,1)), color-stop(100%,rgba(219,219,219,1)), color-stop(101%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(242,242,242,1) 37%,rgba(242,242,242,1) 69%,rgba(219,219,219,1) 100%,rgba(219,219,219,1) 101%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(242,242,242,1) 37%,rgba(242,242,242,1) 69%,rgba(219,219,219,1) 100%,rgba(219,219,219,1) 101%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(242,242,242,1) 37%,rgba(242,242,242,1) 69%,rgba(219,219,219,1) 100%,rgba(219,219,219,1) 101%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(242,242,242,1) 37%,rgba(242,242,242,1) 69%,rgba(219,219,219,1) 100%,rgba(219,219,219,1) 101%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
	/* display: inline-flex; */
	width: 100%;
	border: 1px solid #DADADA;
	padding: 4px;
}
.audio-main-div  .common-control{
	display: block;
	border-right: 2px solid #C7BEBE;
	/* padding-left: 2%;
	padding-right: 2%; */
	display: inline-block;
}
.audio-main-div  .common-control .control-btn{
	background-color: transparent;
	
	width: 75%;
	
}
.audio-main-div  .play-and-pause-control{
	width : 5%;
	
}
.audio-main-div  .play-fast-forward{
	width : 5%;
}
.audio-main-div  .play-fast-backward{
	width : 5%;
}
.audio-main-div  .play-loop{
	width : 5%;
}
.audio-main-div  .play-progress{
	width: 60%;
	vertical-align: bottom;
}

.audio-main-div  .volume-block{
	width : 15%;
	border-right: none;
}
.audio-main-div  .common-control .progress-slider{
	width : 69%;
	padding-top: 10px;
}
.audio-main-div  .common-control .progress-duration{
	width : 31%;
	text-align: center;
}
.audio-main-div  .common-control .sound-btn-block{
	background: transparent;
	width: 22%;
    display: inline-block;
	text-align: center;
}
.audio-main-div  .common-control .sound-btn{
	background: transparent;
	padding: 0px;
	width: 100%;
}
.audio-main-div  .common-control .volume-slider{
	width: 72%;
    display: inline-block;
}


/* Progresss slider and Volume Slider css start */

button{ border:none; cursor:pointer; outline:none; }
input{ outline:none; }
button#playpausebtn{
	/* height:37px; */
}

input#seekslider{
	width: 100%;
}
input#volumeslider{
	width: 100%;
	display: inline-block;
	vertical-align: sub;
	   
}
input[type=range] {
	-webkit-appearance: none;
	border-radius: 0px;
	vertical-align: middle;
	margin: -8px 0 0 0;
	padding: 0;
	position: relative;
	vertical-align: middle;
	overflow-x: hidden;
	overflow-y: visible;
	width: 100%;
	background: transparent;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	position: relative;
	pointer-events:none;
	width: 8px;
	height: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
	background: #757575; 
	height: 8px; 
	margin:5px 0;

}
input[type=range]::-webkit-slider-thumb:before {
	content:"-";
	font-style: 0;
	line-height:0;
	position: absolute;
	left:-3000px;
	right:0;
	top:0;
	bottom:0;
	background:#439bda;;
}
input[type=range]::-webkit-slider-thumb:after {
	content: "";
	position: absolute;
	left:-4px;	
	right:-4px;
	top:-4px;
	bottom:-4px;
	background: transparent;
	border:0;
	z-index: 10;
	border-radius: 50%;
	border:5px solid #e8e8e8;
}
input[type=range]:focus {
	outline:none;
}
input[type=range]:hover::-webkit-slider-thumb:after,
input[type=range]:focus::-webkit-slider-thumb:after {
	background: transparent;
	 border-radius: 50%;
	border:5px solid #e8e8e8;
}
input[type=range]:disabled::-webkit-slider-thumb:before {
	background-color: #439bda;;
}
input[type=range]:disabled::-webkit-slider-thumb:after {
	background: #439bda; !important;
}
/* Progresss slider and Volume Slider css e