.col-sm-8.run-date{
	 margin-left: 85px !important;
	 margin-top: -24px !important;
	 width: 80.667% !important;
}

.labeltextmargin.label-restriction{
    margin-left: 24px;
    margin-top: -22px;
	width: 94% !important;
}

.dcap{
	width: 100px;
}

.chkalign{
	margin-left: -17px !important;
    margin-top: 8px !important;
}

.btns.btnalign{
	margin-top:22px !important;
}

.text_lable.tblmargin{
	margin-top: 2px;	
}

.cmp-list.campaignMode-align {    
    padding-left: 17px;
}

.whiteboxwithlabel-creation {
    border-bottom: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #bfbfbf;    
    margin-bottom: 7px;
    padding-bottom: 30px;
    width: 100%;
    margin-top: -20px;
    padding-top: 20px;
}

.dtargetright .formmarginright {    
	margin-left: 119px !important;
	margin-top: -24px;
}

.dtargetright .labelmarginleft {
    margin-left: -38px !important;   
}

.dtargetleft .formmarginright {
    margin-left: 119px;
    margin-top: -24px;
}

/* Campaign List CSS */
.topGreyBar {
	float: left;
	border: 1px solid #c4d5dd;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 6px;
	background-color: #EFF3F5;
}
.searchbtn {
	margin: 6px 12px;
	width: 74px;
	padding: 8px;
	background-color: #27abe3;
	color: #fff;
	border: 1px solid #27abe3;
	float: right;
	text-align: center;
    cursor: pointer;
}
.searcharrow {
    margin: 12px 11px;
    width: 74px;
    padding: 13px;
    color: #fff;
    border-right: 1px solid #ccc;
    float: right;
    text-align: center;
    cursor: pointer;
}
.searchiconalign {
	margin-left: 13px;
}
.searchboxdd {
	margin-left: 40px;
}
.searchtotal {
	font-weight: 600;
	margin-left: 15px;
}
.select-box {	 
	display: inline-block;
	width: 20%;	
	margin-top: 7px;
	margin-right: 21px;
	-webkit-appearance: none;
	background: #ffffff url("../images/down-arrow.png") no-repeat scroll 90% 55%;
	padding-bottom: 4px;
	border-radius: 0;
}
.thtdpaddinghead {
	font-size: 11px;    
    text-align: left;
    width: 175px;
	text-transform: uppercase;
	padding: 5px 3px;
	font-weight: 600;
}
.thtdpadding{
	font-size: 13px;
	text-align: left;
	padding: 6px 3px 9px 11px;
    color: #777;
	border: 1px solid #a9c1ce;
}
.thtdpaddingaction{	
	border: 1px solid #a9c1ce;
	adding: 3px;
	text-align: center;
}
.tdhead {
	background-color: #a9c1ce;
	color: #fff;
}
.sort-true {
    background: rgba(0, 0, 0, 0) url("../images/up_white_arrow.png") no-repeat scroll 92% 50%;
}
.sort-false {
    background: rgba(0, 0, 0, 0) url("../images/down_white_arrow.png") no-repeat scroll 92% 50%;
}
.actionicons {
    width: 65px;
}
.addextrathtdpadding {
	width: 120px;	
	padding: 0px 0 8px 7px;
	border: 1px solid #a9c1ce;
}
.addextrathtdpadding a {
	text-decoration: none;
	font-size: 13px;
	padding: 3px;
}
.pagin-rate {
	display: none;
}
.tablecontainer .listtr:hover{
	background-color:#f1fde2;
    border:2px solid #6ec866;	
}
.tablecontainer .listtr:hover td {
	background-color:#f1fde2 !important;
}
/* Pagination CSS */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 2;
	color: #000; 
	cursor: default;
	background-color: #fff;
	border-color: #999;
	height: 32px;
	font-weight: 600;
}
.pagination > li > a, .pagination > li > span {    
    color: #777;    
    height: 32px;
	font-weight: 600;
	margin: 1px;
}
.leftdoublearrow {
	background: rgba(0, 0, 0, 0) url("../images/left-double-arrow-list.png") no-repeat scroll 50% 50%;
	float: left;
	height: 20px;
	width: 25px;
}
.leftsinglearrow {
	background: rgba(0, 0, 0, 0) url("../images/left-single-arrow-list.png") no-repeat scroll 50% 50%;
	float: left;
	height: 20px;
	width: 25px;
}
.rightdoublearrow {
	background: rgba(0, 0, 0, 0) url("../images/right-double-arrow-list.png") no-repeat scroll 50% 50%;
	float: left;
	height: 20px;
	width: 25px;
}
.rightsinglearrow {
	background: rgba(0, 0, 0, 0) url("../images/right-single-arrow-list.png") no-repeat scroll 50% 50%;
	float: left;
	height: 20px;
	width: 25px;
	margin-left: 6px;
}
.pausecampaign {
	background: rgba(0, 0, 0, 0) url("../images/pausecampaign.jpg") no-repeat scroll 50% 50%;
	float: left;
	height: 20px;
	width: 25px;
    cursor: pointer;
    margin-left: 6px;
}
.actioncampaign {
    background: rgba(0, 0, 0, 0) url("../images/actioncampaign.png") no-repeat scroll 50% 50%;
    float: left;
    height: 20px;
    width: 25px;
    cursor: pointer;
    margin-left: 6px;
}
.runcampaign {
	background: rgba(0, 0, 0, 0) url("../images/Layer91.jpeg") no-repeat scroll 0% 0%;
	float: left;
	height: 28px;
	width: 28px;
	cursor: pointer;
	margin-left: 6px;
}
.stopcampaign {
	background: rgba(0, 0, 0, 0) url("../images/stopcampaign.png") no-repeat scroll 50% 50%;
	float: left;
	height: 20px;
	width: 25px;
	cursor: pointer;
	margin-left: 6px;
}
.resumecampaign {
	background: rgba(0, 0, 0, 0) url("../images/resumecampaign.png") no-repeat scroll 50% 50%;
	float: left;
	height: 20px;
	width: 25px;
	cursor: pointer;
	margin-left: 6px;
}


.errorMessageMargin {
    margin-left: 287px;
}
.fillcnt {
	background-color: #27abe3;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	float: left;
	text-align: center;
	margin-left: 7px;
	color: #fff;
	font-weight: 600;
	font-size: 12px;
	line-height: 25px;
}
.backgrnd {
	background-color: #effbff;
	color: #29abe2;
	font-size: 13px;
}
.backgrndheading {
	background-color: #558baa;	
}
.imageactioncolor {
	background-color: transparent;
}
.namecls {
	width: 25%;
}
.namecls2 {
	width: 30%;
}
.typecls {
	width: 15%;
}
.startcls {
	width: 11%;
}
.endcls {
	width: 11%;
}
.targetcls {
	width: 25%;
}
.progress {
	width: 95%;
	height: 10px;
}
.targimg {
	float: right;
	margin: -35px 15px;
}
.progress-bar {
	background-color: #6ec866;
	font-size: 12px;
	line-height: 12px;
}
.tablecontainer {
	margin-right:0px !important;
	margin-left:0px !important;
}
.titlespan {
	float: left;
	margin-left: 11px;
}

.divfloatleft {
	margin-top: 30px;
}
.addselectoptionright {
	width: 80px;
}
.addrightmargin {
    margin-right: 0px;
}
.text-color {
	font-size: 14px;
}
.pagination-wrap label {
	margin-top: 0px;
}
.toast-error {
    position: absolute;
    margin: -13px 162px !important;
}
.toast-success {
    position: absolute;
    margin: -13px 162px !important;
}

.alignLeft {
	float: left;
	margin-top: 15px;
}

/* START
   DATE : 30/05/2017
   REASON : CSS for iframe to show TABLEAU reports */
.container_iframe {
	width: 100%;
    margin-right: auto;
    margin-left: auto;
}
/* END */