.top-navigate-bar {
	background-color:#29abe2;
	height: 50px;
	float: left;	
}
.camp-title {
	font-size:13px;
}
.camp-title-option {
	color: #fff;
	float: left;
	text-transform: uppercase;
	margin: -1px 10px 0px -11px;
	padding: 13px;
	width: 18%;
	border: 1px solid #fff;
	text-align: center;
	font-size: 17px;
    cursor: pointer;
}
.activetab {
	background-color: #286E96;	
}
.paddtop {
	padding-top: 10px;
}
.headerTitle {
	color:#29aae1;
	font-size:23px;
	font-weight:400;
	float:left;
	margin-top:-58px;
	margin-left:230px;
}