/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2014, 2:12:27 PM
    Author     : Pooja
*/

/*
label.check {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-family: 'Lato', sans-serif; font-size: 14px; color: #000; font-weight: normal; text-shadow: none;
}
.team-option label{font-size: 20px; color: #686868; font-family: 'bebas_neueregular'; text-transform: uppercase; font-weight: normal;}
input[type=radio],
input[type=checkbox] {
	display: none;
}
label.check:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #f4f4f4;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); top:4px;
}
.radio1 > label:before {
    border-radius: 10px; top: 4px;
}
.radio label:before {
	border-radius: 8px;
}
.checkbox label {
	margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}

input[type=radio]:checked + label.check:before {
    content: "\2022";
    color: #439bda;
    font-size: 30px;
    text-align: center;
    line-height: 17px;
}

input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #158b0c;
	text-align: center;
    line-height: 15px;
}
.exclude label:before{ top: 20px; left: 15px;     }
.exclude .checkbox1{ margin: 0px 5px;}
.exclude label {
    padding-left: 0; margin-top:2px;
}
/*.checkbox1 .bg{ background: #eaeaea; border-radius: 5px;
    height: 25px;
    left: -6px;
    position: absolute;
    top: 3px;
    width: 26px;}*/


/*
.container-gap label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 20px; color: #686868; font-family: 'bebas_neueregular'; text-transform: uppercase; font-weight: normal;
}
.lang-list label{font-size: 14px; color: #232323; font-family: 'Lato', sans-serif; text-transform: none; margin-bottom: 5px !important;
    padding: 6px 22px 0;}
.container-gap input[type=radio],
input[type=checkbox] {
	display: none;
}
.domain-block label:before , .team-option  label:before, .exclude label:before, .lang-list label:before  {
	content: "";
	display: inline-block;
border: 1px solid #888888;
	width: 17px;
	height: 17px;

	margin-right: 10px;
	position: absolute;
	left: 0;
        top:8px;
	bottom: 1px;
	background-color: #f4f4f4;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.lang-list label:before{width: 14px;
	height: 14px;}

.team-option .radio1 label:before {
	border-radius: 8px;
}
.domain-block  .checkbox1 label, .exclude .checkbox1 label, .lang-list .checkbox1 label{
	margin-bottom: 10px;
        font-size: 14px;
        font-family: 'Lato', sans-serif; color: #000; text-transform: none;
}

.domain-block .checkbox1 label:before, .exclude .checkbox1 label:before , .lang-list .checkbox1 label:before {
  border-radius: 1px;
    height: 14px;
    width: 14px;
}
.domain-block  .checkbox1, .exclude .checkbox1, .lang-list .checkbox1{ position: relative; }
.domain-block  .checkbox1 .bg{ background: #eaeaea; border-radius: 5px;
    height: 25px;
    left: -6px;
    position: absolute;
    top: 3px;
    width: 26px;}
.team-option input[type=radio]:checked + label:before {
    content: "\2022";
    color: #439bda;
    font-size: 30px;
    text-align: center;
    line-height: 14px;
}

.domain-block  input, .exclude input, .lang-list input [type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #439bda;
	text-align: center;
    line-height: 15px;
}*/*/