a.notif {
  position: relative;
  display: block;
  height: 33px;
  width: 33px;
  top: 20px;
  background: url('../images/notification.png');
  background-size: contain;
  text-decoration: none;
}
.commentbox {
  position: absolute;
  width: 19px;
  height: 20px;
  top: 2px;
  border-radius: 50%;
  background: red;
  right: -5px;
}
.num {
  position: absolute;
  right: 1px;
  top: -21px;
  bottom: 10px;
  font-size: 10px;
  text-shadow: none;
  color: #fff;
}