body, input, select, textarea {
    color: #555555;
	font-family: "Helvetica Neue", Helvetica;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.65em;
}
/*.container { width:1260px; }*/

/*Campaign Details Tab*/

.paddingfirst {
	padding: 12px;
	left: -15px;
	width: 13%;
}
.blockwidth-one {
	width: 23%;
}
.blockwidth-two {
	width: 26%;
}
.blockwidth-three {
	width: 35%;
}
.whitebg {
    background-color: #ffffff;
    border-left: 1px solid #e5e4ea;
    border-right: 1px solid #e5e4ea;   
    text-transform: none;
	padding-bottom:0;
}
.white-bg {
    background-color: #ffffff;
	border-left: 1px solid #e5e4ea;
}
.white-bg-asset {
    background-color: #ffffff;
	border-left: 1px solid #e5e4ea;
	border-top: 1px solid #e5e4ea;
    width: 97%;
    padding-top: 10px;
}
.paddingoverwrites {    
	border-left: 2px solid #dde0df;	
	border-top: 2px solid #dde0df;
	border-bottom: 2px solid #dde0df;
	padding: 12px;
	background-color: #fff;
	text-transform: uppercase;	
	font-size: 13px;
    cursor: pointer;
}
.paddingoverwriteslast {    
	border: 2px solid #dde0df;
	padding: 12px;
	background-color: #fff;
	text-transform: uppercase;	
	font-size: 13px;
	cursor: pointer;
}
.steparrows {
	background: rgba(0, 0, 0, 0) url("../img/camp5.png") no-repeat scroll center center;
	height: 30px;
	position: absolute;
	right: -18px;
	top: 21%;
	width: 35px;
	z-index: 1000;
}
.steplogogeneral {
	background: rgba(0, 0, 0, 0) url("../images/backtolist.png") no-repeat scroll center center;
	height: 32px;
	position: absolute;
	left: -18px;
	top: -1px;
	width: 142px;
	z-index: 1000;
    cursor: pointer;
}
.steplogorequire {
	background: rgba(0, 0, 0, 0) url("../img/camp2.png") no-repeat scroll center center;
	height: 30px;
	position: absolute;
	left: 3px;
	top: -4px;
	width: 35px;
	z-index: 1000;
}
.steplogorequire-active {
	background: rgba(0, 0, 0, 0) url("../img/camp-select.png") no-repeat scroll center center;
	height: 30px;
	position: absolute;
	left: 3px;
	top: -4px;
	width: 35px;
	z-index: 1000;
}
.steplogoaudi {
	background: rgba(0, 0, 0, 0) url("../img/camp3.png") no-repeat scroll center center;
	height: 30px;
	position: absolute;
	left: 15px;
	top: -4px;
	width: 35px;
	z-index: 1000;
}
.steplogoaudi-active {
	background: rgba(0, 0, 0, 0) url("../img/camp3-select.png") no-repeat scroll center center;
	height: 30px;
	position: absolute;
	left: 15px;
	top: -4px;
	width: 35px;
	z-index: 1000;
}
.steplogoteam {
	background: rgba(0, 0, 0, 0) url("../img/camp4.png") no-repeat scroll center center;
	height: 30px;
	position: absolute;
	left: 12px;
	top: -4px;
	width: 35px;
	z-index: 1000;
}
.steplogoteam-active {
	background: rgba(0, 0, 0, 0) url("../img/camp4-select.png") no-repeat scroll center center;
	height: 30px;
	position: absolute;
	left: 12px;
	top: -4px;
	width: 35px;
	z-index: 1000;
}

.paddingover {
	padding:15px;	
}
.bottomgrayborder {
	border-bottom: none;
    padding-bottom: 15px !important;
}
.leftmarg-camp {
	margin-left:29px;
    font-size:12px;
    color: #428bca;
    cursor: pointer;
}
.leftmarg-camp-active {	
	margin-left:29px;
	font-size:12px;
    color: #000;
	cursor: pointer;
}
.leftmarg-audi {
	margin-left:40px;
	font-size:12px;
	color: #428bca;
	cursor: pointer;
}
.leftmarg-audi-active {
	margin-left:40px;
	font-size:12px;
	color: #000;
	cursor: pointer;
}
.leftmarg-team {
	margin-left:39px;
	font-size:12px;
	color: #428bca;
	cursor: pointer;
}
.leftmarg-team-active {
	margin-left:39px;
	font-size:12px;
	color: #000;
	cursor: pointer;
}
#newcampaignform .form-group .form-control, .date-control, .addextranewform-control {
	margin-bottom: 17px;
	border-radius: 0px;	
}
.addextranewform-control {
	width: 130px;
}
.text-label {
	margin: 9px;
	font-family: "Helvetica Neue", Helvetica;
	color: #999;
    font-size: 15px;
	font-weight: 500;
}
.text-label-detail {
    margin: -5px 0 0 1px;
    font-family: "Helvetica Neue", Helvetica;
    color: #999;
    font-size: 13px;
    font-weight: 500;
    width: 85px;
}

.text-label-questionname {
    margin: -5px 0 0 1px;
    font-family: "Helvetica Neue", Helvetica;
    color: #999;
    font-size: 13px;
    font-weight: 500;
    width: 71px;
}

.text-label-displayText {
    margin: -5px 0 0 1px;
    font-family: "Helvetica Neue", Helvetica;
    color: #999;
    font-size: 13px;
    font-weight: 500;
    width: 57px;
}




.text-label-asset {
	margin: 15px 30px 25px;
	font-family: "Helvetica Neue", Helvetica;
	color: #999;
    font-size: 15px;
	font-weight: 500;
}
.text-color {
    margin-left: 10px;	
    font-size: 14px;
    
}
.assettext {
	text-decoration: none;
    color: #777;
}
.text-color-asset {
    margin-left: 10px;	
    font-size: 14px;
    
}
.asseturls a:hover {
	text-decoration: none;
	color: #777;    
}

.select-box	option { color: black; }
.select-box option:first-child{
	  color:  #aaa;
	}
.select-box {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent url("../images/down-arrow.png") no-repeat scroll 97% 46%;	
}
.addextranewform-control {
	font-weight:400;
}
.addextranewform-control[disabled] {
	background-color: #eee;
}
.quest-logo {
	background: rgba(0, 0, 0, 0) url("../img/camparrow.png") no-repeat scroll center center;
	height: 32px;
	position: absolute;
	left: 112px;
	top: -4px;
	width: 22px;
	z-index: 1000;
	cursor: pointer;
}
.quest-logo-deli {
	background: rgba(0, 0, 0, 0) url("../img/camparrow.png") no-repeat scroll center center;
	height: 32px;
	position: absolute;
	left: 110px;
	top: -4px;
	width: 22px;
	z-index: 1000;
	cursor: pointer;
}
.quest-logo-asset {
	background: rgba(0, 0, 0, 0) url("../img/camparrow.png") no-repeat scroll center center;
	height: 32px;
	position: absolute;
	margin-left: 11px;
	margin-top: -4px;
	width: 22px;
	z-index: 1000;
	cursor: pointer;
}
.quest-logo-dail {
	background: rgba(0, 0, 0, 0) url("../img/camparrow.png") no-repeat scroll center center;
	height: 32px;
	position: absolute;
	left: 76px;
	top: -4px;
	width: 22px;
	z-index: 1000;
	cursor: pointer;
}
.marg-le-title {
    margin-left: 76px;
}
.marg-le-title-target {
    margin-left: 31px;
}
#newcampaignform .form-control {
	width: 381px;
}

#newcampaignform .form-control-asset {
	width: 250px;
	float: left;
	margin-left: 8px;
}
input[type="file"] {
    display: block;
    width: 188px;
    float: left;
    margin: -1px 11px;
}
.form-control {	
	border-radius: 0px;
}

.date-control {
	border-radius: 0px;
	font-weight: 400;
	width: 130px;
    font-size: 13px;
}

.paddingoverwriteleft {
	width: 35%;
}
.paddingoverwriteright {
	width: 50%;
}
.endDate-control {
	float:left;
}
#newcampaignform .form-group {
	padding: 20px;
	border-right: 1px solid #dde0df;	
	/* height: 515px; */
}
.right-top-text {
	margin: 9px;
    font-family: "Helvetica Neue", Helvetica;
    color: #999;
    font-size: 15px;
    font-weight: 500;
	padding-top: 20px;
}

.right-box {
	border: 1px solid #ccc;
	margin-left: 11px;
	width: 87%;	
    height:275px;
}
.checkbox {
	display: inline-block;
	cursor: pointer;
	font-size: 15px;
    margin-right:10px; 
    line-height:18px;
	color: #777;
	margin-bottom: 10px !important;
    
}

/* Toggle Switch CSS */
.switch-active, .switch-inactive {font-size:40px;cursor:pointer;}

i.switch-active { color: #ddd}
i.switch-inactive {color: #ddd}
/* End Of Toggle Switch CSS */

.file-uploder {	
    position: absolute;
	margin: -3px 72px;    
}
.file-upd-btn {
	position: absolute;
	margin: -44px 406px;
}

.toggle-swich-pos {
	margin: 6px;	
}

.superviserbox input[type=checkbox],
.audians-sel-box input[type=checkbox]{
 display:none;
}
.superviserbox input.select-superviser{
    display:inherit; 
    margin: 10px 0 0px;
    float: left;
}
.select-superviser-label{
    float: left;
    padding: 7px 0 0 7px;
    color: #000;   
    cursor: default;
}

.checkbox:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align:middle;
	border:1px solid #ccc;
	color: #f3f3f3;
	text-align: center;
}
input[type=checkbox]:checked + .checkbox:before {	
	content: '✔';
    color: #fff;
	font-size: 15px;
    background-color: #BFECBB;
	border:1px solid #34B327;
}
input[type=checkbox]:checked + .campaigndeta:before {	
	content: '✔';
    color: #fff;
	font-size: 15px;
    background-color: #34B327;
	border:1px solid #34B327;
}
.labl-align {
	margin-left: 15px;
}
.padd-txt {
	padding: 1px 11px;
	border-bottom: 1px solid #eaeaea;
}
.check-click {
	background-color: #FDFDE8;
}

.backdownarrow {
	background: #fff url("../images/cal.png") no-repeat scroll 92% 46%;
	background-size: 25px 25px;
}

/* Disabled calender hover functions */
input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-calendar-picker-indicator, input::-webkit-calendar-picker-indicator:focus,input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-inner-spin-button { opacity:0;}
input:enabled:read-write::-webkit-inner-spin-button{display:none;}

.daterange {
	border: 1px solid #eee;
	padding: 7px;
	background-color: #eeeeee;
	color: #aaa;
	margin: 0px 0px 20px -52px;
	float: left;
}



.blueborder {
    border-top: 2px solid #34B327;
}

/* EOF Campaign Details Tab*/

/*Audience Selection Tab*/
.don-arrow {
	background: rgba(0, 0, 0, 0) url("../img/don-arrow.png") no-repeat scroll center center;
	height: 30px;
	position: absolute;	
	width: 35px;
	z-index: 1000;
	margin: -4px 0px 0px -34px;
}
.don-message {
    margin-bottom: 10px;
	margin-left: 15px;
	font-size: 12px;	
	font-weight: 400;
}
.top-audi-block {    
    padding: 50px 50px 0 50px;
}
.top-audi-block .row {
	border: 1px solid #eaeaea;
}
.top-audi-block .row .txt-pos {
	line-height: 48px;
}
#audienceform .form-control {
	width: 246px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    -webkit-transition:none;
}
#audienceform .sel-marg {
	margin-top: 5px;
	margin-bottom: 2px;
}
.top-audi-block .row:hover {
	/* background-color: #FEF9E4; */	/* removed background color on hover in audience selection tab */
	border-top: 1px solid #BDD9E5;
	border-bottom: 1px solid #BDD9E5;
	border-left: 1px solid #BDD9E5;
}
.top-audi-block .inner-msg {
	font-size: 13px;
    color:  #adadad;
	padding-bottom: 10px;
}
.colapsediv {
    background-color: #DAF0FA;
	border:1px solid #AFD2EA;    
    color: #ffffff;
    height: 50px;
    margin-top: 30px;
    padding-left: 0;
    padding-top: 5px;
    width: 100%;
}
.colapsediv-whiteboxwithcontent {
    border-bottom: 1px solid #AFD2EA;
    border-left: 1px solid #AFD2EA;    
    border-right: 1px solid #AFD2EA;
    float: left;
    margin-bottom: 7px;   
    width: 100%;    
}
.colapsediv .col-title {	
	color: #2ea4db;
	font-size: 14px;
	font-family: "Helvetica Neue Bold", Helvetica;
	font-weight: 600;
	margin: 6px 20px;
	float: left;
}
.colapsediv .col-divide {
	margin: 6px 1px;
	color: #999;
	float: left;
}
.set-ful-width {
	width: 100%;
}
.colapsediv .col-txt {
	margin: 6px 20px;
	color: #999;
	float: left;	
}
.bott-block {
	padding: 10px;
	background-color: #efefef;
}
.geo-logo {
	background: rgba(0, 0, 0, 0) url("../img/geo.png") no-repeat scroll center center;
	height: 30px;
	position: absolute;
	left: -7px;
	top: -4px;
	width: 35px;
	z-index: 1000;
}
.geo-txt {
	color:#6d6d6d;
    font-weight:600;
    margin-left:20px;
}
.org-logo {
	background: rgba(0, 0, 0, 0) url("../img/org.png") no-repeat scroll center center;
	height: 30px;
	position: absolute;
	left: -7px;
	top: -4px;
	width: 35px;
	z-index: 1000;
}
.col-button-colapsed {
    background: rgba(0, 0, 0, 0) url("../img/expand.png") no-repeat scroll center center;
    height: 30px;
    position: absolute;   
    width: 35px;
    z-index: 1000;
    margin-left: 1%;
    margin-top: 5px;
}
.col-button-expand {
    background: rgba(0, 0, 0, 0) url("../img/colapsed.png") no-repeat scroll center center;
    height: 30px;
    position: absolute;   
    width: 35px;
    z-index: 1000;
    margin-left: 1%;
    margin-top: 5px;
}
.geo-sub-txt {
	padding: 12px 0px 12px 37px;
}
.bottom-audi-block {    
	padding: 25px 40px 0 40px;
}
.marg-set {
	width: 100%;
	overflow-y: auto;
	height: 300px;
	margin-left: 0px;
}
.set-row-marg {
    padding-left: 34px;
}
.bott-line {
	border-bottom : 1px solid #cacaca;
	width: 92%;
	height: 50px;
}
.bot-msg {
	font-size: 13px;
	color: #adadad;
	padding-bottom: 45px;
	margin-left: 12px;
	margin-top: 6px;
	float: left;
}
.sel-marg .select-box {
	display: inline-block;
}
.divder {
	border-right: 1px solid #e6e6e6;
	display: inline-block;
	width: 1px;
	height: 20px;
}
.divder-col {
	width: 180px;
	float: left;
}
.divder-colap {
	border-right: 1px solid #ccc;
	display: inline-block;
	width: 1px;
	height: 38px;
	margin-left: 54%;
}
.set-lef-mar {
    margin: 0px 0px;
    border-right: 1px solid #AFD2EA;
    height: 50px;
}

.block-scrl {		
	width: 284px;
	float: left;
}
.deletblk {
	position: absolute;
	right: 10px;
	margin-top: -38px;
	border-top: 1px solid #BDD9E5;
	border-bottom: 1px solid #BDD9E5;
	border-right: 1px solid #BDD9E5;
}
.del-button {
    background: rgba(0, 0, 0, 0) url("../img/delrow.png") no-repeat scroll center center;    
	position: absolute;
	width: 44px;
	z-index: 1000;
	height: 59px;
	margin: -59px -4px;  
    cursor: pointer;
}
.sel-marg .select2-container {
	background-color: #fff !important;
	background-image: none !important;
	border: 1px solid #fff !important;
	border-radius: 0px !important;
	box-shadow: none !important;
}
.marg-block {
	/*height:40px;*/
}
.del-button-detail {
    background: rgba(0, 0, 0, 0) url("../img/delrow.png") no-repeat scroll center center;    
    position: absolute;
    width: 40px;
    z-index: 1000;
    height: 20px;
    /* margin: -21px -4px 0 200px !important; */ 
    cursor: pointer;
}

.popu a {
    position: relative;
}

.popover {
    text-decoration: none;
    color: black;
    position: absolute;
    left: 100%;
    top: 0;
    border : 1px solid #7FAEC4;
    background-color: #ECFAFF; 
    display: inline-block;
    padding: 10px 18px;
    vertical-align: top;
	border-radius: 0px !important;
}

.popover:before {
    background-color: #ECFAFF;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    border-left : 1px solid #7FAEC4;
    border-bottom : 1px solid #7FAEC4;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.you {
    float: left;   
	margin: -6px 45px 5px 143px;    
	width: 300px;
}

.you-dail {
    float: left;   
	margin: -6px 45px 5px 108px;    
	width: 300px;
}

.you-asset {
    float: left;   
	margin: -6px 45px 5px 45px;
	width: 300px;
}

.you-dail::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;    
}

.you-asset::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;    
}

.you::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;    
}

.add-btn-img-asset {
	display: inline-block;
	background: rgba(0, 0, 0, 0) url("../images/Add-btn.png") no-repeat scroll center center;
	width: 50px;
	height: 35px;
	cursor: pointer;	
}
.rem-btn-img-asset {
    display: inline-block;
    background: rgba(0, 0, 0, 0) url("../images/close-popup.png") no-repeat scroll center center;
    width: 50px;
    height: 35px;
    cursor: pointer;
    position: relative;
    float: left;
}
.assetRow {
	margin-left:30px;
    margin-bottom: 20px;
}
.assetRow table, td, th {	
	border: 1px solid #ddd;
	padding: 4px;  	
}

.transDate {	
	position: absolute;
	top: 1px;
	height: 40px;
	width: 96px;
}
.transDatePos {
	margin-left: -130px;	
}
.leftFloat {
	float:left;
}
.switchCls {
	margin: -8px 15px;
}
.giveUrlTxt {
	height: 52px;
	margin-left: 30px;
}
.urltxtmargin {
	margin-left: 30px !important;
}
.closebtn {
	border-top: none;
	border-bottom: none;
	border-right: none;
}
.toast-error {
    position: absolute;
    margin: -13px 162px !important;
}

.confirm-Action-modal .highlight-label {
    font-weight: 600;
}
.confirm-Action-modal .body-img {
    width: 13%;
    display: inline-block;
    vertical-align: top;
}
.confirm-Action-modal .body-text {
    width: 86%;
    display: inline-block;
}
/* EOF Campaign Details Tab*/
/************************************* start by sagar ************************************************************************/

#teamselectionform .filter-div {
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 5px;
    background: #EDF1f3;
}

#teamselectionform .back-to-img {
	    background: #ffffff url("../images/backto.png") no-repeat scroll center center;
	height: 23px;
    position: absolute;
     /* top: -4px; */
       width: 26px;
    z-index: 1000;
    /* margin-top: 10px; */
}

#teamselectionform .back-bg-color {
	color: #29abe2;
}

#teamselectionform .backto-align-block {
	display: inline-block;
	cursor: pointer;
}

#teamselectionform .select-team-img {
	background: rgba(0, 0, 0, 0) url("../img/select-team.png") no-repeat scroll center center;
    height: 23px;
    position: absolute;
    /* left: 32px; */
    /* top: -4px; */
    width: 35px;
    z-index: 1000;
    /* margin-top: 10px; */
}

#teamselectionform .img-info {
	padding-left: 34px;
}

#teamselectionform .highlight-green-label {
	color: #34B327;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

#teamselectionform .normal-highlight-green-label {
	color: #34B327;
    
}

#teamselectionform .msg-info-color {
	color: #29abe2;
}

#teamselectionform .filter-div .select-country {
	display: inline-block;
	width: 15%;
	float: left;
	margin-right: 21px;
}
#teamselectionform .filter-div .select-state {
	display: inline-block;
	width: 20%;
float: left;
	margin-right: 21px;
}
#teamselectionform .filter-div .select-rating {
	display: inline-block;
	width: 17%;
	float: left;
	margin-right: 21px;
}
#teamselectionform .filter-div .select-lang {
	display: inline-block;
	width: 13%;
	float: left;
	margin-right: 21px;
}
.more-arrow {
	position: absolute;
	margin: -4px -9px;
}

#teamselectionform .filter-div .select-more-filter {
	    /* background: rgba(0, 0, 0, 0) url("../img/more-filter.png") no-repeat scroll center center; */
    display: inline-block;
    width: 8%;
    /* background-color: #286E96; */
    cursor: pointer;
	float:left;
}

#teamselectionform  .more-filter-div-popup {
	background: #FFFFFF;
    margin-top: 0px;
    /* border: 0px; */
    border-top: 0px;
}

#teamselectionform  .main-filter-div {
	margin-bottom: 15px;
}

#teamselectionform .filter-div .more-filter-popup {
	list-style: none;
}
#teamselectionform .gb_aa {
	  left: 940px;
    top: 94px;
}
#teamselectionform .pointer {
	left: 940px;
    top: 94px;
}

#teamselectionform  .more-filter-div-popup .more-filter-sub-div {
	width: 19%;
    display: inline-block;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    vertical-align: top;
}

#teamselectionform  .more-filter-div-popup .more-filter-sub-div .filters-samples{
	    border-bottom: 1px solid #DBDBDB;
	    padding: 2px;
}

#teamselectionform  .align-inviteforbid-btn{
	     display: inline-block;
    float: right;
    cursor: pointer;
}

#teamselectionform  .more-filter-div-popup .more-filter-sub-div .price-block {
	width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
#teamselectionform  .more-filter-div-popup .more-filter-sub-div .price-block-sort {
	padding-left: 40px;
    width: 77%;
}

#teamselectionform .dropdown-menu {
	top: 0; 
}

#teamselectionform .pointertop {
	margin-top: 92px !important;
}

#teamselectionform .filter-div .select-search {
    display: inline-block;
    width: 8%;
    background-color: #29abe2;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
	float:left;
}
#teamselectionform .filter-div .select-box {
	    background: #ffffff url("../images/down-arrow.png") no-repeat scroll 90% 55%;
	    padding-bottom: 4px;
}

#teamselectionform .cross-img {
	    background: #ffffff url("../images/cancel-team-selection.png") no-repeat scroll center center;
	height: 23px;
    position: absolute;
    right: 0;
    /* top: -4px; */
       width: 26px;
    z-index: 1000;
    /* margin-top: 10px; */
    cursor: pointer;
}

#teamselectionform .navigate-space {
	    margin-left: 10px;
    margin-right: 10px;
}
#teamselectionform .nav-tab-color {
	color : #999999;
}



#teamselectionform .filter-div .filter-icon {
	    background: rgba(0, 0, 0, 0) url("../img/more-filter.png") no-repeat scroll center center;
    height: 23px;
    position: initial;
    /* left: 32px; */
    top: -4px;
    /* width: 35px; */
    /* z-index: 1000; */
    /* margin-top: 10px; */
}

#teamselectionform .complete-team-desc .team-desc-block .text-center{
	    text-align: initial;
}

#teamselectionform .complete-team-desc .team-desc-block .team-sub-desc-align {
	    padding-top: 7px;
    padding-bottom: 7px;
}

#teamselectionform .team-info {
	background-color: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
}

#teamselectionform .team-info .team-logo-block{
	   display: inline-block;
    width: 10%;
    vertical-align: top;
    padding: 10px;
    padding-left: 18px;
}

#teamselectionform .team-info .team-desc-block{
	    display: inline-block;
    width: 50%;
}

#teamselectionform .team-info .team-select-bid-btn-logo{
	      display: inline-block;
    width: 15%;
    cursor: pointer;
    color: #ffffff;
    border: none;
    vertical-align: top;
    margin-top: 25px;
       text-align: center;
      margin-left: 175px;
    
}

#teamselectionform .team-info .team-invitation-sent-info {
	    display: inline-block;
    width: 15%;
    /* background-color: #29abe2; */
    cursor: pointer;
    color: #ffffff;
    border: none;
    vertical-align: top;
    margin-top: 25px;
    text-align: center;
    margin-left: 235px;
}


#teamselectionform .complete-team-desc .team-selected-btn-logo {
	 display: inline-block;
    width: 10%;
  
    cursor: pointer;
    color: #ffffff;
    border: none;
    vertical-align: top;
    margin-top: 25px;
       text-align: center;
      margin-left: 270px;
}

#teamselectionform  .main-upper-div {
	padding-bottom: 20px;	
}

#teamselectionform  .team-bid-bgcolor-btn {
	 background-color: #29abe2;
	 cursor:pointer;
}

#teamselectionform  .team-shortlist-bgcolor-btn {
	 background-color: #34B327;
}

#teamselectionform .highlight-label-color {
	color: #29abe2;
    margin-left: 8px;
}


#teamselectionform .team-agent-info {
	background: #EDF1f3;

}


#teamselectionform .filter-div .select-filter-btn {
	    display: inline-block;
    /* color: #fff; */
    /* height: 38px; */
    /* float: right; */
    /* margin-top: 10px; */
    padding-right: 10px;
        color: #AFAFAF;
   
}

#teamselectionform .filter-div .select-more-filter-selected-btn {
	 color: #000000;
}

#teamselectionform .filter-div .select-apply-btn {
	    display: inline-block;
    /* color: #fff; */
    /* height: 38px; */
    /* float: right; */
    /* margin-top: 10px; */
    /*padding-right: 10px;*/
        color: #FFFFFF;
   
}

#teamselectionform .reset-team-search {
	    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-top: 3px;
}

#teamselectionform .team-nav-info {
	border: 1px solid #ccc;
	
	margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    background: #EDF1f3;
}

#teamselectionform .set-reset-team-search-img {
	width: 40px;
    height: 37px;
    float:left;
	margin-top: -2px;
}

#teamselectionform .team-nav-info .search-best-team-img-block {
	display:inline-block;
	width:33%;
	border-right: 1px solid  #ccc;
	padding-left: 61px;
	padding-top: 10px;
    padding-bottom: 10px;
}
#teamselectionform .team-nav-info .invite-block-info {
	display:inline-block;
	width:33%;
	border-right: 1px solid  #ccc;
	padding-left: 61px;
	padding-top: 10px;
    padding-bottom: 10px;
}
#teamselectionform .team-nav-info .finalize-block-info {
	display:inline-block;
	width:33%;
	padding-left: 61px;
	padding-top: 10px;
    padding-bottom: 10px;
}

#teamselectionform .team-nav-info .search-best-team-img {
	background: rgba(0, 0, 0, 0) url("../img/search-team.png") no-repeat scroll center center;
    height: 23px;
    position: absolute;
    /* left: 32px; */
    /* top: -4px; */
    width: 35px;
    z-index: 1000;
    /* margin-top: 10px; */
}
#teamselectionform .team-nav-info .invite-img {
	background: rgba(0, 0, 0, 0) url("../img/invite.png") no-repeat scroll center center;
    height: 23px;
    position: absolute;
    /* left: 32px; */
    /* top: -4px; */
    width: 35px;
    z-index: 1000;
    /* margin-top: 10px; */
}
#teamselectionform .team-nav-info .finalize-img {
	background: rgba(0, 0, 0, 0) url("../img/finalize.png") no-repeat scroll center center;
    height: 23px;
    position: absolute;
    /* left: 32px; */
    /* top: -4px; */
    width: 35px;
    z-index: 1000;
    /* margin-top: 10px; */
}

#teamselectionform .complete-team-desc {
	margin-bottom: 15px;

}

#teamselectionform  .team-related-info {
	display: inline-block;
    /* padding: 3px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

#teamselectionform .complete-team-desc .agent-logo-block {
	     display: inline-block;
    vertical-align: top;
    padding: 15px;
        padding-left: 69px;
}
#teamselectionform .complete-team-desc .agent-suggestion-align {
	    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;

}

#teamselectionform .team-search-info-block {
	   
	    display: table;
    width: 100%;
    border-collapse: separate;
  border-spacing: 10px;
     
}
#teamselectionform .team-search-info-block .left-bx {
	display: table-cell;
	width: 48%;
	vertical-align: top;
	background-color: #ffffff;
}
#teamselectionform .team-search-info-block .right-bx {
	display: table-cell;
	width: 48%;
	vertical-align: top;
	background-color: #ffffff;
}

#teamselectionform .table-block .left-bx {
	display: table-cell;
	width: 48%;
	vertical-align: top;
	background-color: #ffffff;
	border: 1px solid #C6D5DD;
}
#teamselectionform .table-block .right-bx {
	display: table-cell;
	width: 48%;
	vertical-align: top;
	background-color: #ffffff;
	border: 1px solid #C6D5DD;
}
#teamselectionform .team-search-info-block .diffrent-team-info-label {
	padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: #34B327;
    font-weight: 700;
    
     
}

#teamselectionform .last-team-info {
	border-bottom: 1px solid #DBDBDB;
	    padding-bottom: 10px;
}

#teamselectionform .last-team-agent-highlight-info {
	border-bottom: 1px solid #34B327;
}

#teamselectionform  .highlight-name {
	    font-weight: 600;
    font-size: 14px;
}

#teamselectionform .team-search-info-block .different-team-info {
	padding-left: 20px;
    padding-top: 10px;
  
 	padding-right: 10px;
}

#teamselectionform .team-search-info-block .different-team-info .starlist-img {
	height: 26px;
    width: 26px;
    margin-right: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  
}

#teamselectionform .team-search-info-block .different-team-info .starlist-img-no-right-mrg {
	height: 26px;
    width: 26px;
   
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  
}

#teamselectionform .team-search-info {
	
	padding: 10px;
}

#teamselectionform .different-team-search-info-block {
	display:inline-block;
	width: 49%;
	border-bottom: 1px solid #34B327;
	padding-bottom: 10px;
}

#teamselectionform .leave-marg {
	margin-top: 21px;
}

#teamselectionform .team-intereacted-white-block {
	background-color: #FFFFFF;
    padding-left: 6%;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

#teamselectionform .shortlisted-team-div {
	background-color: #C5D6DE;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    width: 28%;
    display: inline-block;
}

#teamselectionform .no-margin-leave {
	margin-right: 40px;
	margin-bottom: 10px;
}

#teamselectionform .shortlisted-team-desc {
	background-color: #F5F6F6;
	
}
#teamselectionform .accept-bid-btn-font {
	color: #ffffff;
    font-size: 14px;
   font-weight: bolder;
}

#teamselectionform .align-accept-bid-btn {
	    margin-left: 10px;
    margin-right: 10px;
}

#teamselectionform .team-font-block {
	font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    /* text-indent: initial; */
    text-align: center;
    padding-bottom: 13px;
    min-height: 57px;
}
#teamselectionform .align-center {
	text-align: center;
}
#teamselectionform .shortlisted-team-name {
	       padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
    padding-bottom: 10px;
        border-bottom: 1px solid #C6D5DD;
        min-height: 115px;
}
#teamselectionform .shortlisted-team-price {
	border-top: 1px solid #C6D5DD;
    border-bottom: 1px solid #C6D5DD;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
}
#teamselectionform .price-block1 {
	padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid #C6D5DD;
    padding-bottom: 8px;
    padding-top: 7px;
}
#teamselectionform .price-block2 {
	padding-left: 25px;
    padding-right: 25px;
    /* border-bottom: 1px solid #C6D5DD; */
    padding-bottom: 8px;
    padding-top: 7px;
}
#teamselectionform .different-team-related-short-info {
	padding-left: 19px;
    padding-right: 10px;
    border-bottom: 1px solid #C6D5DD;
    padding-bottom: 8px;
    padding-top: 7px;
}

#teamselectionform .main-different-team-related-short-info {
	padding-left: 20px;
    padding-right: 20px;
}
#teamselectionform .img-block {
	    border-right: 1px solid #C6D5DD;
    width: 29%;
    display: inline-block;
    vertical-align: middle;
}

#teamselectionform .img-block .img-block {
	width: 23px;
    height: 31px;
}
#teamselectionform .img-value {
	display: inline-block;
    /* text-align: end; */
    padding-left: 10px;
    vertical-align: -webkit-baseline-middle;
}
#teamselectionform .team-related-description {
	padding: 21px;
    text-align: center;
}

#teamselectionform .close-shortlisted-team-div {
	position: relative;
	padding:5px;
	height: 55px;
}
#teamselectionform .close-shortlisted-team-div .team-people {
	position: absolute;
	border: 25px solid #F5F6F6;
	border-radius: 50%;
	left: 30%;
}

#teamselectionform .campaign-ready-upper-block {
	padding-left: 5%;
    padding-right: 5%;
}
#teamselectionform .campaign-ready-upper-block .align-campaign-ready-label{
	font-size: 20px;
    font-weight: 600px;
    text-align: center;
    font-weight: inherit;
    padding-bottom: 20px;
}
#teamselectionform .campaign-ready-upper-block .campaign-ready-middle-block{
	background: #F6F6F6;
}
#teamselectionform .campaign-ready-upper-block .align-campaign-ready-img-block{
	display: inline-block;
    width: 20%;
    text-align: right;
    /* right: 15px; */
    vertical-align: bottom;
}
#teamselectionform .campaign-ready-upper-block .align-campaign-ready-general-info{
	display: inline-block;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 0px;
    /*padding-bottom: 10px;*/
    /* margin-left: 39px; */
    /*margin-left: 4%;*/
}

#teamselectionform .campaign-ready-upper-block .align-list-items {
	margin-top: 10px;
}
#teamselectionform .campaign-ready-upper-block .align-lanch-campaign-btn {
	margin-left: 36%;
    margin-right: 36%;
    margin-top: 4%;
    margin-bottom: 4%;
}

#teamselectionform .campaign-ready-below-block .align-collapse-icon {
	right: 0px;
}
#teamselectionform .campaign-ready-below-block .colapsediv-grayboxwithcontent {
	    
}

.inside-table-gray-block {
	background: #F6F6F6;
    padding: 16px;
    border-left: 1px solid #AFD2EA;
    border-right: 1px solid #AFD2EA;
    border-bottom: 1px solid #AFD2EA;
}

#teamselectionform .campaign-ready-below-block .table-block {
	 margin-bottom: 13px;
	    display: table;
    width: 100%;
    border-collapse: separate;
  border-spacing: 10px;
}
#teamselectionform .campaign-ready-below-block .table-left-div {
	display: inline-block;
    border: 1px solid #C6D5DD;
       width: 56%;
    /* padding-right: 10%; */
    margin-right: 2%;
    background: #ffffff;
   
}
#teamselectionform .campaign-ready-below-block .table-right-div {
	    display: inline-block;
   width: 41%;
    border: 1px solid #C6D5DD;
    background: #ffffff;
   
}
#teamselectionform .campaign-ready-below-block .label-font {
	 border-bottom: 1px solid #AFD2EA;
	 font-weight: 600;
	 font-size: 15px;
	 color:#99CF51;
	     padding: 10px;
    text-transform: uppercase;
}
#teamselectionform .campaign-ready-below-block .label-description {
	 padding: 10px;
}

 .sub-info {
	    border-bottom: 1px solid #E9E9E9;
	   
}
 .sub-info-space {
	    padding: 6px;
}
.sub-info-space1 {
	    padding: 6px;
	    padding-left: 10px;
}
#teamselectionform .campaign-ready-below-block .align-sub-teaminfo {
	display: inline-block;
	 width: 10%;
	 border: 1px solid #C6D5DD;
}
 .align-sub-teamSizeinfo {
	display: inline-block;
    width: 15%;
    border: 1px solid #E9E9E9;
    padding: 2px;
}
 .align-sub-teampriceinfo {
	display: inline-block;
    width: 15%;
    border: 1px solid #E9E9E9;
    padding: 2px;
}
.align-sub-teamHoursinfo {
	display: inline-block;
   width: 32%;
    border: 1px solid #E9E9E9;
    padding: 2px;
}

.align-sub-teamProjectsinfo {
	display: inline-block;
    width: 32%;
    border: 1px solid #E9E9E9;
    padding: 2px;
}
#teamselectionform .align-bid-btn-in-different-window {
	margin-left: 0px;
    /* padding-top: 2%; */
       margin-top: 2%;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    /* padding-right: 0px; */
    border: 0px;
    text-align: center;
    width: 32%;
    cursor: pointer;
    height: 28px;
    padding: 5px;
    display: inline-block;
}

#teamselectionform .hidden-info-align {
	margin-top: 3%;
}
#teamselectionform .blue-color-name {
	color: #29abe2;
	cursor: pointer;
}

#teamselectionform ul {
    list-style-image: url('../images/round.png');
	line-height: 30px;
	font-size: 12px;
}

.acceptBidClass .modal-dialog {
	    width: 44%;
}
.acceptBidClass .modal-body {
  padding: 5px 25px 10px 25px;
    background: #F0F4F6;
}
.acceptBidClass .align-tab {
    display:inline-block;
    margin-right: 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.acceptBidClass .tab-result {
     background: #ffffff;
    border: 1px solid #D0E0E7;
    /* height: auto; */
    float: left;
    width: 100%;
    /* padding: 7px; */
    padding: 10px 0 10px 0;
}
.acceptBidClass .middle-info-msg-block {
	text-align: center;
    background-color: #D9DDDF;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
}
.acceptBidClass .body-tabs{
	padding: 10px 0 0 0;
}
.acceptBidClass .complete-submid-div{
	padding: 10px 0 10px 0;
    float: left;
    width: 100%;
    /* border: 1px solid #D0E0E7; */
    border-top: 1px solid #D0E0E7;
    border-bottom: 1px solid #D0E0E7;
    margin-top: 10px;
    margin-bottom: 10px;
}
.acceptBidClass .left-submid-div{
	float: left;
    background: #ffffff;
    border: 1px solid #D0E0E7;
    width: 50%;
}
.acceptBidClass .right-submid-div{
	float: right;
    background: #ffffff;
    border: 1px solid #D0E0E7;
    width: 48%;
}
.acceptBidClass .comment-div {
	float: left;
    width: 100%;
}
.acceptBidClass .comment-area-box {
	width: 100%;
	min-height: 100px;
}
.acceptBidClass .label-font{
	border-bottom: 1px solid #D0E0E7;
    font-size: 15px;
    text-transform: uppercase;
  
    color: #87C729;
    font-weight: 700;
}
.acceptBidClass .label-description{
	padding: 10px;
}
.acceptBidClass .label-highlight{
	font-weight: 600;
}
.acceptBidClass .active-tab-border{
	border-bottom: 2px solid #87C729;
}
.acceptBidClass .active-tab-highlight{
	font-weight: 600;
}
.acceptBidClass #cancleCampaign .modal-footer, .modal-header {
	text-align: center;
    text-transform: uppercase;
    font-size: 19px;
    background: #FFFFFF;
    /* margin-top: 10px; */
    padding-top: 11px;
    /* padding-right: 10px; */
    padding-bottom: 10px;
    margin: 0;
}
.modal-content {
	border-radius: 10px; 
}
.popup-label{
	display: inline-block;
	border-right: 1px solid #E9E9E9;
	width: 80%;
}
.close-popup{
	display: inline-block;
    width: 17%;
    float: left;
}
.cross-img {
	background: #ffffff url("../images/close-popup.png") no-repeat scroll center center;
    height: 23px;
    position: absolute;
    right: 23px;
    /* top: -4px; */
    width: 35px;
    z-index: 1000;
    /* margin-top: 10px; */
    cursor: pointer;
}
.acceptBidClass .popup-bgcolor-btn {
	background-color: #29abe2;
    cursor: pointer;
    width: 23%;
    color: #ffffff;
    font-size: inherit;
}
.cross-img-detail {
    background: #ffffff url("../images/close-popup.png") no-repeat scroll center center;
    height: 16px;
    position: absolute;
    right: 16px;
    /* top: -4px; */
    width: 11px;
    z-index: 1000;
     margin-top: 10px !important; 
    cursor: pointer;
}
.popupValuesClass .popup-bgcolor-btn {
	background-color: #29abe2;
    cursor: pointer;
    width: 22%;
    color: #ffffff;
    font-size: inherit;
}
.acceptBidClass .popup-label {
	text-align: center;
}
.innervalue-block {
	display: inline-block;
	    margin-left: 5px;
}
.modal-footer-block {
	float: left;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 20px;
}

.popupValuesClass .modal-dialog {
	margin-top: 12%;
    width: 29%;
}

.popupValuesClass .popup-gray-btn {
	background-color: #999999;
    cursor: pointer;
   width: 18%;
    color: #ffffff;
    font-size: inherit;
    margin-right: 10px;
}
.popupValuesClass .modal-footer-block {
	background: #EFF3F5;
}

.popupValuesClass .modal-body {
	background: #EFF3F5;
}
.popupValuesClass #cancleCampaign .modal-footer, .modal-header {
	    text-align: left;
}

.popupValuesClass .popup-label {
	    padding-left: 15px;
	    text-transform: capitalize;
}
#teamselectionform .final-team-intereacted-white-block {
	padding-right: 1%;
    padding-top: 1%;
    padding-left: 1%;
}

.modal .blue-btn-size {
	width: 20%;
}
.popupValuesClass .popup-middle-block {
	padding: 5px;
}
.popupValuesClass .label-blk {
	padding-left: 10px;
}
.popupValuesClass .dropdown-align1 {
	padding-bottom: 15px;
	width: 50%;
}

.popupValuesClass .inside-table-gray-block {
	background: #F6F6F6;
	border-left: 1px solid #AFD2EA;
    border-right: 1px solid #AFD2EA;
    border-bottom: 1px solid #AFD2EA;
    padding: 0;
}

.popupValuesClass .table-contents {
	    width: 80%;
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #A9C1CE;
}

.popupValuesClass .delete-img-align {
	display: inline-block;
    background: rgba(0, 0, 0, 0) url("../img/delrow.png") no-repeat scroll center center;
    width: 15%;
    height: 25px;
    padding: 7px;
    vertical-align: text-bottom;
    cursor: pointer;
}

.popupValuesClass .add-btn-img-align {
	display: inline-block;
    background: rgba(0, 0, 0, 0) url("../images/Add-btn.png") no-repeat scroll center center;
    width: 70px;
    height: 42px;
    cursor: pointer;
}

.popupValuesClass .colapsediv {
	    background-color: #A9C1CE;
    border: 1px solid #A9C1CE;
        margin-top: 0;
    height: 39px;
    padding-top: 0; 
}

.popupValuesClass .colapsediv .col-title {
	color: #ffffff;
	text-transform: uppercase;
}

.popupValuesClass .dropdown-align2 {
	padding-bottom: 15px;
    padding-left: 10px;
    width: 61%;
    display: inline-block;
}
.popupValuesClass .selectize-input {
	-webkit-border-radius: 0;
	border-radius: 0; 
}
/* .popupValuesClass .active, .inactive {
	font-size: 15px;
} */
.popupValuesClass .selectize-control {
	width: 100%;
}
.popupValuesClass .selectize-control > .selectize-dropdown {
	width: 300px;
}
.popupValuesClass .selectize-dropdown {
	margin: -8px 0 0 0;
}
.popupValuesClass .select-box  {
	background: #ffffff url("../images/down-arrow.png") no-repeat scroll 97% 46%;
}
.popupValuesClass .form-control {
	height: 37px;
	padding-left: 10px;
    padding: 7px;
}
.popupValuesClass .selectize-control.single .selectize-input:after {
	border-style: none; 
    border-width: 0;
    content:none;
}
.popupValuesClass .selectize-input {
	padding: 9px 8px;
}
.popupValuesClass .selectize-control.single .selectize-input {
	background-color: #ffffff;
    background-image: none;
   	background-repeat: no-repeat;
}

.align-more-attr {
	margin-right: 10px;
}
.more-target-div-popup {
	background: #FFFFFF;
    margin-top: 0px;
    /* border: 0px; */
   
}

.more-target-div-popup .gb_aa {
	left: 55.5px;
    top: -9px;
}
.more-target-div-popup .pointer {
	left: 155.5px;
    top: 0;
    border: 1px solid #C7BBBB;
}

.more-target-div-popup .more-values-block {
	/* border: 1px solid #C7BBBB; */
}

.linkofvalues {
	display: inline-block;
}

.linkofvalues .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #ffffff;
}
.linkofvalues .navbar-right > li > a {
	line-height: 20px; 
	font-weight: 300;
}

.linkofvalues .navbar-nav > li {
	height: 44px;
	font-weight: 300;
	padding:0;
}
.open > .dropdown-menu:hover {
    display: block;
}


.location-list-pop a {
    position: relative;
    cursor: pointer;
}

.location-list-pop .popover1 {
   text-decoration: none;
    color: black;
    position: absolute;
    left: 76%;
    top: -12px;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #000;
    display: inline-block;
    padding: 10px 18px;
    vertical-align: top;
    width: 81%;
	z-index: 10000;
}

.location-list-pop .popover1:before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.location-list-pop .you1 {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.location-list-pop .you1::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;    
}


.team-sub-desc-align .popover1 {
      text-decoration: none;
    color: black;
    position: absolute;
    left: 62%;
    top: -12px;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #000;
    display: inline-block;
    padding: 10px 18px;
    vertical-align: top;
    width: 115%;
    z-index: 10000;
    text-align: justify;
}

.team-sub-desc-align .popover1:before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.team-sub-desc-align .you1 {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.team-sub-desc-align .you1::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;    
}

.team-related-description .popover1 {
   text-decoration: none;
    color: black;
    position: absolute;
    /* left: 109%; */
    top: -91px;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #000;
    display: inline-block;
    padding: 10px 18px;
    vertical-align: top;
    width: 344%;
    z-index: 10000;
    text-align: justify;
}

.team-related-description .popover1:before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 17px;
    position: absolute;
    top: 86px;
    transform: rotate( 29deg ) skew( -35deg );
    -moz-transform: rotate( 29deg ) skew( -35deg );
    -ms-transform: rotate( 29deg ) skew( -35deg );
    -o-transform: rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width: 20px;
}

.team-related-description .you1 {
    float: left;
    margin: 12px 45px 5px 30px;        
}

.team-related-description .you1::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;   
}

.popupValuesClass .drpdown-placeholder {
	margin-left: 16px;
    position: fixed;
    margin-top: 8px;
    color: #aaa;
}
.popupValuesClass .align-selected-opt {
	padding-left: 67px;
}
.popupValuesClass .select-box {
	color: #211F1F;
}
.popupValuesClass .select-box option:first-child {
	color:#211F1F;
}
.popupValuesClass .align-selected-option {
	padding-left: 10px;
}
.toast-success {
    position: absolute;
    margin: -13px 162px !important;
}
.expand-desc {
    background: #F1EEEE none repeat scroll 0 0;
    border-radius: 5px;
    /* max-height: 100px; */
    /* height: 100%; */
    position: absolute;
    transition: all 1s ease 0.5s;
    width: 100%;
    z-index: 999;
    left: 40%;
    padding: 10px;
    top: 190px;
    /* overflow: scroll; */
}
.team-desc {
	position: relative;
}
.team-desc .team-expand-desc {
	position: absolute;
	top: -45px;
    left: 280px;
    text-align: justify;
}
.team-related-description .team-desc .team-expand-desc {
	position: absolute;
    top: -98px;
    left: 157px;
    width: 520px;
    text-align: justify;
}
.different-team-info p {
	margin: 0 0 0px;
}

/* scroll to top css */
.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.bott-lineSupervisor {
    border-bottom : 1px solid #cacaca;
    width: 92%;
    height: 60px;
    padding-top:8px;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
.mandotoryFields{
	color: red;
}
/******************************* end by sagar **********************************************************/

.lead-margin {
    margin-left: 50px;
}

.hide-lead-margin {
    margin-left: 160px;
}

.duplicate-company {
    width: 125px;
}

.duplicate-lead {
    width: 125px;
    margin-left: 20px
}

.suppression-popover {
    float: left;   
	margin: -6px 45px 5px 40px;    
	width: 200px;
}

.suppression-popover::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;    
}

.suppression-popover-logo {
	background: rgba(0, 0, 0, 0) url("../img/camparrow.png") no-repeat scroll center center;
	height: 32px;
	position: absolute;
	top: -4px;
	width: 35px;
	z-index: 1000;
	cursor: pointer;
}

.marg-le-title-suppression {
    margin-left: 0px;
}

.downloadIcon-oldclientMapping {
    cursor: pointer;
    font-size:20px;
    margin-left: 233px;
    margin-top: 15px;
}
.downloadIcon-newclientMapping {
    cursor: pointer;
    font-size:20px;
    margin-left: 261px;
    margin-top: 15px;
}
.downloadIcon-companysuppression {
    cursor: pointer;
    font-size:20px;
    margin-left: 208px;
    margin-top: 15px;
}
.downloadIcon-contactsuppression {
    cursor: pointer;
    font-size:20px;
    margin-left: 220px;
    margin-top: 15px;
}
.downloadIcon-abmlist {
    cursor: pointer;
    font-size:20px;
    margin-left: 250px;
    margin-top: 15px;
}

.question-input-width {
	width: 100% !important;
}

.mandotoryFields{
	color: red;
}