.page-wrap{ background: #f8f8f8; font-family: 'Open Sans', sans-serif;}
.main-header{ }
.pos-rel{position:relative; z-index:10;}
.nopad{ padding: 0;}
.white-bg{ background: #fff; display:inline-block; width:100%; padding:0 10px; border-radius: 0px; border-bottom: 1px solid #82c236;}
label{ color: #81BC21; text-transform: uppercase; font-size: 11px; font-weight: 500; width:27%; text-align: right;}
.main-header .menu{min-height: 38px; margin-bottom: 14px; }
.main-header .navbar-default {
    background-color: #7f7f7f; border-radius: 0; border: none;}
.main-header .menu li a{ text-transform: uppercase; font-weight: 500; color: #fff; padding:9.5px 10px;}
.navbar-toggle{ margin-top: 15px;}
.main-header .menu li a:last-child{ padding-right: 0;}
.left-block{width: 70%; float: left;padding-top: 10px;}

.heading{ color: #87c53e;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 300;
	/*margin: -21px 0 0 0;*/
    float: right;
    text-indent: 0;    
    }
.heading2 {
    color: #87c53e;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin: 0 15px 0 0;
    float: left;
    text-indent: 0;
}
.label-value{ color: #87c53e; font-size: 13px; font-weight: 600; padding-left: 10px; width: auto; vertical-align: middle;}
.key-value{ color: #8E8989; font-size: 12px; font-weight: 300; padding-left: 10px; width: auto; vertical-align: middle;}

.timer{ font-size: 28px; font-weight: 600; color: #777; display: inline-block;  padding: 10px 0px 17px;}
.asset-thumb{ width: 30px; height: 30px; display: inline-block;}
.asset-note{ display: inline-block;font-size: 14px;padding-left: 5px; vertical-align: top;  height: 65px; overflow: hidden;}
.asset-note.expand-note{ width:431px; position: absolute; background: #fff; z-index: 999; height: 75px; left:34px; 
    border-radius: 5px; transition: all 1s ease .5s;}
.right-sidebar{width: 24%; float: right; position: relative;}
.text{ font-size: 12px; padding: 0 2px; color: #777; margin: 7px 0;}
.callstatus-list{ list-style: none; padding: 0; display: inline-block; width:150px; float: left; margin-bottom: 8px;}
.right-sidebar .callstatus-list li{ text-align: left; padding:0 2px; margin: 0; }
/*.callstatus-list li.checkbox label{ padding-left: 0; }*/
.callstatus-list li.checkbox input[type="checkbox"]{ margin-left: 0;}
.callstatus-list li.checkbox label{    color: #81BC21;
    font-size: 11px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    width: 27%;
 }
 .callstatus-list > li:first-child {
    padding-bottom: 10px;
}
.callstatus-list li h3.heading{ margin:14px 0 0;}
.gray-btn{ background: #7f7f7f; color: #fff; width: 100%;  border: #666; margin: 5px 2px 8px; font-size: 14px; text-transform: uppercase; padding: 4px 0px; border-radius: 8px;}
.gray-btn:hover{ background: #7f7f7f; color: #fff; }
.btn-small{width: 46%; display: inline-block;  margin: 5px 2px;  font-size: 14px; padding: 3px 10px; text-transform: uppercase; color: #666;}
.btn-large{width:100%; display: inline-block;  margin: 5px 2px 15px;  font-size: 14px;padding: 3px 10px; border-radius: 8px; text-transform: uppercase;color: #666;}
.btn-main{ background: #55b6d2; border-radius: 0; font-weight: 500; margin-bottom: 11px;
    padding: 3px 10px; border: 1px #50aac4 solid; color: #fff; font-size: 18px;}

.alert-dismissable .close, .alert-dismissible .close{color: #fff;
    opacity: 1;
    position: relative;
    right: -3px;
    top: -10px;
    text-shadow: none; font-weight: 300;
    }
    #tabpanel{display:block;}
    #tabpanel ul.nav-tabs{width: 17%; display: inline-block; border:none; vertical-align: text-top; margin-left: 10px;}
        #tabpanel ul.nav-tabs li{width: 100%; margin: 10px 0;}
    #tabpanel ul.nav-tabs li a{background: #dddddd; display:block; color: #333;
    font-size: 17px;  border-radius:0;width: 86%;padding:8px 15px; border:none; margin-right: 0;}
    #tabpanel ul.nav-tabs li:hover a, #tabpanel ul.nav-tabs li:focus a,#tabpanel ul.nav-tabs li.active a {outline: none; border:none; background: #55b6d2;}
    #tabpanel ul.nav-tabs li:hover .arrow-right, #tabpanel ul.nav-tabs li:focus .arrow-right, #tabpanel ul.nav-tabs li.active .arrow-right {border-left-color:  #55b6d2;}
    #tabpanel .tab-content{width: 81%; display: inline-block; background: #fff; vertical-align: top;}
   .tab-content > .tab-pane{ border: 2px #ddd solid; min-height: 338px; padding:7px 7px 5px; position: relative;}
   .tab-content > .tab-pane.active{ border: 2px #55b6d2 solid; }
  .arrow-right {
	width: 0; 
	height: 0; 
  	margin: 15px 17px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #dddddd;position: absolute;
    right: 0;
    top: 0;
}
.blueborder{ width: 75%; margin: 0 auto; background: #54b6d1; height: 2px; opacity: 0.18}
.no-radius{ border-radius: 0;}
#tabpanel .nav-tabs.tab-status-list{width: 100%; list-style: none; padding: 0 0px 5px; margin: 0 0 5px; text-align: left; height: 40px; overflow:hidden;}
#confirm #confirmTab:hover {
    height: auto;
    overflow: visible;
}
#tabpanel .nav-tabs.tab-status-list li{ float:none; width:16%; display: inline-block; padding: 0 0px; border-right:1px #ddd solid; margin:3px 0; text-transform: uppercase; text-align:center;}
#tabpanel .nav-tabs.tab-status-list li a{   vertical-align: middle;  font-size: 10px;
    padding: 0 0px;white-space: pre-wrap;background: transparent; display: inline-block; text-transform: uppercase;   width: 100%;}
#tabpanel .nav-tabs.tab-status-list li:last-child{ border: none;}
#tabpanel .nav-tabs.tab-status-list li:hover a,#tabpanel .nav-tabs.tab-status-list li:focus a,#tabpanel .nav-tabs.tab-status-list li.active a { background: transparent;}
#tabpanel .nav-tabs.tab-status-list li:nth-child(7){ border: none;}
#tabpanel .nav-tabs.tab-status-list li a:hover,#tabpanel .nav-tabs.tab-status-list li a:focus{ background: transparent;}
.intro-block{ background: #efefef none repeat scroll 0 0;
    color: #666;
    font-size: 16px; font-weight: 600;
    font-style: italic;
    min-height: 80px;
    line-height: 1.3;
    margin: 10px 15px 15px;
    padding: 5px 10px;}
#tabpanel .tab-pane .tab-content{ width: 100%;}
.dialer-screen{ position: absolute;width: 100%; /*margin-left: -10px;*/
    /*width: 14.5%;*/ margin-left: -10px; top:45px; background: #fff;
    z-index: 666;}
.number-display input.form-control{   border-radius: 0;
    height: 28px;
    margin: 0 auto;
    text-align: center;
    width: 87%;}
.number-pad { 
    padding: 10px; background: #fff;
}
.number-pad button{ background: transparent none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 4px;
    padding: 7px 12px;
    position: relative;
    text-align: left;
    width: 28%;}
.number-pad button:hover, .number-pad button:focus{ background: #eee;}
.number-pad button.attand-call,.number-pad button.ignore-call{ border: medium none;
    display: inline-block;
    height: 45px;
    padding: 0;
    text-align: center;
    width: 26%;}
/*#call-status{ display: none;}*/
.row.margin-right {
    margin-right: -20px;
}
.left-block .margin-right p{ display: inline-block; width: 100%;}
.margin-right .white-bg .label-value{ font-size: 15.7px; font-weight: 600;}
.heading.lasthead{margin-top: -18px; margin-left: 40px; margin-bottom: 15px;}
.innercontent{ width: 95%; margin:15px auto 0; overflow: hidden; font-size: 16px; font-weight: 300; color: #000;}
.innercontent .checkbox + .checkbox, .radio + .radio, .checkbox, .radio {
    margin-bottom: 0px; margin-top: 0;
}
.innercontent div p{ line-height: 0.7;
    margin-bottom: 11px;}
.innercontent div.col-md-12 .checkbox{margin: 0 20px;display: inline-block; width: 20px;}
.innercontent div.col-md-11 .label-value{ width: 50%;}
.right-sidebar label.call-timer {
    width: 28%;
}
.right-sidebar .label-value {
    width: 42%;
}
.active-border{ outline: 2px #55b6d2 solid;}
#email .btn-main{float: right;
    margin: 50px 0 0;
    width: 55%;}
.total-ques{ color: #777; padding:0 10px; float: right; margin: 0;}
.innercontent .checkbox > span{font-size: 15px;
    text-transform: uppercase;
    vertical-align: top; line-height: .8;}
.small-inner-block{ width: 62%; margin: 0 auto;}
.carousel-inner .checkbox > span {
    line-height: 0.5;
}
.carousel-inner .small-inner-block .checkbox {
    padding: 0 0 0 20px;
}
.tab-content > .tab-pane.active.finalstep{border:2px solid #ddd;}
.correct-contact-detail .col-md-12{ margin-bottom: 0px;}
.name-field {
    display: inline-block;
    line-height: 0;
    text-align: left;
    vertical-align: super;
    width: 80px;
}
.carousel-inner .small-inner-block{ width: 50%; }
button[disabled].btn-main{background: #bbb none repeat scroll 0 0;
    border: 1px solid #aaa;}
.add-note-field{display: inline-block;  height: 70px;}
.note-btn{ background: #999 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0px;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 15px;
    text-transform: uppercase;
    vertical-align: bottom; margin: 10px 1px;}
#status-detail{
    background: #eee none repeat scroll 0 0;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 400;
    left: 25%;
    min-height: 100px;
    padding: 15px;
    position: absolute;
    top: 142%;
    width: 558px;
}
/*#tab:hover + #status-detail{display: block !important;}*/
/*#tab:hover + #status-detail{display: block;}*/
/*.slidetop{overflow-y: hidden;
	max-height: 500px;  approximate max height 

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);}
.slidetop.closed {
	max-height: 0;
}*/


/* QA Details CSS */
.alert-info { height: 39px !important; }
.font-label {
	font-size:15px;
}
.editable-error{
	color: red !important;
	font-size: 12px;
}
.left-info {	
	color: #fff;
	width: 15%;
	border-right: 2px solid #fff;
	float: left;
	margin-top: -9px;
	height: 41px;
	margin-left: -8px;
	padding: 7px 0 0 39px;
    cursor: pointer;
}
.center-info {	
	color: #fff;	
	width: 5%;
	border-right:2px solid #fff;
	float: left;
	margin-top: -10px;
	height: 41px;
    cursor : pointer;
}
.right-info {	
	color: #fff;	
	width: 77%;	
	float: left;
	margin-top: -8px;
	height: 41px;
	padding: 7px 0 0 86px;
	border-right:2px solid #fff;
}
.right-end {	
	color: #fff;	
	width: 5%;
	float: right;
	margin: -9px -8px;
	height: 41px;
	padding: 17px 0px 18px 39px;
	position: relative;
	cursor : pointer;
}
.arrow-left {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #fff;
	margin: 16px 19px;
	float: left;
	cursor: pointer;
}
.arrow-left-disabled {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #cacaca;
	margin: 16px 19px;
	float: left;
	cursor: pointer;
}
.arrow-up-side {
	animation: 0.2s ease 0s normal none 1 running gb__a;
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2);
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	height: 0;
	left: 275.5px;
	position: absolute;
	top: -9px;
	width: 0;
	z-index: 1;
}
.preview-left-logo {
	background: rgba(0, 0, 0, 0) url("../images/logo1.png") no-repeat scroll 0 0;
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 60px;
	position: absolute;
    cursor: pointer;
}
.arrow-right {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #fff;	
	margin: 15px 17px;
	float: left;
	cursor: pointer;
	position: absolute;
}
.arrow-right-disabled {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #cacaca;
	margin: 15px 17px;
	float: left;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}
.arrow-left-center {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #fff;
	margin: 6px 0px 0px -16px;
	float: left;
}
.main-upper-block {
	
    width: 100%;
    border-collapse: separate;
    /* border-spacing: 10px; */
    margin-bottom: 10px;
	
}
.left-campaign-block {
	display: table-cell;
	border-bottom: 1px solid #96b47e;
    width: 308px;
    padding: 8px;
    margin-bottom: 10px;
    border-right: 10px solid #f8f8f8;
    background-color: #fff;
	
}
.middle-call-block {
	display: table-cell;
	border-bottom: 1px solid #96b47e;
    width: 33%;
    padding: 8px;
    margin-bottom: 10px;
    border-right: 10px solid #f8f8f8;
    background-color: #fff;
}
.right-agent-block {
	display: table-cell;
	border-bottom: 1px solid #96b47e;
    width: 34%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #fff;
}
.lead-block {
	height: 45px;
    width:100%;
	padding: 8px;
	background-color: #fff;
}
.edit-button-block {
	height: 40px;
    width:100%;
	padding: 8px;
	margin-bottom: 10px;
	background-color: #fff;
}
.audio-player-block {
	border-bottom: 1px solid #96b47e;
	float: left;
	/* height: 107px; */
    width:100%;
	padding: 8px;
	margin-bottom: 10px;
	background-color: #fff;
}
.block-title-info {
	color: #7f7f7f;
	text-transform: uppercase;
	margin-left: 5px;
}
.left-labels {
	color: #87c53e;
	font-size: 12px;
	text-transform: uppercase;
	width: 37%;
	float: left;
	text-align: right;
	margin-right: 18px;
}
.quali-label{
color: #87c53e;
	text-transform: uppercase;
	width: 37%;
	
	text-align: right;
	margin-right: 18px;
}

.quali-details{
    color: #838383;	
    font-size: 13px;
    width: 55%;
    word-break: break-all;
    line-height: 18px;
    margin-top: 3px;
}
.right-details {
	color: #838383;
    font-size:13px;
	display: inline-table;
    width: 55%;
	word-break: break-word;
}
.left-labels-end {
	color: #87c53e;
	text-transform: uppercase;
	width: 37%;
	float: left;
	text-align: right;
	margin-right: 18px;
}
.right-details-end {
	color: #838383;
    font-size:13px;
	display: -webkit-inline-box;
    width: 55%;
	word-break: break-all;
	line-height: 18px;
	margin-top: 3px;
}
.left-labels-center {
	color: #87c53e;
	text-transform: uppercase;
	width: 35%;
	float: left;
	text-align: right;
	margin-right: 18px;
}
.right-details-center {
	color: #838383;
    font-size:13px;
	display: -webkit-inline-box;
    width: 56%;
	word-break: break-word;
}
.stat-color {
	color:#eb0808;
}
.stat-succ-color {
	color:green;
}
.arro-space {
	padding:10px;
}
.audio-title {
	float: left;
	margin: 3px 0px 10px 350px;
	font-weight: 600;
}

.campaign-title-logo {
	background: rgba(0, 0, 0, 0) url("../images/logo2.png") no-repeat scroll 0 0;
	float: left;
	width: 18px;
	height: 17px;
	margin-left: 10px;
}
.call-title-logo {
	background: rgba(0, 0, 0, 0) url("../images/logo3.png") no-repeat scroll 0 0;
	float: left;
	width: 18px;
	height: 17px;
	margin-left: 10px;
}
.lead-title-logo {
	background: rgba(0, 0, 0, 0) url("../images/logo4.png") no-repeat scroll 0 0;
	float: left;
	width: 18px;
	height: 17px;
	margin-left: 10px;
}
.pref-title-logo {
	background: rgba(0, 0, 0, 0) url("../images/logo5.png") no-repeat scroll 0 0;
	float: left;
	width: 18px;
	height: 17px;
	margin-left: 10px;
}
.title-hr-line {
	border-bottom: 1px solid rgba(206, 206, 206, 0.44);
	margin-bottom: 8px;
}
.asset-name {
	margin: -23px 0 0 31px;
	float: left;
	color: #4AAFD9;
	font-size: 12px;
}
.ani-posi {
	margin: -20px 54px;
}
.head-bar {
	border: 1px solid #bfcfbe;
	background-color: #d8ebfa;
}
.content-bar tr td {
	border: 1px solid #bed8e7;	
    padding: 8px;
    font-size: 12px;
    
}
.heading-right-block {
	color: #87c53e;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin: 1px 0 6px 13px;
	text-indent: 0;
	text-transform: uppercase;
}
.content-bar {
    width: 325px;
	margin: 0 10px;
	background: #fff;
	float: right;
	
}
.content-bar .btncancel {
	background-color: #eaeaea;
	border: 1px solid #cfcfcf;
	border-radius: 7px;
	color: #cfcfcf;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 23px;
	width: 71px;
	cursor: auto;
}
.content-bar .btnreset {
	background-color: #7fdbe6;
	border: 1px solid #6cc2bf;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 23px;
	width: 71px;
	cursor: pointer;    
}
.last-td {
	border: none !important;
	margin-left: 10px;
}
.head-bar td {
	font-size: 14px !important;
   	color: #233f57;
}

.labelSmiley {
	clear: inherit !important;
	width: 25px !important;
}
.radio-green-bg-selected {
	background-color:#EDF9F5 !important;	
}
.radio-red-bg-selected {
	background-color:#FBF0F0 !important;	
}
.radio-grey-bg-selected {
	background-color:#F2EEEE !important;	
}


/* QA List CSS */
.number-pad span {
    font-size: 10px;
    font-style: normal;
    left: 10px;
    padding: 0px 15px;
    position: absolute;
    top: 12px;
}
.number-pad span i{font-style: normal;}
.innercontent div.email-block .checkbox{ margin: 10px 20px;}
.email-block .label-value{
    text-align: left;
    width: 55%;}
.email-block .editable-input.editable-has-buttons{width:160px !important;}
.email-block .editable-buttons button{ margin:0 2px;}
#asset-content{ display:none; position:absolute;}
.asset-extra-content{  background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #666;
    font-size: 14px;
    left: 63%;
    min-height: 90px;
    padding: 15px;
    position: absolute;
    top: -90px;}
	.tab-status-list li a{ background: transparent none repeat scroll 0 0;
    display: inline-block;
    font-size: 11px;
    padding: 0 10px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: pre-wrap;
    width: 100%;}
	 .nav-tabs.tab-status-list li a:hover,.nav-tabs.tab-status-list li a:focus {
    background: transparent none repeat scroll 0 0;
}
.extra-li-hide{display:none;}
.extra-li-show{display:inline-block;}
.right-sidebar .white-bg{overflow:visible;}
.ui-helper-hidden-accessible div{display:none !important;}
.call-history-block{ display: block; max-height: 170px; overflow-y: scroll;}
.number-pad button.text-center{ text-align: center;}
/**************agent screen style end here****************/
/*qa-screenstyle starts here*/
.qa-score .main-header .navbar-default{background-color: #0071bc;}
#accordion .panel-default{ margin: -2px 0 0;}
#accordion .panel-default .panel-heading{ background: #dde2e6; color: #464749;border: 1px #dfe3e6 solid;}
#accordion .panel-default .panel-heading a{width: 100%;  display: inline-block; text-decoration: none;margin-left: -5px;}
#accordion .panel-default > .panel-heading + .panel-collapse > .panel-body{border: 1px #54b6d1 solid; padding: 0;}
.ans-set{ padding: 0 5px;  display: inline-block;}
.ans-set em{ font-style: normal;  text-transform: uppercase; color: #333;
    padding-left: 5px;
    vertical-align: top;}
.comment-box {
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle; position:absolute;
}
.table, .panel {
	border:none;
}
#accordion th, .assur-quali th{ color: #fff;  font-size: 12px; padding:10px;
    font-weight: normal;
    text-shadow: 0.1px 0.1px 0.1px #8c8c8c; background: #97b7ce none repeat scroll 0 0;}
    .assur-quali th{ position:relative;}
#accordion td, .assur-quali td{ color: #6d676c; padding:10px; font-weight: 400;background-color:#fff}
#accordion .panel-default table.table-striped tr.odd{width: 100%; float:none; background:#fff !important;}
#accordion .panel-default table.table-striped tr.odd:hover{width: 100%; float:none; background:#f4f4f4 !important;}
#accordion .panel-default table.table-striped tr.even{width: 100%; float:none; background:#f4f4f4;}
.assur-quali td{ font-size: 12px; line-height:1.5; }
#accordion .table{ margin-bottom: 0;}
.score{color: #7c7c7c; font-size: 14px;font-weight: 300; line-height: 1.5;}
.text-uppr{ text-transform: uppercase}
.quality-assur-terms span {
    display: inline-block;
    margin: 0 5px; float:left;
    width: 12.4%;
}
#accordion tr#comment-row
{
	background-color: #fff;
	position: absolute;
	margin-left: 571px;
	border: 1px solid #cacaca;
	z-index: 9999;
	width: 300px;
}
.table td.scor-id{ padding-right:0 !important; text-align:center;}
.qual-assu-block{ background: #fff; border-bottom:1px #96b47e solid; margin-bottom: 10px;}
.assur-quali-bottom-row{ background: #fff; padding: 10px;}
.assur-quali-bottom-row .total-records{ font-size: 12px; color: #7e7e7e;}
.assur-quali-bottom-row .total-records span{ padding: 0 5px;}
.assur-quali-bottom-row .pagination{ margin: 0;}

.quality-assur-terms {
    padding: 5px;
}

.quality-assur-terms span input{ border: 1px solid #8a8a8a;background:rgba(0, 0, 0, 0) url("../../img/select2.png") no-repeat scroll 97px 0 / 60px auto;
    border-radius: 0;
    box-shadow: none;
    height: 30px;font-weight: normal;
    margin-bottom: 0;
    padding: 2px 5px;
    width: 100%;text-overflow:ellipsis;
	font-size: 12px;
	color: #8a8a8a;
	cursor: ponter;
    }
    .quality-assur-terms span input.call-id{background-image:none;}
    .disposition-block input[type="checkbox"]{height:11px;}
.quality-assur-terms .gray-btn{
	border-radius: 4px;
  	background: #07C8CF;
  	font-size: 14px;
 	font-weight: bolder;
  	line-height: 1.6;
  	vertical-align: middle;
  	width: 5%;
  	margin: 0;
 }
.quality-assur-terms .gray-btn:hover{
	border-radius: 4px;
  	background: #379396;
  	font-size: 14px;
 	font-weight: bolder;
  	line-height: 1.6;
  	vertical-align: middle;
  	width: 5%;
  	margin: 0;
 }
.title-row{background: #29abe2 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 8px;
    text-transform: uppercase;}
.qasearch-block{ background: #eee;}
.qasearch-block input{ border: 0 none;background: #eee;
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    padding: 3px 3px 3px 5px;
	width: 125px;
    vertical-align: text-top;
	/*cursor: pointer;*/
    /*background: rgba(0, 0, 0, 0) url("../../img/7.png") no-repeat scroll 102px 0 / 23px auto !important;*/
}
.btn-main.done { 
  background: #07C8CF none repeat scroll 0 0;
  border: 1px solid #07C8CF;
  border-radius: 5px;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-shadow: none;
  margin-right: 0px;
  width: 50%;
  margin-bottom: 7px;
}

.btn-main.done:hover { 
  background: #379396 none repeat scroll 0 0;
  border: 1px solid #379396;
  border-radius: 5px;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-shadow: none;
  margin-right: 0px;
  margin-bottom: 7px;
  width: 50%;
}

.btn-main.back { 
	background: #07C8CF none repeat scroll 0 0;
	border: 1px solid #07C8CF;
	border-radius: 5px;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
	width: 45%;
  	margin: 0px;
	margin-bottom: 7px;
}



.btn-main.back:hover { 
	background: #379396 none repeat scroll 0 0;
	border: 1px solid #379396;
	border-radius: 5px;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
	width: 45%;
  	margin: 0px;
	margin-bottom: 7px;
}

.fontformat {
    font-size: 9px;
}

.white-bg .btn-align {
	width: inherit;
	display: inline-block;
	margin-top: 10px;
	padding-left: 5%;
	padding-right: 5%;
}


.disposition-block{ background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: block;
    height: auto;
    padding: 10px;
    position: absolute; border-radius:0;
    /*transition: all 1s ease-in 1s;*/
    width: auto;
    z-index: 9999;}
.disposition-block li.checkbox {
    display: inline-block;
    width: 100%;
}
.disposition-block .callstatus-list li input[type="checkbox"]{ margin-left: 2px;
    width: auto;}
.disposition:hover .disposition-block{display: block;}
.disposition-block .callstatus-list li h3.heading{ margin: 0;}
.finish-code-div{ width: 557px; margin: 0 auto; border: 1px #ccc solid; padding: 10px; overflow: hidden}
.finish-code-div .callstatus-list{width: 100%;}
.finish-code-div .callstatus-list li{  display: inline-block;
    margin-bottom: 6px;
    width: 100%;}

.finish-code-div .callstatus-list li.checkbox label{  color: #888;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    vertical-align: top;
    width: auto;}
.finish-code-div .callstatus-list li .status-detail { font-style: italic;line-height: 1;
    color: #888;
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
    width: 70%;
}
.status { color:#91d8ea; }
.qasearch-block span {
    color: #999;
    font-size: 14px;
    margin-right: 6px;
}
.comment-block {
    background: #fff none repeat scroll 0 0;
    height: 80px;
    padding: 10px 10px 10px 110px; color: #999;
    font-size: 13px;
}
  tr#comment-row{display: table-row;}
#accordion tr#comment-row td{ padding: 0;}
.assur-quali th .fa{
    font-size: 14px;
    font-weight: 300;
    line-height: 0.4;}
.assur-quali th span{/*  background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px;
    vertical-align: sub;*/}
.add-more{  color: #666;
    margin: -22px 0 0;}
    .add-more a{cursor: pointer;text-dacoration:none; color:#666}
.assur-quali #example_length{display: none}
.dataTables_filter {
   
    position: absolute;
    right: 8px;
    top: -104px;
}
.dataTables_wrapper .dataTables_filter input {
       padding: 3px 2px; width: 130px; height: 24px;font-size: 14px;
}
.margin-right .white-bg .label-value {
    font-size: 12px;
    font-weight: 600;
}
#example_filter label{ font-size: 0; width: 100%;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{ background: #fff; border: 0; border-left:1px #ccc solid; border-right:1px #ccc solid;}
.dataTables_wrapper .dataTables_info{ padding-left: 10px;}
.dataTables_wrapper .dataTables_paginate .paginate_button{font-size: 12px; float: left; line-height: 1.5;
    padding: 5px;}
.dataTables_wrapper .dataTables_paginate .paginate_button.next{ border-left:1px #ccc solid;}
.dataTables_wrapper .dataTables_paginate{border: 1px solid #ccc; padding: 0; height: 30px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 10px; margin-bottom:10px;}
#example_paginate > span { float: left; line-height: 1.6;
    margin: 0;
    overflow: hidden; display: inline-block;
}
.add-comment-row{ display: none;}
.ui-autocomplete{ background: #fff; padding: 10px; list-style: none; border:1px #ccc solid; width: 110px !important;}
#other-field{ display: none;}
.id-num{ text-align:left !important;}
.particulars {
	text-align: left !important; 
    width: 59%;
}
.per-id{ width: 10%;}
.scor-id{ width: 10%;}
.feedback-id{ width: 34%;}
.quest-id{ width: 38%; text-align: left !important; }
.right-sidebar2.floatbar2 {    
	max-width: 300px;
	position: absolute;
	right: 0;
	width: 26%;
}
.disposition-block .close{color: #999;
    position: absolute;
    right: 3px;
    top: 0;}
.disposition-block .close:hover{color: #666;}

/*qascreen fixes*/
#accordion .panel-title{ background-image:none;font-family: sans-serif; text-indent:0; font-size:13px; font-weight: bold;}
#scor-id .ans-set{  margin-top: -2px;}
.datatable tr:hover, .datatable tr:hover {
    background-color: #fef7da;
}
.datatable th {
    border-bottom: 1px solid #111;
	border-right: 1px solid #fff;
    padding: 5px 10px;
    position: relative;
}
 .datatable td{padding: 5px 7px;}
   

.selectize-input > * {
    display: inline-block;
    vertical-align: baseline; height:100%; float:left;
    width: 100%;
}
.ui-select-match span {
      overflow: hidden;
    padding: 3px 0;
    text-overflow: ellipsis;
    width: 95px !important; height:30px; white-space: pre;
    font-size: 12px;
}
.selectize-control.single .selectize-input::after{border-width:6px 3px 0; right:2px;}
.selectize-control.single .selectize-input, .selectize-dropdown.single {
    border-color: #ededed;
}



.divleftfloat {
	float: left;
    margin-left: 11px;
    margin-top: 8px;
	color: #000;
}
.divrightfloat {
	float: right;
	margin-top: 5px;
	color: #000;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	background-color: #80cde6;
	border-color: #24577d;
	color: #24577d;
	cursor: not-allowed;
	font-weight: 400;	
}

.pagination > li > a, .pagination > li > span {
	background-color: #80cde6;
	border: 1px solid #24577d;
	color: #24577d;
	float: left;
	line-height: 1.42857;
	margin-left: -1px;
	position: relative;
	text-decoration: none;
	font-weight: 600;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #fff;
  background-color: #80cde6;
  border-color: #24577d;
  font-weight: 600;
 -webkit-filter: grayscale(100%);
}

.selectize-control.single .selectize-input{background:transparent; box-shadow:none; padding:0px 5px 0; border-radius: 0;}
.selectize-control{height:30px;}
.selectize-dropdown, .selectize-input, .selectize-input input{  color: #555555;
    font-family: open sans;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.65em;}
    .qa_show_rows{ width: 100%; background-color: #d5dbe0;}
    .qa_show_rows .num {
    background: transparent none repeat scroll 0 0 !important;
    border: 1px solid #ccc !important;
    padding: 0.6px 8px !important;
}
.arrow-up {    
    margin-top:0;
    cursor:pointer;
    float:right;
	margin-right: -9px;
}
.arrow-up-call-Id {    
    margin-top:0;
    cursor:pointer;
    float:right;	
}
.call-id {
    width: 14%;
	padding: 5px 4px !important;
	vertical-align: middle;
}
.arrow-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #8b8b8b;
    height: 0;
    width: 0;display:inline-block; position: absolute;
    right: 2%;
    top:20px;cursor:pointer;
}

.arrow-sort-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    height: 0;
    width: 0;display:inline-block; position: absolute;
	right: 14px;
    top:14px;cursor:pointer;
}
.arrow-sort-up {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    height: 0;
    width: 0;display:inline-block; position: absolute;
    right: 14px;
    top:14px;cursor:pointer;
}

.custome-radio input[type="radio"], .custome-radio input[type="checkbox"] {
    display: none;
}
.custome-radio label {
    color: #666;
    line-height: 0.3;
    width: auto;
}
.custome-radio .green label::before {
    background-color: #fff;
    border: 1px solid #e4e4e4; border-radius:10px; box-shadow: 0.1px 0.1px 2px 0.1px #e4e4e4 inset;
    bottom: 1px;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 17px;top:0;
}
.custome-radio .red label::before {
    background-color: #fff;
    border: 1px solid #e4e4e4; border-radius:10px; box-shadow: 0.1px 0.1px 2px 0.1px #e4e4e4 inset;
    bottom: 1px;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 17px;top:0;
}
.custome-radio .blue label::before {
    background-color: #fff;
    border: 1px solid #e4e4e4; border-radius:10px; box-shadow: 0.1px 0.1px 2px 0.1px #e4e4e4 inset;
    bottom: 1px;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 17px;top:0;
}
.custome-radio input:disabled + label::before {
  border-color: #CACACA;
  box-shadow: 0 0 0 #D8D7D7;
  border-radius: 10px;
}

.callstatus-list.custome-radio label{ vertical-align: sub;}
.custome-radio .green input[type="radio"]:checked + label::before {
    color: #333;
    /*content: "✓";*/
	/*content: "\2713";*/
    background-color: #81bc21;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
    border-radius: 10px;
	box-shadow: none;
}
.custome-radio .red input[type="radio"]:checked + label::before {
    color: #333;
    /*content: "✓";*/
	/*content: "\2713";*/
    background-color: #e74f1b;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
    border-radius: 10px;
	box-shadow: none;
}
.custome-radio .blue input[type="radio"]:checked + label::before {
    color: #333;
    /*content: "✓";*/
	/*content: "\2713";*/
    background-color: #696969;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
    border-radius: 10px;
	box-shadow: none;
}
.quality-assur-terms #spin{display:none;}
.quality-assur-terms #spin:focus,.quality-assur-terms #picker:focus{opacity:0;}
input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-calendar-picker-indicator, input::-webkit-calendar-picker-indicator:focus,input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-inner-spin-button { opacity:0;}
input:enabled:read-write::-webkit-inner-spin-button{display:none;}
 .arrow-up.active {border-bottom: 5px solid #29abe2;}
.arrow-down.active{border-top: 5px solid #29abe2;}
input::-webkit-datetime-edit-fields-wrapper{padding: 0 0 0 7px;}input::-webkit-datetime-edit{overflow:visible; }
#accordion th a, .assur-quali th a{color:#fff; text-decoration: none;}
.sort-arrow {
    display: inline-block;
    height: 21px;
    position: absolute;    
    right: 3px;
  	top: 1%;
}
.sort-arrow-call-Id {
    display: inline-block;
    height: 21px;
    position: absolute;    
    right: 10px;
  	top: 1%;
}

.custome-radio.table label{font-size: 11px;padding-top: 1px;
    vertical-align: super;
    padding-left: 15px;
    }
 #accordion .panel-default .panel-body {    
    padding: 0;
}
#accordion .panel-default table th{border-top: none;border:1px #fff solid; background:#e7eef4;color: #464749;}
#accordion .panel-default table td{border:0; border-top:1px #ddd solid;border-left: 1px #F1F0F0 solid;}
/*#accordion .panel-default table.table-striped tr:nth-of-type(2n+1) {
    //background-color: #f4f4f4;
}*/
.sticky-blue-bar {
	position: fixed;
	top: -10px;
	z-index: 10000;
	background: #29abe2;
	color: #fff;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 8px;
	border-radius: 0;
	border: 0;
	font-weight: 300;
	width: 100%;
    max-width: 925px;
}
.sticky-right-block {
	position: fixed;	
	z-index: -1;    
    width: 100% !important;
	max-width: 925px;
    height: 335px;
    top: 77px;
    background-color: transparent !important;
}

.sticky-right-block-child {
    background: #fff !important;
}

.sticky-audio-player-block {
	position: fixed;
	top: 31px;
	z-index: 10000;
	border-bottom: none !important;
	float: left;
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	background-color: transparent;
	max-width: 925px;
}

#other-field.collapse.in{opacity:1;}
#other-field.collapse{opacity:0; margin:0;}
.disposition-block .callstatus-list .radio label {
    vertical-align: super;
}
.disposition-block .callstatus-list.custome-radio label::before{top:2px;}
#carousel-example-generic1 .carousel-control{}
#carousel-example-generic1 p.odd,#carousel-example-generic1 p.even{vertical-align: middle;
    width: 100%;height: 100%;
    margin: 0; 
    vertical-align: middle;
    padding-top: 20px;
  padding-left: 31px;}
#carousel-example-generic1 p.odd label,#carousel-example-generic1 p.even label{ width:58%; text-align:left; padding:10px 0;
      vertical-align: text-top;}
#carousel-example-generic1 p.odd span,#carousel-example-generic1 p.even span{ width:40%; display:inline-block; padding:10px 0; vertical-align:text-top;}
#carousel-example-generic1 .item{height: 90px; width:85%; margin:0 5%;}
#carousel-example-generic1 .carousel-control.left .glyphicon-chevron-left{top:10%; margin-left: -73px;}
#carousel-example-generic1 .carousel-control.right .glyphicon-chevron-right{top:10%; margin-right: -67px;}


.img-align{float:left;}



.expandbox
{
    color:#FFFFFF;
    font-size: larger;
    background: url("../images/white_right_arrow.png") no-repeat scroll 15px center rgba(0, 0, 0, 0);
    text-indent: 40px;
}

.compressbox
{
    color:#FFFFFF;
    font-size: 15px;
    background: url("../images/white_down_arrow.png") no-repeat scroll 15px center rgba(0, 0, 0, 0);
    text-indent: 40px; font-family:"lato", sans-sarif; font-weight:600;
}

.align-collapse-minus {
	  margin-top: -15px;
}

.audio-width {
	width: 100%;
}

.panel-body .comment-area-box{
  border: 1px solid #cacaca;
  resize: none;
  width: 100%;
}

.odd {
	  width: 58%;
	  float: left;
	  margin-top: 10px;
}

.even {
	width: 58%;
	float: left;
	margin-top: 10px;
}
.align-check-label {
	padding-top: 12px;
  padding-left: 20px;
}

.arrow-up-align-top {
	top: 10px;
}
.arrow-down-align-top {
	padding-top: 8px;
}
.dispos {
	  width: 13%;
}
.date {
	  width: 11%;
}
.campaign {
	width: 16%;
}
.agent {
	width: 13%;
}
.prospect-name {
	width: 15%;
}
.prospect-company {
	width: 9%;
}
.lead-status {
	width: 15%;
}
.row .form-edit-alert {
	color: rgb(255, 0, 0);
	font-weight: 400;
	font-size: 16px;
	text-transform: inherit;
  	display: inline;
	margin: 9px 319px;
	float: left;
}

.left-block .txt-center {
	  text-align: center;
}

.qaToast #toast-container > div {
	position: absolute;
	margin-left: 205px;
}

.qaToast .toast-cust-pos {
	top: 0;
}

.qaToast #toast-container > div {
	opacity: 1.2;
}

.left-block .row .info-margin {
	  margin-bottom: 10px;
}

.footerBlock {	
	float: left;
	width: 100%;
    height: 40px;
	font-size: 12px;
	background-color: #D7EFF9;
	font-weight: 500;
	border-top: 1px #96b47e solid;
}

.quality-assur-terms span select {
    background: rgba(0, 0, 0, 0) url("../../img/select2.png") no-repeat scroll 97px 0 / 60px auto !important;
    border: 1px solid #8a8a8a;
    border-radius: 0;
    box-shadow: none;
    font-size: 13px;
    font-weight: normal;
    height: 30px;
    margin-bottom: 0;
    padding: 2px 0px;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
    color: #8a8a8a;
    -webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.selectize-input > select {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 0 none !important;
    box-shadow: none !important;
    line-height: inherit !important;
    margin: 0 1px !important;
    max-height: none !important;
    max-width: 100% !important;
    min-height: 0 !important;
    padding: 0 !important;
    text-indent: 0 !important;
    cursor: pointer;
}

.font-bold {
	font-weight:bold !important;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 190px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    margin: 20px 20px;
	float:right;
    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}



.select-style-graph {
	background: #fff url("../images/down-arrow-grey.png") no-repeat scroll 96% 46%;
	border: 1px solid #ccc;
	float: right;
	margin: 10px 176px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 202px;
}

.select-style-graph select {
    padding: 5px 8px;
	color: #7E7A7A;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style-graph select:focus {
    outline: none;
}


.select-style-left {
    padding: 0;
    margin: 0;	
    border: 1px solid #ccc;
    width: 190px;    
    overflow: hidden;
    background-color: #fff;    
	float:right;
    background: #fff url("/images/arrowdown.gif") no-repeat 98% 50%;
}

.select-style-left select {
    padding: 5px 8px;
	color: #fff;
	height: 35px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
	font-weight: 500;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.btn .caret {
	margin-left: 14px;
}

.select-style-left select:focus {
    outline: none;
}

.txtcall {
    border: 1px solid #cacaca;    
    height: 30px;
    margin-left: 8px;    
    position: absolute;
	margin-top: 13px;
    width: 91%;
	padding-right: 22px;
	padding-left: 5px;
}

.txtdate {
	border: 1px solid #cacaca;
	border-radius: 10px;
	height: 30px;
	margin-left: 5px;
	margin-top: 13px;
	position: absolute;
	width: 92%;
}


.searchicon-call {
	background-image: url("/images/searchblue.jpeg");
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 25px;
	margin-top: 19px;
	position: relative;
	width: 25px;
}

.searchicon-call-white {
	/*background-image: url("/images/search-icon.png");*/
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 25px;
	margin-top: 3px;
	position: absolute;
	width: 39px;
	margin-left: -37px;
}

.searchicon-call-black {
	/*background-image: url("/images/search_icon.png");*/
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 25px;
	margin-top: 2px;
	position: absolute;
	width: 13px;
	margin-left: -28px;
}

.txtdur {
	border: 1px solid #cacaca;
	border-radius: 10px;
	height: 30px;
	margin-left: 5px;
	margin-top: 13px;
	position: absolute;
	width: 92%;
}

.select-style-top {
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	width: 90%;	
	height: 30px; 
	overflow: hidden;
	background-color: #fff;
	margin: 10px 11px 0;
	float:right;
	background: #fff url("../images/down-arrow-grey.png") no-repeat scroll 92% 46%;
}
.select-style-top select {
    padding: 5px 6px;	
    width: 100%;
    border: none;
    box-shadow: none;	
    background-color: transparent;	
	font-size: 12px;
	font-weight: 500;
	color: #4e4e4e;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style-top select:focus {
    outline: none;
}


.select-style-date {
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	width: 23%;
	border-radius: 3px;
	height: 30px; 
	overflow: hidden;
	background-color: #fff;
	margin: 11px 17px 0;
	float:right;
	background: #fff url("../images/down-arrow-grey.png") no-repeat scroll 92% 46%;
}
.select-style-date select {
    padding: 8px 8px;
	color: #000;
    width: 100%;
    border: none;
    box-shadow: none;
	font-size: 10px;
    background-color: transparent;
	font-weight: 500;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style-date select:focus {
    outline: none;
}

.date-control {
	height: 30px;	
	font-size: 12px;	
	color: #4e4e4e;  
	width: 141px;
	border-radius: 0px !important;
	font-weight: 500 !important;
	padding: 0px !important;
}


.select-style-bottom {
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	width: 90%;	
	height: 30px; 
	overflow: hidden;
	background-color: #fff;
	margin: 7px 10px 0;
	float:right;
	background: #fff url("../images/down-arrow-grey.png") no-repeat scroll 92% 46%;
}
.select-style-bottom select {
    padding: 5px 6px;	
    width: 100%;
	font-size: 11px;
    border: none;	
    box-shadow: none;
    background-color: transparent;	
	font-size: 12px;
	font-weight: 500;
	color: #4e4e4e;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style-bottom select:focus {
    outline: none;
}

.select-style-left option { color: black; background-color: #fff; font-size: 14px;border: 1px solid #fff; padding:1px; color: #383838; font-family: "Open Sans",sans-serif;}
.select-style-left option:hover { background-color: blue; color:#fff; font-size: 15px; font-family: "Open Sans",sans-serif;}
/*.select-style-left option:first-child{ color: #cacaca; }*/



.heading-campaign-info{
	float:left;
	font-weight:bold;
	margin-left: 14px;
}

.heading-lead-detail{
	float:left;
	margin-left:110px;
	font-weight:bold;
}

.campaign-title{	
	color: rgb(84, 182, 209);
}

.type-title{	
	color: rgb(84, 182, 209);
}

.date-title{	
	color: rgb(84, 182, 209);
}

.time-title{	
	color: rgb(84, 182, 209);
}

.despos-title{	
	color: rgb(84, 182, 209);
}

.duration-title{	
	color: rgb(84, 182, 209);
}

.title-detail{margin-top: -17px;}

.qacopybtn{
	height: 30px;
	width: 55px;
	background: url(../../img/imgcopy.jpeg) no-repeat;
	border: none;	
}

.duration {
	border-right: 2px solid #94b4bf;
}

.btn-grey.back {
	border-radius: 5px;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
	width: 45%;
    margin-left: 5px;
  	margin: 0px;
    padding: 5px 33px;
    line-height: 1.5;
}

.btn-grey-complete.back {
	border-radius: 5px;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
	width: 45%;
    margin-left: 5px;
  	margin: 0px;
    padding: 5px 18px;
    line-height: 1.5;
}

.btn-back{
	background: #bbb none repeat scroll 0 0;
	border: 1px solid #bbb;
	border-radius: 5px;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-shadow: none;
	margin-right: 0px;	
	padding: 3px 10px;
	text-transform: uppercase;
	width: 50%;
	margin: 0px;
	margin-bottom: 7px;
}

.qa-confirm-modal-body {
	display: flex;
	padding: 0px 0px 15px 15px !important;
}

.qa-confirm-modal-body .align-img {
	height: 10%;
    width: 22%;
}

.qa-confirm-modal-body .align-content {
	 margin-left: 3%;
}

.qa-confirm-modal-body .content-font {
	 font-weight: initial;
}

.txt-decoration {
	  text-decoration: underline;
}

.right-block .scored-font {
	font-style: italic;
	text-transform: none;
	font-family: cursive;
	width: 82px;
	margin-left: 8px;
	margin-bottom: 11px;
}

.right-block .align-scored {
	 margin-top: 6%;
}
.right-block {
	float: right;
	width: 29%;
	height: 272px;	
	background-color: #fff;
	margin-top: 6px;
}
.right-block-height {
	height: 363px;
}
.rightdivcls {
	float: right;
    margin: 21px 341px -45px;
}
.divshowmarginright {
	float: right;
    margin: 12px 260px -60px;
}

.rightBorder {
	border:2px solid #82c236;float:left;width:100%;margin-top:5px;
}

/* //Pagination CSS  */


.leftdiv {
	margin-top: 2px !important;
}

.searchtitle .ui-select-multiple {
	background-color: #29aae3 !important;
	border: 1px solid #38a9d3 !important;
	color: #fff !important;
	float: left;
	margin-left: 2px;
	width: 30% !important;
	font-weight: 400;
	margin-top: 10px;
}

.searchtitle .select-multiple {
	background-color: #29aae3 !important;
	border: 1px solid #38a9d3 !important;
	color: #fff !important;
	float: left;
	margin-left: 2px;
	width: 23% !important;
	font-weight: 400;
	margin-top: 15px;
}

.select2-container-multi .select2-choices .select2-search-field input {
	color: #fff;font-weight: 400;
}

.addselectoptionright {
	width : 83px !important;
    font-size: 11px;
    height: 25px;
	color: #000;
}

.col-md-12.nopad.assur-quali .btnreset {
	background-color: #7fdbe6;
	border: 1px solid #6cc2bf;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 4px;
	width: 90px;
    /* margin-top: 18px; */
}

.procedure-details-call .btnreset {
	background-color: #7fdbe6;
	border: 1px solid #6cc2bf;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 87px !important;
	width: 69px !important;
	margin-top: -30px !important;
	float: left;
}

.procedure-details-call .btncancel {
	background-color: #bbbbbb;
	border: 1px solid #cacaca;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 7px;
	width: 71px;
	margin-top: 43px;
}

.procedure-details-agent .btnreset {
	background-color: #7fdbe6;
	border: 1px solid #6cc2bf;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 112px !important;
	width: 69px !important;
	margin-top: -30px !important;
	float: left;
}


.procedure-details-agent .btncancel {
	background-color: #bbbbbb;
	border: 1px solid #cacaca;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 31px !important;
	width: 71px;
	margin-top: 7px !important;
}

.procedure-details-client .btnreset {
	background-color: #7fdbe6;
	border: 1px solid #6cc2bf;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 87px !important;
	width: 69px !important;
	margin-top: -30px !important;
	float: left;
}

.procedure-details-client .btncancel {
	background-color: #bbbbbb;
	border: 1px solid #cacaca;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 7px !important;
	width: 71px;
	margin-top: 12px !important;
}

.procedure-details-date .btnreset {
	background-color: #7fdbe6;
	border: 1px solid #6cc2bf;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 81px !important;
	width: 69px !important;
	margin-top: -30px !important;
	float: left;
}

.procedure-details-date .btncancel {
	background-color: #bbbbbb;
	border: 1px solid #cacaca;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 4px !important;
	width: 71px;
	margin-top: -5px !important;
}


.procedure-details-dispos .btnreset {
	background-color: #7fdbe6;
	border: 1px solid #6cc2bf;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 90px !important;
	width: 69px !important;
	margin-top: -30px !important;
	float: left;
}

.procedure-details-dispos .btncancel {
	background-color: #bbbbbb;
	border: 1px solid #cacaca;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 10px !important;
	width: 71px;
	margin-top: 12px !important;
}

.procedure-details-dur .btnreset {
	background-color: #7fdbe6;
	border: 1px solid #6cc2bf;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 89px !important;
	width: 69px !important;
	margin-top: -30px !important;
	float: left;
}

.procedure-details-dur .btncancel {
	background-color: #bbbbbb;
	border: 1px solid #cacaca;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 10px !important;
	width: 71px;
	margin-top: 12px !important;
}

#comment-row .btncancel {
	background-color: #bbbbbb;
	border: 1px solid #cacaca;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;	
	width: 69px;
	margin-left: 57px;
}
#comment-row .btnok {
	background-color: #7fdbe6;
	border: 1px solid #6cc2bf;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;	
	width: 69px;
	margin-left: 11px;
}

.procedure-details-call {
	background-color: #fff;
    border: 1px solid #cacaca;
    height: 94px;
	margin: 5px -4px;
    position: absolute;
	width: 170px;
	z-index: 1;
}

.procedure-details-agent {
	background-color: #fff;
	border: 1px solid #cacaca;
	height: 90px;
	margin: 5px -10px;	
	position: absolute;
	width: 215px;
	z-index: 1;
}

.procedure-details-client {
	background-color: #fff;
	border: 1px solid #cacaca;
	height: 90px;
	margin: 5px -10px;	
	position: absolute;
	width: 164px;
	z-index: 1;
}

.procedure-details-date {
	background-color: #fff;
	border: 1px solid #cacaca;
	height: 180px;
	margin: 5px -10px;
	position: absolute;
	width: 156px;
	z-index: 1;
}

.procedure-details-dispos {
	background-color: #fff;
	border: 1px solid #cacaca;
	height: 92px;
	margin: 5px -10px;
	position: absolute;
	width: 170px;
	z-index: 1;
}

.procedure-details-dur {
	background-color: #fff;
	border: 1px solid #cacaca;
	height: 92px;
	margin: 5px -10px;
	position: absolute;
	width: 170px;
	z-index: 1;
}

.date-filter {
	width: 50%;
    text-align: left;
}

#newcampaignform .form-group .form-control, .date-control, .addextranewform-control {
	margin-bottom: 9px;
}

.backdownarrow {
	background: #fff url("../images/down-arrow-grey.png") no-repeat scroll 92% 46%;
}

.leftgraph.topinfo {	
	border-bottom: 1px solid #96b47e;
	border-right: 1px solid #e4e4e4;
	float: left;	
	width: 44%;
	height: 180px;
	padding: 4px;
    margin-bottom: 10px;
}
.middlescore.topinfo {	
	border-bottom: 1px solid #96b47e;
	border-right: 1px solid #e4e4e4;
	float: left;	
	width: 22%;
	height: 180px;
	padding: 4px 4px 4px 4px;
    margin-bottom: 10px;
}
.rightscore.topinfo {	
	border-bottom: 1px solid #96b47e;	
	float: left;	
	width: 34%;
	height: 180px;
	padding: 4px;
    margin-bottom: 10px;
}
.topinfo ul {	 
	padding: 1px;
	list-style-type: none;
}

.rightscore.topinfo label {
	color: #6a6a6a;
	text-align: left;
	width: 70%;
	font-size: 16px;
	text-transform: none;
}
.headerTitle {
	color:#29aae1;font-size:23px;font-weight:400;float:left;margin-top:-50px;margin-left:230px;
}
.headerMessage {
	background: rgba(0, 0, 0, 0) url("../images/Shape36.png") no-repeat scroll 0 0;
	color: #377fa5 !important;
	float: right;
	font-weight: 600;
	line-height: 29px !important;		
	margin: 21px 0px;
	width: 37px;
	height: 26px;
	text-align: -webkit-center;
}

.message-box-area {
	position: absolute;
	margin: 19px 1px 6px 712px;
}

.pointertop-qa {
	margin: -13px -279px 0px 0 !important;
	padding-left: 19px;
	width: 400px;
}

.space-message {
    margin-top: 5px;
    font-size: 11px;
    font-weight: 300;
    color: #cbcbcb;
}

.textdiv-message {
    font-size: 12px;
    line-height: 19px;
    width: 96%;	
}

/* EOF Header Message Popup*/

.middlescore.topinfo label {
	color: #6a6a6a;
	font-size: 16px;
	text-align: left;
	text-transform: none;
	margin-top: -3px;
	width: 55%;
}

.set-marg {
    margin-right: 5px;
}

.middlescore.topinfo ul li {	
	 border-bottom: 1px solid #e4e4e4;
	 padding: 10px;
}

.rightscore.topinfo ul li {	
	 border: 1px solid #e4e4e4;
	 padding: 8px;
}

.middlescore.topinfo span, .rightscore.topinfo span {
    color: #29aae1;
    font-weight: 400;
	font-size: 16px;
}

.lastli {
    border-bottom: 1px solid #fff !important;
}

.arrow-top {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	cursor: pointer;
	display: inline-block;
	left: 261px;
	position: absolute;
	top: 22px;
	width: 0;
}
.arrow-top1 {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	cursor: pointer;
	display: inline-block;
	left: 538px;
	position: absolute;
	top: 22px;
	width: 0;
}
.arrow-top2 {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	cursor: pointer;
	display: inline-block;
	right: 99px;
	position: absolute;
	top: 22px;
	width: 0;
}

.starttimeclass {
	border: 1px solid #cacaca;
	width: 99%;
	background-color: #fff;
	height: 28px;
	margin: 5px 1px;
	font-size: 12px;
	font-weight: 500;
	color: #4e4e4e;    
	/*border-radius: 5px;*/
	-webkit-appearance: none;
	background: #fff url("../images/down-arrow-grey.png") no-repeat scroll 92% 46%;
}

.padd-cls {
	padding: 7px;
}

/* Multiselect */
.btn.btn-small.dropdown-toggle {
	   width: 13% !important; 						   
}
.btn.btn-small { 						   
	background-color: #29aae3;    
	height: 37px !important;
	margin-right: -4px !important;
    margin-top: 15px;
    width: 99% !important; 
    color: #fff;						   
}		
.btn-small {
	text-transform: none;
}
.btn.btn-small2.dropdown-toggle {
	   width: 13% !important; 						   
}
.btn.btn-small2 { 						   
	background-color: #fff;
	height: 32px !important;
	margin-right: -4px !important;
	margin-top: 15px;
	width: 99% !important;
	color: #555;
	border: 1px solid #cacaca;	
	font-size: 11px;
}		
.btn-small2 {
	text-transform: none;
}

.caret2 {
    display: inline-block;
    width: 0;
    height: 0;    
    vertical-align: middle;
    border-top: 7px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
	margin-left: 2px;
	color: #999;
}

.multisel2-cls .btn:active {
	background: none;
}

.multisel-cls {
		width: 30% !important;	    					
		float: left;
}
.multisel2-cls {
	width: 194px !important;
	float: left;
	margin-left: 9px;
}
.btn-group, .btn-group-vertical {
    margin-left: 2px  !important;    
}
.dropdown-menu {
	margin: -5px 0 0;
    font-size:14px;
}
/* DATE:18/11/2017 	REASON:Added scroll bar for Agent filter search tab*/
#agentFilterDropdown .dropdown-menu {
	max-height: 350px !important;
	overflow: scroll !important;	
}
#agentFilterDropdown2 .dropdown-menu {
	max-height: 350px !important;
	overflow: scroll !important;
	width: 280px;
}
.ng-pristine.txtcls.ng-valid, .txtcls.ng-valid.ng-dirty {
    border: 1px solid #cacaca; 
    height: 32px;
    margin-left: 13px;
    padding: 5px;
    width: 90%;
    font-size:11px;
}
.check-option {
	width: 90%;
}
.icon-ok {
	height: 17px;
	margin-top: 4px;
	position: absolute;
	width: 10%;
	background-image: url("../images/check.gif");
	background-repeat: no-repeat;
	background-size: 20px 25px;
	background-position: 0 50%;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;    
    vertical-align: middle;
    border-top: 5px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.graphdetails {	
	height: 106px;
	margin-left: 190px;
	margin-top: 55px;
	position: absolute;
	width: 143px;
}
.graphdetails ul li span {
	color: #29aae1;
	font-weight: 500;
	font-size: 15px;
}
.labl {
    width: 65%;
}
.coln-1 {
	margin-left: 39px;
    font-weight: 600 !important;
}
.coln-2 {
	margin-left: 30px;
	font-weight: 600 !important;
}
.coln-3 {
	margin-left: 30px;
	font-weight: 600 !important;
}
.coln-4 {
	margin-left: 18px;
	font-weight: 600 !important;
}
.graphdetails ul {
	color: #E6705F;
	list-style-type: inherit;
	width: 195px;
}
.graphdetails ul li.failure {
	color: #E6705F;
}
.graphdetails ul li.succ {
	color: #36D7B6;
}
.graphdetails ul li.callb {
	color: #F4BA70;
}
.graphdetails ul li.diler {
	color: #8E9699;
}
.graphdetails b {
    color: #36D7B6;
}
.btn {
	border-radius:0;
}
.bgselected {
	border: 1px solid#DD8E8E;
	border-radius: 3px;
	background-color: #FED4D5;
}
.redarrow {
	line-height: 0%;
	width: 0px;
	border-top: 5px solid #E62549;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	position: absolute;
	margin-top: 10px;
	margin-left: 6px;
}
.redtxt {
	color:#E62549 !important;	
	font-size: 12px !important;
	margin-left: 18px;
}
.greenarrow {	
	line-height: 0%;
	width: 0px;
	border-bottom: 5px solid #77CC89;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	position: absolute;
	margin-top: 10px;
	margin-left: 6px;
}
.greentxt {
	color:#77CC89 !important;	
	font-size: 12px !important;
	margin-left: 18px;
}
.searchcrite-bg .searchcritetxt {	
	padding: 5px 2px 8px 4px;
	background-color: #fff;
	border-radius: 4px;
	font-size: 11px;
	margin-left: 4px;
	color: #999;
	float: left;
	margin: 3px;
	font-family: "Open Sans",sans-serif;
}
.searchcrite-bg .closesearchcritetxt {
	color: #aaa;
	padding: 7px;
	cursor: pointer;
}

.dropdown-menu > li > a .set-color {
	color: #4e4e4e;
	font-size: 12px;
}

.searchcrite {	
	border-radius: 9px;
    padding:1px;
	display: inline-block;
	width: 86%;
	float:right;    
    margin-bottom: 5px;
}
.searchcrite-bg {
	background-color: #f2f3f4 !important;
    padding:1px !important;
	float: left;	
}
.record-cnt, record-cnt-filter {
	display: inline-block;
}
.record-cnt {	
	vertical-align: top;
	font-size:12px;
    margin-left: 18px;
	font-family: "Open Sans",sans-serif;
    color: #6f6f6f;
    font-weight: 400;
}
.filter-result {
	/* margin: 10px 0; */
}
.pointerClass {
	/* Date:11/01/2018 Reason:To show unclickale score ontop left of graph */
	/* cursor:pointer; */
	cursor:default;
}
.no-found-error {
	float: left;
	margin: 21px 35px;
}
.graph-error {
	color: #000;
	width: 16%;	
	position: absolute;
	top: 120px;
	font-size: 17px;
	font-weight: 600;
	margin: 10px;
}

.dropdown-menu > li > a {
	height: 25px;
}


/* Smileys */
.highlight-smiley {
	opacity : 1 !important;
}
.neutral-smiley {
	margin-left: 61px;
}
.somewhat-dis {
	margin-left: 34px;
}
.very-dis {
	float:right;
}
.smiley1 {
	background: rgba(0, 0, 0, 0) url("../img/smiley1.png") no-repeat scroll 0 0;
	float: left;
	width: 23px;
	height: 23px;	
    cursor: pointer;
    opacity : 0.4;
}

.smiley11 {
	background: rgba(0, 0, 0, 0) url("../img/smiley1.png") no-repeat scroll 0 0;
	float: left;
	width: 23px;
	height: 23px;
}

 .smiley2, .smiley3, .smiley4, .smiley5
{
	float: left;
	width: 23px;
	height: 23px;
	margin-left: 12px;
	cursor: pointer;
	opacity : 0.4;
}
.smiley21, .smiley31, .smiley41, .smiley51
{
	float: left;
	width: 23px;
	height: 23px;
	margin-left: 10px;	
}
.smiley2 {
	background: rgba(0, 0, 0, 0) url("../img/smiley2.png") no-repeat scroll 0 0;	
}
.smiley3 {
	background: rgba(0, 0, 0, 0) url("../img/smiley3.png") no-repeat scroll 0 0;
}
.smiley4 {
	background: rgba(0, 0, 0, 0) url("../img/smiley4.png") no-repeat scroll 0 0;
}
.smiley5 {
	background: rgba(0, 0, 0, 0) url("../img/smiley5.png") no-repeat scroll 0 0;	
}
.smiley11 {
	background: rgba(0, 0, 0, 0) url("../img/smiley1.png") no-repeat scroll 0 0;	
}
.smiley21 {
	background: rgba(0, 0, 0, 0) url("../img/smiley2.png") no-repeat scroll 0 0;	
}
.smiley31 {
	background: rgba(0, 0, 0, 0) url("../img/smiley3.png") no-repeat scroll 0 0;	
}
.smiley41 {
	background: rgba(0, 0, 0, 0) url("../img/smiley4.png") no-repeat scroll 0 0;
}
.smiley51 {
	background: rgba(0, 0, 0, 0) url("../img/smiley5.png") no-repeat scroll 0 0;	
}
.right-margin {
	height: 60px;
	vertical-align: top;
}

.isdisabledsmily {
	opacity : 0.4;
    cursor: auto;
	pointer-events: none;
}

.isactivesmily {	
    cursor: auto;
	pointer-events: none;
}

.top-margin {
	vertical-align : top;
	width: 30%;
}

.desc-clr {	
    font-size: 12px;
    font-weight: 600;
	padding: 10px;
}
.head-container {
	background-color: #f5f9fc;
}
.header {
    background: #f5f9fc none repeat scroll 0 0 !important;
}
.blue-prosp {
	font-size : 10px;
}
section {
	background-color: #f5f9fc;    
}

.pagin-rate{
	margin: 2px 2px !important;
    background-color: #D7EFF9 !important;
    border: none !important;
    color: #000 !important;
    font-weight: normal !important;
}

.btn-defaults {
    background: #bbb none repeat scroll 0 0;
    border: 1px solid #aaa;
    font-size: 13px;
    border-radius: 5px;
	color: #fff;
    display: inline-block;
}
.btn-defaults:hover {
    background: #bbb none repeat scroll 0 0;
    border: 1px solid #aaa;    
    border-radius: 5px;
	color: #fff;
    display: inline-block;
	font-family: "bebas_neueregular";
	font-size: 20px;
}

.btn-primarys {
    background: #07C8CF none repeat scroll 0 0;
    border: 1px solid #07C8CF;
    border-radius: 5px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0px 10px;
    padding: 2px 12px;
    text-shadow: none;
}

.btn-primarys:hover {
    background: #07C8CF none repeat scroll 0 0;
    border: 1px solid #07C8CF;
    border-radius: 5px;
    color: #fff;
    font-family: "Open Sans",sans-serif;    
    font-weight: 400;
    margin: 10px 0px 10px;
    padding: 2px 12px;
    text-shadow: none;
	font-family: "bebas_neueregular";
	font-size: 20px;
}

.showaudiopopup .modal-content {
	max-width:780px;
}

.modal-content {
	max-width:480px;
}

/* Pagination CSS */
.leftdoublearrow {
	background: rgba(0, 0, 0, 0) url("../images/left-double-arrow.png") no-repeat scroll 92% 50%;
	float: left;
	height: 20px;
	width: 25px;
}
.leftsinglearrow {
	background: rgba(0, 0, 0, 0) url("../images/left-single-arrow.png") no-repeat scroll 92% 50%;
	float: left;
	height: 20px;
	width: 25px;
}
.rightdoublearrow {
	background: rgba(0, 0, 0, 0) url("../images/right-double-arrow.png") no-repeat scroll 92% 50%;
	float: left;
	height: 20px;
	width: 25px;
}
.rightsinglearrow {
	background: rgba(0, 0, 0, 0) url("../images/right-single-arrow.png") no-repeat scroll 92% 50%;
	float: left;
	height: 20px;
	width: 25px;
}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
.innercontent .checkbox > span{ vertical-align: top;}
}


@media (max-width:1366px){
    .right-sidebar.floatbar {right: 16%;width: 17%;}    
}
@media (max-width:980px){
	.left-block,.right-sidebar{ width:73%;}
    .left-block .row .info-margin {margin-bottom: -10px !important;}
     body, input, select, textarea {font-size: 11px;}
    .score {font-size: 11px;}
    .btn-back{padding: 3px 4px;}
    
    .label-value {font-size: 10px;}    
    
    .timer{ font-size: 21px;}    
    .right-sidebar{ margin-top:20px;}
    .right-sidebar .white-bg{  width: 33%; height: 226px; display: inline-block; }
    .right-sidebar.floatbar {position: relative; right: auto; width: 24%}
}
@media (max-width:768px){
    .left-block,.right-sidebar{ width:73%;}
    .left-block .row .info-margin {margin-bottom: -20px !important;}
    body, input, select, textarea {font-size: 11px;}
    .score {font-size: 11px;}
    .btn-back{padding: 3px 4px;}
    
    .label-value {font-size: 9px !important;padding-left: 14px;}
    .heading{font-size: 9px !important;}
    .asset-note{font-size: 9px !important;}
    .asset-thumb {height: 49px !important;}
    
    .timer{ padding: 10px 0 25px}
    .label-value{ font-size: 13px;}
    #tabpanel ul.nav-tabs li a{padding: 8px 10px;  font-size: 18px; width: 87%;}
    
    .arrow-right {
    border-bottom: 18px solid transparent;
    border-left: 17px solid #dddddd;
    border-top: 17px solid transparent; top:3px;}
    .dialer-screen{ top: 43%;
    width: 33%}
    .right-sidebar .white-bg{ float: left; margin: 0 1px;}
    .right-sidebar.floatbar {position: relative; right: auto; width: 24%}
    .quality-assur-terms .gray-btn{width: 6.5%;}
	.quality-assur-terms span{ width: 12%;}	
}
@media (max-width:767px){
    #tabpanel ul.nav-tabs{ width: 100%;}
    #tabpanel ul.nav-tabs li{ width: 25%;border-right: 1px solid #999;}
    #tabpanel ul.nav-tabs li a{ width: 100%; text-align: center;}
    #tabpanel .tab-content{ width: 100%;}
    .arrow-right{display: none;}
    .right-sidebar2.floatbar2 {left: 0; margin-top: 2582px; max-width: 300px; position: relative; width: 75%;}    
    .form-control{font-size: 8px;}
    .navbar-right > li > a{margin-top: -76px;}
    .col-sm-5.col-md-5.nopad { margin-left: -72px;}
    .col-sm-4.col-md-4.nopad > div {margin-left: -9px;}
    .heading-lead-detail {margin-left: 109px;margin-top: 10px;position: absolute;}
    
    .left-block,.right-sidebar2{ width:100%;}
    .left-block .row .info-margin {margin-bottom: -20px !important;}
     body, input, select, textarea {font-size: 11px;}
    .score {font-size: 11px;}
    .btn-back{padding: 3px 4px;}
    
    .label-value {font-size: 9px;} 
    .heading-lead-detail{margin-top: 111px; padding: 3px;  position: absolute;}
    .heading-campaign-info{margin-left: 111px;}
    
    .title-detail {margin-left: 32px;  margin-top: -35px; width: 100%; }
    .left-block { overflow: auto;}
    .right-block {	float: none; width: 100%;}
}

.number-box {
	margin-top: 2px !important;
    float: left  !important;
	position: absolute;
	margin: 110px;
}

.showaudiopopup .modal-dialog {
	width: 45%;
}

/* START
   DATE : 10/05/2017
   REASON : Added CSS for QA validation / questionnaire block */
.questionnaire-block {
	height: auto;
    width:100%;
	margin-bottom: 10px;
	background-color: #fff;
	border-bottom: 1px solid #96b47e;
}
.innercontent {
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 5px auto 0;
    overflow: hidden;
    width: 85%;
}
.certify-block-label {
    color: #838383;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
    width: 20%;
    margin-right: 10px;
    text-align: left;
    vertical-align: middle;
}
.certify-validate-label {
    color: #838383;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
    width: 5%;
    margin-right: 10px;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 5px;
}
.certify-input {
	width: 60%;
	padding: 2px;
    margin-bottom: 5px;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}
/* END */

/* START 
   DATE : 16/05/2017
   REASON : Below css added for logo, buttons & questionnaire block */
.recording-logo {
	background: rgba(0, 0, 0, 0) url("../images/play-recording.jpg") no-repeat scroll 0 0;
	float: left;
    width: 20px;
    height: 20px;
    margin-top: 8px;
}
.campaignrequirements-not-found {
	color: #838383;
    font-size: 13px;
}
.campaignrequirements-title-logo {
	background: rgba(0, 0, 0, 0) url("../images/campaign-requirements-title-logo.png") no-repeat scroll 0 0;
	float: left;
	width: 18px;
	height: 17px;
	margin-left: 10px;
}
.questionnaire-title-block {
	height: 40px;
    width:100%;
	padding: 8px;
	margin-top: 10px;
	background-color: #fff;
}
.questionnaire-title-logo {
	background: rgba(0, 0, 0, 0) url("../images/questionnaire-title-logo.png") no-repeat scroll 0 0;
	float: left;
	width: 18px;
	height: 17px;
	margin-left: 10px;
}
.questionnaire-not-found {
	color: #838383;
	margin-left: 10px;
}
.btn-edit-lead {
	background-color: #7fdbe6;
    border: 1px solid #6cc2bf;
    border-radius: 7px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-left: 23px;
    height: 30px;
    width: 71px;
    cursor: pointer;
}
.btn-editreset-lead {
	background-color: #eaeaea;
    border: 1px solid #cfcfcf;
    border-radius: 7px;
    color: #cfcfcf;
    font-size: 13px;
    font-weight: 400;
    margin-left: 23px;
    height: 30px;
    width: 71px;
    cursor: auto;
}
.btn-save-lead {
	background-color: #7fdbe6;
    border: 1px solid #6cc2bf;
    border-radius: 7px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-left: 23px;
    height: 30px;
    width: 71px;
    cursor: pointer;
}
.btn-cancel-lead {
	background-color: #7fdbe6;
    border: 1px solid #6cc2bf;
    border-radius: 7px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-left: 23px;
    height: 30px;
    width: 71px;
    cursor: pointer;
}
.editable-wrap .editable-controls .editable-input {
    display: inline-block;
    width: 140px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 5px;
	margin-bottom: 3px;
}
.editable-wrap .editable-controls .editable-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.quest-logo {
    background: rgba(0, 0, 0, 0) url(../images/checkmark.png) no-repeat scroll center center;
    height: 15px;
    position: absolute;
    left: 125px;
    top: 4px;
    width: 22px;
    z-index: 1000;
    cursor: pointer;
}
.you {
    float: left;
    margin: -6px 45px 5px 143px;
}

.popover {
    text-decoration: none;
    color: black;
    position: absolute;
    left: 50%;
    top: 0;
    border : 1px solid #7FAEC4;
    background-color: #ECFAFF; 
    display: inline-block;
    padding: 10px 18px;
    vertical-align: top;
	border-radius: 0px !important;
}

.popover:before {
    background-color: #ECFAFF;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    border-left : 1px solid #7FAEC4;
    border-bottom : 1px solid #7FAEC4;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}
.you::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}
/* END */

/* START 
   DATE : 13/06/2017
   REASON : CSS added for campaign requirements */
.campaign-requirements-title-block {
	height: 40px;
    width:100%;
	padding: 8px;
	margin-top: 10px;
	background-color: #fff;
}
.campaign-requirements-block {
	height: auto;
    width:100%;
	background-color: #fff;
	border-bottom: 1px solid #96b47e;
}
.campaign-requirements-inner-block {
	margin-left: 20px;
    padding-bottom: 5px;
}
.campaign-requirements-title-block {
	height: 40px;
    width:100%;
	padding: 8px;
	background-color: #fff;
}
.campaign-requirements-paragraph {
	white-space: pre-wrap;
	color: #838383;
    font-size: 13px;
}
/* END */

/* START CAMP INFO & CALL SUMMARY
   DATE : 13/06/2017
   REASON : CSS for campaign information & call summary */
.campaign-information-block {
	display: inline-block;
	border-bottom: 1px solid #96b47e;
	padding: 8px;
	width: 50%;
	margin-left: 3px;
	border-right: 10px solid #f8f8f8;
	background-color: #fff;
}
.call-summary-block {
	display: inline-block;
	border-bottom: 1px solid #96b47e;
	padding: 8px;
	width: 50%;
	margin-left: 3px;
	background-color: #fff;
}
.campaign-information-labels {
    color: #87c53e;
    font-size: 12px;
    text-transform: uppercase;
    width: 23%;
    float: left;
    text-align: right;
    margin-right: 18px;
}

.callback-history-labels {
    color: #87c53e;
    font-size: 12px;
    text-transform: uppercase;
    width: 34%;
    float: left;
    text-align: right;
    margin-right: 18px;
}


/* END CAMP INFO & CALL SUMMARY */

.secondary-qa-btn {
	background-color: #7fdbe6;
    border: 1px solid #6cc2bf;
    border-radius: 7px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    width: 150px;
    margin-left: 5px;
    height: 33px;
}

.secondary-QA-mat{
	display: inline-block;
	width: 23%;
}

.secondary-QA-mat:nth-child(1) {
	margin-left: 10px;
}

.row-highlight td {
	color: black;
	background-color: #D7EFF9;
}

.qaId {
	width: 10%;
}

.qaId-procedure-details {
	background-color: #fff;
	border: 1px solid #cacaca;
	height: 95px;
	margin: 5px -10px;
	position: absolute;
	width: 220px;
	z-index: 1;
}

.qaId-procedure-details .btnreset {
	background-color: #7fdbe6;
	border: 1px solid #6cc2bf;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 112px !important;
	width: 69px !important;
	margin-top: -30px !important;
	float: left;
}


.qaId-procedure-details .btncancel {
	background-color: #bbbbbb;
	border: 1px solid #cacaca;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 31px !important;
	width: 71px;
	margin-top: 7px !important;
}

.lead-status-procedure-details {
	background-color: #fff;
	border: 1px solid #cacaca;
	height: 95px;
	margin: 5px -10px;
	position: absolute;
	width: 230px;
	z-index: 1;
	padding: 0 10px;
}

.lead-status-procedure-details .btnreset {
	background-color: #7fdbe6;
	border: 1px solid #6cc2bf;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 115px !important;
	width: 69px !important;
	margin-top: -30px !important;
	float: left;
}

.lead-status-procedure-details .btncancel {
	background-color: #bbbbbb;
	border: 1px solid #cacaca;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	margin-left: 31px !important;
	width: 71px;
	margin-top: 12px !important;
}

.lead-status-multisel2-cls {
    width: 100% !important;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.lead-status-multisel2-cls .btn:active {
	background: none;
}

.searchTextBox {
	margin-left: 660px;
	margin-bottom: 8px;
 }

 button[disabled], html input[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}

 #campaignDropdown .dropdown-menu {
	max-height: 350px !important;
	overflow: scroll !important;
	width: 280px;
}

 .linkDisabled {
	cursor: not-allowed;
	opacity: .65;
	pointer-events: none;
 }

 .leadStatusDisable {
	pointer-events: none;
	opacity: 0.6;

 }
 .ng-scope.leadStatusDisable .check-option{
	font-weight: bold;
 }
 .disableddiv {
    pointer-events: none;
    opacity: 0.4;
}

.editnotes{
	margin: 76px 0 0 9px;
}

.editnotes button{
    width: 20px;
    height: 20px;
	margin: 0 5px;
	text-align: center;
}

.selectbtnbox{
	padding: 1px 0 0 0;
}

.closebtnbox{
    padding: 3px 0 0 0;
}

.editnotes .btn span{
	width: 100%;
	height: 100%;
}

.editnotes .btn-default:hover, 
.editnotes .btn-default:focus, 
.editnotes .btn-default:active {
    background: #928f8f8c;
    color: #666;
}

.word-breaker {
	word-break: break-word;
}

.downloadIcon-clientMapping {
    cursor: pointer;
    font-size:20px;
    margin-left: 260px;
    margin-top: 15px;
}

.mandatoryFields {
	color: red;
	font-size: 20px;
}

#teamDropdown .dropdown-menu {
    max-height: 350px !important;
    overflow: scroll !important;
    width: 280px;
}


#qaFilterDropdown2 .dropdown-menu {
    max-height: 350px !important;
    overflow: scroll !important;
    width: 280px;
}

#leadStatusDropdown .dropdown-menu {
    max-height: 350px !important;
    overflow: scroll !important;
    width: 280px;
}

.customfieldDiv {
    border-bottom: 1px solid #96b47e;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #fff;
}

.customfieldLable {
	margin-left: -112px;
    color: #87c53e;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-indent: 0;
}

.quest-logo-asset {
	height: 32px;
	position: absolute;
	margin-left: 11px;
	margin-top: -4px;
	width: 22px;
	z-index: 1000;
	cursor: pointer;
}

.you-asset {
    float: left;   
	margin: -6px 45px 5px 45px;
	width: 300px;
}

.you-asset::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;    
}
	