@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

/* Basic */

body {
		background: #fff;
}

body, input, select, textarea {
		color: #555555;
		font-family: 'Open Sans', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		line-height: 1.65em;
}

.fixedwidth{
	width:1260px;
	padding:0px;
}

.clear{
	clear:both;
}
.expandwidth{
	margin-bottom: 10px;	
}
.redstar{
	color:#ff0000;
	}
