.page-wrap{ background: #f8f8f8; font-family: 'Open Sans', sans-serif;}
.main-header{ }
.pos-rel{position:relative;}
.nopad{ padding: 0;}
.white-bg{ background: #fff; display:inline-block; width:100%; padding:0 10px; border-radius: 0px;margin-bottom: 10px; border-bottom: 1px solid #82c236;}
label{ color: #81BC21; text-transform: uppercase; font-size: 11px; font-weight: 500; width:27%; text-align: right;}
.retrySpeedlabel{ color: #81BC21; text-transform: uppercase; font-size: 11px; font-weight: 500; width:20%; text-align: right;}
.main-header .menu{min-height: 38px; margin-bottom: 14px; }
.main-header .navbar-default {
    background-color: #7f7f7f; border-radius: 0; border: none;}
.main-header .menu li a{ text-transform: uppercase; font-weight: 500; color: #fff; padding:9.5px 10px;}
.navbar-toggle{ margin-top: 15px;}
.main-header .menu li a:last-child{ padding-right: 0;}
.left-block{width: 73%; float: left;}
.heading{ color: #777;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin: 10px 0 5px;
    text-indent: 0;
    text-transform: uppercase;
    text-shadow: 0.3px 0.3px 0.3px #777;}
.label-value{ color: #777; font-size: 12px; font-weight: 600; padding-left: 10px; display: inline-block; width: 73%; vertical-align: middle;}
.timer{ font-size: 28px; font-weight: 600; color: #777; display: inline-block;  padding: 10px 0px 17px;}
.asset-thumb{ width: 30px; height: 30px; display: inline-block;}
.asset-note{ display: inline-block;font-size: 14px;padding-left: 5px; vertical-align: top; width: 145px; height: 65px; overflow: hidden;}
.asset-note.expand-note{ width:431px; position: absolute; background: #fff; z-index: 999; height: 75px; left:34px; 
    border-radius: 5px; transition: all 1s ease .5s;}
.right-sidebar{width: 24%; float: right; position: relative;}
.text{ font-size: 12px; padding: 0 2px; color: #777; margin: 7px 0;}
.callstatus-list{ list-style: none; padding: 0; display: inline-block; width:150px; float: left; margin-bottom: 8px;}
.right-sidebar .callstatus-list li{ text-align: left; padding:0 2px; margin: 0; }
/*.callstatus-list li.checkbox label{ padding-left: 0; }*/
.callstatus-list li.checkbox input[type="checkbox"]{ margin-left: 0;}
.callstatus-list li.checkbox label{    color: #81BC21;
    font-size: 11px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    width: 27%;
 }
 .callstatus-list > li:first-child {
    padding-bottom: 10px;
}
.callstatus-list li h3.heading{ margin:14px 0 0;}
.gray-btn{ background: #7f7f7f; color: #fff; width: 100%;  border: #666; margin: 5px 2px 8px; font-size: 14px; text-transform: uppercase; padding: 4px 10px; border-radius: 8px;}
.gray-btn:hover{ background: #7f7f7f; color: #fff; }
.btn-small{width: 46%; display: inline-block;  margin: 5px 2px;  font-size: 14px; padding: 3px 10px; border-radius: 8px; text-transform: uppercase; color: #666;}
.btn-large{width:100%; display: inline-block;  margin: 5px 2px 15px;  font-size: 14px;padding: 3px 10px; border-radius: 8px; text-transform: uppercase;color: #666;}
.btn-main{ background: #55b6d2; border-radius: 0; font-weight: 500; margin-bottom: 11px;
    padding: 3px 10px; border: 1px #50aac4 solid; color: #fff; font-size: 18px;}

.alert-dismissable .close, .alert-dismissible .close{color: #fff;
    opacity: 1;
    position: relative;
    right: -3px;
    top: -10px;
    text-shadow: none; font-weight: 300;
    }
    #tabpanel{display:block;}
    #tabpanel ul.nav-tabs{width: 17%; display: inline-block; border:none; vertical-align: text-top; margin-left: 10px;}
        #tabpanel ul.nav-tabs li{width: 100%; margin: 10px 0;}
    #tabpanel ul.nav-tabs li a{background: #dddddd; display:block; color: #333;
    font-size: 17px;  border-radius:0;width: 86%;padding:8px 15px; border:none; margin-right: 0;}
    #tabpanel ul.nav-tabs li:hover a, #tabpanel ul.nav-tabs li:focus a,#tabpanel ul.nav-tabs li.active a {outline: none; border:none; background: #55b6d2;}
    #tabpanel ul.nav-tabs li:hover .arrow-right, #tabpanel ul.nav-tabs li:focus .arrow-right, #tabpanel ul.nav-tabs li.active .arrow-right {border-left-color:  #55b6d2;}
    #tabpanel .tab-content{width: 81%; display: inline-block; background: #fff; vertical-align: top;}
   .tab-content > .tab-pane{ border: 2px #ddd solid; padding:7px 7px 5px; position: relative;}
   .tab-content > .tab-pane.active{ border: 2px #55b6d2 solid; }
  .arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #dddddd;position: absolute;
    right: 0;
    top: 0;
}
.blueborder{ width: 75%; margin: 0 auto; background: #54b6d1; height: 2px; opacity: 0.18}
.no-radius{ border-radius: 0;}
#tabpanel .nav-tabs.tab-status-list{width: 100%; list-style: none; padding: 0 0px 5px; margin: 0 0 5px; text-align: left; height: 40px; overflow:hidden;}
#confirm #confirmTab:hover {
    height: auto;
    overflow: visible;
}
#tabpanel .nav-tabs.tab-status-list li{ float:none; width:16%; display: inline-block; padding: 0 0px; border-right:1px #ddd solid; margin:3px 0; text-transform: uppercase; text-align:center;}
#tabpanel .nav-tabs.tab-status-list li a{   vertical-align: middle;  font-size: 10px;
    padding: 0 0px;white-space: pre-wrap;background: transparent; display: inline-block; text-transform: uppercase;   width: 100%;}
#tabpanel .nav-tabs.tab-status-list li:last-child{ border: none;}
#tabpanel .nav-tabs.tab-status-list li:hover a,#tabpanel .nav-tabs.tab-status-list li:focus a,#tabpanel .nav-tabs.tab-status-list li.active a { background: transparent;}
#tabpanel .nav-tabs.tab-status-list li:nth-child(7){ border: none;}
#tabpanel .nav-tabs.tab-status-list li a:hover,#tabpanel .nav-tabs.tab-status-list li a:focus{ background: transparent;}
.intro-block{ background: #efefef none repeat scroll 0 0;
    color: #666;
    font-size: 16px; font-weight: 600;
    font-style: italic;
    min-height: 80px;
    line-height: 1.3;
    margin: 10px 15px 15px;
    padding: 5px 10px;}
#tabpanel .tab-pane .tab-content{ width: 100%;}
.dialer-screen{ position: absolute;width: 100%; /*margin-left: -10px;*/
    /*width: 14.5%;*/ margin-left: -10px; top:45px; background: #fff;
    z-index: 666;}
.number-display input.form-control{   border-radius: 0;
    height: 28px;
    margin: 0 auto;
    text-align: center;
    width: 87%;}
.number-pad { 
    padding: 10px; background: #fff;
}
.number-pad button{ background: transparent none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 4px;
    padding: 7px 12px;
    position: relative;
    text-align: left;
    width: 28%;}
.number-pad button:hover, .number-pad button:focus{ background: #eee;}
.number-pad button.attand-call,.number-pad button.ignore-call{ border: medium none;
    display: inline-block;
    height: 45px;
    padding: 0;
    text-align: center;
    width: 26%;}
/*#call-status{ display: none;}*/
.row.margin-right {
    margin-right: -20px;
}
.left-block .margin-right p{ display: inline-block; width: 100%;}
.margin-right .white-bg .label-value{ font-size: 15.7px; font-weight: 600;}
.heading.lasthead{margin-top: -18px; margin-left: 40px; margin-bottom: 15px;}
.innercontent{ width: 95%; margin:15px auto 0; overflow: hidden; font-size: 16px; font-weight: 300; color: #000;}
.innercontent .checkbox + .checkbox, .radio + .radio, .checkbox, .radio {
    margin-bottom: 0px; margin-top: 0;
}
.innercontent div p{ line-height: 0.7;
    margin-bottom: 11px;}
.innercontent div.col-md-12 .checkbox{margin: 0 20px;display: inline-block; width: 20px;}
.innercontent div.col-md-11 .label-value{ width: 50%;}
.right-sidebar label.call-timer {
    width: 28%;
}
.right-sidebar .label-value {
    width: 42%;
}
.active-border{ outline: 2px #55b6d2 solid;}
#email .btn-main{float: right;
    margin: 50px 0 0;
    width: 55%;}
.total-ques{ color: #777; padding:0 10px; float: right; margin: 0;}
.innercontent .checkbox > span{font-size: 15px;
    text-transform: uppercase;
    vertical-align: top; line-height: .8;}
.small-inner-block{ width: 62%; margin: 0 auto;}
.carousel-inner .checkbox > span {
    line-height: 0.5;
}
.carousel-inner .small-inner-block .checkbox {
    padding: 0 0 0 20px;
}
.tab-content > .tab-pane.active.finalstep{border:2px solid #ddd;}
.correct-contact-detail .col-md-12{ margin-bottom: 0px;}
.name-field {
    display: inline-block;
    line-height: 0;
    text-align: left;
    vertical-align: super;
    width: 80px;
}
.carousel-inner .small-inner-block{ width: 50%; }
button[disabled].btn-main{background: #bbb none repeat scroll 0 0;
    border: 1px solid #aaa;}
.add-note-field{display: inline-block;  height: 70px;}
.note-btn{ background: #999 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0px;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 15px;
    text-transform: uppercase;
    vertical-align: bottom; margin: 10px 1px;}
#status-detail{
    background: #eee none repeat scroll 0 0;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 400;
    left: 25%;
    min-height: 100px;
    padding: 15px;
    position: absolute;
    top: 142%;
    width: 558px;
}
/*#tab:hover + #status-detail{display: block !important;}*/
/*#tab:hover + #status-detail{display: block;}*/
/*.slidetop{overflow-y: hidden;
	max-height: 500px;  approximate max height 

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);}
.slidetop.closed {
	max-height: 0;
}*/

.number-pad span {
    font-size: 10px;
    font-style: normal;
    left: 10px;
    padding: 0px 15px;
    position: absolute;
    top: 12px;
}
.number-pad span i{font-style: normal;}
.innercontent div.email-block .checkbox{ margin: 10px 20px;}
.email-block .label-value{
    text-align: left;
    width: 55%;}
.email-block .editable-input.editable-has-buttons{width:160px !important;}
.email-block .editable-buttons button{ margin:0 2px;}
#asset-content{ display:none; position:absolute;}
.asset-extra-content{  background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #666;
    font-size: 14px;
    left: 63%;
    min-height: 90px;
    padding: 15px;
    position: absolute;
    top: -90px;}
	.tab-status-list li a{ background: transparent none repeat scroll 0 0;
    display: inline-block;
    font-size: 11px;
    padding: 0 10px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: pre-wrap;
    width: 100%;}
	 .nav-tabs.tab-status-list li a:hover,.nav-tabs.tab-status-list li a:focus {
    background: transparent none repeat scroll 0 0;
}
.extra-li-hide{display:none;}
.extra-li-show{display:inline-block;}
.right-sidebar .white-bg{overflow:visible;}
.ui-helper-hidden-accessible div{display:none !important;}
.call-history-block{ display: block; max-height: 170px; overflow-y: scroll;}
.number-pad button.text-center{ text-align: center;}
/**************agent screen style end here****************/
/*qa-screenstyle starts here*/
.qa-score .main-header .navbar-default{background-color: #0071bc;}
#accordion .panel-default{ margin: -2px 0 0;}
#accordion .panel-default .panel-heading{ background: #54b6d1; border-radius: 0; color: #fff;border: 1px #54b6d1 solid;}
#accordion .panel-default .panel-heading a{width: 100%;  display: inline-block; text-decoration: none;}
#accordion .panel-default > .panel-heading + .panel-collapse > .panel-body{border: 1px #54b6d1 solid; padding: 0;}
.ans-set{ padding: 0 5px;  display: inline-block;}
.ans-set em{ font-style: normal;  text-transform: uppercase; color: #333;
    padding-left: 5px;
    vertical-align: top;}
.comment-box {
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle; position:absolute;
}
#accordion th, .assur-quali th{ color: #8c8c8c;  font-size: 13.4px; padding:10px;
    font-weight: normal;
    text-shadow: 0.1px 0.1px 0.1px #8c8c8c;text-transform: uppercase; background: #f7f7f7 none repeat scroll 0 0;}
    .assur-quali th{ position:relative;}
#accordion td, .assur-quali td{ color: #7f7f7f; padding:10px; }
#accordion .panel-default table.table-striped tr.odd{width: 100%; float:none; background:#fff !important;}
#accordion .panel-default table.table-striped tr.odd:hover{width: 100%; float:none; background:#f4f4f4 !important;}
#accordion .panel-default table.table-striped tr.even{width: 100%; float:none; background:#f4f4f4;}
.assur-quali td{ font-size: 13px; line-height:1.5; }
#accordion .table{ margin-bottom: 0;}
.score{color: #7c7c7c; font-size: 14px;font-weight: 300; line-height: 1.5;}
.text-uppr{ text-transform: uppercase}
.quality-assur-terms span {
    display: inline-block;
    margin: 0 5px; float:left;
    width: 12.4%;
}
#accordion tr#comment-row{background:#fff;}
.table td.scor-id{padding-left:20px !important; padding-right:0 !important; text-align:center;}
.qual-assu-block{ background: #fff; border-left:1px #29abe2 solid; border-right:1px #29abe2 solid; border-bottom:1px #29abe2 solid; margin-bottom: 10px;}
.assur-quali-bottom-row{ background: #fff; padding: 10px;}
.assur-quali-bottom-row .total-records{ font-size: 12px; color: #7e7e7e;}
.assur-quali-bottom-row .total-records span{ padding: 0 5px;}
.assur-quali-bottom-row .pagination{ margin: 0;}

.quality-assur-terms {
    padding: 5px;
}

.quality-assur-terms span input{ border: 1px solid #ededed;background:rgba(0, 0, 0, 0) url("../../img/select2.png") no-repeat scroll 97px 0 / 60px auto;
    border-radius: 0;
    box-shadow: none;
    height: 30px;font-weight: normal;
    margin-bottom: 0;
    padding: 2px 5px;
    width: 100%;text-overflow:ellipsis;
    }
    .quality-assur-terms span input.call-id{background-image:none;}
    .disposition-block input[type="checkbox"]{height:11px;}
.quality-assur-terms .gray-btn{  border-radius: 4px; background:#07C8CF;
    font-size: 11px;
    line-height: 1.6;
    vertical-align: middle;
    width: 5%; margin: 0;}
.title-row{background: #29abe2 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 8px;
    text-transform: uppercase;}
.qasearch-block{ background: #eee;}
.qasearch-block input{ border: 0 none;background: #eee;
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    padding: 3px 5px;width: 125px;
    vertical-align: text-top;}
.btn-main.done{ background: #07C8CF none repeat scroll 0 0;
    border: 1px solid #07C8CF;
    border-radius: 5px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0px 25px;
    padding: 2px 20px;
    text-shadow: none;}
.assur-quali table td span {
    display: block;
}

.disposition-block{ background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: block;
    height: auto;
    padding: 10px;
    position: absolute; border-radius:0;
    /*transition: all 1s ease-in 1s;*/
    width: auto;
    z-index: 9999;}
.disposition-block li.checkbox {
    display: inline-block;
    width: 100%;
}
.disposition-block .callstatus-list li input[type="checkbox"]{ margin-left: 2px;
    width: auto;}
.disposition:hover .disposition-block{display: block;}
.disposition-block .callstatus-list li h3.heading{ margin: 0;}
.finish-code-div{ width: 557px; margin: 0 auto; border: 1px #ccc solid; padding: 10px; overflow: hidden}
.finish-code-div .callstatus-list{width: 100%;}
.finish-code-div .callstatus-list li{  display: inline-block;
    margin-bottom: 6px;
    width: 100%;}

.finish-code-div .callstatus-list li.checkbox label{  color: #888;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    vertical-align: top;
    width: auto;}
.finish-code-div .callstatus-list li .status-detail { font-style: italic;line-height: 1;
    color: #888;
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
    width: 70%;
}
.qasearch-block span {
    color: #999;
    font-size: 14px;
    margin-right: 6px;
}
.comment-block {
    background: #fff none repeat scroll 0 0;
    height: 80px;
    padding: 10px 10px 10px 110px; color: #999;
    font-size: 13px;
}
  tr#comment-row{display: table-row;}
#accordion tr#comment-row td{ padding: 0;}
.assur-quali th .fa{display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 0.4;}
.assur-quali th span{/*  background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px;
    vertical-align: sub;*/}
.add-more{  color: #666;
    margin: -22px 0 0;}
    .add-more a{cursor: pointer;text-dacoration:none; color:#666}
.assur-quali #example_length{display: none}
.dataTables_filter {
   
    position: absolute;
    right: 8px;
    top: -104px;
}
.dataTables_wrapper .dataTables_filter input {
       padding: 3px 2px; width: 130px; height: 24px;font-size: 14px;
}
.margin-right .white-bg .label-value {
    font-size: 12px;
    font-weight: 600;
}
#example_filter label{ font-size: 0; width: 100%;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{ background: #fff; border: 0; border-left:1px #ccc solid; border-right:1px #ccc solid;}
.dataTables_wrapper .dataTables_info{ padding-left: 10px;}
.dataTables_wrapper .dataTables_paginate .paginate_button{font-size: 12px; float: left; line-height: 1.5;
    padding: 5px;}
.dataTables_wrapper .dataTables_paginate .paginate_button.next{ border-left:1px #ccc solid;}
.dataTables_wrapper .dataTables_paginate{border: 1px solid #ccc; padding: 0; height: 30px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 10px; margin-bottom:10px;}
#example_paginate > span { float: left; line-height: 1.6;
    margin: 0;
    overflow: hidden; display: inline-block;
}
.add-comment-row{ display: none;}
.ui-autocomplete{ background: #fff; padding: 10px; list-style: none; border:1px #ccc solid; width: 110px !important;}
#other-field{ display: none;}
.id-num{ width: 10%;}
.particulars {
    width: 40%;
}
.per-id{ width: 10%;}
.scor-id{ width: 40%;}
.feedback-id{ width: 40%;}
.quest-id{ width: 38%;}
.right-sidebar.floatbar {
    position: fixed;
    right: 20%;
    width: 15%;
}
.disposition-block .close{color: #999;
    position: absolute;
    right: 3px;
    top: 0;}
.disposition-block .close:hover{color: #666;}

/*qascreen fixes*/
#accordion .panel-title{ background-image:none;font-family: open sans; text-indent:0;}
#scor-id .ans-set{  margin-top: -2px;}
.datatable tr:hover, .datatable tr:hover {
    background-color: whitesmoke;
}
.datatable th {
    border-bottom: 1px solid #111;
    padding: 5px 10px;
    position: relative;
}
 .datatable td{ border-bottom: 1px solid #ddd;
    padding: 5px 10px;}
    .datatable > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}
table.datatable.display tbody tr > .sorting_1, table.datatable tbody tr > .sorting_1{ background:#f1f1f1;}
.selectize-input > * {
    display: inline-block;
    vertical-align: baseline; height:100%; float:left;
    width: 100%;
}
.ui-select-match span {
      overflow: hidden;
    padding: 3px 0;
    text-overflow: ellipsis;
    width: 95px !important; height:30px; white-space: pre;
}
.selectize-control.single .selectize-input::after{border-width:6px 3px 0; right:2px;}
.selectize-control.single .selectize-input, .selectize-dropdown.single {
    border-color: #ededed;
}
.selectize-control.single .selectize-input{background:transparent; box-shadow:none; padding:0px 5px 0; border-radius: 0;}
.selectize-control{height:30px;}
.selectize-dropdown, .selectize-input, .selectize-input input{  color: #555555;
    font-family: open sans;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.65em;}
    .qa_show_rows{ width: 100%;padding-left: 50%;}
    .qa_show_rows .num {
    background: transparent none repeat scroll 0 0 !important;
    border: 1px solid #ccc !important;
    padding: 0.6px 8px !important;
}
.arrow-up {
    border-bottom: 5px solid #ddd;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 0; display:inline-block; position: absolute;
    right: 2%;
    top: 10px; cursor:pointer;
}
.arrow-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ddd;
    height: 0;
    width: 0;display:inline-block; position: absolute;
    right: 2%;
    top:20px;cursor:pointer;
}
.custome-radio input[type="radio"], .custome-radio input[type="checkbox"] {
    display: none;
}
.custome-radio label {
    color: #666;
    line-height: 0.3;
    width: auto;
}
.custome-radio label::before {
    background-color: #fff;
    border: 1px solid #81bc21; border-radius:2px; box-shadow: 0.1px 0.1px 2px 0.1px #81bc21 inset;
    bottom: 1px;
    content: "";
    display: inline-block;
    height: 12px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 12px;top:0;
}
.callstatus-list.custome-radio label{ vertical-align: sub;}
.custome-radio input[type="radio"]:checked + label::before {
    color: #333;
    content: "✓";
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
}
.quality-assur-terms #spin{display:none;}
.quality-assur-terms #spin:focus,.quality-assur-terms #picker:focus{opacity:0;}
input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-calendar-picker-indicator, input::-webkit-calendar-picker-indicator:focus,input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-inner-spin-button { opacity:0;}
input:enabled:read-write::-webkit-inner-spin-button{display:none;}
 .arrow-up.active {border-bottom: 5px solid #29abe2;}
.arrow-down.active{border-top: 5px solid #29abe2;}
input::-webkit-datetime-edit-fields-wrapper{padding: 0 0 0 7px;}input::-webkit-datetime-edit{overflow:visible; }
#accordion th a, .assur-quali th a{color:#8c8c8c}
.sort-arrow {
    display: inline-block;
    height: 21px;
    position: absolute;
    width: 12px;
    right: 0px;
  top: 1%;
}

.custome-radio.table label{font-size: 11px;padding-top: 1px;
    vertical-align: super;
    padding-left: 15px;
    }
 #accordion .panel-default .panel-body {
    border: 1px solid #54b6d1;
    padding: 0;
}
#accordion .panel-default table th, #accordion .panel-default table td{border:0; border-top:1px #ddd solid; background:transparent}
#accordion .panel-default table.table-striped tr:nth-of-type(2n+1) {
    background-color: #f4f4f4;
}
aside.right-sidebar.floatbar.sticky {
    top: 0;
}
#other-field.collapse.in{opacity:1;}
#other-field.collapse{opacity:0; margin:0;}
.disposition-block .callstatus-list .radio label {
    vertical-align: super;
}
.disposition-block .callstatus-list.custome-radio label::before{top:2px;}
#carousel-example-generic1 .carousel-control{}
#carousel-example-generic1 p.odd,#carousel-example-generic1 p.even{vertical-align: middle;
    width: 100%;height: 100%;
    margin: 0; 
    vertical-align: middle;
    padding: 10px 8px;}
#carousel-example-generic1 p.odd label,#carousel-example-generic1 p.even label{ width:58%; text-align:left; padding:10px 0;
      vertical-align: text-top;}
#carousel-example-generic1 p.odd span,#carousel-example-generic1 p.even span{ width:40%; display:inline-block; padding:10px 0; vertical-align:text-top;}
#carousel-example-generic1 .item{height: 90px; width:85%; margin:0 5%;}
#carousel-example-generic1 .carousel-control.left .glyphicon-chevron-left{top:10%; margin-left: -40px;}
#carousel-example-generic1 .carousel-control.right .glyphicon-chevron-right{top:10%; margin-left: -40px;}
#supervisor-tab td span {
    display: block;
    width: 100%;
}


.expandbox
{
    color:#FFFFFF;
    font-size: larger;
    background: url("../images/white_right_arrow.png") no-repeat scroll 15px center rgba(0, 0, 0, 0);
    text-indent: 40px;
}

.compressbox
{
    color:#FFFFFF;
    font-size: 15px;
    background: url("../images/white_down_arrow.png") no-repeat scroll 15px center rgba(0, 0, 0, 0);
    text-indent: 40px; font-family:"lato", sans-sarif; font-weight:600;
}
.nodisplay {
	  display: initial;
}

.align-collapse-minus {
	  margin-top: -15px;
}

.audio-width {
	width: 100%;
}

.collapse-question-align {
	margin: 3px;
}

.panel-body .comment-area-box{
  border: none;
  resize: none;
  width: 100%;
}

.odd {
	  width: 58%;
	  float: left;
}

.even {
	width: 42%;
	float: right;
}
.align-check-label {
	padding-top: 12px;
  padding-left: 20px;
}

.arrow-up-align-top {
	top: 10px;
}
.arrow-down-align-top {
	padding-top: 8px;
}

#supervisor-tab .nav-tabs > li{ display: inline-block; width: 25%; }
#supervisor-tab #tabHeader > li > a {
    background: #d6d6d6 none repeat scroll 0 0;
    border-radius: 0;
    margin: 0;
    color: #000;
    font-size: 14px;padding: 2px 10px;
    font-weight: lighter;
}
#supervisor-tab td.action-row {
   /* width: 200px;*/
}
#supervisor-tab .tab-content > .tab-pane.active{border:none; padding: 0;}
#supervisor-tab li.active > a, #supervisor-tab li:hover > a, #supervisor-tab li:focus > a{ background: #29ABE2 !important; color:#fff;}
#supervisor-tab .campaign-block{ background: #fff; display: inline-block; width: 100%;  padding: 20px;}
#supervisor-tab .manual-payment{padding: 50px 0 0;}
#supervisor-tab .dataTables_length,#supervisor-tab .dataTables_filter{display: none;}
.campaign-block p{ color:#888;}
.campaign-block p .manual{ border-radius: 20px; color: #666;}
.manual .glyphicon.glyphicon-plus {
    font-size: 11px;
}
.creat-notifi{ border-radius: 10px; font-size: 13px; float: right;padding: 1px 12px; font-weight: bold;  font-family: Open Sans; text-transform: uppercase;}
.creat-notifi span{ font-size: 9px;
    vertical-align: initial;}
#supervisor-tab th{ font-weight: normal;}
#supervisor-tab .action-row span{ width: 24px; display: inline-block; margin: 0 5px; vertical-align: middle;}
/*super visor screen css*/ 
/*campaign detail css start here*/
#breakdown.panel-group {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    padding: 10px; margin-left: 64px;
}
.camp-filter {
    margin:1px 0;
    padding: 5px 10px; float: right; background: #fff;
}
#supervisor-tab table{ clear:both; border:0;}

#supervisor-tab .table th,#supervisor-tab .table td{ border:0; background: none;
    border-bottom: 1px #ddd solid;}
    #supervisor-tab .table th{ border-color:#000;}
    #supervisor-tab .table tr:last-child td{border-color:#000;}
.camp-filter span, .camp-filter a { font-weight:normal;
    color: #111;
    display: inline-block;
    font-size: 13px;
    margin: 0 0px;
}
.camp-sec-first .white-bg{ margin-bottom: 0;}
#breakdown .panel-default {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    display: inline-block;
    width: 100%;
}
#breakdown .panel-default > .panel-heading {
    background: transparent none repeat scroll 0 0;
}
#breakdown .panel-default > .panel-heading + .panel-collapse > .panel-body{border:none;}
#breakdown .panel-default > .panel-heading .panel-title{float:left; width: 20%;}
#breakdown .panel-default > .panel-heading .panel-title a{ color: #999; font-weight: 600; font-size: 15px;}
.progress > span {
    color: #666;
    display: inline-block;
    font-size: 15px;
    padding: 0 0 0 15px;line-height:1;
    vertical-align: super;
}
.progress > span strong{ font-weight: 600;}
.inner-row{ display: inline-block; width: 100%; margin-bottom: 5px; text-align: left;}
.inner-row label{width:20%; float: left; text-align: left; padding: 0 10px; color: #666;}
.breakdown-head{color: #777;
    font-size: 20px;
    margin: 0 0 10px;}
.campaign-value{color: #777;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.9;}
.campaign-value strong{ font-size: 22px;}
.camp-sec-first label{ width: 100%; text-align: left;}
.camp-block{ width: 19.5%; display: inline-block;}
.camp-summary label{text-align: left;}
.right-sidebar .camp-summary .label-value {
    width: 55%;
}
/*campaign detail css start here*/
/*guid modal css*/
.configuration-modal-modal .nav-tabs{ border:none;   text-align: center;}
.configuration-modal-modal .nav-tabs > li{ width: 90px; float: none; display: inline-block;}
.configuration-modal-modal .nav-tabs > li > a{ border:none; font-size: 13px; color: #333; text-align: center;    background: transparent none repeat scroll 0 0;  padding: 15px 0 5px; cursor: pointer;}
.configuration-modal-modal .nav-tabs > li > a span.tabicon{ width: 50px; display: inline-block; text-align: center; height:20px; font-size: 12px;
    font-weight: 600;}
.configuration-modal-modal .nav-tabs > li > a span.tabtext{ color: #475b6f;
    display: block;
    font-size: 11px;
    font-weight: 600; width: 100%; display: inline-block; text-align: center; text-transform:uppercase;}
.configuration-modal-modal .nav-tabs > li > a span img{ display: inline-block; height: 20px;}
.configuration-modal-modal .modal-header {
    background: #f7f7f7 none repeat scroll 0 0; border-bottom: 1px solid #ced4dc; padding: 30px 15px 0;
    overflow: hidden; margin:0
}
.configuration-modal-modal .modal-footer{background: #ecf0f4}
/* .configuration-modal-modal .modal-content{overflow: hidden;} */
.configuration-modal-modal .modal-dialog{ width: 1000px;}	// increased modal size on supervisor screen
.configuration-modal-modal .tab-content > .tab-pane.active {
    border: 0;
}
.configuration-modal-modal .header-label {
        padding: 0px 2px 2px 3px;
}
.configuration-modal-modal .header-icons {
    border: 0;
}
.configuration-modal-modal .header-label-name {
	width: 78%;
	display: inline-block;
}
.configuration-modal-modal .header-close {
	display: inline-block;
	width: 20%;
}
.select-page{ text-align: center;}
.tab-list{ display:inline-block;  border-radius: 4px;  list-style: outside none none;
    padding: 0;
    text-align: center; overflow: hidden; position: relative; z-index: 666;
    }
    .tab-list li{ display: inline-block; padding: 0;}
.tab-list li a { background: #f7f7f7;box-shadow:0 1px 0 rgba(0, 0, 0, 0.075);
   border:1px #ddd solid;
    color: #333;
    display: inline-block;
    padding: 3px 10px;
    text-decoration: none;   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.tab-list li.active a{  background:#0bbaf3;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset; color: #fff; border-color: #54b6d1;
    border-style: solid;
    border-width: 1px; outline: none;}
/*.tab-list li:first-child a{ border-left: 0;}*/
#addnew label{}
#addnew .form-inline{ margin-bottom: 10px;}
#addnew.tab-pane.active {
    text-align: center;
}
#addnew .form-control{ border-radius: 4px;height: 30px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18) inset;
    padding: 4px 8px;}
.configuration-modal-modal .btn-gray{background:#eef3f6;
      border-radius: 4px;
  background: #07C8CF;
  font-size: 14px;
  font-weight: bolder;
  line-height: 1.6;
  vertical-align: middle;
  width: 10%;
  margin: 0;
  color: #fff;
  border: #666;
  text-transform: uppercase;
  padding: 4px 12px;
}
.configuration-modal-modal .btn-gray:hover{ background: #379396; color: #fff; }
.configuration-modal-modal .btn-main { background: #07c8cf;
    border-radius: 0px;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    color: #fff;
	font-size: 19px;
	font-weight: 500;
    padding: 4px 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.configuration-modal-modal table{ border: 1px solid #999;}



.configuration-modal-modal .wrap {
    width: 100%;
    overflow-x: auto;
    margin-left: 300px;
}

.configuration-modal-modal .wrap table {
       width: 100%;
    table-layout: fixed;
}


.configuration-modal-modal table tr td {
    padding: 5px;
    border: 1px solid #bfbfbf;
    width: 100px;
    word-wrap: break-word;
}

.configuration-modal-modal table.head tr td {
        background-color: #f9f9f9;
    color: #8c8c8c;
    font-size: 13.4px;
    text-shadow: 0.1px 0.1px 0.1px #8c8c8c;
    font-weight: 500;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #dbdbdb 100%) repeat scroll 0 0;
    border: 1px solid #bfbfbf;
}

.configuration-modal-modal .inner_table {
    height: 350px;
    /* overflow-y: auto; */
    /* width: 100%; */
    overflow-x: hidden;
    display: inline-block;
        margin-top: -6px;
}

.configuration-modal-modal .nav-tabs > li.active .border{  background: url(../../img/selected_border.png) repeat;
    display: block;
    height: 70px;
    position: absolute;
    top: 1px;
    width: 2px;}
.configuration-modal-modal .nav-tabs > li.active .border.right{background-position: 0 -70px;
    right: 0;}
.configuration-modal-modal .nav-tabs > li.active{background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08)) repeat scroll 0 0;}
.configuration-modal-modal table th{ border-top: 1px solid #999;   color: #8c8c8c;
    font-size: 13.4px;
    font-weight: 500;
    text-shadow: 0.1px 0.1px 0.1px #8c8c8c;
     font-weight : 500;}
.configuration-modal-modal table td{ color: #8c8c8c;
    font-size: 13px;
     font-weight : 500;}
.border-line{width: 100%; height: 1px; background:#ddd; position: relative; z-index: 222; top:14px; }
.configuration-modal-modal .table-striped > tbody > tr:hover { background-color: #f2f6ff;}
.configuration-modal-modal .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color:#f9f9f9;
}
#addnew-noti.modal .modal-dialog {
    width: 400px;top: 35px;
}
#guidemodal .modal-header {
    background: #f7f7f7 none repeat scroll 0 0;
    border-bottom: 1px solid #ced4dc;
    overflow: hidden;
    padding: 30px 15px 0; margin:0;
}
#addnew-noti.modal .modal-dialog .modal-content{ border-radius: 0 0 5px 5px;}
#addnew-noti.modal .modal-dialog label{ color: #81bc21;
    font-size: 11px;
    font-weight: 500;
    margin-right: 20px;
    text-align: right;
    text-transform: capitalize;
    width: 25%;}
#addnew-noti .form-inline {
    margin-bottom: 10px;
}
.configuration-modal-modal .nav-tabs {
    border: medium none;
    text-align: center;
    padding: 10px 0 0 0;
}
.configuration-modal-modal .nav-tabs > li {
    display: inline-block;
    float: none;
    width: 90px;
}
.configuration-modal-modal .nav-tabs > li > a, .configuration-modal-modal .nav-tabs > li > a:hover  {
    background: transparent none repeat scroll 0 0 !important;
    color: #333;
    cursor: pointer;
    font-size: 11px;
    padding: 15px 0 5px;
    text-align: center;
}
.configuration-modal-modal .nav-tabs > li > a span.tabicon {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    text-align: center;
    width: 50px;
}
.configuration-modal-modal .nav-tabs > li > a span img {
    display: inline-block;
    height: 20px;
}
.configuration-modal-modal .nav-tabs > li.active .border {
    background: rgba(0, 0, 0, 0) url("../../img/selected_border.png") repeat scroll 0 0;
    display: block;
    height: 70px;
    position: absolute;
    top: 1px;
    width: 2px;
}

.configuration-modal-modal .nav-tabs > li.active .border.right {
    background-position: 0 -70px;
    right: 0;
}
.configuration-modal-modal .inner-tabs .nav-tabs > li.active a{ background:#0bbaf3 ; color: #fff; font-weight: 600;}
.configuration-modal-modal .inner-tabs .tab-content .tab-pane{border:1px #ddd solid; border-radius:0 5px 5px 5px;}
.configuration-modal-modal .tab-content > .tab-pane.active {
    border: 0 none;
}
.select-page {
    text-align: center;
}
.border-line {
    background: #ddd none repeat scroll 0 0;
    height: 1px;
    position: relative;
    top: 15px;
    width: 100%;
    z-index: 222;
}
.tab-list {
    border: 1px solid #ddd;
    border-radius: 14px;
    display: inline-block;
    list-style: outside none none;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 666;
}
.tab-list li a {
    background: #f7f7f7 none repeat scroll 0 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
    color: #333;
    display: inline-block;
    padding: 3px 10px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}
.tab-list li.active a {
    background: #0bbaf3 none repeat scroll 0 0;
    border-color: #54b6d1;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    outline: medium none;
}
.tab-list li {
    display: table-cell;
    padding: 0;
}
.configuration-modal-modal .nav-tabs > li.active {
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08)) repeat scroll 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.innercontent .checkbox > span{ vertical-align: top;}
}



@media (max-width:1366px){
    .right-sidebar.floatbar {
    right: 16%;
    width: 17%;
}
}
@media (max-width:980px){
    .timer{ font-size: 21px;}
    .left-block, .right-sidebar{ width: 100%;}
    .right-sidebar{ margin-top:20px;}
     .right-sidebar .white-bg{  width: 33%; height: 226px; display: inline-block; }
      .right-sidebar.floatbar {position: relative; right: auto; width: 24%}
}
@media (max-width:768px){
    .left-block,.right-sidebar{ width:100%;}
    .timer{ padding: 10px 0 25px}
    .label-value{ font-size: 13px;}
    #tabpanel ul.nav-tabs li a{padding: 8px 10px;  font-size: 18px; width: 87%;}
    
    .arrow-right {
    border-bottom: 18px solid transparent;
    border-left: 17px solid #dddddd;
    border-top: 17px solid transparent; top:3px;}
    .dialer-screen{ top: 43%;
    width: 33%}
    .right-sidebar .white-bg{ float: left; margin: 0 1px;}
    .right-sidebar.floatbar {position: relative; right: auto; width: 24%}
}
@media (max-width:700px){
    #tabpanel ul.nav-tabs{ width: 100%;}
    #tabpanel ul.nav-tabs li{ width: 25%;border-right: 1px solid #999;}
    #tabpanel ul.nav-tabs li a{ width: 100%; text-align: center;}
    #tabpanel .tab-content{ width: 100%;}
    .arrow-right{display: none;}
    .right-sidebar.floatbar {position: relative; right: auto; width: 24%}
}

.tab-content .tab-pane .script-area {
	width: 100%;
	min-height: inherit;
}
 
.addnew_rebuttal-modal {
	display: block;
  padding-left: 15px;
    font-family: "Open Sans",sans-serif;
}

.addnew_rebuttal-modal .modal-dialog {
	width: 400px;
  top: 61px;
}

#addnew_rebuttal .modal {
	position: absolute;
}

.addnew_rebuttal-modal .modal-dialog .modal-content {
  border-radius: 0 0 5px 5px;
}

.addnew_rebuttal-modal .modal-content {
  overflow: hidden;
}

.addnew_rebuttal-modal .modal-header {
  background: #f7f7f7 none repeat scroll 0 0;
  border-bottom: 1px solid #ced4dc;
  padding: 30px 15px 0;
  overflow: hidden;
}

.addnew_rebuttal-modal .modal-body {
 background-color: white;
}

.addnew_rebuttal-modal .form-inline {
  margin-bottom: 15px;
  vertical-align: baseline;
}

.addnew_rebuttal-modal .modal-footer {
  background: #ecf0f4;
}

.addnew_rebuttal-modal .btn-gray {
  background: #eef3f6;
  box-shadow: 0 1px 0 #fff inset;
  color: #333;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  border: 1px #ccd0d6 solid;
  padding: 4px 12px;
  border-radius: 0px;
}

.addnew_rebuttal-modal .btn-main {
  background: #07c8cf;
  border-radius: 0px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: #fff;
  font-size: 14px;
  padding: 4px 12px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.inner-block-align .section-div .checkboxdiv {
  display: inline-block;
  vertical-align: text-top;
   width: 17%;
}

.inner-block-align .section-div .type{
    width: 27%;
}

.addnew_rebuttal-modal .checkboxdiv input.checkbox {
  margin: 0 5px;
 }


 .tab-content .data-list-block {
 display: block;
  background-color: #fff;;
    text-align: -webkit-auto;
 }
 
  .data-list-block .expression-table {
 	width : 100%;
 	border : none;
}
 
 .data-list-block .initial-width {
 	width: 100%;
 }
 
 .data-list-block .expression-cell {
 	width : 30%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 3%;
 
 }
 .data-list-block .delete-cell {
 	width : 10%;
 }
 
  .data-list-block .delete-btn {
  border: none;
  background-color: none;
  background-color: white;
  }
  
  .contactlistdatasource-modal .tab-content {
  	padding: 0Px;
  margin: 0px;
  float: none;
  width: 100%;
  border: none;
  }
  
  .tab-pane .align-label {
    text-align: inherit;
  }
  
  .tab-pane .msg-textaraea-label{
  display: inline-flex;
  }
  
  .tab-pane  .form-group .msg-textaraea-label-width{
       width: 35%;
  }
  
  .tab-pane .form-group .msg-textaraea-textarea-label{
     width: inherit;
  }
  
.tab-pane .form-group .msg-textaraea{
        width: 94%;
  }
  
  .tab-pane #addnewRebuttal .msg-textaraea-label-width{
      width: 39%;
  }
  
  .tab-pane #addnewRebuttal .msg-textaraea-textarea-label{
     width: inherit;
  }
  
  .tab-pane  .rebutal-helptxt {
    text-align: inherit;
    width: initial;
  }
  
  .tab-pane .section-div {
      display: flex;
      margin-bottom: 2%;
  }
  
   .tab-pane .size-select {
      width: 35%;
  }
  
  .tab-pane .admin-setting-select {
    width: 14%;
  }
  
  .tab-pane #addnewRebuttal  .msg-textaraea{
        width: 97%;
  }
  
  .tab-pane .align-date-label{
       width: 25%;
  }
  
  .tab-pane .align-select-label{
       width: 27%;
  }

  .tab-pane .admin-select-label {
    width: 22%;
  }
  
 .tab-pane .checkboxdiv span {
  font-weight: 500;
  color: #333;
  text-transform: capitalize;
}

.tab-pane .label-font {
  font-weight: 600;
}
 .tab-pane .rebuttal-align-btn 
{
  text-align: right;
  padding-right: 2%;
  padding-top: 5%;
}
  
.tab-pane .adminsetting-align-btn 
{
  text-align: center;
  padding-right: 2%;
  padding-top: 5%;
}

.inner-block-align {
	border: 1px solid #bfbfbf;
	padding: 5%;
	
}

.tab-content .asset-pad {
	padding-left: 15%;
	padding-right: 15%;
}
 
.tab-content .asset-no-border {
	border: none;
}

.tab-content .show-overflow {
	overflow: auto;
}
 
.tab-content .asset-btn-align  {
	text-align: right;
  padding-right: 4%;
 }
 .tab-pane .innerblock-border-radius {
 	border-radius: 5px;
 }
 .tab-content .position-rel {
 position: relative;
 }
 
.tab-content .margin-leave {
   margin-left: 12%;
  margin-right: 12%;
  padding-bottom: 2%;
 }
 
 .tab-content .panel-heading {
   padding: 1px 15px;
 }
 
 .tab-content .tab-pane .msg-textaraea-textarea-label .script-area {
	min-height: 252px;
	width: 100%;
 }
 
  .tab-content .script-margin-leave {
	margin-left: 6%;
	margin-right: 6%;
	padding-bottom: 2%;
  }
  
 
 .tab-content .tab-pane .pad-rgt-zero {
	padding-right: 0;
 }
 
 .tab-content .align-table-label {
     text-align: left;
 }
 
 .tab-content .panel-body  .align-center{
 text-align	: center;
 }
 
  .tab-content .select-img {
    background: url("../images/black_down_arrow.png") 145px 17px / 8px no-repeat scroll rgba(0, 0, 0, 0);
  
  }
  
.tab-content .wht-placeholder::-webkit-input-placeholder {
    color: #BDB8B8;
}  
   
#plch::-webkit-input-placeholder {
    color:    #999;
}
#plch:-moz-placeholder {
    color:    #999;
}
#plch::-moz-placeholder {
    color:    #999;
}
#plch:-ms-input-placeholder {
    color:    #999;
}  
   
.reportcontainer {
	  margin-left: 13%;
  	margin-right: 10%;
}

.jrPage {
	width: inherit !important;
}

.report-modal-modal .modal-content {
  position: relative;
  width: initial !important;
}

.report-modal-modal .modal-dialog {
 	  margin-left: 22%;
}

.report-modal-modal .modal-header  {
 	 width: 100%;
  position: relative;
  padding: 7px 12px 0px 15px;
    margin: auto;
}

.tab-pane .camp-filter .text-font {
	font-weight: bold;
}

.tab-pane .camp-filter .text-style {
	text-decoration: none;
}

 .tab-content .white-bg-block {
 	background-color: #fff;
 } 
 
 .report-modal-modal .modal-header h4.modal-title {
 	  margin-right: 100px;
 }
 .align-table-label a {
	 text-decoration : none;
 }
 .listing-bg {
	 background: #d5dbe0 none repeat scroll 0 0;	 
 }
 .listing-bg th, .listing-bg th a {
	 color: #8c8c8c;
	 font-size: 11.7px;
	 font-weight: normal;	 
	 text-shadow: 0.1px 0.1px 0.1px #8c8c8c;
	 text-transform: uppercase;
 }
  
 .txtborder {
	 border: 1px solid red;
 }
 
 /* Header Message Popup*/
 .headerMessage {
		background: rgba(0, 0, 0, 0) url("../images/Shape36.png") no-repeat scroll 0 0;
		color: #377fa5 !important;
		float: right;
		font-weight: 600;
		line-height: 29px !important;		
		margin: 21px 0px;
		width: 37px;
		height: 26px;
	}
 
 .message-box-area {
		position: absolute;
		margin: 19px 1px 6px 712px;
	}

	.pointertop-qa {
		margin: -13px -279px 0px 0 !important;
		padding-left: 19px;
		width: 400px;
	}

	.space-message {
	    margin-top: 5px;
	    font-size: 11px;
	    font-weight: 300;
	    color: #cbcbcb;
	}

	.textdiv-message {	   
	    font-size: 12px;	   
	    line-height: 19px;
	    width: 96%;		
	}
	
	/* EOF Header Message Popup*/
	
.tab-pane .configuration-img {
	width: 26px;
}

.tab-pane .divfloatright {
	margin: 20px;
}

.tab-pane .idnc-list-area {
	width: 100%;
    display: inline-block;
}

.tab-pane .idnc-list-label {
	width: inherit;
    float: none;
    text-align: center;
    font-size: 13px;
}

.tab-pane .idnc-block .container {
	    width: inherit;
}

.tab-pane .divfloatleft {
	display: none;
}

/* .tab-pane .idnc-block .qa_show_rows {
	display: none;
} */

.hideforsupervisor {
	display: none;
} 
.dnc-toast-msg {
	display: none;
}

.tab-pane .idnc-block .textlabelmargin {
	color: black;
    font-size: 13px;
        width: initial;
        text-align: left;
}

.tab-pane .idnc-block.errorMessageMargin {
	margin-left: 0;
}

.tab-pane .idnc-block .msg-color {
	width: inherit;
	font-size: inherit;
}

.tab-content .display-label-width {
	width: 15%;
}
#supervisor-tab .conferenceJoin {
	 margin-top: 0;
}
#supervisor-tab .conferenceJoin button.join_chat {
    background: rgba(0, 0, 0, 0) none no-repeat scroll 0 0;
    border: 0 none;
    display: inline-block;
    height: 16px;
    margin: 0 1px;
    padding: 0;
    width: 19px;
}
#supervisor-tab .conferenceJoin button.user_end_call {
    background-image: url("../images/CallEndButton.png");
    background-position: left top;
}
#supervisor-tab .conferenceJoin button.user_add_enable {
    background-image: url("../images/user_add.png");
    background-position: left top;
}
#supervisor-tab .conferenceJoin button.user_add_disable {
    background-image: url("../images/user_add.png");
    background-position: right top;
        cursor: auto;
}
#supervisor-tab .conferenceJoin button.user_chat_enable {
    background-image: url("../images/chat_status.png");
    background-position: left top;
}
#supervisor-tab .conferenceJoin button.user_chat_disable {
    background-image: url("../images/chat_status.png");
    background-position: right top;
}

#supervisor-tab .conferenceJoin table td.center_text {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
}
.confirm-Purchase-modal .highlight-label {
	font-weight: 600;
}
.confirm-Purchase-modal .body-img {
	width: 13%;
    display: inline-block;
    vertical-align: top;
}
.confirm-Purchase-modal .body-text {
	width: 86%;
	display: inline-block;
}
.del-button-rebulttals {
    background: rgba(0, 0, 0, 0) url("../img/delrow.png") no-repeat scroll center center;    
    position: absolute;
    width: 40px;
    z-index: 1000;
    height: 20px;
    margin: -3px -4px 0 122px !important; 
    cursor: pointer;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.blink-image{
	height: 29px;
	width: 29px;
}
#select-box {
    width: 40%;
}
#callRetiesLimit-input{
	width: 40%;
    padding-left: 10px;
}
.tab-pane .align-dialer-label{
    width: 50%;
}
.tab-pane .align-machineonoff-label{
    width: 5%;
}

/* STASRT PAGINATION FOR CAMPAIGNS TAB & CONFIGURATIONS TAB
   DATE : 19/04/2017
   REASON : added css for pagination on supervisor screen for campaigns tab & configurations tab  */
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	background-color: #80cde6;
	border-color: #24577d;
	color: #24577d;

	font-weight: 400;	
}
.pagination > li > a, .pagination > li > span {
	background-color: #80cde6;
	border: 1px solid #24577d;
	color: #24577d;
	float: left;
	line-height: 1.42857;
	margin-left: -1px;
	position: relative;
	text-decoration: none;
	font-weight: 600;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #fff;
  background-color: #80cde6;
  border-color: #24577d;
  font-weight: 600;
 -webkit-filter: grayscale(100%);
}
.footerBlock {
    float: left;
    width: 100%;
    height: 40px;
    font-size: 12px;
    background-color: #D7EFF9;
    font-weight: 500;
}
.divleftfloat {
	float: left;
    margin-left: 11px;
    margin-top: 8px;
	color: #000;
}
.addselectoptionright {
    width: 83px !important;
    font-size: 11px;
    height: 25px;
    color: #000;
}
.divrightfloat {
	float: right;
	margin-top: 5px;
	color: #000;
}
.leftdoublearrow {
	background: rgba(0, 0, 0, 0) url("../images/left-double-arrow.png") no-repeat scroll 92% 50%;
	float: left;
	height: 20px;
	width: 25px;
}
.leftsinglearrow {
	background: rgba(0, 0, 0, 0) url("../images/left-single-arrow.png") no-repeat scroll 92% 50%;
	float: left;
	height: 20px;
	width: 25px;
}
.rightdoublearrow {
	background: rgba(0, 0, 0, 0) url("../images/right-double-arrow.png") no-repeat scroll 92% 50%;
	float: left;
	height: 20px;
	width: 25px;
}
.rightsinglearrow {
	background: rgba(0, 0, 0, 0) url("../images/right-single-arrow.png") no-repeat scroll 92% 50%;
	float: left;
	height: 20px;
	width: 25px;
}
.pagin-rate {
    margin: 2px 2px !important;
    background-color: #D7EFF9 !important;
    border: none !important;
    color: #000 !important;
    font-weight: normal !important;
}
/* END PAGINATION FOR CAMPAIGNS TAB & CONFIGURATIONS TAB */

/* START POINTER CURSOR - added to show cursor for table headers for each Tab on supervisor screen */
#campaigns > table > thead > tr > th > a { cursor: pointer }
#agents > table > thead > tr > th > a { cursor: pointer }
#livequeue > table > thead > tr > th > a { cursor: pointer }
#configurations > table > thead > tr > th > a { cursor: pointer }
/* END POINTER CURSOR */


/* START
   DATE : 26/04/2017
   REASON : CSS for recycle status modal */
.recycle-status-modal .modal-header {
    background: #f7f7f7 none repeat scroll 0 0; border-bottom: 1px solid #ced4dc; padding: 30px 15px 0;
    overflow: hidden; margin:0
}
.recycle-status-modal .modal-dialog{ width: 800px;}

.recycle-status-btn {
	text-align: right;
    padding-right: 2%;
    padding-top: 5%;
}

.recycle-status-label {
	color: black;
    font-size: 14px;
    text-align: left;
}
/* END */

/* START 
   DATE : 29/05/2017
   REASON : CSS added for campaign requirements */
#campaign_requirements_paragraph {
	white-space:pre-wrap; 
	margin-left:20px;	
}
/* END */

.sup-toast .toast-cust-pos-super{
	position:fixed !important;
	top:15% !important;
	width:60% !important;
}

.health-check .toast-cust-pos-super {
	position:fixed !important;
	top:15% !important;
    width:60% !important;
    margin-left: 270px;
}

#pivots-tab .nav-tabs > li{ 
    display: inline-block; 
    width: 9.6%;
    border: 1px solid;
    border-top-right-radius: 20px;
    border-bottom: none;
}

#pivots-tab .nav-tabs > li a{
     width: 100% !important;
     border-top-right-radius: 20px !important;
}

#pivots-tab .nav-tabs > li > a:hover{
     background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #b6dcf6 0%, #6cb7ed 25%, #4294cd 50%, #0877c6 55%, #0877c6 100%) repeat scroll 0 0 !important;
}

#pivots-tab .inner-tabs .nav-tabs > li.active a{ background:#0bbaf3 ; color: #fff; font-weight: 600;border-top-right-radius: 20px !important; border-top-left-radius: unset !important;}
 
#pivots-tab .nav-tabs > li > a:hover {
    border-top-right-radius: 20px !important;
}
.pivotScrollBar {
    max-height: 500px !important;
    overflow: auto !important;
    margin-top: 15px;
    padding: 0;
}

.buy-record-input {
	width: 55% !important;
	margin-bottom: 10px !important;
    margin-right: 10px !important;
}

.settings-box {
	background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #bfbfbf !important;
    padding: 20px 20px 0 !important;
}

.settings-inputbox {
	width: 20% !important;
}

.settings-label {
	margin-left: 96px !important;
}

.sip-enabled-label {
	margin-left: 0px !important;
}

.confirm-data-nuke-modal .highlight-label {
	font-weight: 600;
}

.confirm-data-nuke-modal .body-img {
	width: 13%;
    display: inline-block;
    vertical-align: top;
}

.confirm-data-nuke-modal .body-text {
	width: 86%;
	display: inline-block;
}
.uploading-file-progress .ssblue_btn,
.uploading-file-progress .progress{
float: left;
height: 30px;
}

.uploading-file-progress .progress-bar{
    padding: 4px;
}

button[disabled], html input[disabled] {
    cursor: not-allowed !important;
    opacity: 0.6;
}

.configuration-table.tab-content table th{
    border-top: 0;
}

.configuration-table.tab-content table thead{
    border-bottom: 1px solid #999;
}

.configuration-table.tab-content table tr td{
border: 0;
text-align: left;
}

.configuration-table.tab-content .inputbox{
width: 40px;
text-align: center;
}

.configuration-table.tab-content .asset-btn-align {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    margin-top: 30px;

}

.configuration-table.tab-content .outerbtn{
    padding: 5px 13px;
    border-radius: 4px;
    border: 1px solid #999;
    margin: 0 5px;
}

.pausecampaign {
	background: rgba(0, 0, 0, 0) url("../images/pausecampaign.jpg") no-repeat scroll 50% 50%;
	float: left;
	height: 20px;
	width: 25px;
    cursor: pointer;
    margin-left: 6px;
}

.multisel2-cls {
	width: 194px !important;
	float: left;
	margin-left: 9px;
}

.multisel2-cls .btn:active {
	background: none;
}

.icon-ok {
	height: 17px;
	margin-top: 4px;
	position: absolute;
	width: 10%;
	background-image: url("../images/check.gif");
	background-repeat: no-repeat;
	background-size: 20px 25px;
	background-position: 0 50%;
}

.caret2 {
    display: inline-block;
    width: 0;
    height: 0;    
    vertical-align: middle;
    border-top: 7px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
	margin-left: 2px;
	color: #999;
}

.searchicon-call-black {
	/*background-image: url("/images/search_icon.png");*/
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 25px;
	margin-top: 2px;
	position: absolute;
	width: 13px;
	margin-left: -28px;
}

.cross-img {
	background: #ffffff url("../images/close-popup.png") no-repeat scroll center center;
    height: 23px;
    position: absolute;
    cursor: pointer;
}

.bullet-outer,.red-bullet {
    float: left;
}

.bullet-item {
    color:#000;
}

.gray_bullet {
    height: 13px;
    width: 13px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin-right: 5px;
    float: left;
    margin-top: 2px;
    background-color: #ddd;
    border: 2px solid #adaaaa;
}

.red_bullet {
    height: 13px;
    width: 13px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin-right: 5px;
    float: left;
    margin-top: 2px;
    background-color: #ff3322;
    border: 2px solid #ff3322;
}

.green_bullet {
    height: 13px;
    width: 13px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin-right: 5px;
    float: left;
    margin-top: 2px;
    background-color: #49d84c;
    border: 2px solid #49d84c;
}

.bullet-outer {
    margin-right: 15px;
}

.tab-content-agent .multiselect-parent .btn-default {
    border: 1px solid #ddd;
    width: 100%;
}

.tab-content-agent .multiselect-parent .btn-default .caret {
    float: right;
    margin-top: 13px;
}

.tab-content-agent .multiselect-parent .btn-default:hover,
.tab-content-agent .multiselect-parent .btn-default:active,
.tab-content-agent .multiselect-parent .btn-default:focus {
    color: #000;
}
.customheight{
    height: 400px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.tab-content-agent .checkbox label{
    text-transform: lowercase;

}
.close span:hover{
    cursor: inherit;
}

/* Below css for retry speed modal. */
.modal.retrySpeedModal .modal-dialog {
    width: 600px;
}

.retrySpeedModal .modal-footer{background: #ecf0f4}

.retrySpeedModal .btn-gray{
    background:#eef3f6;
    border-radius: 4px;
    background: #07C8CF;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.6;
    vertical-align: middle;
    width: 15%;
    margin: 0;
    color: #fff;
    border: #666;
    text-transform: uppercase;
    padding: 4px 12px;
}

.health-check-btn input{
    float: right;
    margin-top: 17px;
    border: 0 none;
    border-radius: 5px;
    padding: 3px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #439bda 1%, #2b85c7 100%) repeat scroll 0;
    font-family: "bebas_neueregular";
    color: #ffffff;
    text-transform: uppercase;
    width: 11%;
    font-size: 18px;
    height: 31px;
    font-family: "bebas_neueregular";
}
.datalist-custom .tab-list{
    margin: 0 0 10px 111px;
}

.add_condition {
    background-color: #fff;
    background-image: url("../images/add_condition.png");
    background-position: 5px 6px;
    background-repeat: no-repeat;
    border: 1px solid #439bda;
    border-radius: 5px;
    color: #439bda;
    padding: 3px 10px 4px 30px;
    margin-bottom: 10px;
}

.data_source_table, .contactlistdatasource-modal .tab-content .data_source_table {
    border: 0 none;
    width: 100%;
}
.data_source_table td, .contactlistdatasource-modal .tab-content .data_source_table td {
    border: 0 none;
    padding: 0 0 10px !important;
    text-align: left;
}
.data_source_table td.cell1, .contactlistdatasource-modal .tab-content .data_source_table td.cell1 {
    width: 10%;
}
.data_source_table td.cell2, .contactlistdatasource-modal .tab-content .data_source_table td.cell2 {
    width: 22%;
}
.data_source_table td.cell3, .contactlistdatasource-modal .tab-content .data_source_table td.cell3 {
    width: 15%;
}
.data_source_table td.cell4, .contactlistdatasource-modal .tab-content .data_source_table td.cell4 {
    text-align: center;
    width: 1%;
}
.data_source_table td select, .contactlistdatasource-modal .tab-content .data_source_table td select {
    font-weight: normal;
    width: 95%;
}
.data_source_table td input[type="text"], .contactlistdatasource-modal .tab-content .data_source_table td input[type="text"] {
    width: 98%;
}
.data_source_table td button, .contactlistdatasource-modal .tab-content .data_source_table td button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
}

.steplogogeneral {
	background: rgba(0, 0, 0, 0) url("../images/backtolist.png") no-repeat scroll center center;
	height: 32px;
	position: absolute;
	left: -18px;
	top: -1px;
	width: 142px;
	z-index: 1000;
    cursor: pointer;
}