.page-wrap{ background: #f8f8f8; font-family: 'Open Sans', sans-serif;}
.main-header{ }
.pos-rel{position:relative;}
.nopad{ padding: 0;}
.white-bg{ background: #fff; display:inline-block; width:100%; padding:0 10px; border-radius: 0px; border-bottom: 1px solid #82c236;}
label{ color: #81BC21; text-transform: uppercase; font-size: 11px; font-weight: 500; width:27%; text-align: right;}
.main-header .menu{min-height: 38px; margin-bottom: 14px; }
.main-header .navbar-default {
    background-color: #7f7f7f; border-radius: 0; border: none;}
.main-header .menu li a{ text-transform: uppercase; font-weight: 500; color: #fff; padding:9.5px 10px;}
.navbar-toggle{ margin-top: 15px;}
.main-header .menu li a:last-child{ padding-right: 0;}
.left-block{width: 73%; float: left;}
.heading{ color: #777;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin: 10px 0 5px;
    text-indent: 0;
    text-transform: uppercase;
    text-shadow: 0.3px 0.3px 0.3px #777;}
.label-value{ color: #777; font-size: 13px; font-weight: 600; padding-left: 10px; display: inline-block; width: auto; vertical-align: middle;}
.timer{ font-size: 28px; font-weight: 600; color: #777; display: inline-block;  padding: 10px 0px 17px;}
.asset-thumb{ width: 30px; height: 30px; display: inline-block;}
.asset-note{ display: inline-block;font-size: 14px;padding-left: 5px; vertical-align: top; width: 145px; height: 65px; overflow: hidden;}
.asset-note.expand-note{ width:431px; position: absolute; background: #fff; z-index: 999; height: 75px; left:34px; 
    border-radius: 5px; transition: all 1s ease .5s;}
.right-sidebar{width: 24%; float: right; position: relative;}
.text{ font-size: 12px; padding: 0 2px; color: #777; margin: 7px 0;}
.callstatus-list{ list-style: none; padding: 0; display: inline-block; width:150px; float: left; margin-bottom: 8px;}
.right-sidebar .callstatus-list li{ text-align: left; padding:0 2px; margin: 0; }
/*.callstatus-list li.checkbox label{ padding-left: 0; }*/
.callstatus-list li.checkbox input[type="checkbox"]{ margin-left: 0;}
.callstatus-list li.checkbox label{    color: #81BC21;
    font-size: 11px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    width: 27%;
 }
 .callstatus-list > li:first-child {
    padding-bottom: 10px;
}
.callstatus-list li h3.heading{ margin:14px 0 0;}
.gray-btn{ background: #7f7f7f; color: #fff; width: 100%;  border: #666; margin: 5px 2px 8px; font-size: 14px; text-transform: uppercase; padding: 4px 0px; border-radius: 8px;}
.gray-btn:hover{ background: #7f7f7f; color: #fff; }
.btn-small{width: 46%; display: inline-block;  margin: 5px 2px;  font-size: 14px; padding: 3px 10px; border-radius: 8px; text-transform: uppercase; color: #666;}
.btn-large{width:100%; display: inline-block;  margin: 5px 2px 15px;  font-size: 14px;padding: 3px 10px; border-radius: 8px; text-transform: uppercase;color: #666;}


.alert-dismissable .close, .alert-dismissible .close{color: #fff;
    opacity: 1;
    position: relative;
    right: -3px;
    top: -10px;
    text-shadow: none; font-weight: 300;
    }
    #tabpanel{display:block;}
    #tabpanel ul.nav-tabs{width: 17%; display: inline-block; border:none; vertical-align: text-top; margin-left: 10px;}
        #tabpanel ul.nav-tabs li{width: 100%; margin: 10px 0;}
    #tabpanel ul.nav-tabs li a{background: #dddddd; display:block; color: #333;
    font-size: 17px;  border-radius:0;width: 86%;padding:8px 15px; border:none; margin-right: 0;}
    #tabpanel ul.nav-tabs li:hover a, #tabpanel ul.nav-tabs li:focus a,#tabpanel ul.nav-tabs li.active a {outline: none; border:none; background: #55b6d2;}
    #tabpanel ul.nav-tabs li:hover .arrow-right, #tabpanel ul.nav-tabs li:focus .arrow-right, #tabpanel ul.nav-tabs li.active .arrow-right {border-left-color:  #55b6d2;}
    #tabpanel .tab-content{width: 81%; display: inline-block; background: #fff; vertical-align: top;}
   .tab-content > .tab-pane{ border: 2px #ddd solid; min-height: 338px; padding:7px 7px 5px; position: relative;}
   .tab-content > .tab-pane.active{ border: 2px #55b6d2 solid; }
  .arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #dddddd;position: absolute;
    right: 0;
    top: 0;
}
.blueborder{ width: 75%; margin: 0 auto; background: #54b6d1; height: 2px; opacity: 0.18}
.no-radius{ border-radius: 0;}
#tabpanel .nav-tabs.tab-status-list{width: 100%; list-style: none; padding: 0 0px 5px; margin: 0 0 5px; text-align: left; height: 40px; overflow:hidden;}
#confirm #confirmTab:hover {
    height: auto;
    overflow: visible;
}
#tabpanel .nav-tabs.tab-status-list li{ float:none; width:16%; display: inline-block; padding: 0 0px; border-right:1px #ddd solid; margin:3px 0; text-transform: uppercase; text-align:center;}
#tabpanel .nav-tabs.tab-status-list li a{   vertical-align: middle;  font-size: 10px;
    padding: 0 0px;white-space: pre-wrap;background: transparent; display: inline-block; text-transform: uppercase;   width: 100%;}
#tabpanel .nav-tabs.tab-status-list li:last-child{ border: none;}
#tabpanel .nav-tabs.tab-status-list li:hover a,#tabpanel .nav-tabs.tab-status-list li:focus a,#tabpanel .nav-tabs.tab-status-list li.active a { background: transparent;}
#tabpanel .nav-tabs.tab-status-list li:nth-child(7){ border: none;}
#tabpanel .nav-tabs.tab-status-list li a:hover,#tabpanel .nav-tabs.tab-status-list li a:focus{ background: transparent;}
.intro-block{ background: #efefef none repeat scroll 0 0;
    color: #666;
    font-size: 16px; font-weight: 600;
    font-style: italic;
    min-height: 80px;
    line-height: 1.3;
    margin: 10px 15px 15px;
    padding: 5px 10px;}
#tabpanel .tab-pane .tab-content{ width: 100%;}
.dialer-screen{ position: absolute;width: 100%; /*margin-left: -10px;*/
    /*width: 14.5%;*/ margin-left: -10px; top:45px; background: #fff;
    z-index: 666;}
.number-display input.form-control{   border-radius: 0;
    height: 28px;
    margin: 0 auto;
    text-align: center;
    width: 87%;}
.number-pad { 
    padding: 10px; background: #fff;
}
.number-pad button{ background: transparent none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 4px;
    padding: 7px 12px;
    position: relative;
    text-align: left;
    width: 28%;}
.number-pad button:hover, .number-pad button:focus{ background: #eee;}
.number-pad button.attand-call,.number-pad button.ignore-call{ border: medium none;
    display: inline-block;
    height: 45px;
    padding: 0;
    text-align: center;
    width: 26%;}
/*#call-status{ display: none;}*/
.row.margin-right {
    margin-right: -20px;
}
.left-block .margin-right p{ display: inline-block; width: 100%;}
.margin-right .white-bg .label-value{ font-size: 15.7px; font-weight: 600;}
.heading.lasthead{margin-top: -18px; margin-left: 40px; margin-bottom: 15px;}
.innercontent{ width: 95%; margin:15px auto 0; overflow: hidden; font-size: 16px; font-weight: 300; color: #000;}
.innercontent .checkbox + .checkbox, .radio + .radio, .checkbox, .radio {
    margin-bottom: 0px; margin-top: 0;
}
.innercontent div p{ line-height: 0.7;
    margin-bottom: 11px;}
.innercontent div.col-md-12 .checkbox{margin: 0 20px;display: inline-block; width: 20px;}
.innercontent div.col-md-11 .label-value{ width: 50%;}
.right-sidebar label.call-timer {
    width: 28%;
}
.right-sidebar .label-value {
    width: 42%;
}
.active-border{ outline: 2px #55b6d2 solid;}
#email .btn-main{float: right;
    margin: 50px 0 0;
    width: 55%;}
.total-ques{ color: #777; padding:0 10px; float: right; margin: 0;}
.innercontent .checkbox > span{font-size: 15px;
    text-transform: uppercase;
    vertical-align: top; line-height: .8;}
.small-inner-block{ width: 62%; margin: 0 auto;}
.carousel-inner .checkbox > span {
    line-height: 0.5;
}
.carousel-inner .small-inner-block .checkbox {
    padding: 0 0 0 20px;
}
.tab-content > .tab-pane.active.finalstep{border:2px solid #ddd;}
.correct-contact-detail .col-md-12{ margin-bottom: 0px;}
.name-field {
    display: inline-block;
    line-height: 0;
    text-align: left;
    vertical-align: super;
    width: 80px;
}
.carousel-inner .small-inner-block{ width: 50%; }
button[disabled].btn-main{background: #bbb none repeat scroll 0 0;
    border: 1px solid #aaa;}
.add-note-field{display: inline-block;  height: 70px;}
.note-btn{ background: #999 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0px;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 15px;
    text-transform: uppercase;
    vertical-align: bottom; margin: 10px 1px;}
#status-detail{
    background: #eee none repeat scroll 0 0;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 400;
    left: 25%;
    min-height: 100px;
    padding: 15px;
    position: absolute;
    top: 142%;
    width: 558px;
}
/*#tab:hover + #status-detail{display: block !important;}*/
/*#tab:hover + #status-detail{display: block;}*/
/*.slidetop{overflow-y: hidden;
	max-height: 500px;  approximate max height 

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);}
.slidetop.closed {
	max-height: 0;
}*/

.number-pad span {
    font-size: 10px;
    font-style: normal;
    left: 10px;
    padding: 0px 15px;
    position: absolute;
    top: 12px;
}
.number-pad span i{font-style: normal;}
.innercontent div.email-block .checkbox{ margin: 10px 20px;}
.email-block .label-value{
    text-align: left;
    width: 55%;}
.email-block .editable-input.editable-has-buttons{width:160px !important;}
.email-block .editable-buttons button{ margin:0 2px;}
#asset-content{ display:none; position:absolute;}
.asset-extra-content{  background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #666;
    font-size: 14px;
    left: 63%;
    min-height: 90px;
    padding: 15px;
    position: absolute;
    top: -90px;}
	.tab-status-list li a{ background: transparent none repeat scroll 0 0;
    display: inline-block;
    font-size: 11px;
    padding: 0 10px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: pre-wrap;
    width: 100%;}
	 .nav-tabs.tab-status-list li a:hover,.nav-tabs.tab-status-list li a:focus {
    background: transparent none repeat scroll 0 0;
}
.extra-li-hide{display:none;}
.extra-li-show{display:inline-block;}
.right-sidebar .white-bg{overflow:visible;}
.ui-helper-hidden-accessible div{display:none !important;}
.call-history-block{ display: block; max-height: 170px; overflow-y: scroll;}
.number-pad button.text-center{ text-align: center;}
/**************agent screen style end here****************/
/*qa-screenstyle starts here*/
.qa-score .main-header .navbar-default{background-color: #0071bc;}
#accordion .panel-default{ margin: -2px 0 0;}
#accordion .panel-default .panel-heading{ background: #54b6d1; border-radius: 0; color: #fff;border: 1px #54b6d1 solid;}
#accordion .panel-default .panel-heading a{width: 100%;  display: inline-block; text-decoration: none;}
#accordion .panel-default > .panel-heading + .panel-collapse > .panel-body{border: 1px #54b6d1 solid; padding: 0;}
.ans-set{ padding: 0 5px;  display: inline-block;}
.ans-set em{ font-style: normal;  text-transform: uppercase; color: #333;
    padding-left: 5px;
    vertical-align: top;}
.comment-box {
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle; position:absolute;
}
#accordion th, .assur-quali th{ color: #8c8c8c;  font-size: 10px; padding:10px;
    font-weight: normal;
    text-shadow: 0.1px 0.1px 0.1px #8c8c8c;text-transform: uppercase; background: #d5dbe0 none repeat scroll 0 0;}
    .assur-quali th{ position:relative;}
#accordion td, .assur-quali td{ color: #6d676c; padding:10px; font-weight: 400;}
#accordion .panel-default table.table-striped tr.odd{width: 100%; float:none; background:#fff !important;}
#accordion .panel-default table.table-striped tr.odd:hover{width: 100%; float:none; background:#f4f4f4 !important;}
#accordion .panel-default table.table-striped tr.even{width: 100%; float:none; background:#f4f4f4;}
.assur-quali td{ font-size: 13px; line-height:1.5; }
#accordion .table{ margin-bottom: 0;}
.score{color: #7c7c7c; font-size: 14px;font-weight: 300; line-height: 1.5;}
.text-uppr{ text-transform: uppercase}
.quality-assur-terms span {
    display: inline-block;
    margin: 0 5px; float:left;
    width: 12.4%;
}
#accordion tr#comment-row{background:#fff;}
.table td.scor-id{ padding-right:0 !important; text-align:center;}
.qual-assu-block{ background: #fff; border-left:1px #29abe2 solid; border-right:1px #29abe2 solid; border-bottom:1px #29abe2 solid; margin-bottom: 10px;}
.assur-quali-bottom-row{ background: #fff; padding: 10px;}
.assur-quali-bottom-row .total-records{ font-size: 12px; color: #7e7e7e;}
.assur-quali-bottom-row .total-records span{ padding: 0 5px;}
.assur-quali-bottom-row .pagination{ margin: 0;}

.quality-assur-terms {
    padding: 5px;
}

.quality-assur-terms span input{ border: 1px solid #8a8a8a;background:rgba(0, 0, 0, 0) url("../../img/select2.png") no-repeat scroll 97px 0 / 60px auto;
    border-radius: 0;
    box-shadow: none;
    height: 30px;font-weight: normal;
    margin-bottom: 0;
    padding: 2px 5px;
    width: 100%;text-overflow:ellipsis;
	font-size: 12px;
	color: #8a8a8a;
	cursor: ponter;
    }
    .quality-assur-terms span input.call-id{background-image:none;}
    .disposition-block input[type="checkbox"]{height:11px;}
.quality-assur-terms .gray-btn{
	border-radius: 4px;
  	background: #07C8CF;
  	font-size: 14px;
 	font-weight: bolder;
  	line-height: 1.6;
  	vertical-align: middle;
  	width: 5%;
  	margin: 0;
 }
.quality-assur-terms .gray-btn:hover{
	border-radius: 4px;
  	background: #379396;
  	font-size: 14px;
 	font-weight: bolder;
  	line-height: 1.6;
  	vertical-align: middle;
  	width: 5%;
  	margin: 0;
 }
.title-row{background: #29abe2 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 8px;
    text-transform: uppercase;}

.qasearch-block input{ border: 0 none;background: #eee;
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    padding: 3px 3px 3px 5px;
	width: 125px;
    vertical-align: text-top;
	/*cursor: pointer;*/
    /*background: rgba(0, 0, 0, 0) url("../../img/7.png") no-repeat scroll 102px 0 / 23px auto !important;*/
}


.btn-main.back { 
	background: #07C8CF none repeat scroll 0 0;
	border: 1px solid #07C8CF;
	border-radius: 5px;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
	width: 100%;  	
    margin-top: -4px;
}



.btn-main.back:hover { 
	background: #379396 none repeat scroll 0 0;
	border: 1px solid #379396;
	border-radius: 5px;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
	width: 100%;  	
    margin-top: -4px;
}

.white-bg .btn-align {
	width: inherit;
	display: inline-block;
	margin-top: 10px;
	padding-left: 5%;
	padding-right: 5%;
}

.assur-quali table td span {
    display: block;
}

.disposition-block{ background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: block;
    height: auto;
    padding: 10px;
    position: absolute; border-radius:0;
    /*transition: all 1s ease-in 1s;*/
    width: auto;
    z-index: 9999;}
.disposition-block li.checkbox {
    display: inline-block;
    width: 100%;
}
.disposition-block .callstatus-list li input[type="checkbox"]{ margin-left: 2px;
    width: auto;}
.disposition:hover .disposition-block{display: block;}
.disposition-block .callstatus-list li h3.heading{ margin: 0;}
.finish-code-div{ width: 557px; margin: 0 auto; border: 1px #ccc solid; padding: 10px; overflow: hidden}
.finish-code-div .callstatus-list{width: 100%;}
.finish-code-div .callstatus-list li{  display: inline-block;
    margin-bottom: 6px;
    width: 100%;}

.finish-code-div .callstatus-list li.checkbox label{  color: #888;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    vertical-align: top;
    width: auto;}
.finish-code-div .callstatus-list li .status-detail { font-style: italic;line-height: 1;
    color: #888;
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
    width: 70%;
}
.qasearch-block span {
    color: #999;
    font-size: 14px;
    margin-right: 6px;
}
.comment-block {
    background: #fff none repeat scroll 0 0;
    height: 80px;
    padding: 10px 10px 10px 110px; color: #999;
    font-size: 13px;
}
  tr#comment-row{display: table-row;}
#accordion tr#comment-row td{ padding: 0;}
.assur-quali th .fa{ /*display: block;*/
    font-size: 14px;
    font-weight: 300;
    line-height: 0.4;}
.assur-quali th span{/*  background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px;
    vertical-align: sub;*/}
.add-more{  color: #666;
    margin: -22px 0 0;}
    .add-more a{cursor: pointer;text-dacoration:none; color:#666}
.assur-quali #example_length{display: none}
.dataTables_filter {
   
    position: absolute;
    right: 8px;
    top: -104px;
}
.dataTables_wrapper .dataTables_filter input {
       padding: 3px 2px; width: 130px; height: 24px;font-size: 14px;
}
.margin-right .white-bg .label-value {
    font-size: 12px;
    font-weight: 600;
}
#example_filter label{ font-size: 0; width: 100%;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{ background: #fff; border: 0; border-left:1px #ccc solid; border-right:1px #ccc solid;}
.dataTables_wrapper .dataTables_info{ padding-left: 10px;}
.dataTables_wrapper .dataTables_paginate .paginate_button{font-size: 12px; float: left; line-height: 1.5;
    padding: 5px;}
.dataTables_wrapper .dataTables_paginate .paginate_button.next{ border-left:1px #ccc solid;}
.dataTables_wrapper .dataTables_paginate{border: 1px solid #ccc; padding: 0; height: 30px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 10px; margin-bottom:10px;}
#example_paginate > span { float: left; line-height: 1.6;
    margin: 0;
    overflow: hidden; display: inline-block;
}
.add-comment-row{ display: none;}
.ui-autocomplete{ background: #fff; padding: 10px; list-style: none; border:1px #ccc solid; width: 110px !important;}
#other-field{ display: none;}
.id-num{ width: 10%;}
.particulars {
	text-align: left !important; 
    width: 50%;
}
.per-id{ width: 10%;}
.scor-id{ width: 40%;}
.feedback-id{ width: 40%;}
.quest-id{ width: 38%; text-align: left !important; }
.right-sidebar2.floatbar2 {    
	max-width: 300px;
	position: absolute;
	right: 0;
	width: 26%;
}
.disposition-block .close{color: #999;
    position: absolute;
    right: 3px;
    top: 0;}
.disposition-block .close:hover{color: #666;}

/*qascreen fixes*/
#accordion .panel-title{ background-image:none;font-family: open sans; text-indent:0; font-weight: bold;}
#scor-id .ans-set{  margin-top: -2px;}
.datatable tr:hover, .datatable tr:hover {
    background-color: whitesmoke;
}
.datatable th {
    border-bottom: 1px solid #111;
    padding: 5px 10px;
    position: relative;
}
 .datatable td{ border-bottom: 1px solid #ddd;
    padding: 5px 7px;}
    .datatable > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}
table.datatable.display tbody tr > .sorting_1, table.datatable tbody tr > .sorting_1{ background:#f1f1f1;}
.selectize-input > * {
    display: inline-block;
    vertical-align: baseline; height:100%; float:left;
    width: 100%;
}
.ui-select-match span {
      overflow: hidden;
    padding: 3px 0;
    text-overflow: ellipsis;
    width: 95px !important; height:30px; white-space: pre;
    font-size: 12px;
}
.selectize-control.single .selectize-input::after{border-width:6px 3px 0; right:2px;}
.selectize-control.single .selectize-input, .selectize-dropdown.single {
    border-color: #ededed;
}
.selectize-control.single .selectize-input{background:transparent; box-shadow:none; padding:0px 5px 0; border-radius: 0;}
.selectize-control{height:30px;}
.selectize-dropdown, .selectize-input, .selectize-input input{  color: #555555;
    font-family: open sans;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.65em;}
    .qa_show_rows{ width: 100%; background-color: #d5dbe0;}
    .qa_show_rows .num {
    background: transparent none repeat scroll 0 0 !important;
    border: 1px solid #ccc !important;
    padding: 0.6px 8px !important;
}
.arrow-up {
    border-bottom: 5px solid #8b8b8b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 0; display:inline-block; position: absolute;
    right: 2%;
    top: 10px; cursor:pointer;
}
.arrow-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #8b8b8b;
    height: 0;
    width: 0;display:inline-block; position: absolute;
    right: 2%;
    top:20px;cursor:pointer;
}
.custome-radio input[type="radio"], .custome-radio input[type="checkbox"] {
    display: none;
}
.custome-radio label {
    color: #666;
    line-height: 0.3;
    width: auto;
}
.custome-radio label::before {
    background-color: #fff;
    border: 1px solid #81bc21; border-radius:2px; box-shadow: 0.1px 0.1px 2px 0.1px #81bc21 inset;
    bottom: 1px;
    content: "";
    display: inline-block;
    height: 12px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 12px;top:0;
}
.custome-radio input:disabled + label::before {
  border-color: #F7E8E8;
  box-shadow: 0 0 0 #D8D7D7;
}

.callstatus-list.custome-radio label{ vertical-align: sub;}
.custome-radio input[type="radio"]:checked + label::before {
    color: #333;
    /*content: "✓";*/
	content: "\2713";
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
}
.quality-assur-terms #spin{display:none;}
.quality-assur-terms #spin:focus,.quality-assur-terms #picker:focus{opacity:0;}
input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-calendar-picker-indicator, input::-webkit-calendar-picker-indicator:focus,input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-inner-spin-button { opacity:0;}
input:enabled:read-write::-webkit-inner-spin-button{display:none;}
 .arrow-up.active {border-bottom: 5px solid #29abe2;}
.arrow-down.active{border-top: 5px solid #29abe2;}
input::-webkit-datetime-edit-fields-wrapper{padding: 0 0 0 7px;}input::-webkit-datetime-edit{overflow:visible; }
#accordion th a, .assur-quali th a{color:#8c8c8c; text-decoration:none;}
.sort-arrow {
    display: inline-block;
    height: 21px;
    position: absolute;
    width: 12px;
    right: 0px;
  top: 1%;
}

.custome-radio.table label{font-size: 11px;padding-top: 1px;
    vertical-align: super;
    padding-left: 15px;
    }
 #accordion .panel-default .panel-body {
    border: 1px solid #54b6d1;
    padding: 0;
}
#accordion .panel-default table th, #accordion .panel-default table td{border:0; border-top:1px #ddd solid; background:transparent}
#accordion .panel-default table.table-striped tr:nth-of-type(2n+1) {
    background-color: #f4f4f4;
}
aside.right-sidebar.floatbar.sticky {
    top: 0;
}
#other-field.collapse.in{opacity:1;}
#other-field.collapse{opacity:0; margin:0;}
.disposition-block .callstatus-list .radio label {
    vertical-align: super;
}
.disposition-block .callstatus-list.custome-radio label::before{top:2px;}
#carousel-example-generic1 .carousel-control{}
#carousel-example-generic1 p.odd,#carousel-example-generic1 p.even{vertical-align: middle;
    width: 100%;height: 100%;
    margin: 0; 
    vertical-align: middle;
    padding-top: 20px;
  padding-left: 31px;}
#carousel-example-generic1 p.odd label,#carousel-example-generic1 p.even label{ width:58%; text-align:left; padding:10px 0;
      vertical-align: text-top;}
#carousel-example-generic1 p.odd span,#carousel-example-generic1 p.even span{ width:40%; display:inline-block; padding:10px 0; vertical-align:text-top;}
#carousel-example-generic1 .item{height: 90px; width:85%; margin:0 5%;}
#carousel-example-generic1 .carousel-control.left .glyphicon-chevron-left{top:10%; margin-left: -40px;}
#carousel-example-generic1 .carousel-control.right .glyphicon-chevron-right{top:10%; margin-left: -40px;}


.img-align{float:left;}



.expandbox
{
    color:#FFFFFF;
    font-size: larger;
    background: url("../images/white_right_arrow.png") no-repeat scroll 15px center rgba(0, 0, 0, 0);
    text-indent: 40px;
}

.compressbox
{
    color:#FFFFFF;
    font-size: 15px;
    background: url("../images/white_down_arrow.png") no-repeat scroll 15px center rgba(0, 0, 0, 0);
    text-indent: 40px; font-family:"lato", sans-sarif; font-weight:600;
}
.nodisplay {
	  display: initial;
}

.align-collapse-minus {
	  margin-top: -15px;
}

.audio-width {
	width: 100%;
}

.collapse-question-align {
	margin: 3px;
}

.panel-body .comment-area-box{
  border: none;
  resize: none;
  width: 100%;
}

.odd {
	  width: 58%;
	  float: left;
}

.even {
	width: 42%;
	float: right;
}
.align-check-label {
	padding-top: 12px;
  padding-left: 20px;
}

.arrow-up-align-top {
	top: 10px;
}
.arrow-down-align-top {
	padding-top: 8px;
}
.dispos {
	  width: 10%;
}
.date {
	  width: 10%;
}
.campaign {
	width: 10%;
}
.agent {
	width: 10%;
}
.duration {
	width: 20%;
}
.statusfinal {
	width: 10%;
}
.call-id {
	width: 10%;
}

.row .form-edit-alert {
	color: rgb(255, 0, 0);
	font-weight: 400;
	font-size: 16px;
	text-transform: inherit;
  	display: inline;
}

.left-block .txt-center {
	  text-align: center;
}

.qaToast #toast-container > div {
	position: absolute;
	margin-left: 205px;
}

.qaToast .toast-cust-pos {
	top: 0;
}

.qaToast #toast-container > div {
	opacity: 1.2;
}

.left-block .row .info-margin {
	  margin-bottom: 10px;
}

.footerBlock {	
	float: left;
	width: 100%;
	background-color: #d5dbe0;
}

.quality-assur-terms span select {
    background: rgba(0, 0, 0, 0) url("../../img/select2.png") no-repeat scroll 97px 0 / 60px auto !important;
    border: 1px solid #8a8a8a;
    border-radius: 0;
    box-shadow: none;
    font-size: 13px;
    font-weight: normal;
    height: 30px;
    margin-bottom: 0;
    padding: 2px 0px;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
    color: #8a8a8a;
    -webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.selectize-input > select {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 0 none !important;
    box-shadow: none !important;
    line-height: inherit !important;
    margin: 0 1px !important;
    max-height: none !important;
    max-width: 100% !important;
    min-height: 0 !important;
    padding: 0 !important;
    text-indent: 0 !important;
    cursor: pointer;
}

.font-bold {
	font-weight:bold !important;
}

.heading-campaign-info{
	float:left;
	font-weight:bold;
	margin-left: 14px;
}

.heading-lead-detail{
	float:left;
	margin-left:110px;
	font-weight:bold;
}

.campaign-title{	
	color: rgb(84, 182, 209);
}

.type-title{	
	color: rgb(84, 182, 209);
}

.date-title{	
	color: rgb(84, 182, 209);
}

.time-title{	
	color: rgb(84, 182, 209);
}

.despos-title{	
	color: rgb(84, 182, 209);
}

.duration-title{	
	color: rgb(84, 182, 209);
}

.title-detail{margin-top: -17px;}

.qacopybtn{
	height: 30px;
	width: 55px;
	background: url(../../img/imgcopy.jpeg) no-repeat;
	border: none;	
}



.btn-grey.back {
	border-radius: 5px;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
	width: 45%;
    margin-left: 5px;
  	margin: 0px;
    padding: 5px 33px;
    line-height: 1.5;
}

.btn-grey-complete.back {
	border-radius: 5px;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
	width: 45%;
    margin-left: 5px;
  	margin: 0px;
    padding: 5px 18px;
    line-height: 1.5;
}

.btn-back{
	background: #bbb none repeat scroll 0 0;
	border: 1px solid #bbb;
	border-radius: 5px;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-shadow: none;
	margin-right: 0px;	
	padding: 3px 10px;
	text-transform: uppercase;
	width: 50%;
	margin: 0px;
	margin-bottom: 7px;
}

.qa-confirm-modal-body {
	display: flex;
	padding: 0px 0px 15px 15px !important;
}

.qa-confirm-modal-body .align-img {
	height: 10%;
    width: 22%;
}

.qa-confirm-modal-body .align-content {
	 margin-left: 3%;
}

.qa-confirm-modal-body .content-font {
	 font-weight: initial;
}

.txt-decoration {
	  text-decoration: underline;
}

.right-block .scored-font {
	font-style: italic;
	text-transform: none;
	font-family: cursive;
	width: 82px;
	margin-left: 8px;
	margin-bottom: 11px;
}

.right-block .align-scored {
	 margin-top: 6%;
}
.right-block {
	float: right;
	width: 26%;
}
.rightdivcls {
	float: right;
    margin: 21px 341px -45px;
}
.divshowmarginright {
	float: right;
    margin: 12px 260px -60px;
}

.rightBorder {
	border:2px solid #82c236;float:left;width:100%;margin-top:5px;
}

.title-font-style {
	font-size:10px;text-transform: none;font-style:italic;
}
//Pagination CSS 


.leftdiv {
	margin-top: 2px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
.innercontent .checkbox > span{ vertical-align: top;}
}



@media (max-width:1366px){
    .right-sidebar.floatbar {right: 16%;width: 17%;}    
}
@media (max-width:980px){
	.left-block,.right-sidebar{ width:73%;}
    .left-block .row .info-margin {margin-bottom: -10px !important;}
     body, input, select, textarea {font-size: 11px;}
    .score {font-size: 11px;}
    .btn-back{padding: 3px 4px;}
    
    .label-value {font-size: 10px;}    
    
    .timer{ font-size: 21px;}    
    .right-sidebar{ margin-top:20px;}
    .right-sidebar .white-bg{  width: 33%; height: 226px; display: inline-block; }
    .right-sidebar.floatbar {position: relative; right: auto; width: 24%}
}
@media (max-width:768px){
    .left-block,.right-sidebar{ width:73%;}
    .left-block .row .info-margin {margin-bottom: -20px !important;}
    body, input, select, textarea {font-size: 11px;}
    .score {font-size: 11px;}
    .btn-back{padding: 3px 4px;}
    
    .label-value {font-size: 9px !important;padding-left: 14px;}
    .heading{font-size: 9px !important;}
    .asset-note{font-size: 9px !important;}
    .asset-thumb {height: 49px !important;}
    
    .timer{ padding: 10px 0 25px}
    .label-value{ font-size: 13px;}
    #tabpanel ul.nav-tabs li a{padding: 8px 10px;  font-size: 18px; width: 87%;}
    
    .arrow-right {
    border-bottom: 18px solid transparent;
    border-left: 17px solid #dddddd;
    border-top: 17px solid transparent; top:3px;}
    .dialer-screen{ top: 43%;
    width: 33%}
    .right-sidebar .white-bg{ float: left; margin: 0 1px;}
    .right-sidebar.floatbar {position: relative; right: auto; width: 24%}
    .quality-assur-terms .gray-btn{width: 6.5%;}
	.quality-assur-terms span{ width: 12%;}	
}
@media (max-width:767px){
    #tabpanel ul.nav-tabs{ width: 100%;}
    #tabpanel ul.nav-tabs li{ width: 25%;border-right: 1px solid #999;}
    #tabpanel ul.nav-tabs li a{ width: 100%; text-align: center;}
    #tabpanel .tab-content{ width: 100%;}
    .arrow-right{display: none;}
    .right-sidebar2.floatbar2 {left: 0; margin-top: 2582px; max-width: 300px; position: relative; width: 75%;}    
    .form-control{font-size: 8px;}
    .navbar-right > li > a{margin-top: -76px;}
    .col-sm-5.col-md-5.nopad { margin-left: -72px;}
    .col-sm-4.col-md-4.nopad > div {margin-left: -9px;}
    .heading-lead-detail {margin-left: 109px;margin-top: 10px;position: absolute;}
    
    .left-block,.right-sidebar2{ width:100%;}
    .left-block .row .info-margin {margin-bottom: -20px !important;}
     body, input, select, textarea {font-size: 11px;}
    .score {font-size: 11px;}
    .btn-back{padding: 3px 4px;}
    
    .label-value {font-size: 9px;} 
    .heading-lead-detail{margin-top: 111px; padding: 3px;  position: absolute;}
    .heading-campaign-info{margin-left: 111px;}
    
    .title-detail {margin-left: 32px;  margin-top: -35px; width: 100%; }
    .left-block { overflow: auto;}
    .right-block {	float: none; width: 100%;}
}

.number-box {
	margin-top: 2px !important;
    float: left  !important;
}

.purchaseerror {
    color: #f00 !important;
}

