.nopad {
	padding: 0;
}

.headerTitle {
	color: #29aae1;
	font-size: 23px;
	font-weight: 400;
	float: left;
	margin-top: -50px;
	margin-left: 230px;
}

.btn-color {
	background: rgba(0, 0, 0, 0)
		linear-gradient(to bottom, #439bda 1%, #2b85c7 100%) repeat scroll 0 0;
	border: 0 none;
	border-radius: 5px;
	color: #ffffff;
	font-family: "bebas_neueregular";
	font-size: 15px;
	margin: 5px 5px;
	height: 30px;
	text-transform: uppercase;
}

.extra-spacing {
	margin-left: 5px;
	margin-right: 370px;
}

.input-search {
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 30px;
	width: 150px;
	padding: 5px 10px;
	margin: 5px 5px;
}

.select-search {
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 30px;
	width: 150px;
	padding: 5px 10px;
	margin: 5px 5px;
}

.div-float-left {
	float: left;
}

.div-float-right {
	float: right;
}

#userimpoersonate-block td span {
	display: block;
	width: 100%;
}

#userimpoersonate-block td span {
	display: block;
	width: 100px;
	word-break: break-word;
}

#userimpoersonate-block th {
	font-weight: normal;
	text-align: left;
}

#userimpoersonate-block .action-row span {
	width: 24px;
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
}

#userimpoersonate-block table {
	clear: both;
	border: 0;
}

#userimpoersonate-block .table th {
	border-color: #000;
}

#userimpoersonate-block>table>thead>tr>th>a {
	cursor: pointer
}

#userimpoersonate-block .table th, #userimpoersonate-block .table td {
	border: 0;
	background: none;
	border-bottom: 1px #ddd solid;
}

#userimpoersonate-block .table tr:last-child td {
	border-color: #000;
}

.align-table-label {
	text-align: left;
}

.listing-bg {
	background: #d5dbe0 none repeat scroll 0 0;
}

.listing-bg th, .listing-bg th a {
	color: #8c8c8c;
	font-size: 11.7px;
	font-weight: normal;
	text-shadow: 0.1px 0.1px 0.1px #8c8c8c;
	text-transform: uppercase;
}

.userlist-block {
	background: #fff;
	display: inline-block;
	width: 100%;
	padding: 20px;
}

.userlist-block p {
	color: #888;
}

.userlist-block p .manual {
	border-radius: 20px;
	color: #666;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover,
	.pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover,
	.pagination>.disabled>a:focus {
	background-color: #80cde6;
	border-color: #24577d;
	color: #24577d;
	font-weight: 400;
}

.pagination>li>a, .pagination>li>span {
	background-color: #80cde6;
	border: 1px solid #24577d;
	color: #24577d;
	float: left;
	line-height: 1.42857;
	margin-left: -1px;
	position: relative;
	text-decoration: none;
	font-weight: 600;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus,
	.pagination>li>span:focus {
	color: #fff;
	background-color: #80cde6;
	border-color: #24577d;
	font-weight: 600;
	-webkit-filter: grayscale(100%);
}

.footerBlock {
	float: left;
	width: 100%;
	height: 40px;
	font-size: 12px;
	background-color: #D7EFF9;
	font-weight: 500;
}

.divleftfloat {
	float: left;
	margin-left: 11px;
	margin-top: 8px;
	color: #000;
}

.addselectoptionright {
	width: 83px !important;
	font-size: 11px;
	height: 25px;
	color: #000;
}

.divrightfloat {
	float: right;
	margin-top: 5px;
	color: #000;
}

.leftdoublearrow {
	background: rgba(0, 0, 0, 0) url("../images/left-double-arrow.png")
		no-repeat scroll 92% 50%;
	float: left;
	height: 20px;
	width: 25px;
}

.leftsinglearrow {
	background: rgba(0, 0, 0, 0) url("../images/left-single-arrow.png")
		no-repeat scroll 92% 50%;
	float: left;
	height: 20px;
	width: 25px;
}

.rightdoublearrow {
	background: rgba(0, 0, 0, 0) url("../images/right-double-arrow.png")
		no-repeat scroll 92% 50%;
	float: left;
	height: 20px;
	width: 25px;
}

.rightsinglearrow {
	background: rgba(0, 0, 0, 0) url("../images/right-single-arrow.png")
		no-repeat scroll 92% 50%;
	float: left;
	height: 20px;
	width: 25px;
}

.pagin-rate {
	margin: 2px 2px !important;
	background-color: #D7EFF9 !important;
	border: none !important;
	color: #000 !important;
	font-weight: normal !important;
}

.container .toast-cust-pos {
	left: 33%;
	top: 3%;
}

.container .admin-toast .toast-cust-pos {
	left: 16%;
	top: 3%;
}

.container #toast-container {
	position: fixed;
}

.container .admin-toast #toast-container {
	position: relative;
}

.container .toaster-margin #toast-container>div {
	width: 500px;
	position: absolute;
	background-color: #DC143C;
	color: white;
	font-weight: bold;
}

.container .admin-toast .toaster-margin #toast-container>div {
	width: 500px;
	position: absolute;
	background-color: #DC143C;
	color: white;
	font-weight: bold;
}