<script type="text/ng-template" id="changePasswordModal.html">
<div class="changePassword">
				<div class="modal-header">
			                <button type="button" class="close"  data-dismiss="modal"><span aria-hidden="true" class="cross-img" ng-click="cancel()"></span></button>
			                <h4 class="modal-title modaltextcolor">Change Password</h4>
			    </div>
				<div class="modal-body modalbodypadding">
			   	  <form name="myForm" novalidate>
                    <label for="currentPassword">Current password </label>
			    	<input type="password" class="form-control" id="currentPassword" name="currentPassword" ng-model="currentPassword" required>
			    	
			    	<div class="errorClass" ng-show="passwordValid">
						<span style="color:red"  ng-show="myForm.currentPassword.$error.required">Password is required.</span>
					</div>

					<label for="newPassword">New password </label>
			    	<input type="password" class="form-control" id="newPassword" name="newPassword" ng-model="newPassword" required>
			    	
			    	<div class="errorClass" ng-show="passwordValid">
						<span style="color:red"  ng-show="myForm.newPassword.$error.required">Password is required.</span>
					</div>

					<label for="confirmPassword">Confirm password </label>
			    	<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" required match="newPassword">
			    	<div class="errorClass"  ng-show="passwordValid">
	                      <span style="color:red" ng-show="myForm.confirmPassword.$error.required">Password is required.</span>
	                 </div>
			    	<div class="msg-block" ng-show="myForm.$error"> <span class="msg-error msg-passowrd-color" ng-show="myForm.confirmPassword.$error.match">Passwords don't match.</span> 
			    	</div>
			     </form>
			    </div>
			    <div class="modal-footer">
					<button type="button" class="btn btn-primary"  ng-click="ok(currentPassword, confirmPassword)">Save</button>
			        <button type="button" class="btn btn-default"  ng-click="cancel()">Cancel</button>
			    </div>
</div>
</script>
<script type="text/ng-template" id="changeStatusModal.html">
<div class="agent-status-popup" >
	<button type="button" class="close" onclick="$('#available-status').click()" ><span aria-hidden="true" class="cross-img pull-right" ></span></button>
	<button ng-repeat="stat in statuses" ng-if="stat != 'ONBREAK' && stat != 'MEETING' && stat != 'TRAINING' && stat != 'OFFLINE' && stat != 'OTHER'" class="status-{{ getStatusClass(stat) }}" ng-click="changeStatus(stat)" >{{removeUnderScore(stat)}}</button>
</div>
<!--<div class="agent-status-popup" ng-if="status != 'ONLINE'">
	<button type="button" class="close" onclick="$('#available-status').click()"><span aria-hidden="true" class="cross-img pull-right" ></span></button>
	<button  class="status-online" ng-click="changeStatus('ONLINE')" >Online</button>
</div>-->
</script>
<link href="css/agent.css" rel="stylesheet">
<link href="css/chosen.css" rel="stylesheet">
<div class="head-container agent-header ng-scope">
	<div class="container navbar-static-top header">
		<div class="navbar-header fixedheight logo"><a href="#"><img src="images/xtaas_logo.png"></a></div>
		
		<ul class="nav navbar-nav navbar-right">
			<!-- <li  ng-show="user.roles == 'QA' || user.roles == 'AGENT' || user.roles == 'SUPERVISOR'">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle text-user"><span class="headerMessage">{{notice.length}}</span></a>
				<ul role="menu" class="dropdown-menu pointertop-qa" ng-show="notice.length > 0" >
					<div class="gb_aa"></div>
					<div class="pointer"></div>	
					<li  class="usernamearrow linestyle1"></li>			
					<li class="space-message" ng-show="notice.length != 0" ng-repeat="item in notice track by $index">
									<div class="icondiv">{{item.startDate | date:"MM/dd/yyyy"}}</div>
			        				<div class="textdiv-message">{{item.notice}}</div>
		        	</li>
				</ul>
			</li> -->

			<li  ng-show="user.roles.includes('QA') || user.roles.includes('AGENT') || user.roles.includes('SUPERVISOR') || user.roles.includes('CAMPAIGN_MANAGER') || user.roles.includes('SECONDARYQA')">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle text-user notif" ng-click='markAsRead()'><span class="commentbox"></span><span class="num" id="unreadCount">{{newNoticesCount}}</span></a>
				<ul role="menu" class="dropdown-menu pointertop-qa" ng-show="notice.length > 0" >
						<div class="gb_aa"></div>
						<div class="pointer"></div>	
						<li  class="usernamearrow linestyle1"></li>			
						<li class="space-message" ng-show="notice.length != 0" ng-repeat="item in notice | orderBy : '-startDate'" >
										<div class="icondiv">{{item.startDate | date:"HH:mm:ss"}}</div>
												<!-- <div class="textdiv-message">{{item.notice}}</div> -->
												<div ng-if="!item.link" class="textdiv-message" >{{item.notice}}</div>
												<div ng-if="item.link" class="textdiv-message"><a href={{item.link}}>{{item.notice}}</a><div>
												<!-- <div ng-bind-html-unsafe="item.notice">{{item.notice}}</div> -->
								</li>
								
				</ul>
			</li>
		<li class=""><a href="#" data-toggle="dropdown" class="dropdown-toggle text-user ng-binding"><img src="images/profiledownarrow.png" class="usernamearrow">{{ user.firstName }} {{user.lastName}}</a>
			<ul role="menu" class="dropdown-menu pointertop">
					<div class="gb_aa"></div>
					<div class="pointer"></div>	
					<li class="usernamearrow linestyle1"></li>			
					<li>
						<div class="icondiv"><img src="images/accounticon.png"></div>
						<div class="textdiv"><a ng-click="changePassword()" class="text-color">Change Password</a></div> 
					</li>
					<li class="space">
						<div class="icondiv"><img src="images/logouticon.png"></div>
						<div class="textdiv"><a ng-click="logout()" class="text-color">Logout</a></div>
					</li>
			</ul>
		</li>
	</ul>
	<div class="agent-status-time pull-right">
			<div class="agent_online_status">
				YOUR STATUS <span id="available-status" class="avi-sta-{{ getStatusClass(status) }}" popover-window="changeStatusModal.html"  popover-window-placement="bottom"><i>&nbsp;</i>{{getStatusMessages(statusmsg)}}
				</span>
			</div>  
		</div>
	</div>

</div>
<script>
	(function (u, s, e, r, g) {
		u[r] = u[r] || [];
		u[r].push({
		  'ug.start': new Date().getTime(), event: 'embed.js',
		});
		var f = s.getElementsByTagName(e)[0],
			j = s.createElement(e);
		j.async = true;
		j.src = 'https://static.userguiding.com/media/user-guiding-'
		 + g + '-embedded.js';
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'userGuidingLayer', '15874582ID');
</script>