<script type="text/javascript" src="../../js/vendor/intlTelInput.js"></script>
<script type="text/javascript" src="../../js/vendor/intlTelInput.min.js"></script>
<script type="text/ng-template" id="campaignChangeConfirmModal.html">
<div class="modal-header">
	<h4>CAMPAIGN CHANGE</h4>
</div>
<div class="modal-body">
	<div class="modal-middle-content" ng-if="!campaign.name">
		<span class = "content-font">You are not schedule for any campaign. <br>Please check with your supervisor.</span>
	</div>
	<div class="modal-middle-content" ng-if="campaign.name">
		<span class = "content-font">Your campaign has been changed to <span class = "highlight-label">{{campaign.name}}</span>. <br>Before clicking OK button to switch to new campaign, <br>Please contact your supervisor to get trained on script for <span class = "highlight-label">{{campaign.name}}</span>.</span>
	</div>
	<div class="row" style="margin:10px 0px 0px 0px">
		<button ng-click="confirmCampaignChange('REQUEST_OFFLINE')" class="btn-main pull-right" >Ok</button>
	</div>
</div>
</script>
<script type="text/ng-template" id="disqualifiedprosp.html">
	<div  class="modal-header" >
		<button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">
			<img src="images/black-cross.png" title="Close"/>
		</button>
		<h4>End Call</h4>
	</div>
	<div class="modal-body">
		<span class = "content-font">End Call, Prospect is not qualified</span>
		
		<div class="row" style="margin:10px 0px 0px 0px">
			<button ng-click="setNoQualify()" class="btn-main pull-right" >Ok</button>
		</div>
	</div>
	</script>

<script type="text/ng-template" id="scriptChangeConfirmModal.html">
<div class="modal-header">
	<h4>SCRIPT CHANGE</h4>
</div>
<div class="modal-body">
	<p> Campaign script has been changed, <br>Please contact your Supervisor, If you are not familiar with the campaign script. </p>
	<div class="row" style="margin:10px 0px 0px 0px">
		<button ng-click="confirmScriptChange('REQUEST_OFFLINE')" class="btn-main pull-right" >Ok</button>
	</div>
</div>
</script>

<script type="text/ng-template" id="stateChangeConfirmModal.html">
	<div class="modal-header">
		<h4>STATE CHANGE</h4>
	</div>
	<div class="modal-body">
		<span class = "content-font">Your <span class = "highlight-label">{{parent.status}}</span> request is approved. Your status is changed to <span class = "highlight-label">{{parent.status}}</span>.</span>
		<div class="row" style="margin:10px 0px 0px 0px">
			<button ng-click="confirmStateChange()" class="btn-main pull-right" >Ok</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="campaignSettingsChangeConfirmModal.html">
	<div class="modal-header">
		<h4>CAMPAIGN SETTINGS CHANGED</h4>
	</div>
	<div class="modal-body">
		<span class = "content-font">Your campaign settings have been changed.</span>
		<div class="row" style="margin:10px 0px 0px 0px">
			<button ng-click="setCampaignSettingsChange()" class="btn-main pull-right" >Ok</button>
		</div>
	</div>
</script>

<link rel="stylesheet" href="../../css/intlTelInput.css">
<link rel="stylesheet" href="../../css/sprite.css">

<script type="text/ng-template" id="agentTypeChangeConfirmModal.html">
	<div class="modal-header">
		<h4>AGENT TYPE CHANGE</h4>
	</div>
	<div class="modal-body">
		<div class="modal-middle-content">
			<span class = "content-font">Dialing mode changed to <b>{{agentType}}</b></span>
		</div>
		<div class="row" style="margin:10px 0px 0px 0px">
			<button ng-click="confirmAgentTypeChange('REQUEST_OFFLINE')" class="btn-main pull-right" >Ok</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="campaignModeChangeModal.html">
	<div class="modal-header">
		<h4>Campaign Mode Change</h4>
	</div>
	<div class="modal-body">
		<div class="modal-middle-content">
			<span class = "content-font">Your campaign mode has been changed from <span class = "highlight-label"> {{previousProspectType}}</span>  to <span class = "highlight-label">{{currentProspectType}}</span>.
		</div>
	</div>
	<div class="modal-footer">
		<button style="margin:7px 0px 0px 0px" ng-click="setCampaignModeChange()" class="btn-main pull-right" >Ok</button>
	 </div>
	</script>

<!-- ALTERNATE PROSPECT MODAL -->
<!-- <script  type="text/ng-template" id="alternateprospectmodal.html">
	<div class="modal-header">
		<button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">
			<img src="images/black-cross.png" title="Close"/>
		</button>
		<h4>ALTERNATE PROSPECTS</h4>
	</div>
	<div class="modal-body">
		<div class="finish-code-div-custome finish-code-div">
			<div class="main">
					<div class="d1">
								<h5 style="color: #81BC21;">Global Disposition</h5>
								<div class="child">
									<input id="globalpopupdncl" name="globalpopupdisposition" type="radio" ng-click="forceDispositionSelection('DNCL')"
										ng-model="globalDispositionModel" ng-disabled="parent.state < 3 || disableGlogalSubmit" value="DNCL">
									<label class="alt-prosp-label" for="globalpopupdncl" title="Dnc">Dncl</label>
								</div>
									<div class="child">
										<input id="globalpopupfailure" name="globalpopupdisposition" type="radio" ng-click="forceDispositionSelection('FAILURE')"
											ng-model="globalDispositionModel" ng-disabled="parent.state < 3 || disableGlogalSubmit" value="FAILURE">
										<label class="alt-prosp-label" for="globalpopupfailure" title="Failure">Failure</label>
									</div>
									<div class="child">
										<input id="globalpopupansmach" name="globalpopupdisposition" type="radio" ng-click="forceDispositionSelection('DIALERCODE')"
											ng-model="globalDispositionModel" ng-disabled="parent.state < 3 || disableGlogalSubmit" value="DIALERCODE">
										<label class="alt-prosp-label" for="globalpopupansmach" title="When the record was delivered to you and you immediately hear an answering machine message being played. Do not leave a voicemail message; simply disposition the record and move to the next quickly.">Ans Mach</label>
									</div>
									<div style="margin-top:89px">
										<button type="button" class="btn btn-select button-margin" ng-click="globalForceSubmitProspect()"
											ng-disabled="disableGlogalSubmit">Submit</button>
									</div>
					</div>
					<div class="d3">
						<div class="custon-numberpad number-pad" >
							<div class="num-cont new-num-count">
								<div class="inner-num-count">
									<div class="item-num-cont"><button ng-click="clickPad('1')">1</button></div>
									<div class="item-num-cont">
										<button ng-click="clickPad('2')">2<span><i>A</i><i>B</i><i>C</i></span></button>
									</div>
									<div class="item-num-cont">
										<button ng-click="clickPad('3')">3 <span><i>D</i><i>E</i><i>F</i></span></button>
									</div>
									<div class="item-num-cont">
										<button ng-click="clickPad('4')">4 <span><i>G</i><i>H</i><i>I</i></span></button>
									</div>
									<div class="item-num-cont">
										<button ng-click="clickPad('5')">5 <span><i>J</i><i>K</i><i>L</i></span></button>
									</div>
									<div class="item-num-cont">
										<button ng-click="clickPad('6')">6 <span><i>M</i><i>N</i><i>O</i></span></button>
									</div>
									<div class="item-num-cont">
										<button ng-click="clickPad('7')">7 <span><i>P</i><i>Q</i><i>R</i><i>S</i></span></button>
									</div>
									<div class="item-num-cont">
										<button ng-click="clickPad('8')">8 <span><i>T</i><i>U</i><i>V</i></span></button>
									</div>
									<div class="item-num-cont">
										<button ng-click="clickPad('9')">9 <span><i>W</i><i>X</i><i>Y</i><i>Z</i></span></button>
									</div>
									<div class="item-num-cont"><button ng-click="clickPad('*')" class="text-center">*</button></div>
									<div class="item-num-cont"><button ng-click="clickPad('0')">0</button></div>
									<div class="item-num-cont">	<button ng-click="clickPad('#')" class="text-center">#</button></div>
								</div>
							</div>
					</div>
					<div class="pull-left col-xs-12">
						<button type="button" class="btn btn-default blue-btn pull-left" ng-disabled = "isPhoneNumberConnected || prospectCall.prospect.prospectType == 'POWER'" ng-click="connectCall()" >
							<i class="fa fa-phone"></i> Dial
						</button>
					</div>
			</div>
		</div>
			<table id="alternate-prospect">
				<tr>
					<th>FIRST NAME</th>
					<th>LAST NAME</th>
					<th>ROLE</th>
					<th>DEPARTMENT</th>
					<th>COMPANY</th>
					<th>Extension</th>
					<th>DISPOSITION</th>
					<th>ACTION</th>
				</tr>
				<tr ng-repeat="indirectProspect in indirectProspects">
					<td>{{indirectProspect.firstName}}</td>
					<td>{{indirectProspect.lastName}}</td>
					<td>{{indirectProspect.title}}</td>
					<td>{{indirectProspect.department}}</td>
					<td>{{indirectProspect.company}}</td>
					<td>{{indirectProspect.extension}}</td>
					<td>
						<ul>
							<li class="radio">
								<input id="popupdncl{{$index}}" name="simpledisposition{{$index}}" type="radio" ng-click="forceDispositionSelection('DNCL')"
									ng-model="dispositionModel[$index]" ng-disabled="parent.state < 3 || previousAlternateProspects.indexOf($index) !== -1 || previousAlternateProspects.indexOf('disableAll') !== -1" value="DNCL">
								<label class="popup-disposition-label" for="popupdncl{{$index}}" title="Dnc">Dncl</label>
							</li>

							<li class="radio">
								<input id="popupfailure{{$index}}" name="simpledisposition{{$index}}" type="radio" ng-click="forceDispositionSelection('FAILURE')"
	  								ng-model="dispositionModel[$index]" ng-disabled="parent.state < 3 || previousAlternateProspects.indexOf($index) !== -1 || previousAlternateProspects.indexOf('disableAll') !== -1" value="FAILURE">
								<label class="popup-disposition-label" for="popupfailure{{$index}}" title="Failure">Failure</label>
							</li>

							<li class="radio">
								<input id="popupansmach{{$index}}" name="simpledisposition{{$index}}" type="radio" ng-click="forceDispositionSelection('DIALERCODE')"
									ng-model="dispositionModel[$index]" ng-disabled="parent.state < 3 || previousAlternateProspects.indexOf($index) !== -1 || previousAlternateProspects.indexOf('disableAll') !== -1" value="DIALERCODE">
								<label class="popup-disposition-label" for="popupansmach{{$index}}" title="When the record was delivered to you and you immediately hear an answering machine message being played. Do not leave a voicemail message; simply disposition the record and move to the next quickly.">Ans Mach</label>
							</li>
						</ul>

					</td>
					<td>
						<button type="button" class="btn btn-select button-margin" ng-click="alternateProspect('old', indirectProspect, $index); cancel()"
							ng-disabled="previousAlternateProspects.indexOf($index) !== -1 || previousAlternateProspects.indexOf('disableAll') !== -1">Select</button>
						<button type="button" class="btn btn-select button-margin" ng-click="forceSubmitProspect('old', indirectProspect, $index);"
							ng-disabled="previousAlternateProspects.indexOf($index) !== -1 || previousAlternateProspects.indexOf('disableAll') !== -1">Submit</button>
					</td>
				</tr>
				<tr>
					<td colspan="7">
						<button type="button" class="btn btn-select button-margin" ng-click="showNewIndirectProspectModal();" ng-disabled="previousAlternateProspects.indexOf('disableAll') !== -1 || indirectProspects.length >= 4">Create new prospect</button>
					</td>
					<td colspan="1">
						<button type="button" class="btn-main" ng-click="cancel()">CLOSE</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</script> -->
<!-- ALTERNATE PROSPECT MODAL -->

<!-- CREATE PROSPECT MODAL - RESEACH_AND_DIAL -->
<script  type="text/ng-template" id="researchanddialprospectmodal.html">
	<div class="modal-header">
		<button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">
			<img src="images/black-cross.png" title="Close"/>
		</button>
		<h4>CREATE PROSPECT</h4>
	</div>
	<div class="modal-body">
		<div class="finish-code-div">
			<table>
				<tr>									
					<div class="form-group section-div" >
						<label class="align-label rnd-label rndLabel"> Name </label><span class="mandotoryFields">â˜…</span>
						<input only-letters-input  name="rnd-fname" id="rnd-fname" class="form-control rnd-input"
							type="text" ng-trim="true" ng-model="prospect.nameCopy" placeholder="Enter Name" ng-blur="seperateName(); checkDNC()" >
							<span class="clear-field"></span>
						<label class="align-label rnd-label label-font"> Phone </label><span class="mandotoryFields">â˜…</span>&nbsp;&nbsp;
						<span class="grp"><input id="params_contact_phone_number_1" type="tel" class="form-control" style="width: 226px;"></span>
						<span class="clear-field"></span>
					</div>
				</tr>

				<tr>
					<div class="form-group section-div">
						<label class="align-label rnd-label rndLabel"> Domain </label><span class="mandotoryFields">â˜…</span>
						<input name="rnd-domain" id="rnd-domain" class="form-control rnd-input" type="text" ng-trim="true"
							ng-model="prospectCall.prospect.customAttributes.domain" ng-blur="checkDNC()" maxlength="200" placeholder="Enter Domain">
							<span class="clear-field"></span>
							<label class="align-label rnd-label rndLabel"> Title </label><span class="mandotoryFields">â˜…</span>
						<input name="rnd-title" id="rnd-title" class="form-control rnd-input"
							type="text" ng-trim="true" ng-model="prospectCall.prospect.title" maxlength="80" placeholder="Enter Title">
							<span class="clear-field"></span>
					</div>
				</tr>
				
				<tr>
					<div  ng-if="campaignDetails.isEmailSuppressed == true" class="form-group section-div">
						<label class="align-label rnd-label rndLabel"> Email id </label><span class="mandotoryFields">â˜…</span>
						<input name="rnd-email" id="rnd-email" class="form-control rnd-input" type="text"
							ng-model="prospectCall.prospect.email" maxlength="200" placeholder="Enter Email id" required>
					<span class="clear-field"></span>
					</div>
				</tr> 
			</table>
		</div>
		<div class="modal-footer">
 			<p class="rndFooter">
				<button type="button" class="btn btn-gray pull-right" ng-click="cancel()">Close</button>
				<button type="button" style="margin-right:20px" class="btn btn-primary pull-right" ng-click="saveAndDialProspect()">Save</button>
			</p>
		</div>
	</div>
	<script>
	$(document).ready(function() {
		function initCountryPhone( phone_input_id, phone_country_db , phone_target_field ){
			var telInput = $('#'+phone_input_id);
			var prospectPhn = $('#params_contact_phone_number_1').val();
			telInput.intlTelInput({
				utilsScript: "../../js/vendor/utils.js" 
			});
			var countryNameDb = phone_country_db;
			var target_field = $('#'+phone_target_field);
			var initialCountry = telInput.intlTelInput("getSelectedCountryData").iso2;
			jQuery('#'+phone_input_id).on('input', function() {
				var prospectPhn = $('#params_contact_phone_number_1').val();
				var pindex = prospectPhn.lastIndexOf("+");
				if(pindex > 0) {
					var ph = prospectPhn.slice(pindex);
					var prospectPhn = $('#params_contact_phone_number_1').val(ph);
				}
			});
			target_field.val(countryNameDb);
			telInput.on("countrychange", function(e, countryData) {
				var campCountry = countryData.name;
				if (campCountry != null && campCountry != undefined && campCountry != "") {
					var strIndex = campCountry.indexOf(" (") ;
				}
				if (strIndex > -1) {
					var campCountry = campCountry.substring(0,strIndex);
				}
				localStorage.setItem("country", campCountry);
				if (countryData && countryData.iso2) {
					localStorage.setItem("countryCode", countryData.iso2);
				}
				if (countryData.dialCode) {
					var prevCountry = "+" + countryData.dialCode;
					var prospectPhn = $('#params_contact_phone_number_1').val();
					var index = prospectPhn.indexOf(' ');
					if(index > -1) {
						var prospectPhn = $('#params_contact_phone_number_1').val(prospectPhn.substring(0,0)+prevCountry+prospectPhn.substring(index));
					} else if(!prospectPhn.startsWith("+")) {
						var prospectPhn = $('#params_contact_phone_number_1').val(prevCountry + " " + prospectPhn);
					}
				}
				var input_place_holder = telInput.attr('placeholder');
				if (target_field.val()) {
					target_field.val('');
					target_field.attr('placeholder', input_place_holder);
				} else {
					target_field.attr('placeholder', input_place_holder);
				}

			});
				var code;
				var isd;
				var countryData = $.fn.intlTelInput.getCountryData();
				var country = phone_country_db;
				$.each(countryData, function(k, v) {
					if (v.name.split(" ")[0] == country) {
						isd= v.dialCode;
						code = v.iso2;
					}
				});
				if (!prospectPhn.startsWith("+")) {
					var prospectPhn = $('#params_contact_phone_number_1').val("+" + isd + " " + prospectPhn);
				}
				var tempCode = localStorage.getItem("countryCode");
				if(code == undefined) {
					code = tempCode;
				}
				telInput.intlTelInput("setCountry", code);
			}

			var tempCountry = localStorage.getItem("country");
			if(tempCountry == null || tempCountry == "") {
				initCountryPhone("params_contact_phone_number_1", "UnitedStates", "mes_params_phone_num_1");
			} else {
				initCountryPhone("params_contact_phone_number_1", tempCountry, "mes_params_phone_num_1");
			}
		});
	</script>
</script>

<!-- SEARCH PROSPECT - LEADIQ -->
<script  type="text/ng-template" id="researchanddialprospectleeadiqmodal.html">
	<div class="modal-header">
		<button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">
			<img src="images/black-cross.png" title="Close"/>
		</button>
		<h4>SEARCH PROSPECT</h4>
	</div>
	<div class="modal-body">
		<div class="finish-code-div">
			<table>
				<tr>
					<div class="form-group section-div horizontal-input" >
						<label class="align-label rnd-label rndLabel"> Prospect </label><span class="mandotoryFields">*</span>
						<input only-letters-input  name="rnd-fname" id="rnd-fname" class="form-control rnd-input"
							type="text" ng-trim="true" ng-model="prospect.nameCopy" placeholder="Enter Name" ng-blur="seperateName(); checkDNC()" >
						
						<label class="align-label rnd-label rndLabel"> Company / Domain </label><span class="mandotoryFields">*</span>
						<input name="rnd-domain" id="rnd-domain" class="form-control rnd-input" type="text" ng-trim="true"
						ng-model="prospectCall.prospect.customAttributes.domain" maxlength="200" placeholder="Enter Name">
					</div>
				</tr>
				<tr>
					<div class="orBlockLeadIQ" >OR</div>
				</tr>
				<tr>
					<div  class="form-group section-div horizontal-input">
						<label class="align-label rnd-label rndLabel"> Email id </label><span class="mandotoryFields">*</span>
						<input name="rnd-email" id="rnd-email" class="form-control rnd-input" type="text"
							ng-model="prospectCall.prospect.email" maxlength="200" placeholder="Enter Email id" required>

					</div>
				</tr>

			</table>
		</div>
		<div class="modal-footer">
 			<p class="rndFooter">
				<button type="button" class="btn btn-gray pull-right" ng-click="cancel()">Close</button>
				<button type="button" style="margin-right:20px" class="btn btn-primary pull-right" ng-click="searchProspectDetailsFromLeadIQMultiple()">Search</button>
			</p>
		</div>
	</div>
</script>

<!-- SHOW LEADIQ PROSPECT LIST -->
<script type="text/ng-template" id="prospectListToSelectmodal.html">
	<div class="modal-header">
		<button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">
			<img src="images/black-cross.png" title="Close"/>
		</button>
		<h4>PROSPECT DETAILS</h4>
	</div>
	<div class="modal-body" >
		<div ng-show="prospectDTOList.length != 0" class="table-responsive prspectdetail-table" data-example-id="bordered-table">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Domain</th>
						<th>Title</th>
					</tr>
				</thead>
				<tbody ng-repeat="item in prospectDTOList track by $index">
					<tr ng-click="saveSelectedProspect(item)">
							<td>{{item.name}}</td>
							<td>{{item.customAttributes.domain}}</td>
							<td>{{item.title}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-show="prospectDTOList.length == 0" >Prospect info is not available in the database. Please enter the details manually</div>
		<!-- <div class="outer-input col-xs-12" >	 -->
	<table>
		<tr>
			<div class="form-group section-div horizontal-input" ng-if="showNameDomainLeadIQ == true" >
				<label class="align-label rnd-label rndLabel"> Name </label><span class="mandotoryFields">*</span>
				<input only-letters-input  name="rnd-fname" id="rnd-fname" class="form-control rnd-input"
					type="text" ng-trim="true" ng-model="prospect.nameCopy" placeholder="Enter Name" ng-blur="seperateName(); checkDNC()" >
				
				<label class="align-label rnd-label rndLabel"> Domain </label><span class="mandotoryFields">*</span>
				<input name="rnd-domain" id="rnd-domain" class="form-control rnd-input" type="text" ng-trim="true"
				ng-model="prospectCall.prospect.customAttributes.domain" ng-blur="checkDNC()" maxlength="200" placeholder="Enter Domain">
			</div>
		</tr>
		<tr>
			<div class="form-group section-div" >
				<label class="align-label rnd-label label-font no-border"> Phone </label><span class="mandotoryFields">*</span>&nbsp;&nbsp;
				<span class="grp"><input id="params_contact_phone_number_1" type="tel" class="form-control" style="width: 226px;"></span>
			</div>
			<div class="form-group section-div" >
				<label class="align-label rnd-label rndLabel"> Title </label><span class="mandotoryFields">*</span>
				<input name="rnd-title" id="rnd-title" class="form-control rnd-input"
					type="text" ng-trim="true" ng-model="prospectCall.prospect.title" maxlength="80" placeholder="Enter Title">
			</div>
		</tr>
		<tr>
			<div ng-if="campaignDetails.isEmailSuppressed == true" class="form-group section-div">
				<label class="align-label rnd-label rndLabel"> Email id </label><span class="mandotoryFields">*</span>
				<input name="rnd-email" id="rnd-email" class="form-control rnd-input" type="text"
					ng-model="prospectCall.prospect.email" maxlength="200" placeholder="Enter Email id" required>

			</div>
		</tr>
		<!-- </div> -->
	<table>
	</div>
	<div class="modal-footer">
		<p class="rndFooter">
			<button type="button" class="btn btn-gray pull-right" ng-click="cancel()">Close</button>
			<button type="button" style="margin-right:20px" class="btn btn-primary pull-right" ng-click="saveAndDialProspect()">Save</button>
			<button type="button" style="margin-right:30px" class="btn btn-primary pull-right" ng-click="resetLeadIQ()">Reset</button>
		</p>
	</div>
	 
	 <script>
		// Country ISD code jquery - start, date: 17/05/19
	$(document).ready(function() {
		function initCountryPhone( phone_input_id, phone_country_db , phone_target_field ){
			// get the country data from the plugin
			var telInput = $('#'+phone_input_id);

			var prospectPhn = $('#params_contact_phone_number_1').val();

			// init plugin
			telInput.intlTelInput({
				utilsScript: "../../js/vendor/utils.js" // just for formatting/placeholders etc
			});

			var countryNameDb = phone_country_db; // db val
			var target_field = $('#'+phone_target_field);
			// set it's initial value
			var initialCountry = telInput.intlTelInput("getSelectedCountryData").iso2;

			jQuery('#'+phone_input_id).on('input', function() {
				var prospectPhn = $('#params_contact_phone_number_1').val();
					var pindex = prospectPhn.lastIndexOf("+");
					if(pindex > 0) {
						var ph = prospectPhn.slice(pindex);
						var prospectPhn = $('#params_contact_phone_number_1').val(ph);
					}				
			});
			
			target_field.val(countryNameDb); // db val
			// listen to the telephone input for changes
			telInput.on("countrychange", function(e, countryData) {
				
				var campCountry = countryData.name;
				if(campCountry != null && campCountry != undefined && campCountry != "") {
					var strIndex = campCountry.indexOf(" (") ;
				}
				if(strIndex > -1) {
					var campCountry = campCountry.substring(0,strIndex);
				}
				localStorage.setItem("country", campCountry);
				if(countryData && countryData.iso2) {
					localStorage.setItem("countryCode", countryData.iso2);
				}
				if (countryData.dialCode) {
					var prevCountry = "+" + countryData.dialCode;
					var prospectPhn = $('#params_contact_phone_number_1').val();
					var index = prospectPhn.indexOf(' ');
					if(index > -1) {
						var prospectPhn = $('#params_contact_phone_number_1').val(prospectPhn.substring(0,0)+prevCountry+prospectPhn.substring(index));
					} else if (prospectPhn != undefined && !prospectPhn.startsWith("+")) {
						var prospectPhn = $('#params_contact_phone_number_1').val(prevCountry + " " + prospectPhn);
					}
				}
				//countryNameDb.val(countryData.name.split("(")[0]);

				var input_place_holder = telInput.attr('placeholder');

				if (target_field.val()) {
				target_field.val('');
				target_field.attr('placeholder', input_place_holder);
				} else {
				target_field.attr('placeholder', input_place_holder);
				}

			});

				var code;
				var isd;
				var countryData = $.fn.intlTelInput.getCountryData();
				var country = phone_country_db;

				$.each(countryData, function(k, v) {

					if (v.name.split(" ")[0] == country) {
					isd= v.dialCode;
					code = v.iso2;
					}

				});
				if (prospectPhn != undefined && !prospectPhn.startsWith("+")) {
					var prospectPhn = $('#params_contact_phone_number_1').val("+" + isd + " " + prospectPhn);
				}
				var tempCode = localStorage.getItem("countryCode");
				if(code == undefined) {
					code = tempCode;
				}
				telInput.intlTelInput("setCountry", code);
			}

			var tempCountry = localStorage.getItem("country");
				if(tempCountry == null || tempCountry == "") {
					initCountryPhone("params_contact_phone_number_1", "UnitedStates", "mes_params_phone_num_1");
				} else {
					initCountryPhone("params_contact_phone_number_1", tempCountry, "mes_params_phone_num_1");
				}
		});
		// Country ISD code jquery - end
		// Country ISD code jquery - end
		// Domain(ABM List) Logic with ajax
		
	</script>
</script>

<!-- CREATE PROSPECT MODAL - RESEACH_AND_DIAL -->
<link href="uikit/css/uikit.min.css" rel="stylesheet">
<link href="css/perfect-scrollbar.min.css" rel="stylesheet">
<link href="css/xeditable.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="uikit/js/uikit.min.js"></script>
<div class="agent-container">
 	<div class="container nopad">
		<div class="alert alert-info alert-dismissible" ng-if="notices.length > 0">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close" ng-click="resetNotices()">
				<span aria-hidden="true">&times;</span>
			</button>
			<p ng-repeat="notice in notices track by $index">
				{{notice}}
			</p>
		</div>
		<div class = "agent-toast">
			<span class="toaster-margin">
					<toaster-container
						toaster-options="{'showDuration': 120, 'time-out':4000, 'close-button':true , 'position-class': 'toast-cust-pos'}"></toaster-container>
			</span>
		</div>
<div class="clearfix"></div>
<audio id="audioElement" volume="0.8" display="none"></audio>
<audio id="play" src="../../sounds/beep.wav" display="none"></audio>
		<section class=" left-block mobile-agent">
			<div class="row margin-right">
				<div class="col-md-12">
					<div class="white-bg " style="border-radius: 0;">
						<div ng-show="showCreateLink && parent.status == 'ONLINE'">
							<a class="alternate-prospect-link" ng-click="showResearchAndDialProspectModal()">Create Prospect</a>
						</div>
						<div>
							<h3 class="heading">Prospect Details</h3>
							<div class="col-sm-4 col-md-4 nopad prospect-gen">
								<p class="label-title">
									<label>Name</label> <span class="label-value"
										ng-if="showNameForm == false">{{prospectCall.prospect.name || '--' }}</span> <span
										class="editable-controls form-group"
										ng-if="showNameForm == true"> <input type="text" ng-trim="true"
										ng-model="prospect.nameCopy" only-letters-input 
										class="editable-has-buttons editable-input form-control">
										<span class="editable-buttons">
											<button class="btn btn-primary" ng-click="editSaveNameInfo()"
												type="submit">
												<span class="glyphicon glyphicon-ok"></span>
											</button>
											<button ng-click="editHideNameInfo()" class="btn btn-default"
												type="button">
												<span class="glyphicon glyphicon-remove"></span>
											</button>
									</span>
									</span>
								</p>
								<p>
									<label>Phone</label>
										<span class="label-value"  ng-if="showPhoneForm == false && campaign.hidePhone == true && parent.state < 2">--</span>
										<span class="label-value"  ng-if="showPhoneForm == false && campaign.hidePhone == true && parent.state > 2">xxx-xxx-xxxx</span>
										<span class="label-value"  ng-if="showPhoneForm == false && campaign.hidePhone == false">{{getProspectPhone() | tel}}</span>
									<span
										class="editable-controls form-group"
										ng-if="showPhoneForm == true"> <input type="text" ng-trim="true"
										ng-model="prospect.phoneCopy"
										class="editable-has-buttons editable-input form-control">
										<span class="editable-buttons">
											<button class="btn btn-primary" ng-click="editSavePhoneInfo()"
												type="submit">
												<span class="glyphicon glyphicon-ok"></span>
											</button>
											<button ng-click="editHidePhoneInfo()" class="btn btn-default"
												type="button">
												<span class="glyphicon glyphicon-remove"></span>
											</button>
										</span>
									</span>
								</p>
								<p>
									<label>Email</label><span class="label-value"  ng-if="showEmailForm == false">{{showHideEmailOnScreen() || '--' }}</span>
									<span
										class="editable-controls form-group"
										ng-if="showEmailForm == true"> <input type="text" ng-trim="true"
										ng-model="prospect.emailCopy"
										class="editable-has-buttons editable-input form-control">
										<span class="editable-buttons">
											<button class="btn btn-primary" ng-click="editSaveEmailInfo()"
												type="submit">
												<span class="glyphicon glyphicon-ok"></span>
											</button>
											<button ng-click="editHideEmailInfo()" class="btn btn-default"
												type="button">
												<span class="glyphicon glyphicon-remove"></span>
											</button>
										</span>
									</span>
								</p>
							</div>
							<div class="col-sm-5 col-md-5 nopad">
								<p>
									<label>Company</label><span class="label-value" ng-if="showCompanyForm == false">{{getProspectCompany()}}</span>
									<span
										class="editable-controls form-group"
										ng-if="showCompanyForm == true"> <input type="text" ng-trim="true"
										ng-model="prospect.companyCopy"
										class="editable-has-buttons editable-input form-control">
										<span class="editable-buttons">
											<button class="btn btn-primary" ng-click="editSaveCompanyInfo()"
												type="submit">
												<span class="glyphicon glyphicon-ok"></span>
											</button>
											<button ng-click="editHideCompanyInfo()" class="btn btn-default"
												type="button">
												<span class="glyphicon glyphicon-remove"></span>
											</button>
									</span>
									</span>
								</p>
								<p>
									<label>extn</label><span class="label-value"
										ng-if="showDeptForm == false">{{
										prospectCall.prospect.extension || '--' }}</span>
								</p>
								<p>
									<label>role</label><span class="label-value"
										ng-if="showTitleForm == false">{{
										prospectCall.prospect.title || '--' }}</span>
										<span
										class="editable-controls form-group"
										ng-if="showTitleForm == true"> <input type="text" ng-trim="true"
										ng-model="prospect.titleCopy"
										class="editable-has-buttons editable-input form-control">
										<span class="editable-buttons">
											<button class="btn btn-primary" ng-click="editSaveTitleInfo()"
												type="submit">
												<span class="glyphicon glyphicon-ok"></span>
											</button>
											<button ng-click="editHideTitleInfo()" class="btn btn-default"
												type="button">
												<span class="glyphicon glyphicon-remove"></span>
											</button>
									</span>
									</span>
					
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mobile-section white-bg text-center">
				<div class="dialer-box col-xs-12">
					<h3 class="dialer-heading heading text-left pull-left">Dialer</h3>
					<div class="dialer-nopadbox col-sm-2 col-md-2 nopad pull-right">
						<div class="white-bg call-summary">
							<div ng-controller="prospectTimerController">
								<h3 class="nopadbox-heading heading pull-left">Lead timer</h3>
								<span class="timer pull-left"><timer autostart="false" interval="1000">{{hours | numberFixedLen:2}}:{{minutes | numberFixedLen:2}}:{{seconds | numberFixedLen:2}}</timer></span>
							</div>
						</div>
					</div>
				</div>


				<div ng-controller="callTimerController" ng-show = "showCallTimer && !hideCallStatusTimer">
					<label class = "col-md-6 col-sm-6"> On Call </label>
						<span class="label-value cwhite-bg ol-md-3">
							<timer autostart="false" interval="1000"> {{minutes |numberFixedLen:2}}:{{seconds | numberFixedLen:2}} </timer>
						</span>
				</div>
				<div ng-controller="muteCallTimerController" ng-show ="showMuteTimer && !hideCallStatusTimer">
					<label class = "col-md-6">On Mute</label>
					<span class="label-value col-md-3">
						<timer autostart="false" interval="1000"> {{minutes | numberFixedLen:2}}:{{seconds| numberFixedLen:2}} </timer>
					</span>
				</div>
				<div ng-controller="holdCallTimerController" ng-show ="showHoldTimer && !hideCallStatusTimer">
					<label class = "col-md-6">On Hold</label>
					<span class="label-value col-md-3">
						<timer autostart="false" interval="1000"> {{minutes | numberFixedLen:2}}:{{seconds| numberFixedLen:2}} </timer>
					</span>
				</div>
				<div ng-controller="wrapupTimerController"  ng-show = "showWrapUpTimer">
					<label class = "col-md-7">wrap-up timer</label>
						<span class="label-value col-md-3">
							<timer autostart="false" interval="1000"> {{minutes | numberFixedLen:2}}:{{seconds| numberFixedLen:2}} </timer>
						</span>
				</div>
				
				
				<div class="uk-button-dropdown" data-uk-dropdown="{delay: 1000}">
					<button ng-disabled = "isPhoneNumberConnected || prospectCall.prospect.prospectType == 'POWER'" class="btn btn-default blue-btn btn-small dial-btn-width" ng-click="connectCall()" >
						Dial
					</button>
					<button class="btn btn-default blue-btn btn-small dial-btn-width" ng-click="toggleDialPadOnClick()" >
						Dial Pad
					</button>

					<div class="dialer-screen"	ng-if="isDialPad">
						<div id="call-status">
							<!-- <button class="btn btn-default blue-btn btn-small" ng-if="!muteStatus" ng-disabled="!isStateThree()" ng-click="toggleMute()">Mute</button>
							<button class="btn btn-default blue-btn btn-small" ng-if="muteStatus"
									ng-disabled="!isStateThree()" ng-click="toggleMute()">Unmute</button> -->
						</div>

						<div class="number-pad">
							<div class="num-cont">
								<button ng-disabled="!isStateThree()" ng-click="clickPad('1')">1</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('2')">
									2<span><i>A</i><i>B</i><i>C</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('3')">
									3 <span><i>D</i><i>E</i><i>F</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('4')">
									4 <span><i>G</i><i>H</i><i>I</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('5')">
									5 <span><i>J</i><i>K</i><i>L</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('6')">
									6 <span><i>M</i><i>N</i><i>O</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('7')">
									7 <span><i>P</i><i>Q</i><i>R</i><i>S</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('8')">
									8 <span><i>T</i><i>U</i><i>V</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('9')">
									9 <span><i>W</i><i>X</i><i>Y</i><i>Z</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('*')" class="text-center">*</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('0')">0</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('#')" class="text-center">#</button>
							</div>
						</div>
						<!-- <div id="call-status">
							<button class="btn btn-default red-btn btn-large" ng-click="endCall()"
								ng-disabled="!isStateThree()">Disconnect</button>
						</div> -->
					</div>
				</div>
				<div id="call-status" class=" orig-call-status">
					<button class="btn btn-default blue-btn btn-small" ng-if="!muteStatus" ng-disabled="!isStateThree()"
						ng-click="toggleMute()">Mute</button>
					<button class="btn btn-default blue-btn btn-small" ng-if="muteStatus"
						ng-disabled="!isStateThree()" ng-click="toggleMute()">Unmute</button>
					<button class="btn btn-default red-btn btn-large" ng-click="endCall()"
						ng-disabled="!isStateThree()">Disconnect</button>
				</div>
			
			</div>

			<div class="row tab">
				<div role="tabpanel" id="tabpanel">
					<!--Nav tabs-->
					<ul class="nav nav-tabs hidden-xs hidden-sm" role="tablist">
						<li role="presentation" ng-click="opentabs('Questions');"
							ng-class="{ 'active': isCurrentTab == 'Questions'}" class="">
							<a href="#questions"  title="Qualifying Questions" 
							aria-controls="questions" role="tab" data-toggle="tab">Questions</a>
						</li>
					</ul>
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" ng-click="opentabs('ScriptAndAsset');"
							ng-class="{ 'active': isCurrentTab == 'ScriptAndAsset'}"><a
							href="#scriptandassets"  title="Script and Assets" aria-controls="notes" role="tab" data-toggle="tab">Script and Asset</a>
						</li>	
					</ul>
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" ng-click="opentabs('Notes');"
							ng-class="{ 'active': isCurrentTab == 'Notes'}"><a
							href="#notes"  title="Internal Notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a>
						</li>	
					</ul>
					<!--Start Tab panes-->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane hidden-xs hidden-sm" ng-class="{ 'active': isCurrentTab == 'Questions'}" id="questions">
							<div id="carousel-example-generic" class="carousel">
								<!--Indicators-->
								<ol class="carousel-indicators">
									<li data-target="#carousel-example-generic" data-slide-to="0"></li>
									<li data-target="#carousel-example-generic" data-slide-to="1"></li>
									<li data-target="#carousel-example-generic" data-slide-to="2"></li>
								</ol>
								<!--Wrapper for slides-->
								<div class="carousel-inner" role="listbox">
									<div ng-repeat="(name, question) in campaign.questionAttributeMap  | orderObjectBy:'' "
										ng-class="{ 'active': isCurrentQuestion == $index+1}" class="item">
										<div class="innercontent">
											<span>{{question.questionSkin}}</span><br />
											<div ng-switch="getQuestionType(question)">
												<div ng-switch-when="radio">
													<div ng-repeat="option in question.pickList">
														<input type="radio" ng-disabled="!isStateTwoAbove()"
															ng-change="setDepartmentTitle(question, prospectCall.answers[$parent.$index].answer, question.pickList, $parent.$index);checkQualifiedCriteria(question.crmName, prospectCall.answers[$parent.$index].answer, question.pickList, $parent.$index, question);"
															ng-value="option.value" ng-model="prospectCall.answers[$parent.$index].answer"
															name="{{name}}" value="{{option.value}}" /> {{option.label}}<br />
													</div>
												</div>
												<div ng-switch-when="combo">
													<select ng-disabled="!isStateTwoAbove()"
														ng-change="setDepartmentTitle(question, prospectCall.answers[$parent.$index].answer, question.pickList, $index);checkQualifiedCriteria(question.crmName, prospectCall.answers[$parent.$index].answer, question.pickList, $index, question);"
														class="form-control" ng-model="prospectCall.answers[$parent.$index].answer"
														ng-options="option.value as option.label for option in question.pickList">
														<option value="">Please Select</option>
													</select>
												</div>
												<div ng-switch-when="string">
													<input ng-show="question.pickList.length == 0" type="text" ng-trim="true"
														ng-disabled="!isStateTwoAbove()"
														ng-blur="setDepartmentTitle(question, prospectCall.answers[$parent.$index].answer, question.pickList, $index);checkQualifiedCriteria(question.crmName, prospectCall.answers[$parent.$index].answer, question.pickList, $index, question);"
														ng-model="prospectCall.answers[$parent.$index].answer" class="form-control" />
													<select ng-show="question.pickList.length > 0 && question.pickList.length > 4"
														ng-disabled="!isStateTwoAbove()"
														ng-change="setDepartmentTitle(question, prospectCall.answers[$parent.$index].answer, question.pickList, $index);checkQualifiedCriteria(question.crmName, prospectCall.answers[$parent.$index].answer, question.pickList, $index, question);"
														class="form-control" ng-model="prospectCall.answers[$parent.$index].answer"
														ng-options="option.value as option.label for option in question.pickList">
														<option value="">Please Select</option>
													</select>
					
													<div ng-show="question.pickList.length < 5" ng-repeat="option in question.pickList">
														<input type="radio" ng-disabled="!isStateTwoAbove()"
															ng-change="setDepartmentTitle(question, prospectCall.answers[$parent.$index].answer, question.pickList, $parent.$index);checkQualifiedCriteria(question.crmName, prospectCall.answers[$parent.$index].answer, question.pickList, $parent.$index, question);"
															ng-value="option.value" ng-model="prospectCall.answers[$parent.$index].answer"
															name="{{name}}" value="{{option.value}}" /> {{option.label}}<br />
													</div>
					
												</div>
												<div ng-switch-when="double">
													<input type="number" ng-disabled="!isStateTwoAbove()"
														ng-blur="setDepartmentTitle(question, prospectCall.answers[$parent.$index].answer, question.pickList, $index);checkQualifiedCriteria(question.crmName, prospectCall.answers[$parent.$index].answer, question.pickList, $index, question);"
														ng-model="prospectCall.answers[$parent.$index].answer" class="form-control" />
												</div>
											</div>
										</div>
									</div>
									<p ng-show="totalQuestion > 0" class="total-ques">
										<span>{{isCurrentQuestion}}</span> <span>of</span> <span>{{totalQuestion}}</span>
									</p>
								</div>
								<!--Controls-->
								<a ng-show="totalQuestion > 0" class="left carousel-control" href=""
									ng-class="{'disable' : isCurrentQuestion == 1}" ng-disable="isCurrentQuestion == 1"
									ng-click="leftSlide()">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span
										class="sr-only">Previous</span>
								</a>
								<a ng-show="totalQuestion > 0" class="right carousel-control" href="" ng-click="rightSlide()"
									ng-class="{'disable' : isCurrentQuestion == totalQuestion}"> <span
										class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" ng-class="{ 'active': isCurrentTab == 'ScriptAndAsset'}" id="scriptAndAssets">
							<div class="innercontent text-center">
								<div class="small-inner-block">
									<a href="{{assetInfo.url}}" target="_blank"><strong>{{	assetInfo.name}}</strong></a>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" ng-class="{ 'active': isCurrentTab == 'Notes','finalstep': isAddNote == true}"
							id="notes">
							<div class="innercontent text-center">
								<div class="small-inner-block">
									<div class="form-group">
										<textarea ng-disabled="!isStateTwoAbove()" ng-model="parent.note"
											class="form-control add-note-field"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				<!-- End Tab-Panes -->
		</section>
		<aside class="right-sidebar">
			<div class="tab-desktop-section white-bg text-center">
				<h3 class="heading text-left">Dialer</h3>
				<div ng-controller="callTimerController" ng-show = "showCallTimer && !hideCallStatusTimer">
					<label class = "col-md-6 col-sm-6"> On Call </label>
						<span class="label-value col-md-3">
							<timer autostart="false" interval="1000"> {{minutes |numberFixedLen:2}}:{{seconds | numberFixedLen:2}} </timer>
						</span>
				</div>
				<div ng-controller="muteCallTimerController" ng-show ="showMuteTimer && !hideCallStatusTimer">
					<label class = "col-md-6">On Mute</label>
					<span class="label-value col-md-3">
						<timer autostart="false" interval="1000"> {{minutes | numberFixedLen:2}}:{{seconds| numberFixedLen:2}} </timer>
					</span>
				</div>
				<div ng-controller="holdCallTimerController" ng-show ="showHoldTimer && !hideCallStatusTimer">
					<label class = "col-md-6">On Hold</label>
					<span class="label-value col-md-3">
						<timer autostart="false" interval="1000"> {{minutes | numberFixedLen:2}}:{{seconds| numberFixedLen:2}} </timer>
					</span>
				</div>
				<div ng-controller="wrapupTimerController"  ng-show = "showWrapUpTimer">
					<label class = "col-md-7">wrap-up timer</label>
						<span class="label-value col-md-3">
							<timer autostart="false" interval="1000"> {{minutes | numberFixedLen:2}}:{{seconds| numberFixedLen:2}} </timer>
						</span>
				</div>
				<div class="number-display"  ng-show = "!isClickPad">
							<input type="text" ng-trim="true" ng-model="parent.numberToDial" class="form-control" placeholder="" readonly/>
							</div>
				<div class="number-display"  ng-show = "isClickPad">
							<input type="text" ng-trim="true" ng-model="parent.numberWithExtensionToDial" class="form-control" placeholder="" readonly/>
						</div>
				<div class="uk-button-dropdown" data-uk-dropdown="{delay: 1000}">
					<button ng-disabled = "isPhoneNumberConnected || prospectCall.prospect.prospectType == 'POWER'" class="btn btn-default blue-btn btn-small dial-btn-width" ng-click="connectCall()" >
						 Dial
					</button>
					<button class="btn btn-default blue-btn btn-small dial-btn-width" ng-click="toggleDialPadOnClick()" >
						Dial Pad
					</button>

					<div class="dialer-screen"	ng-if="isDialPad">
						<div id="call-status">
							<button class="btn btn-default blue-btn btn-small" ng-if="!muteStatus" ng-disabled="!isStateThree()" ng-click="toggleMute()">Mute</button>
							<button class="btn btn-default blue-btn btn-small" ng-if="muteStatus"
									ng-disabled="!isStateThree()" ng-click="toggleMute()">Unmute</button>
							<button class="btn btn-default blue-btn btn-small" ng-if="callOnHoldShow" ng-click="callOnHold()" ng-disabled="!isStateThree()">Hold</button>
							<button class="btn btn-default blue-btn btn-small" ng-if="callOnHoldShow == false" ng-click="callOnUNHOLD()" ng-disabled="!isStateThree()">UnHold</button>
						</div>

						<div class="number-pad">
							<div class="num-cont">
								<button ng-disabled="!isStateThree()" ng-click="clickPad('1')">1</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('2')">
									2<span><i>A</i><i>B</i><i>C</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('3')">
									3 <span><i>D</i><i>E</i><i>F</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('4')">
									4 <span><i>G</i><i>H</i><i>I</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('5')">
									5 <span><i>J</i><i>K</i><i>L</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('6')">
									6 <span><i>M</i><i>N</i><i>O</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('7')">
									7 <span><i>P</i><i>Q</i><i>R</i><i>S</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('8')">
									8 <span><i>T</i><i>U</i><i>V</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('9')">
									9 <span><i>W</i><i>X</i><i>Y</i><i>Z</i></span>
								</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('*')" class="text-center">*</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('0')">0</button>
								<button ng-disabled="!isStateThree()" ng-click="clickPad('#')" class="text-center">#</button>
								<!--<button class="ignore-call"><img src="img/ignore_call_icon.png"  class="img-responsive"/></button>-->
								<!--<button class="attand-call"><img src="img/attand_call_icon.png" class="img-responsive" /></button>-->
							</div>
						</div>
						<div id="call-status">
							<button class="btn btn-default red-btn btn-large" ng-click="endCall()"
								ng-disabled="!isStateThree()">Disconnect</button>
						</div>
					</div>
				</div>
				<div id="call-status" class=" orig-call-status">
					<button class="btn btn-default blue-btn btn-small" ng-if="!muteStatus" ng-disabled="!isStateThree()"
						ng-click="toggleMute()">Mute</button>
					<button class="btn btn-default blue-btn btn-small" ng-if="muteStatus"
						ng-disabled="!isStateThree()" ng-click="toggleMute()">Unmute</button>
					<button class="btn btn-default blue-btn btn-small" ng-if="callOnHoldShow" ng-click="callOnHold()" ng-disabled="!isStateThree()">Hold</button>
					<button class="btn btn-default blue-btn btn-small" ng-if="callOnHoldShow == false" ng-click="callOnUNHOLD()" ng-disabled="!isStateThree()">UnHold</button>
					<button class="btn btn-default red-btn btn-large" ng-click="endCall()"
						ng-disabled="!isStateThree()">Disconnect</button>
				</div>
			</div>

			<div class="row tab mobile-tab-question hidden-md hidden-lg" 
				 ng-show="showCustomQuestionsOnMobileUI">
				<div role="tabpanel" id="tabpanel">
					<!--Nav tabs-->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" ng-click="opentabs('Questions');"
							ng-class="{ 'active': isCurrentTab == 'Questions'}" class="">
							<a href="#questions"  title="Qualifying Questions" 
							aria-controls="questions" role="tab" data-toggle="tab">Questions</a>
						</li>
					</ul>
				</div>	
				
			<div role="tabpanel" class="tab-pane "
			ng-class="{ 'active': isCurrentTab == 'Questions'}"
			id="questions">
			<div id="carousel-example-generic" class="carousel">
				<!--Indicators-->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
				<!--Wrapper for slides-->
				<div class="carousel-inner" role="listbox">
					<div
						ng-repeat="(name, question) in campaign.questionAttributeMap  | orderObjectBy:'' "
						ng-class="{ 'active': isCurrentQuestion == $index+1}"
						class="item">
						<div class="innercontent">
							<span>{{question.questionSkin}}</span><br />
							<div ng-switch="getQuestionType(question)">
								<div ng-switch-when="radio">
									<div ng-repeat="option in question.pickList">
										<input type="radio"  ng-disabled="!isStateTwoAbove()" ng-change="setDepartmentTitle(question, prospectCall.answers[$parent.$index].answer, question.pickList, $parent.$index);checkQualifiedCriteria(question.crmName, prospectCall.answers[$parent.$index].answer, question.pickList, $parent.$index, question);"
											ng-value="option.value"
											ng-model="prospectCall.answers[$parent.$index].answer" name="{{name}}"
											value="{{option.value}}"  /> {{option.label}}<br />
									</div>
								</div>
								<div ng-switch-when="combo">
									<select ng-disabled="!isStateTwoAbove()" ng-change="setDepartmentTitle(question, prospectCall.answers[$parent.$index].answer, question.pickList, $index);checkQualifiedCriteria(question.crmName, prospectCall.answers[$parent.$index].answer, question.pickList, $index, question);"
										class="form-control" ng-model="prospectCall.answers[$parent.$index].answer"
										ng-options="option.value as option.label for option in question.pickList">
										<option value="">Please Select</option>
									</select>
								</div>
								<div ng-switch-when="string">
									<input ng-show="question.pickList.length == 0" type="text" ng-trim="true" ng-disabled="!isStateTwoAbove()" ng-blur="setDepartmentTitle(question, prospectCall.answers[$parent.$index].answer, question.pickList, $index);checkQualifiedCriteria(question.crmName, prospectCall.answers[$parent.$index].answer, question.pickList, $index, question);"
										ng-model="prospectCall.answers[$parent.$index].answer" class="form-control" />
										<select ng-show="question.pickList.length > 0 && question.pickList.length > 4" ng-disabled="!isStateTwoAbove()" ng-change="setDepartmentTitle(question, prospectCall.answers[$parent.$index].answer, question.pickList, $index);checkQualifiedCriteria(question.crmName, prospectCall.answers[$parent.$index].answer, question.pickList, $index, question);"
										class="form-control" ng-model="prospectCall.answers[$parent.$index].answer"
										ng-options="option.value as option.label for option in question.pickList">
										<option value="">Please Select</option>
									</select>

									<div ng-show="question.pickList.length < 5" ng-repeat="option in question.pickList">
										<input type="radio"  ng-disabled="!isStateTwoAbove()" ng-change="setDepartmentTitle(question, prospectCall.answers[$parent.$index].answer, question.pickList, $parent.$index);checkQualifiedCriteria(question.crmName, prospectCall.answers[$parent.$index].answer, question.pickList, $parent.$index, question);"
											ng-value="option.value"
											ng-model="prospectCall.answers[$parent.$index].answer" name="{{name}}"
											value="{{option.value}}"  /> {{option.label}}<br />
									</div>

								</div>
								<div ng-switch-when="double">
									<input type="number" ng-disabled="!isStateTwoAbove()" ng-blur="setDepartmentTitle(question, prospectCall.answers[$parent.$index].answer, question.pickList, $index);checkQualifiedCriteria(question.crmName, prospectCall.answers[$parent.$index].answer, question.pickList, $index, question);"
										ng-model="prospectCall.answers[$parent.$index].answer" class="form-control" />
								</div>
							</div>
						</div>
					</div>
					<p ng-show="totalQuestion > 0" class="total-ques">
						<span>{{isCurrentQuestion}}</span> <span>of</span> <span>{{totalQuestion}}</span>
					</p>
				</div>
				<!--Controls-->
				<a ng-show="totalQuestion > 0" class="left carousel-control" href="" ng-class="{'disable' : isCurrentQuestion == 1}" ng-disable="isCurrentQuestion == 1" ng-click="leftSlide()">
					<span class="glyphicon glyphicon-chevron-left"
					aria-hidden="true"></span> <span class="sr-only">Previous</span>
				</a>
				<a ng-show="totalQuestion > 0" class="right carousel-control" href=""
					ng-click="rightSlide()" ng-class="{'disable' : isCurrentQuestion == totalQuestion}"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		</div>





			<!-- START : show when simpleDisposition is true for specific campaign -->
			<div class="white-bg no-radius dispo-block" ng-class="{ 'active-border': isAddNote == true}" style="padding: 0 3px 0 10px;">
				<!-- <div class= "left-dispose-blk">
					<ul class="callstatus-list custome-radio">
						<li>
							<h3 class="heading">Disposition</h3>
						</li>
						<li class="radio">
							<input type="radio" id="success" ng-disabled="parent.state < 3"
							 ng-model="prospectCall.dispositionStatus" ng-click="setDisposition('SUCCESS')" name="simpledisposition" value="SUCCESS" />
							<label for="success" title="We talked directly to the prospect. They met all criteria for lead submission:  1. They had interest 2. They were properly qualified 3. Details are confirmed as correct and 4. They gave consent.">Success</label>
						</li>
						<li class="radio">
							<input id="failure" ng-disabled="parent.state < 3" type="radio" ng-click="setDisposition('FAILURE')"
							  ng-model="prospectCall.dispositionStatus" name="simpledisposition" value="FAILURE" />
							<label for="failure" title="Failure">Failure</label>
						</li>
						<li class="radio">
							<input id="dncl" ng-disabled="parent.state < 3" type="radio" ng-click="setDisposition('DNCL')"
							  ng-model="prospectCall.dispositionStatus" name="simpledisposition" value="DNCL" />
							<label for="dncl" title="Dnc">Dncl</label>
						</li>
						<li class="radio">
							<input id="callback-user" ng-disabled="parent.state < 3" ng-click="setCallbackStatus('CALLBACK_USER_GENERATED')" ng-model="callbackcode" name="simpledisposition" value="CALLBACK_USER_GENERATED"
							 type="radio"/>
							<label for="callback-user" title="Callbacks are NOT good to set as our chances of reaching the party are greatly reduced. Only do so if there are no other options. The prospect insists upon us setting a callback because they do not have even 1 or 2 minutes to talk with us.">Callback</label>
						</li>
						<li class="radio">
							<input id="ansmach" type="radio" ng-disabled="parent.state < 3" name="simpledisposition"
							ng-click="setDialerCodeStatus('ANSWERMACHINE')" value="ANSWERMACHINE" ng-model="dialercodestatus" />
							<label for="ansmach" title="When the record was delivered to you and you immediately hear an answering machine message being played. Do not leave a voicemail message; simply disposition the record and move to the next quickly.">Ans Mach</label>
						</li>
						<li class="radio">
							<input id="invalidData" ng-disabled="parent.state < 3" type="radio" ng-click="setDisposition('INVALID_DATA')"
							  ng-model="prospectCall.dispositionStatus" name="simpledisposition" value="INVALID_DATA" />
							<label for="invalidData" title="Data Invalid">Data Invalid</label>
						</li>
					</ul>
				</div> -->
				<h3 class="dialer-heading heading text-left pull-left">Disposition</h3>
				<select name="dispositionStatus" class="form-control text-color size-select settings-inputbox"
                                ng-change="setDisposition(prospectCall.dispositionStatus)"    ng-model="prospectCall.dispositionStatus">
					<option value="" disabled>Please Select</option>
					<option value="SUCCESS">SUCCESS</option>
					<option value="FAILURE">FAILURE</option>
					<option value="DNCL">DNCL</option>
					<option value="CALLBACK">CALLBACK</option>
					<option value="ANSWERMACHINE"> ANS MACH</option>
					<option value="DATA INVALID"> DATA INVALID</option>
                </select>

				<!-- <p class="col-md-12 disposition-status" ng-if="prospectCall.dispositionStatus != null && prospectCall.dispositionStatus != '' && prospectCall.subStatus != null && prospectCall.subStatus != ''">
					<span class=" text-left">{{getDispositionLabel(prospectCall.dispositionStatus)}} </span>
					<span class=" text-left"> - </span>
					<span class="text-left">{{getDispositionLabel(prospectCall.subStatus)}}</span>
				</p> -->
				<div>
					<button class="btn-main" ng-disabled="!canSubmit() || !submitLeadFlag"  ng-click="submitProspect()"  ng-hide="showConfirmCode">Submit </button>
				</div>
			</div>
		</aside>
	</div>
</div>
<div class="processing" id="ad_loading" ng-show="parent.ajaxWaiting">
	<div class="processing_message">
		<span>Processing</span>
		<p align="center">
			<img alt="processing" src="images/loader_circle.gif">
		</p>
	</div>
</div>