<link href="css/agentsplash.css" rel="stylesheet">
<div class="center-div cetner-box"
    ng-show="confirmSectionScript != null || confirmSectionScript != undefined || questionSectionScript != null  || questionSectionScript != undefined || consentSectionScript != null || consentSectionScript != undefined || noteSectionScript != null || noteSectionScript != undefined">

    <div class="clearfix" ng-show="!loading">
        <div class="center-content clearfix">
            <div class="sup-toast">
                <toaster-container toaster-options="{'showDuration': 120000000000000, 'time-out':4000, 'close-button':true , 'position-class': 'toast-cust-pos-super'}"></toaster-container>
            </div>
            <div class="left-section"
                ng-show="agent.currentCampaign.name != undefined || agent.currentCampaign.id != undefined">
                <div class="col-md-12" ng-show="showAlert">
                    <div style="font-size:13px;color:red;text-align:center;">There is not enough callable data in your campaign for AUTO dialing</div>
                    <div style="font-size:13px;color:red;text-align:center;">Please contact your supervisor</div>
                </div> 
                <div style="font-size:13px;color:red;text-align:center;">{{callbackMessage}}</div>
                <div class="row label-content">
                    <div class="login-style txtalign">
                        <h3>Campaign Information</h3>
                    </div>
                </div>
                <div class="infoalign"
                    ng-show="agent.currentCampaign.name != undefined || agent.currentCampaign.id != undefined">
                    <div class="col-md-12">
                        <div class="align-label-content camp-ifo-align"><span class="control-label text-label">Campaign
                                Name: </span></div>
                        <div class="result-font camp-ifo-align"> {{agent.currentCampaign.name}}</div>
                    </div>
                    <div class="col-md-12">
                        <div class="camp-ifo-align align-label-content"><span class="control-label text-label">Campaign
                                Type: </span></div>
                        <div class="camp-ifo-align result-font">{{agent.currentCampaign.type}}</div>
                    </div>
                    <div class="col-md-12">
                        <div class="camp-ifo-align align-label-content"><span class="control-label text-label">Dialer
                                Mode: </span></div>
                                <div ng-show="agent.currentCampaign.dialerMode != 'PREVIEW'" class="camp-ifo-align result-font">{{agent.currentCampaign.dialerModeLabel}} </div>
                                <div ng-show="agent.currentCampaign.dialerMode == 'PREVIEW'" class="camp-ifo-align result-font">PREVIEW</div>
                    </div>
                    <div class="col-md-12" ng-show="agent.currentCampaign.dialerMode == 'HYBRID' && agent.currentCampaign.type !='Prospecting'">
                        <div class="camp-ifo-align align-label-content"><span class="control-label text-label">Agent
                                Mode: </span></div>
                        <div class="camp-ifo-align result-font">{{agentDetails.agentType}} </div>
                    </div>
                    <!-- <div class="col-md-12">
                        <div class="camp-ifo-align align-label-content"><span class="control-label text-label">Vertical: </span></div>
                        <div class="camp-ifo-align result-font">{{agent.currentCampaign.vertical}} </div>
                    </div> -->
                </div>
                <div
                    ng-show="(agent.currentCampaign.name == undefined || agent.currentCampaign.id == undefined) && agent.currentCampaign.nextWorkSlot != undefined">
                    <div class="col-md-12 label-content control-label"> You are currently not allocated to any campaign.
                        You are schedule for {{agent.currentCampaign.nextWorkSlot.workUnitName}} campaign at
                        <span
                            ng-show="agent.currentCampaign.nextWorkSlot.startHour == 0 ">{{agent.currentCampaign.nextWorkSlot.startHour+12}}
                            A.M</span>
                        <span
                            ng-show="agent.currentCampaign.nextWorkSlot.startHour < 12 && agent.currentCampaign.nextWorkSlot.startHour > 0">{{agent.currentCampaign.nextWorkSlot.startHour}}
                            A.M</span>
                        <span
                            ng-show="agent.currentCampaign.nextWorkSlot.startHour >= 12 ">{{agent.currentCampaign.nextWorkSlot.startHour-12}}
                            P.M</span> today
                    </div>
                </div>
                <!-- <div
                    ng-show="(agent.currentCampaign.name == undefined || agent.currentCampaign.id == undefined) && agent.currentCampaign.nextWorkSlot == undefined">
                    <div class="col-md-12 label-content control-label">You are not schedule for any campaign today.
                        Please check with your supervisor.
                    </div>
                </div> -->
                <div class="row  label-content"
                    ng-show="agent.currentCampaign.name != undefined || agent.currentCampaign.id != undefined">
                    <button ng-show="showGoOnlineButton" class="bluenextbtn" style="font-size: 18px; width: 175px;" ng-click="goOnlineDesktop()">Desktop Online</button>
                    <button ng-show="showGoOnlineButton" class="bluenextbtn" style="font-size: 18px; width: 175px;" ng-click="goOnlineMobileDesktop()">Mobile Online</button>
                    <span ng-show="!showGoOnlineButton"> Testing network connection please wait...</span>
                </div>
                <!-- <div class="align-training-doc-lnk tdoc"> <a href="" ng-click="getTrainingDocuments('training/agent/')"> Training Documents</a>&nbsp;&nbsp; &nbsp;<a href = "" ng-click = "goToScoredCalls()"> Scored Calls</a></div> -->
            </div>


            <div class="right-section"
            ng-show="confirmSectionScript != null || confirmSectionScript != undefined || questionSectionScript != null  || questionSectionScript != undefined || consentSectionScript != null || consentSectionScript != undefined || noteSectionScript != null || noteSectionScript != undefined">
                <div class="row label-content">
                    <div class="login-style txtalign">
                        <h3>Script</h3>
                    </div>

                    <div class="tabContainer">
                        <ul id="tabHeader" class="nav nav-tabs" role="tablist">
                            <li role="presentation" ng-class="{'active':scriptSelectedTab == 'questions'}"><a
                                    href="#questions" aria-controls="home" role="tab" data-toggle="tab">Questions</a>
                            </li>
                            <li role="presentation" ng-class="{'active':scriptSelectedTab == 'confirm'}"><a
                                    href="#confirm" aria-controls="home" role="tab" data-toggle="tab">Confirm</a></li>
                            <li role="presentation" ng-class="{'active':scriptSelectedTab == 'consent'}"><a
                                    href="#consent" aria-controls="profile" role="tab" data-toggle="tab">Consent</a>
                            </li>
                            <li role="presentation" ng-class="{'active':scriptSelectedTab == 'notes'}"><a href="#notes"
                                    aria-controls="profile" role="tab" data-toggle="tab">Notes</a></li>
                        </ul>
                        <div class="tab-content" style="border:1px solid">
                            <div role="tabpanel" class="tab-pane white-bg-block"
                                ng-class="{'active':scriptSelectedTab == 'questions'}" id="questions">
                                    <p ng-bind-html="questionSectionScript" style="background: white;"></p>
                            </div>
                            <div role="tabpanel" class="tab-pane white-bg-block"
                                ng-class="{'active':scriptSelectedTab == 'confirm'}" id="confirm">
                                <p ng-bind-html="confirmSectionScript" style="background: white;"></p>
                            </div>
                            <div role="tabpanel" class="tab-pane white-bg-block"
                                ng-class="{'active':scriptSelectedTab == 'consent'}" id="consent">
                                <p ng-bind-html="consentSectionScript" style="background: white;"></p>
                            </div>
                            <div role="tabpanel" class="tab-pane white-bg-block"
                                ng-class="{'active':scriptSelectedTab == 'notes'}" id="notes">
                                <p ng-bind-html="noteSectionScript" style="background: white;"></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div
                ng-show="(agent.currentCampaign.name == undefined || agent.currentCampaign.id == undefined) && agent.currentCampaign.nextWorkSlot == undefined">
                <div class="labelContent">You are not schedule for any campaign today.
                    Please check with your supervisor.
                </div>
            </div>






            <!-- loader -->
            <div class="processing" id="ad_loading" ng-show="loading">
                <div class="processing_message">
                    <span>Processing</span>
                    <p align="center"><img alt="processing" src="images/loader_circle.gif"></p>
                </div>
            </div>
            <!-- /loader -->
        </div>
    </div>
</div>
<div class="cent-div center-box"
    ng-show="confirmSectionScript == undefined && questionSectionScript == undefined && consentSectionScript == undefined && noteSectionScript == undefined">

    <div class="clearfix" ng-show="!loading">
        <div class="cent-content clearfix">
            <div class="col-md-12" ng-show="showAlert">
                <div style="font-size:13px;color:red;text-align:center;">There is not enough callable data in your campaign for AUTO dialing</div>
                <div style="font-size:13px;color:red;text-align:center;">Please contact your supervisor</div>
            </div> 
            <div style="font-size:13px;color:red;text-align:center;">{{callbackMessage}}</div>
            <div class="row label-content">
                <div class="login-style txtalign">
                    <h3>Campaign Information</h3>
                </div>
            </div>
            <div class="infoalign"
                ng-show="agent.currentCampaign.name != undefined || agent.currentCampaign.id != undefined">
                <div class="col-md-12">
                    <div class="align-label-content camp-ifo-align"><span class="control-label text-label">Campaign
                            Name: </span></div>
                    <div class="result-font camp-ifo-align"> {{agent.currentCampaign.name}}</div>
                </div>
                <div class="col-md-12">
                    <div class="camp-ifo-align align-label-content"><span class="control-label text-label">Campaign
                            Type: </span></div>
                    <div class="camp-ifo-align result-font">{{agent.currentCampaign.type}}</div>
                </div>
                <div class="col-md-12" ng-hide="agent.currentCampaign.type =='Prospecting'">
                    <div class="camp-ifo-align align-label-content"><span class="control-label text-label">Dialer Mode:
                        </span></div>
                    <div ng-show="agent.currentCampaign.dialerMode != 'PREVIEW'" class="camp-ifo-align result-font">{{agent.currentCampaign.dialerModeLabel}} </div>
                    <div ng-show="agent.currentCampaign.dialerMode == 'PREVIEW'" class="camp-ifo-align result-font">PREVIEW</div>
                </div>
                <div class="col-md-12" ng-show="agent.currentCampaign.dialerMode == 'HYBRID' && agent.currentCampaign.type !='Prospecting'">
                    <div class="camp-ifo-align align-label-content"><span class="control-label text-label">Agent
                            Mode: </span></div>
                    <div class="camp-ifo-align result-font">{{agentDetails.agentType}} </div>
                </div>
            </div>
            <div
                ng-show="(agent.currentCampaign.name == undefined || agent.currentCampaign.id == undefined) && agent.currentCampaign.nextWorkSlot != undefined">
                <div class="col-md-12 label-content control-label"> You are currently not allocated to any campaign. You
                    are schedule for {{agent.currentCampaign.nextWorkSlot.workUnitName}} campaign at
                    <span
                        ng-show="agent.currentCampaign.nextWorkSlot.startHour == 0 ">{{agent.currentCampaign.nextWorkSlot.startHour+12}}
                        A.M</span>
                    <span
                        ng-show="agent.currentCampaign.nextWorkSlot.startHour < 12 && agent.currentCampaign.nextWorkSlot.startHour > 0">{{agent.currentCampaign.nextWorkSlot.startHour}}
                        A.M</span>
                    <span
                        ng-show="agent.currentCampaign.nextWorkSlot.startHour >= 12 ">{{agent.currentCampaign.nextWorkSlot.startHour-12}}
                        P.M</span> today
                </div>
            </div>
            <div
                ng-show="(agent.currentCampaign.name == undefined || agent.currentCampaign.id == undefined) && agent.currentCampaign.nextWorkSlot == undefined">
                <div class="col-md-12 label-content control-label">You are not schedule for any campaign today. Please
                    check with your supervisor.
                </div>
            </div>
            <div class="row  label-content"
                ng-show="agent.currentCampaign.name != undefined || agent.currentCampaign.id != undefined">
                <button class="bluenextbtn" style="font-size: 18px; width: 175px;" ng-show="showGoOnlineButton" ng-click="goOnlineDesktop()" ng-disabled="isOnlineButtonDisable">Desktop Online</button>
                <button class="bluenextbtn" style="font-size: 18px; width: 175px;" ng-show="showGoOnlineButton" ng-click="goOnlineMobileDesktop()" ng-disabled="isOnlineButtonDisable">Mobile Online</button>

            </div>
            <!-- <div class="align-training-doc-lnk tdoc"> <a href="" ng-click="getTrainingDocuments('training/agent/')"> Training Documents</a>&nbsp;&nbsp; &nbsp;<a href = "" ng-click = "goToScoredCalls()"> Scored Calls</a></div> -->
        </div>
    </div>

</div>