<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true" class="cross-img"></span><span class="sr-only">Close</span></button>
	<h4 class="modal-title" id="addassetLabel">Training Documents</h4>
</div>
<div class="modal-body">
	<div class="breadcrumb" >
		<div style="float:left">
			<i class="glyphicon glyphicon-home"></i>&nbsp;
		</div>
		<div>
			<ol class="breadcrumb">
				<li ng-repeat="crumb in breadcrumbs" class = "handpointer" ng-class="{active: $last }">
					<a ng-if="!$last" ng-click = "getDocs(crumb.key, crumb.value, $index, 0)">{{ crumb.key }}&nbsp;</a>
					<span ng-show="$last" ng-click = "getDocs(crumb.key, crumb.value, $index, 0)">{{ crumb.key }}</span>
				</li>
			</ol>
		</div>
	</div>
	<div class = "training-whitebox">
		<ul class="handpointer newline"  ng-model = "file.filename" ng-repeat = "file in files" ng-show = "files.length != 0">
			<li  ng-show = "file.fileSize <= 0"><a href ="" ng-click = "getDocs(file.filename, file.filepath, null, 1)">{{file.filename}} </a></li>
			<li ng-show = "file.fileSize > 0 "><a href = "spr{{file.url}}">{{file.filename}}</a></li>
		</ul>
		<span class="training-files-alert " ng-show = "files.length == 0">No files exist in this folder !</span>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary"  ng-click="cancel()" >Close</button>
</div>