<script type="text/ng-template" id="forgot-password.html">
<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true" class="cross-img"></span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="addassetLabel">Forgot Password</h4>
	</div>
	<div class="modal-body">
		<form name="forgotpasswordform" class="form-group">
			<div class = "modal-forgot"><span>Enter your username and we'll email you a link to reset your password.</span></div>
			<div>
				<label class="col-md-4 control-label text-label">
						Enter Username <span class="redstar">*</span>
				</label>
				<div class="col-md-8">
            		<input ng-class="{redalert:forgotpasswordform.username.$error.required == true && invalid == true}" type="text" ng-trim="true" name="username" class="form-control text-color" required ng-model="username">
					<div class="error-container" ng-show="invalid">
						<small class="error" ng-show="forgotpasswordform.username.$error.required">
	                                                    Username is required
						</small>
					</div>
				</div>
			</div>
		</form>
	</div>
	<input type="hidden" ng-model="pturl">
	<div class="modal-footer">
		<button type="button" class="btn btn-primary"  ng-click="forgotPassword(username)" >Recover Password</button>
	</div>
<div class="processing" id="ad_loading" ng-show="loading">
<div class="processing_message">
	<span>Processing</span>
	<p align="center"><img alt="processing" src="images/loader_circle.gif"></p>
</div>
</div>
</script>
<style type="text/css">
.footer {position: absolute !important; overflow-y: hidden;}
.modal-backdrop {display:none;}
.modal-content {display:none;}
.modal {display:none;}
.forgotpassword-modal .modal-backdrop {display:block;}
.forgotpassword-modal .modal-content {display:block;}
.forgotpassword-modal .modal {display:block;}
</style>

<div class="login-container">
<span class="toaster-margin">
<toaster-container class="login-toaster"
	toaster-options="{'showDuration': 120, 'time-out':5000000, 'close-button':true , 'position-class': 'toast-cust-pos-login'}"></toaster-container>
</span>
<div id = "finishalert" class="alerts alert-danger" ng-show = "showCallbackAlert">
<button class="close-button" ng-click="hideError()">×</button>	
	<span class="txtformat">You are already logged in as user {{user.id}}</span>	
</div>
<div id = "finishalert" class="alerts alert-danger" ng-show = "showExpiredAlert">
<button class="close-button" ng-click="hideError()">×</button>
	<span class="txtformat">This session has expired as you have logged in from somewhere else</span>		
</div>

	<form novalidate class="login-form"  name="loginForm">
		  	<div class="row">
				<div class="form-group">
					<div class="login-style"><h3>LOGIN</h3></div>
					<div class="image-style"><img src="/images/xtaas_logo.png" class="logo-style"></div>
				</div>
			</div>
			<div class="clear-style"></div>
			<div class="row">
				<div class="form-group">
					<label class="labelloginmargin">Username</label>
					<div class="col-md-12"><input id="username" ng-model="username" type="text" ng-trim="true" class="form-control" focus-me="myInputFocus" required/></div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="labelloginmargin">Password</label>
					<div class="col-md-12"><input id="password" ng-model="password" type="password" class="form-control" required/></div>
				</div>
			</div>
			<div class="row">
					<button class="bluenextbtn" ng-click="login()">LOGIN</button>
					<label class="marginrememberlabel"><input type="checkbox" ng-model="rememberMe" class="backgroundExampleCheckbox marginremembercheckbox">Remember me</label>
					<div class="margin-link"><span class="labelloginmargin"><a href= "" ng-click="forgotPassword()">Forgot password?</a></span>
											
					</div>
			</div> 
						
	</form>
</div>
<div class="processing" id="ad_loading" ng-show="loading">
<div class="processing_message">
	<span>Processing</span>
	<p align="center"><img alt="processing" src="images/loader_circle.gif"></p>
</div>
</div>
