<form name="$parent.addnewidncForm" id="addnewidncForm"  novalidate>
		<div class="modal-header">
			<button type="button" class="close" ng-click="cancel()">  
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<h4 class="modal-title" id="addassetLabel">Add New Number</h4>
		</div>
		<div class="modal-body npt">
			<div class= "dnc-toast-msg"><toaster-container toaster-options="{'time-out':3000, 'close-button':true}"></toaster-container></div>
			<form>
				<input id="PROSPECT" class="ml50" type="radio" value="PROSPECT" ng-model="dncType"  ng-click = "radioBoxSelected('PROSPECT')"/><span>Prospect</span>
				<input id="COMPANY" class="ml200" type="radio" value="COMPANY"   ng-model="dncType" ng-click = "radioBoxSelected('COMPANY')"/><span>Company</span>
			</form>
			<p class="pt5"><strong>Note:</strong> Enter the digits of the telephone number along with the ISD code, no spaces, no dashes, and no punctuation of any kind.<i>Example: 15036483216</i><br/></p>
			<div class="addasset-form">
				<div class="form-group" >
						<label>First Name</label> <input type="text" autocomplete="off" ng-trim="true"
						name = "firstName" class="form-control" required  ng-model="modal.firstName"  />
				</div>
				<div class="form-group" >
						<label>Last Name</label> <input type="text" autocomplete="off" ng-trim="true"
							name = "lastName" class="form-control" required  ng-model="modal.lastName"  />
				</div>

				<div class="form-group" >
					<label>Company</label> <input type="text" autocomplete="off" ng-trim="true"
						name = "company" class="form-control" required  ng-model="modal.company"  />
			</div>
			<div class="form-group" >
				<label>Domain</label> <input type="text" autocomplete="off" ng-trim="true"
					name = "domain" class="form-control" required  ng-model="modal.domain"  />
		</div>

				<div class="form-group" >
					<label>Phone Number</label> <input type="number" autocomplete="off"
							class="form-control" required  name = "pnum" ng-model="modal.pnum"  />
				</div>
				<div class="form-group" >
					<label>Notes</label> <input type="text" ng-trim="true" autocomplete="off"
							name = "type" class="form-control" required  ng-model="modal.note"  />
				</div>
				<div class="form-group" ng-if ="userRoleSupervisor != 'SUPERVISOR'">
					<label>Partner </label>
					<div class = "autoselect-box">
					<ui-select ng-model="modal.partnerId" theme="selectize" ng-disabled="disabled" style="width: 300px;" ng-init="modal.partnerId = null">
    					<ui-select-match placeholder="Select Partner...">{{$select.selected}}</ui-select-match>
    						<ui-select-choices repeat="partner in partnerIds | filter: $select.search">
      							{{partner}}
    						</ui-select-choices>
					</ui-select>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal"
					ng-click="save()">Save</button>
			<button type="button" class="btn btn-default"  ng-click="cancel()">Cancel</button>
		</div>
	</form>