<div align="center">
	<div class="invite-block">
		<span>
			<a href="http://gory-web-2586.herokuapp.com/admin/partner/invite">
				<img class="img-responsive" src="images/invite.jpg"><br/>
				Invite a partner
			</a>
		</span>
		<span class="">
			<a ui-sref="idnc">
				<img class="img-responsive" src="images/dont-call.png"><br/>
				Internal Do Not Call list
			</a>
		</span>
		<span class="">
			<a ui-sref="netprospex">
				<img class="img-responsive" src="images/findcontacts.png"><br/>
				Find Contacts
			</a>
		</span>
	</div>
</div>