<link href="css/audio-plugin.css" rel="stylesheet">
<div class = "audio-main-div">

	<span class = "common-control play-and-pause-control"> 
		<button id="playpausebtn" ng-click = "playOrPause()" title = "{{ play ? 'Play' : 'Pause'}}" class = "control-btn" ng-class = "{'glyphicon glyphicon-pause':pause,'glyphicon glyphicon-play' : play}"></button>
	</span>
	<span class = "common-control play-fast-backward"> 
		<button id="playpreviousbtn" ng-click = "fastBackward()" title = "FastBackward" class = "glyphicon glyphicon-fast-backward control-btn"></button>
	</span>
	<span class = "common-control play-fast-forward"> 
		<button id="playnextbtn" ng-click = "fastForward()" title = "FastForward" class = "glyphicon glyphicon-fast-forward control-btn"></button>
	</span>
	<span class = "common-control play-loop"> 
		<button id="playloopbtn" ng-click = "loop()" title = "Loop" class = "glyphicon glyphicon-repeat control-btn"></button>
	</span>
	
	<span class = "common-control play-progress">
		<span  class = "control-btn pull-left progress-slider"><input id="seekslider"  type="range" min="0.0" max="{{ duration }}" step="0.1" ng-model="ctime" ng-change="changetime()"/></span>
		<span class = "pull-right progress-duration">{{ changeSecondFormat(ctime);}} / {{ changeSecondFormat(duration); }}</span>
	</span>
	
	<span class = "common-control volume-block">
		<span class = "sound-btn-block">
			<button title = "{{ isMute ? 'UnMute' : 'Mute'}}" class = " sound-btn glyphicon glyphicon-volume-off" ng-if="vol == 0 || vol == undefined || isMute" ng-click = "muteOrUnmuteVolume();"></button>
	        <button title = "{{ isMute ? 'UnMute' : 'Mute'}}" class = " sound-btn glyphicon glyphicon-volume-down" ng-if="(vol > 0 && vol <= 0.45) && !isMute"  ng-click = "muteOrUnmuteVolume();"></button>
	        <button title = "{{ isMute ? 'UnMute' : 'Mute'}}" class = "sound-btn glyphicon glyphicon-volume-up" ng-if="(vol > 0.45 && !isMute)"  ng-click = "muteOrUnmuteVolume();"></button>
	    </span>
	    <span class = "volume-slider">
	    	<input id="volumeslider" type="range" min="0.0" max="1.0" step="0.05" ng-model="vol" ng-change="changevol()" class = "control-btn"/>
	    </span> 
	</span>

</div>