<script type="text/ng-template" id="changePasswordModal.html">
<div class="changePassword">
				<div class="modal-header">
			                <button type="button" class="close"  data-dismiss="modal"><span aria-hidden="true" class="cross-img" ng-click="cancel()"></span></button>
			                <h4 class="modal-title modaltextcolor">Change Password</h4>
			    </div>
				<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
				<div class="modal-body modalbodypadding">
			   	  <form name="myForm" novalidate>
                    <label for="currentPassword">Current password </label>
			    	<input type="password" class="form-control" id="currentPassword" name="currentPassword" ng-model="currentPassword" required>
			    	
			    	<div class="errorClass" ng-show="passwordValid">
						<span style="color:red"  ng-show="myForm.currentPassword.$error.required">Password is required.</span>
					</div>
                 
					<label for="newPassword">New password </label>
			    	<input type="password" class="form-control" id="newPassword" name="newPassword" ng-model="newPassword" required>
			    	
			    	<div class="errorClass" ng-show="passwordValid">
						<span style="color:red"  ng-show="myForm.newPassword.$error.required">Password is required.</span>
					</div>

					<label for="confirmPassword">Confirm password </label>
			    	<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" required  pw-check="newPassword">
			    	<div class="errorClass"  ng-show="passwordValid">
	                      <span style="color:red" ng-show="myForm.confirmPassword.$error.required">Password is required.</span>
	                 </div>
                    <div class="errorClass"  ng-show="confirmPasswordValid">
			    	 <span style="color:red" ng-show="myForm.confirmPassword.$error.pwmatch">Passwords don't match.</span> 
		            </div>
			     </form>
			    </div>
			    <div class="modal-footer">
					<button type="button" class="btn btn-primary"  ng-click="ok(currentPassword, confirmPassword)">Save</button>
			        <button type="button" class="btn btn-default"  ng-click="cancel()">Cancel</button>
			    </div>
</div>
</script>
<link href="css/header.css" rel="stylesheet">
<div class="head-container">
<div class="container navbar-static-top header">
			<div class="navbar-header fixedheight logo">      
				 <img src="images/xtaas_logo.png"/>
			</div>
			<ul class="nav navbar-nav" ng-show="uiRouterState.current.name != 'newcampaign' && uiRouterState.current.name != 'campaigndetails' && uiRouterState.current.name != 'editcampaign' && uiRouterState.current.name != 'listcampaigns' && uiRouterState.current.name != 'dashboard'">
				<li ng-class="{activenav:uiRouterState.current.name == 'adminhome' || uiRouterState.current.name == 'idnc'}" ng-if="role == 'ADMIN'">
					<a ui-sref="adminhome" class="navanchor dropdown-toggle" data-toggle="dropdown">
						<span class="navspan navicon hometabicon"></span>
						<span class="navspan">home</span>
					</a>
					<!-- Sub Navbar Start-->
		        </li>		        
				<li ng-class="{activenav:uiRouterState.current.name == 'listcampaigns'  || uiRouterState.current.name == 'newcampaign' || uiRouterState.current.name == 'editcampaign' || uiRouterState.current.name == 'selectlead' || uiRouterState.current.name == 'campaignsummary' || uiRouterState.current.name == 'selectteam' || uiRouterState.current.name == 'viewcampaign'}"  ng-if="role == 'CAMPAIGN_MANAGER' || role == 'ADMIN' || role == 'CLIENT' ">
					<a class="navanchor" ng-click="campaignList()">
						 <span class="navspan navicon campaigntabicon"></span>
						 <span class="navspan">campaign</span>
				    </a>
     		    </li>
			</ul>		
			<!-- <div ng:repeat="item in notice" >
				<div ng-bind-html="item.notice">{{item.notice}}</div>
				</div> -->
			
			<ul class="nav navbar-nav navbar-right">				
				<li  ng-show="user.roles.includes('QA') || user.roles.includes('AGENT') || user.roles.includes('SUPERVISOR') || user.roles.includes('CAMPAIGN_MANAGER') || user.roles.includes('SECONDARYQA')">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle text-user notif" ng-click='markAsRead()'><span class="commentbox"></span><span class="num" id="unreadCount">{{newNoticesCount}}</span></a>
					<ul role="menu" class="dropdown-menu pointertop-qa" ng-show="notice.length > 0" >
							<div class="gb_aa"></div>
							<div class="pointer"></div>	
							<li  class="usernamearrow linestyle1"></li>			
							<li class="space-message" ng-show="notice.length != 0" ng-repeat="item in notice | orderBy : '-startDate'" >
											<div class="icondiv">{{item.startDate | date:"HH:mm:ss"}}</div>
													<!-- <div class="textdiv-message">{{item.notice}}</div> -->
													<div ng-if="!item.link" class="textdiv-message" >{{item.notice}}</div>
													<div ng-if="item.link" class="textdiv-message"><a href={{item.link}}>{{item.notice}}</a><div>
													<!-- <div ng-bind-html-unsafe="item.notice">{{item.notice}}</div> -->
									</li>
									
				    </ul>
				</li>
				<li><a href="#" data-toggle="dropdown" class="dropdown-toggle text-user"><img src="images/profiledownarrow.png" class="usernamearrow"/>{{ user.firstName }} {{user.lastName}} <span ng-class="user.profilePicUrl != null ? 'profile-img' : 'no-profile-img'"><img ng-if="user.profilePicUrl != null" ng-src="{{ user.profilePicUrl }}" class="img-responsive"/></span></a>
					<ul role="menu" class="dropdown-menu pointertop" >
							<div class="gb_aa"></div>
							<div class="pointer"></div>	
							<li  class="usernamearrow linestyle1"></li>			
							<li>
								<div class="icondiv"><img src="images/accounticon.png"/></div>
			       				<div class="textdiv"><a ng-click=changePassword() class="text-color"  style="margin-left: -10px !important">Change Password</a></div> 
		       				</li>
							<li class="space">
								<div class="icondiv"><img src="images/logouticon.png"/></div>
		        				<div class="textdiv"><a ng-click=logout() class="text-color" style="margin-left: -10px !important">Logout</a></div>
	        				</li>
				    </ul>
				</li>
			</ul>
</div>
</div>
<script>
	(function (u, s, e, r, g) {
		u[r] = u[r] || [];
		u[r].push({
		  'ug.start': new Date().getTime(), event: 'embed.js',
		});
		var f = s.getElementsByTagName(e)[0],
			j = s.createElement(e);
		j.async = true;
		j.src = 'https://static.userguiding.com/media/user-guiding-'
		 + g + '-embedded.js';
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'userGuidingLayer', '15874582ID');
</script>