<link href="css/campaign.css" rel="stylesheet">
<section id="main">

	<div class="clear"></div>
				<!--  middle Section Start-->
				<div class="container bs-docs-container whitebg idnc-container">
				<form name="newcampaignform" novalidate class="clearfix">
					<!-- start of main campaign List div-->
					<div class="main-div">
					<span ng-show= "showIDNCToastMsg" class = "hideforsupervisor idnc-toast"><toaster-container toaster-options="{'time-out':3000, 'close-button':true}"></toaster-container></span>
					<div>
						<div class="alignLeft">
							<span>
								<b>Upload DNC File : </b>
								<input type="file"  ngf-select="uploadBulkDNCList(campaign.campaignId, $file, $invalidFiles)" />
							</span>	
				
						</div>
						<div class="divfloatright nmr">
							<div class="down-template pull-right"><a class = "text-weight" target="_blank" href="/template/idnc_template.xlsx" download>Download Template</a></div>
							<br>
							<div class="search_new_section pull-right">
							<div class="newicondiv">
								<img src="images/new_campaign_icon.png" />
							</div>
							<div class="addleftdiv">
								<a href="" ng-click="addNewIdnc()" class="underline">New</a>
							</div>
							
							<div class="divsearchbuttonright nmr">
								<form method="get" id="frmSearch">
									<div class="inner-searchbutton">
										<input class="search-formControl"  ng-show ="userRoleSupervisor != 'SUPERVISOR'" type="text" autocomplete="off" ng-trim="true" maxlength="128" id="qu" accesskey="3" size="28" title="Search for" placeholder="Search By Partner" ng-model="partnerId">
										<input class="search-formControl"  type="text" autocomplete="off" ng-trim="true" maxlength="128" id="qu" accesskey="3" size="28" title="Search for" placeholder="Search By Phone Number" ng-model="phoneNumber">
										<button type="submit" class="searchbuttonstyle"  my-enter="filterIdncList(phoneNumber);" ng-click="filterIdncList(phoneNumber);"><img src="images/search_icon.png"></button>
									</div>
								</form>
							</div>
						</div>
						</div>
					</div>	
					</div> 
					<!-- End of main campaign List div-->
					 
					
					<!-- start of middle camapign List div-->
					<div class="row" >
				

					

					<div class="errorMessageMargin" ng-if="idncTotalRecord == 0">
						<label class="msg-color label-text-transform">No records were found to match your search</label>
					</div>
					<div class="col-md-12 table_container">
					  <table id="example" class="table topmargin" ng-if="idncTotalRecord > 0">
							<thead>
					            <tr width="100%">
									<th class="thtdpadding">First Name</th>
									<th class="thtdpadding">Last Name</th>
									<!-- <th class="thtdpadding">Phone Number</th> -->
									<th class="thtdpadding" ng-if ="userRoleSupervisor != 'SUPERVISOR'">Partner Id</th>
									<th class="thtdpadding">Note</th>
									<th class="thtdpadding">Date Created</th>
									<th class="thtdpadding">Created By</th>
									
						        </tr>
					            <tr ng-repeat="item in idnclist  | orderBy:'-createdDate'">
										<td class="thtdpadding"><label class="textlabelmargin">{{item.firstName}}</label></td>
										<td class="thtdpadding"><label class="textlabelmargin">{{item.lastName}}</label></td>
									    <!-- <td class="thtdpadding"><label class="textlabelmargin">{{item.phoneNumber}}</label></td> -->
									    <td class="thtdpadding" ng-if ="userRoleSupervisor != 'SUPERVISOR'"><label class="textlabelmargin">{{item.partnerId}}</label></td>
									    <td class="thtdpadding"><label class="textlabelmargin">{{item.note}}</label></td>
										<td class="thtdpadding"><label class="textlabelmargin">{{item.createdDate |date:'MM/dd/yyyy'}}</label></td>
										<td class="thtdpadding"><label class="textlabelmargin">{{item.createdByName}}</label></td>
										
								</tr>
					        </thead>
						</table>
					</div>
					</div>
					<!-- end of middle campaign List div-->
					<!-- start of bottom campaign List div-->
					
			<div class="qa_show_rows" ng-show = "idnclist.length != 0">
		
			 <span class="text_lable">Show rows : </span> <select ng-change="showrows()" name="type" ng-model="main.take"
				class="form-control text-color ng-pristine ng-invalid ng-invalid-required"
				style="width: 70px;margin-top:23px;">
				<option>10</option>
				<option>20</option>
				<option>30</option>
				<option>40</option>
				<option>50</option>
			</select> <span class="text_lable tblmargin">{{main.start}}-{{main.end}} of {{idncTotalRecord}}</span> <span class="btns btnalign"><button ng-click="previousPage();">
					<img src="images/row-left-btn.png" />
				</button>
				<button ng-click="nextPage();">
					<img src="images/row-right-btn.png" />
				</button></span> 
		</div>
					
					<!-- end of bottom camapign List div-->
				</form>	
				</div>	
</section>
<div class="fade-load bidpage-list" ng-show="loading">
	<img src="images/ajax-loader.gif"  />
</div>	
			    
								
