<script type="text/ng-template" id="totp.html">
	<div class="modal-header">
		<h4 class="modal-title" id="addassetLabel">ENABLE Multi-Factor Authentication (MFA)</h4>
	</div>
	<div class="modal-body">
		<div class="row" style="display: flex;">
			<div class="column" style="flex: 50%; padding:15px;background-color:#fff;margin-left:30px;margin-right:30px">
				<span><b>Step 1</b></span><br>
				<img src="{{qrCode}}" width="120" height="120"><br>
				<span>Scan this code on Google Authenticator app.</span>
			</div>
			
			<div class="column" style="flex: 50%;padding:15px;background-color:#fff; margin-right:30px">
				<span><b>Step 2</b></span><br>
				<input type="tel" name="userotp" placeholder="Enter TOTP" class="form-control text-color" required ng-model="userotp" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" style="margin-top:35px;margin-bottom:40px;"><br>
				<span>Enter 6 digit code visible in Google Authenticator to complete enrollment.</span>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary"  ng-click="completeMFA()" >Complete MFA Enrollment</button>
	</div>
</script>

<style type="text/css">
.footer {position: absolute !important; overflow-y: hidden;}
</style>
<div class="mfa-container">
	<span class="toaster-margin">
		<toaster-container class="login-toaster"
			toaster-options="{'showDuration': 120, 'time-out':5000000, 'close-button':true , 'position-class': 'toast-cust-pos-login'}"></toaster-container>
	</span>
	<form class="login-form" name = "forgotpasswordform" novalidate>
		<div class="row">
			<div class="form-group">
				<div class="login-style"><h3>ENABLE Multi-Factor Authentication (MFA)</h3></div>
				<!-- <div class="image-style"><img src="/images/xtaas_logo.png" class="logo-style"></div> -->
			</div>
		</div>
		<div class="clear-style"></div>
		<div class="row">
			<div class="form-group">
				<div class = "modal-forgot"><span>Use Multi-factor authentication (MFA) to increase the security of your XTaaS account. Signing in to MFA-protected accounts requires your user name and password in addition to a authentication code from an MFA device.</span></div>
			</div>
		</div>
		<div class="row">
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"  ng-click="btnMFA()" >Enable MFA</button>
				<span class="text-primary" ng-show="skipMFABtn" style="margin-left:20px;cursor: pointer;" ng-click="skipMFA()">Skip this step</span>
			</div>
		</div> 
	</form>
</div>


