<style type="text/css">
.footer {position: absolute !important; overflow-y: hidden;}
</style>
<div class="mfatotp-container">
	<span class="toaster-margin">
		<toaster-container class="login-toaster"
			toaster-options="{'showDuration': 120, 'time-out':5000000, 'close-button':true , 'position-class': 'toast-cust-pos-login'}"></toaster-container>
	</span>
	<form novalidate class="login-form"  name="loginForm">
		  	<div class="row">
				<div class="form-group">
					<div class="login-style"><h3>LOGIN</h3></div>
					<div class="image-style"><img src="/images/xtaas_logo.png" class="logo-style"></div>
				</div>
			</div>
			<div class="clear-style"></div>
			<div class="row">
				<div class="form-group">
					<label class="labelloginmargin"><b>{{loggedInUser.id}}</b></label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="labelloginmargin">Enter google authentication code</label>
					<div class="col-md-12"><input id="totp" ng-model="userotp" type="tel" class="form-control" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"/></div>
				</div>
			</div>
			<div class="row">
					<button class="bluenextbtn" ng-click="continue()">CONTINUE</button>						
			</div> 
						
	</form>
</div>
