<style type="text/css">
.footer {position: absolute !important; overflow-y: hidden;}
</style>
<span class="formError"><toaster-container toaster-options="{'showDuration': 100, 'time-out': 3000, 'close-button':true , 'position-class': 'toast-cust-pos'}"></toaster-container></span>
<div class="resetpassword-container">
	<form class="login-form" name = "forgotpasswordform" novalidate>
		<div class="row">
			<div class="form-group">
				<div class="login-style"><h3>Reset Password</h3></div>
				<div class="image-style"><img src="/images/xtaas_logo.png" class="logo-style"></div>
			</div>
		</div>
		<div class="clear-style"></div>
		<div class="row">
			<div class="form-group">
				<label class="labelloginmargin">New Password </label>
				<div class="col-md-12"><input id="newPassword" name= "newPassword" ng-model="newPassword" type="password" class="form-control" focus-me="myInputFocus" required/></div>
			</div>
		</div>
		<div>
			<p style="color:black; line-height: 1.3;">
				Password must:<br>
				- Be between 12 and 22 characters<br>
				- Include the following<br>
				&nbsp;&nbsp;&nbsp;- An Uppercase Character<br>
				&nbsp;&nbsp;&nbsp;- A Lowercase Character<br>
				&nbsp;&nbsp;&nbsp;- A Number<br>
				&nbsp;&nbsp;&nbsp;- A Special Character (Allowed char ! @ # $)<br>
				- Be different from last 4 passwords<br>
				- Not contain any personal information
			</p>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="labelloginmargin">Confirm Password </label>
				<div class="col-md-12"><input id="confirmPassword" name = "confirmPassword" ng-model="confirmPassword" type="password" class="form-control" pw-check="newPassword" required/></div>
			</div>
		</div>
		<div class="errorClass"  ng-show="confirmPasswordValid">
			<span style="color:red" ng-show="forgotpasswordform.confirmPassword.$error.pwmatch">Passwords don't match.</span> 
		</div>
		<div class="row">
			<button class="bluenextbtn signup-label" ng-click="resetPassword(newPassword)">SUBMIT</button>
		</div> 
	</form>
</div>
<div class="processing" id="ad_loading" ng-show="loading">
<div class="processing_message">
	<span>Processing</span>
	<p align="center"><img alt="processing" src="images/loader_circle.gif"></p>
</div>
</div>


