
<!DOCTYPE html>
<html lang="en">

<head>
<title>XTaaS - TELEMARKETING AS A SERVICE</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!-- DATE :- 16/12/19 Added below 3 meta tags to tell the browser not to cache application pages in browser. -->
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- styles -->
<link href="css/bootstrap.css" rel="stylesheet">
<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
		<!-- PLIVO WEB SDK -->
		<script type="text/javascript" src="//s3.amazonaws.com/plivosdk/web/plivo.min.js"></script>
		<script type="text/javascript" src="https://cdn.plivo.com/sdk/browser/v2/plivo.min.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/sip.js@0.15.10/dist/sip-0.15.10.min.js"></script> -->
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-modified.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        
        <link rel="stylesheet" type="text/css" href="css/customcheck.css" />
        <link rel="stylesheet" type="text/css" href="css/ng-slider.min.css">
    
		<link rel="stylesheet" href="css/angular-multi-select.css">
        <link href='//fonts.googleapis.com/css?family=Lato:400,700,900,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" type="text/css" href="css/toaster.css" />
        
        <!-- Calendar CSS -->
        
		<link rel="stylesheet" type="text/css" href="css/angular-wizard.css" />
		<link rel="stylesheet" type="text/css" href="css/textAngular.css" />
		
		
		 <link rel="stylesheet" type="text/css" href="css/select.css" />
		  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
		  
<!-- fav icon -->
<link rel="shortcut icon" href="images/favicon.png">
<style>
@import
	url('css/select2.css');
@import
	url('css/selectize.default.css');
/* @import
	url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'); */
</style>
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/ng-template" id="warning-dialog.html">
  	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true" class="cross-img"></span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="addassetLabel">You're Idle. Session Timing Out !</h4>
	</div>
	<div class="modal-body">
		 <center>You'll be logged out in {{counter/20}} minute(s). </center>
		<div class="progress">
 			<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:{{counter}}%">
    	 	</div>
  		</div>
	</div>
	<input type="hidden" ng-model="pturl">
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" ng-click="ok()">Extend your session</button>
	</div>

</script>
<script type="text/ng-template" id="timedout-dialog.html">
  	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true" class="cross-img"></span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="addassetLabel">Your Session Timed Out!</h4>
	</div>
	<div class="modal-body">
		 <center>Your session has timed out. Please login again !</center>
  	</div>
	<input type="hidden" ng-model="pturl">
	<div class="modal-footer">
		<button type="button" class="btn btn-primary"  ng-click="ok()">Login</button>
	</div>

</script>
<!-- <script>
	(function (u, s, e, r, g) {
		u[r] = u[r] || [];
		u[r].push({
		  'ug.start': new Date().getTime(), event: 'embed.js',
		});
		var f = s.getElementsByTagName(e)[0],
			j = s.createElement(e);
		j.async = true;
		j.src = 'https://static.userguiding.com/media/user-guiding-'
		 + g + '-embedded.js';
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'userGuidingLayer', '15874582ID');
  </script> -->
<!--javascript-->
<!--[if gte IE 9]>
			  <style type="text/css">
				.gradient {
					filter: none;
				}
			</style>
			<![endif]-->

<!--[if IE]>				 
				<script>
					document.createElement('header');
					document.createElement('footer');
					document.createElement('section');
					document.createElement('article');
					document.createElement('aside');
					document.createElement('figure');
					document.createElement('figcaption');
					document.createElement('nav');
				</script>
			<![endif]-->

	<!-- Splunk RUM Instrumentation -->
	<script src="https://cdn.signalfx.com/o11y-gdi-rum/latest/splunk-otel-web.js" crossorigin="anonymous"></script>

</head>

<body id="bodyscroll">

<header ui-view="header">
	</header>
	<section ui-view="main">
	</section>
	
<footer role="contentinfo" class="bs-docs-footer footer">
  <div class="container paddingoverwrite blueborder">
   <div class="textleft">Copyright@XTaaS 2021 All rights reserved</div>   
   <div class="textright">
    <ul class="nav nav-pills navbar-right">
     <li><a href="#">Home</a></li>
     <li><a href="#">Privacy Policy</a></li>
     <li><a href="#">Terms of Use</a></li>
     <li><a href="#">Contact</a></li>
    </ul>
   </div>
  </div>
 </footer>
 <!-- Footer End-->
	<!-- Footer End--> 
    <script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/vendor/require.min.js" data-main="js/main.js"></script>
	<!-- <script>
		(function (u, s, e, r, g) {
			u[r] = u[r] || [];
			u[r].push({
			  'ug.start': new Date().getTime(), event: 'embed.js',
			});
			var f = s.getElementsByTagName(e)[0],
				j = s.createElement(e);
			j.async = true;
			j.src = 'https://static.userguiding.com/media/user-guiding'-
			 + g + '-embedded.js';
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'userGuidingLayer', '64863546ID');
	</script> -->
</body>
</html>