<link href="css/supportadmin.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="processing" id="ad_loading" ng-show="loading">
	<div class="processing_message">
		<span>Processing</span>
		<p>
			<img alt="processing" src="images/loader_circle.gif">
		</p>
	</div>
</div>

<div class="container nopad">
	<div class = "admin-toast">
		<span class="toaster-margin">
			<toaster-container toaster-options="{'showDuration': 120, 'time-out':5000, 'close-button':true , 'position-class': 'toast-cust-pos'}"></toaster-container>
		</span>
	</div>
	<div class="headerTitle">Support Admin</div>
	<div>
		<div>
			<div class="div-float-left">
				<span class="extra-spacing">Total Users: {{userCount}}</span>
			</div>
			<div class="div-float-right">
				<input class="input-search"
					placeholder="Search Text" type="text" maxlength="128" ng-model="searchText" /> <select
					class="select-search" ng-model="searchType">
					<option value="" disabled>Search Type</option>
					<option value="username">Username</option>
					<option value="organization">Organization</option>
				</select>
				<button class="btn-color" ng-click="filterUserList()">SEARCH</button>
				<button class="btn-color" ng-click="reset()">RESET</button>
			</div>
		</div>
		<div id="userimpoersonate-block">
			<table class="table table-striped clearfix" id="userlisttable" ng-if="userList.length > 0">
				<thead>
					<tr class="listing-bg">
						<th class="text-alignment">Username</th>
						<th>Fisrt Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Organization</th>
						<th>Roles</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr style="width: 250px" ng-repeat="user in userList">
						<td><span>{{user.username}}</span></td>

						<td><span>{{user.firstName}}</span></td>

						<td><span>{{user.lastName}}</span></td>

						<td><span>{{user.email}}</span></td>

						<td><span>{{user.organization}}</span></td>

						<td><span>{{user.roles}}</span></td>

						<td><span><button class='btn-color'
									ng-click="impersonate(user.username)">Impersonate</button></span></td>

					</tr>
				</tbody>
			</table>
		</div>

		<div class="userlist-block text-center" ng-if="userList.length == 0">
			<p>
				<img src="img/no-record.png" />
			<p>No Users Found</p>
		</div>

		<div class="footerBlock">
			<div class="divleftfloat pagination-wrap" ng-show="userList.length > 0">
				<div class="leftdiv">Show</div>
				<div class="divshowmargin">
					<select class="form-control addselectoptionright addrightmargin" ng-disabled="noSize"
						ng-model="pageSize" ng-options="size.id as size.name for size in totalPageSize"
						ng-change="getUserList()"></select>
				</div>
				per page
			</div>
			<div class="divrightfloat pagination-wrap">
				<div ng-show="userList.length > 0">
					<div class="divsearchbuttonright">
						<pagination boundary-links="true" page="currentPage" max-size="0" ng-change="getUserList()"
							total-items="userCount" ng-model="currentPage" class="pagination-sm"
							previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="pageSize"> </pagination>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<head>
	<!-- Start of xtaascorp Zendesk Widget script -->
	<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=79a5108e-d547-4b2b-82f7-41a25f84e9f1">

	</script>
	<!-- End of xtaascorp Zendesk Widget script -->
</head>
