<link href="css/campaign.css" rel="stylesheet">
<div class="container nopad">
    <div class="midborder ">
        
           <!--  Breadcrumb Navigation Section Start-->
     	  <div class="container whitebg bottomgrayborder text-center paddingoverwrite space-style">
            <div class="disablebar col-md-12"></div>
            <div class="col-md-2"></div>
            <div class="col-md-8 h5selector paddingoverwrite">

                <a>
                    <div class="col-md-3 paddingoverwrite">
                        <div class="col-md-12">
                            <div class="enablebar col-md-12"></div>
                            <div class="stepnumber activebluebg">1</div> 
                        </div>
                        <div class="col-md-12">
                            <div class="stepcircle campaignicon activebluebg" ng-click="save('editcampaign')"></div>
                            <div class="steparrow steparrowblue"></div>
                        </div>
                        <div class="col-md-12">
                            <h5 class="bluetxtcolor">Campaign Creation</h5>
                        </div>
                    </div>
                </a> <a>
                    <div class="col-md-3 paddingoverwrite">
                        <div class="col-md-12">
                            <div class="enablebar col-md-12"></div>
                            <div class="stepnumber activebluebg">2</div>
                        </div>
                        <div class="col-md-12">
                            <div class="stepcircle leasselecticon activebluebg"  ng-click="save('selectlead')"></div>
                            <div class="steparrow steparrowblue"></div>
                        </div>
                        <div class="col-md-12">
                            <h5 class="bluetxtcolor">Lead Selection</h5>
                        </div>
                    </div>
                </a>
                
                <a>
                    <div class="col-md-3 paddingoverwrite">
                        <div class="col-md-12">
                            <div class="enablebar col-md-12"></div>
                            <div class="stepnumber activebluebg">3</div>
                        </div>
                        <div class="col-md-12">
                            <div class="stepcircle campaignsummaryicon activebluebg" ></div>
                            <div class="steparrow"  ng-class="globalEditCampaign ? 'steparrowblue' : ''"></div>
                        </div>
                        <div class="col-md-12">
                            <h5 class="bluetxtcolor">Campaign Summary</h5>
                        </div>
                    </div>
                </a>
                <div ng-if = " globalEditCampaign == false ">
                <a>
                    <div class="col-md-3 paddingoverwrite">
                        <div class="col-md-12">
                            
                            <div class="stepnumber">4</div>
                        </div>
                        <div class="col-md-12">
                            <div class="stepcircle teamselecticon"   ng-click="save('selectteam')"></div>
                        </div>
                        <div class="col-md-12">
                            <h5 class="text-style1">Team Selection</h5>
                        </div>
                    </div>
                </a> 
                </div>
                <div ng-if = " globalEditCampaign == true ">
                <a>
				<div class="col-md-3 paddingoverwrite">
					<div class="col-md-12">
						<div class="enablebar col-md-12 paddingoverwrite"></div>
						<div class="stepnumber activebluebg">4</div>

					</div>
					<div class="col-md-12">
						<div class="stepcircle teamselecticon activebluebg"
							ng-click="save('selectteam')"></div>

					</div>
					<div class="col-md-12">
						<h5 class="bluetxtcolor">Team Selection</h5>
					</div>
				</div>
			</a>
                </div>
                
                
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--  Breadcrumb Navigation Section End-->


	
<!--  middle Section Start-->
<div class="container bs-docs-container whitebg blueborder">

<!-- 	  <div class="alert alert-success"  ng-if="alert.type == 'success'" ng-repeat="alert in alerts">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									{{alert.msg}} 
			</div>
			<div class="alert alert-danger " ng-if="alert.type == 'error'" ng-repeat="alert in alerts">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									{{alert.msg}} 
			</div>  -->
			
		<div class="col-md-12 paddingoverwrite">
			<div class="clearfix">
				<div class=bgdiv>
					<label class="handpointer" ng-class="{compressbox: !isCampaignCollapsed, expandbox: isCampaignCollapsed}"  ng-click="isCampaignCollapsed = !isCampaignCollapsed">Campaign Creation</label>
				</div>
				<div class="whiteboxwithlabel-creation" collapse="isCampaignCollapsed">
					<h3>Create Campaign</h3>
					<div class="row">
						<div class="completediv" >
					   		<div class="col-md-6">
								<label class="col-md-4 control-label text-label">Campaign Name: </label>
								<h5>{{campaign.name}}</h5>
							</div>
							<div class="col-md-6">
								<label class="col-md-4 control-label text-label">Run Dates: </label>
								<h5>{{campaign.startDate| date:'MM/dd/yyyy'}} to {{campaign.endDate| date:'MM/dd/yyyy'}}</h5>
							</div>
						</div>
						<div class="completediv">
							<div class="col-md-6">
								<label class="col-md-4 control-label text-label">Campaign Type: </label>
								<h5>{{getType(campaign.type)}}</h5>
							</div>
							<div class="col-md-6">
								<label class="col-md-4 control-label text-label">Delivery Target: </label>
								<h5>{{campaign.deliveryTarget}}</h5>
							</div>
						</div>
						<div class="completediv">
							<div class="col-md-6">
									<label class="col-md-4 control-label text-label">Domains </label>
									<h5>{{campaign.domain}}</h5>
							</div>
							<div class="col-md-6">
									<label class="col-md-4 control-label text-label">Daily Cap </label>
									<h5>{{campaign.dailyCap}}</h5>
							</div>
						</div>
					</div>
					<div class="collapsediv">	
						<h4 class="text-uppercase">Restrictions</h4>
						 <div class="col-md-12"> 
							<div ng-repeat="restriction in campaign.restrictions">
								<h5 class="nomarginlabel"  ng-if="isExist(restriction)">{{restriction}}</h5>
							</div>
						</div>
						<h5 class="infolabel" ng-if="!isExist(campaign.restrictions)">
							<span class="warninglabel">No restrictions are available</span>
						</h5> 
						 
					</div>
					<hr class="horizontalline"></hr>
					<div class="bs-docs-section">
						<h3>Advanced Setup</h3>
						<div class="collapsediv">
							<h4 class="text-uppercase">Qualification Criteria</h4>
							<pre class="grayboxsmall"  ng-if="isExist(campaign.qualificationClause)">
								<h5 class="infolabel"> {{campaign.qualificationClause}} </h5>
							</pre>
						  	<h5 class="infolabel" ng-if="!isExist(campaign.qualificationClause)">
								<span class="warninglabel">No Qualification Criteria is available</span>
							</h5>   
							<div class="collapsediv clearfix">	
								<h4 class="text-uppercase"><!--  ng-repeat="questions in campaign.restrictions"> -->Custom Questions</h4>
								<div class="col-md-12" ng-if="isExist(campaign.informationCriteria)">
									<div ng-repeat="questions in campaign.informationCriteria">
										<h5 class="nomarginlabel">{{questions}}</h5>
									</div>	
								</div>
								<h5 class="infolabel" ng-if="!isExist(campaign.informationCriteria)">
									<span class="warninglabel">No Qualification Criteria is available</span>
								</h5> 
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix">
				<div class=bgdiv><label class="handpointer" ng-class="{compressbox: !isLeadCollapsed, expandbox: isLeadCollapsed}"  ng-click="isLeadCollapsed = !isLeadCollapsed">Lead Selection</label></div>
				<div class="whiteboxwithlabel" collapse="isLeadCollapsed">
			  		<h3>SELECT LEADS</h3>
			  		<pre class="grayboxsmall" ng-if="isExist(campaign.leadFilteringClause)">
			  			<h5 class="infolabel"> {{campaign.leadFilteringClause}} </h5>
			  		</pre>
			 		<h5 class="infolabel" ng-if="!isExist(campaign.leadFilteringClause)">
						<span class="warninglabel">No Leads is available</span>
					</h5>
					<h3>ASSETS</h3>
					<table class="singlecolumnlist" ng-if="isExist(campaign.assets)">
						<tr ng-repeat="asset in campaign.assets">
							<td class="singlecolumntd">
								 <div class="insidetableimage"></div>
								 <div class="insidetablecontent">
									<h5 class="blueelement"><a ng-href="{{asset.url}}" target="blank" >{{asset.name}}</a> </h5>
	    							<h5 class="underlinelink" >{{asset.url}}</h5>
	    							<h5> {{asset.description}}</h5>
							 	</div>
							</td>
						</tr>
					</table>
						<h5 class="infolabel" ng-if="!isExist(campaign.assets)">
							<span class="warninglabel">No Assets are available</span>
						</h5> 
				</div>
			</div>


                        <div class="col-md-12 col-sm-12 col-xs-12 nopad">
                            <p class="pull-right">
                                <button class="bluenextbtn previous pull-left " ng-click="save('selectlead')"> <span><img src="images/white-icon.png"></span> previous</button>
                                <button class="bluenextbtn pull-left" ng-click="save('selectteam')">Save and Next <span><img src="images/white-icon-right.png" class="right"></span></button>
                                <button class="graytbtn pull-right"  data-toggle="modal" data-target="#cancleCampaign">cancel</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



<div class="modal fade" id="cancleCampaign" tabindex="-1" role="dialog" aria-labelledby="addassetLabel" aria-hidden="true">
    <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="cross-img"></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addassetLabel">Cancel Campaign</h4>
            </div>
            <div class="modal-body">
               
                <img alt="icon" src="images/ques-icon.png" class="cancel-icon"> <span class="ques-text">Are you sure you want to cancel?</span>
            </div>
            <input type="hidden" ng-model="pturl">





            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancelCampaign()" >Yes</button>
                <button type="button" class="btn btn-default"  data-dismiss="modal">No</button>
            </div>



        </div>
    </div>


</div>
<div class="processing" id="ad_loading" ng-show="loading">
<div class="processing_message">
	<span>Processing</span>
	<p align="center"><img alt="processing" src="images/loader_circle.gif"></p>
</div>
</div>
