<link href="css/newcampaigndesign.css" rel="stylesheet">
<link href="css/campaigntopbar.css" rel="stylesheet">

<script type="text/ng-template" id="teamRating">
	<p  ng-if="team.averageRating == 0.0">
		<img src="images/empty-star.png" class="starlist"/>
		<img src="images/empty-star.png" class="starlist"/>
		<img src="images/empty-star.png" class="starlist"/>
		<img src="images/empty-star.png" class="starlist"/>
		<img src="images/empty-star.png" class="starlist"/>
	</p>
	<p  ng-if="team.averageRating == 0.5">
		<img src="images/half-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	</p>
	<p  ng-if="team.averageRating == 1.0">
		<img src="images/fill-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	</p>
	<p  ng-if="team.averageRating == 1.5">
		<img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	</p>
	<p  ng-if="team.averageRating == 2.0">
		<img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	</p>
	<p  ng-if="team.averageRating == 2.5">
		<img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	</p>
	<p  ng-if="team.averageRating == 3.0">
		<img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	</p>
	<p  ng-if="team.averageRating == 3.5">
		<img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	</p>
	<p  ng-if="team.averageRating == 4.0">
		<img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/empty-star.png" class="starlist"/>
	</p>
	<p ng-if="team.averageRating == 4.5">
		<img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	</p>
	<p  ng-if="team.averageRating == 5.0">
		<img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	    <img src="images/fill-star.png" class="starlist"/>
	</p>
</script>
<script type="text/ng-template" id="confirmCampaignActionModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true" class="cross-img"></span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" style="text-indent: 32px !important; margin-bottom: 20px !important;" id="addassetLabel">Confirm </h4>
    </div>
    <div class="modal-body">
        <div class= "body-img">
            <img alt="icon" src="images/ques-icon.png"  class="ques-text">
        </div>
        <div class= "body-text">
            <span> {{classes}} ?</span>
            <p style="font-weight: 100;font-size: 12px;font-style: italic;" class="label-font">   {{detailMsg}}  </p>
           
        </div>
    </div>
    <div class="modal-footer">      
            <button class="btn btn-primary" data-dismiss="modal" ng-click="confirmAction()">Yes</button>
            <button class="btn btn-default"  ng-click="cancel()">No</button>        
    </div>

</script>
<section  id="main">

<div class="container paddingoverwrite space-style">
	<div class="headerTitle">Campaign Manager</div>
	<div class="col-md-12 top-navigate-bar" style="margin: 10px 0px 15px 0px;">     	    	
		     	     <!--  <a ui-sref="adminhome" class="navanchor dropdown-toggle" data-toggle="dropdown" href="#!/adminhome">
		     	        <span class="camp-title-option" ng-class="uiRouterState.current.name == 'adminhome' ? 'activetab' : ''">Dashboard</span>
		     	      </a> -->
		     	      <a ui-sref="listcampaigns" class="navanchor dropdown-toggle" data-toggle="dropdown" href="#!/listcampaigns">     	        
		     	    	<span class="camp-title-option" ng-class="uiRouterState.current.name == 'newcampaign' || uiRouterState.current.name == 'campaigndetails' || uiRouterState.current.name == 'editcampaign' ? 'activetab' : ''">Campaigns</span>
		     	     </a>	
		     	     <!-- <a ui-sref="listcampaigns" class="navanchor dropdown-toggle" data-toggle="dropdown" href="#!/listcampaigns">
		     	    	<span class="camp-title-option" ng-class="uiRouterState.current.name == 'workroom' ? 'activetab' : ''">Workroom</span>
		     	     </a> -->
     </div>
     <div class="col-md-3 paddingfirst">
             <div class="col-md-12">           
             	<a ng-click="backToList();"><span style="top:-22px;" class="steplogogeneral"></span></a>
             </div>                        
    </div>
</div>
	
<!--  middle Section Start-->
<div class="container bs-docs-container whitebg">
	
	<form name="newcampaignform" novalidate id="teamselectionform">
		<div class="col-md-12 paddingoverwrite" style="margin-bottom:30px;">
			<div class="clearfix">
				<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
				
			   <div class= "campaign-ready-below-block">
                    		<div class="clearfix"> 
                        	   	 <div class="colapsediv handpointer" ng-click="isLeadCollapsed = !isLeadCollapsed">
                        	   	 	<label class="col-title">CAMPAIGN DETAILS</label>
                        	   	 	<span class="col-button-colapsed align-collapse-icon" ng-show="isLeadCollapsed"></span>
                        	   	 	<span class="col-button-expand align-collapse-icon" ng-show="!isLeadCollapsed"></span>
                        	   	 </div>
                        	   	 <div  class= "inside-table-gray-block" collapse="isLeadCollapsed">
                        	   	 	<div class="colapsediv-grayboxwithcontent">	                        	    
	                            	       <div class= "table-block">
	                            	       		<div class= "left-bx">
	                            	       			<div class = "label-font">
	                            	       				<span>General Information</span>
	                            	       			</div>
	                            	       			<div ng-repeat = "generalinfo in generalInformation" class="label-description">
	                            	       				<div class="col-md-12 sub-info-space" ng-class = "{'sub-info':!$last}">
	                            	       					<div class= "col-md-4">
	                            	       					{{generalinfo.label}}
	                            	       					</div>
	                            	       					<div class = "col-md-8">
	                            	       						{{generalinfo.value}}
	                            	       					</div>
	                            	       				</div>
	                            	       			</div>
	                            	       		</div>
	                            	       		<div class= "right-bx">
	                            	       			<div class = "label-font">
	                            	       				<span>ADVANCED CAMPAIGN REQUIREMENTS</span>
	                            	       			</div>
	                            	       			<div class="label-description">
	                            	       				{{campaign.campaignRequirements}}
	                            	       			</div>
	                            	       			<div class="label-description" ng-show="campaign.campaignRequirements.length <= 0">
														No advanced campaign requirements specified
													</div>
	                            	       		</div>
	                            	       </div> 
	                            	       <div class= "table-block">
	                            	       		<div class= "left-bx">
	                            	       			<div class = "label-font">
	                            	       				<span>Target Segment </span>
	                            	       			</div>
	                            	       			<div ng-repeat = "segment in campaign.qualificationCriteria.expressions track by $index" class="label-description">
	                            	       				<div class="col-md-12 sub-info-space1"  ng-class = "{'sub-info':!$last}">
															 <span ng-show = "!isFromGeography(segment.attribute)">{{attributeMappings[segment.attribute].label}} </span> 
															<!-- <span ng-show = "!isFromGeography(segment.attribute)">{{getAttributeLabel(segment.attribute)}}  </span> -->
															<span ng-show = "isFromGeography(segment.attribute)">Geography </span>
															<span>{{getSymbolLabel(segment.operator)}}</span>
															<span ng-repeat = "value in segment.value track by $index">
																<span>{{$first ? '' : $last ? ' and ' : ', '}}{{getLabelAttributeSpecificValue(segment.attribute,value)}}</span>
															</span>
														</div>
	                            	       			</div>
	                            	       			<div class="label-description" ng-show = "campaign.qualificationCriteria.expressions.length <= 0">
														No Target Segment Specified
													</div>
	                            	       		</div>
	                            	       		<div class= "right-bx">
	                            	       			<div class = "label-font">
	                            	       				<span>Team Details</span>
	                            	       			</div>
	                            	       			 <span class= "label-description"> Supervisor Name: {{supervisorData}} </span>
	                            	       			<!--  <div  ng-repeat="supDetails in selectedRadioBoxCriteria">                    
                                                         <span class= "label-description"> Supervisor Name: {{supDetails.firstName}} &nbsp;  {{supDetails.lastName}} </span>
                                                     </div> -->
                                                      <div ng-repeat="teamDetails in selectedCampaignTeams">                    
                                                                <span class= "label-description"> Team Name: {{teamDetails.name}}  </span>
                                                       </div>
	                            	       			<!-- <div class="label-description" ng-repeat = "team in selectedCampaignTeams">
	                            	       				<div class="col-md-12 sub-info-space sub-info">
	                            	       					<span class= "highlight-name">{{team.name}}</span>
	                            	       				</div>
	                            	       				<div class="col-md-12 sub-info-space sub-info">
	                            	       					<span ng-include = "'teamRating'"></span>
	                            	       				</div>
	                            	       				<div class="col-md-12 sub-info-space sub-info">
	                            	       					<div class= "align-sub-teamSizeinfo">
		                            	       					<img alt="" src="images/agent-count.png" class = "img-size">
		                            	       					<span>{{team.teamSize}}</span>
	                            	       					</div>
	                            	       					<div class= "align-sub-teampriceinfo"> 
	                            	       						<img alt="" src="images/work-hours.png" class = "img-size">
	                            	       						<span>{{team.perLeadPrice}}</span>
	                            	       					</div>
	                            	       					<div class= "align-sub-teamHoursinfo">
	                            	       						<img alt="" src="images/work-hours.png" class = "img-size">
	                            	       						<span>{{team.averageAvailableHours}} Hours</span>
	                            	       					</div>
	                            	       					<div class= "align-sub-teamProjectsinfo">
	                            	       						<img alt="" src="images/team-project.png" class = "img-size">
	                            	       						<span>{{team.totalCompletedCampaigns}} Projects</span>
	                            	       					</div>	                            	       					
	                            	       				</div>	                            	       				
	                            	       			</div> -->
	                            	       		</div>
	                            	       </div>              	    
                                	</div> 
                        	   	 </div>	                        	    
                            </div>
                    	</div>
                    	 <div class = "form-control team-bid-bgcolor-btn align-center" ng-click= "openConfirmCampaignControlModal('Pause')" ng-show = "campaignAction == 'RUNNING'" style="float: right; width: 14%; margin: 10px 0 0 11px;">
                             <span class = "accept-bid-btn-font">PAUSE</span>
                        </div>
                    	 <div class = "form-control team-bid-bgcolor-btn align-center" ng-click= "openConfirmCampaignControlModal('Stop')" ng-show = "(campaignAction == 'RUNNING' || campaignAction == 'PAUSED')" style="float: right; width: 14%; margin: 10px 0 0 11px;">
                             <span class = "accept-bid-btn-font">STOP</span>
                        </div>
                        <div class = "form-control team-bid-bgcolor-btn align-center" ng-click= "openConfirmCampaignControlModal('Complete')" ng-show = "(campaignAction == 'RUNNING' || campaignAction == 'PAUSED')"  style="float: right; width: 14%; margin: 10px 0 0 11px;">
                             <span class = "accept-bid-btn-font">COMPLETE</span>
                        </div>
                       <!--  <div class = "form-control team-bid-bgcolor-btn align-center" ng-click= "openConfirmCampaignControlModal('Delist')" ng-show = "(campaignAction == 'COMPLETED' || campaignAction == 'STOPPED')"  style="float: right; width: 14%; margin: 10px 0 0 11px;">
                             <span class = "accept-bid-btn-font">DELIST</span>
                        </div> -->
                         <div class = "form-control team-bid-bgcolor-btn align-center" ng-click= "openConfirmCampaignControlModal('Resume')" ng-show = "campaignAction == 'PAUSED'"  style="float: right; width: 14%; margin: 10px 0 0 11px;">
                             <span class = "accept-bid-btn-font">RESUME</span>
                        </div>
                         <div class = "form-control team-bid-bgcolor-btn align-center" ng-click= "openConfirmCampaignControlModal('Run')" ng-show = "campaignAction == 'RUNREADY'"  style="float: right; width: 14%; margin: 10px 0 0 11px;">
                             <span class = "accept-bid-btn-font">RUN</span>
                        </div>
				</div>
			</div>
		</form>
	</div>	
</section>

<div class="processing" id="ad_loading" ng-show="loading">
<div class="processing_message">
	<span>Processing</span>
	<p align="center"><img alt="processing" src="images/loader_circle.gif"></p>
</div>
</div>
