<link href="css/campaign.css" rel="stylesheet">
<link href="css/campaignlaunch.css" rel="stylesheet">
<link href="css/campaigntopbar.css" rel="stylesheet">

<script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>

<section id="main">
		
	<div style="width: 1104px;" class="container paddingoverwrite space-style">
		<div style="margin-left: 320px;" class="headerTitle">Campaign Manager</div>
		<div class="clear"></div>			
		<div class="col-md-12 top-navigate-bar">     	    	
			<a ui-sref="listcampaigns" class="navanchor dropdown-toggle" data-toggle="dropdown" href="#!/listcampaigns">     	        
				<span class="camp-title-option" ng-class="uiRouterState.current.name == 'newcampaign' || uiRouterState.current.name == 'editcampaign' || uiRouterState.current.name == 'listcampaigns' ? 'activetab' : ''">Campaigns</span>
			</a>
			<a ui-sref="dashboard" class="navanchor dropdown-toggle" data-toggle="dropdown" href="#!/dashboard">     	        
				<span class="camp-title-option" ng-class="uiRouterState.current.name == 'dashboard' ? 'activetab' : ''">Dashboard</span>
			</a>
		</div>
	</div>
	
	<!--  iframe for TABLEAU reports -->
	<!-- <div class="container_iframe">
		<iframe width="100%" height="1000" src="https://us-east-1.online.tableau.com/#/site/xtdemo/workbooks/68547/views" allowfullscreen></iframe>
	</div> -->
		
	<div class='tableauPlaceholder' style='width: 1104px; height: 1036px; margin: auto; padding-left: 2px;'>
		<object class='tableauViz' width='1104' height='1036' style='display:none;'>
			<param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> 
			<param name='site_root' value='&#47;t&#47;xtdemo' />
			<param name='name' value='CampaignManagerDashboard&#47;CampaignManagerDashboardv0_2' />
			<param name='tabs' value='no' /><param name='toolbar' value='yes' />
			<param name='showAppBanner' value='false' />
			<param name='showShareOptions' value='true' />
		</object>
	</div>
	
</section>