<link href="css/campaign.css" rel="stylesheet">
<link href="css/newcampaigndesign.css" rel="stylesheet">
<link href="css/campaignlaunch.css" rel="stylesheet">
<link href="css/campaigntopbar.css" rel="stylesheet">
<script type="text/ng-template" id="runModal.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true" class="cross-img"></span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="addassetLabel">Run Campaign</h4>
	</div>
	<div class="modal-body">
		<img alt="icon" src="images/ques-icon.png"  class="ques-text">
		<span>To run the campaign, change the end date. Do you want to change?</span>
	</div>
	<input type="hidden" ng-model="pturl">
	<div class="modal-footer">		
			<button class="btn btn-primary" data-dismiss="modal" ng-click="ok(campaign.id)">Yes</button>
			<button class="btn btn-default"  ng-click="cancel()">No</button>		
	</div>
</script>
<script type="text/ng-template" id="deleteCampaignModal.html">
				<div class="modal-header">
			                <button type="button" class="close"  data-dismiss="modal"><span aria-hidden="true" class="cross-img" ng-click="cancel()"></span></button>
			                <h4 class="modal-title modaltextcolor">Delete Campaign</h4>
			    </div>
				<div class="modal-body">
                   <img alt="icon" src="images/ques-icon.png" class="cancel-icon">
                   <div class="campaign-msg">
                      <span class="ques-text">Once Deleted, this campaign cannot be recovered. A new campaign needs to be set up all over again.</span>
                      <p class = "campaign-conform-msg">Are you sure, you want to permanently delete this campaign?</p>
                   </div>
				   <div class="clear"></div>
                </div>
               <input type="hidden" ng-model="pturl">

			    <div class="modal-footer">
					<button type="button" class="btn btn-primary"  ng-click="ok()">Ok</button>
			        <button type="button" class="btn btn-default"  ng-click="cancel()">Cancel</button>
			    </div>
</script>


<script type="text/ng-template" id="confirmCampaignActionModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true" class="cross-img"></span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" style="text-indent: 32px !important; margin-bottom: 20px !important;" id="addassetLabel">Confirm </h4>
    </div>
    <div class="modal-body">
        <div class= "body-img">
            <img alt="icon" src="images/ques-icon.png"  class="ques-text">
        </div>
        <div class= "body-text">
            <span> {{classes}} ?</span>
            <p style="font-weight: 100;font-size: 12px;font-style: italic;" class="label-font">   {{detailMsg}}  </p>
           
        </div>
    </div>
    <div class="modal-footer">      
            <button class="btn btn-primary" data-dismiss="modal" ng-click="confirmAction()">Yes</button>
            <button class="btn btn-default"  ng-click="cancel()">No</button>        
    </div>

</script>



<section id="main">

	<div class="container paddingoverwrite space-style">
		<div class="headerTitle">Campaign Manager</div>
		<div class="clear"></div>
	
		<div class="col-md-12 top-navigate-bar">
			<!--  <a ui-sref="adminhome" class="navanchor dropdown-toggle" data-toggle="dropdown" href="#!/adminhome">
	   	    	<span class="camp-title-option" ng-class="uiRouterState.current.name == 'adminhome' ? 'activetab' : ''">Dashboard</span>
	   		</a> -->
	   	    <a ui-sref="listcampaigns" class="navanchor dropdown-toggle" data-toggle="dropdown" href="#!/listcampaigns">     	        
	   	    	<span class="camp-title-option" ng-class="uiRouterState.current.name == 'newcampaign' || uiRouterState.current.name == 'editcampaign' || uiRouterState.current.name == 'listcampaigns' ? 'activetab' : ''">Campaigns</span>
	   	    </a>
	   	     
	   	    <!-- REASON : new tab to show TABLEAU reports -->
	   	    <!-- <a ui-sref="dashboard" class="navanchor dropdown-toggle" data-toggle="dropdown" href="#!/dashboard">     	        
	   	    	<span class="camp-title-option" ng-class="uiRouterState.current.name == 'dashboard' ? 'activetab' : ''">Dashboard</span>
	   	    </a> -->

	   	    <!--  <a ui-sref="listcampaigns" class="navanchor dropdown-toggle" data-toggle="dropdown" href="#!/listcampaigns">
	   	    	<span class="camp-title-option" ng-class="uiRouterState.current.name == 'workroom' ? 'activetab' : ''">Workroom</span>
	   	    </a> -->
		</div>

		<div class="topGreyBar">
			<span class="searchtotal">Total {{campaignCount}} Campaigns</span>
			<span class="searchboxdd">
				<select class="form-control text-color select-box" ng-model="selectedStatus" 
	    				ng-init="selectedStatus = selectedStatus || allCampaignStatus[3].value"
	    				ng-options="campaignStatus.value as campaignStatus.key for campaignStatus in allCampaignStatus"
	    				ng-change="pageChanged(selectedStatus, searchName, currentPage, pageSize)">
				</select>
			</span>
			<!-- DATE:14/12/2017	Added method to show loader on NEW campaign -->
			<span class="searchbtn" ng-click="newCampaignCreation()">NEW</span>		
			<div class="campaignSearchDiv nmr">
				<form method="get" id="frmSearch">
					<div class="inner-searchbutton">
						<input class="search-formControl"  type="text"  autocomplete="off" ng-trim="true" maxlength="128" id="qu" ng-enter="searchCampaignsByName(campaignName)" title="Search for campaign" placeholder="Search By Campaign Name" ng-model="campaignName" style="width: 250px">
						<button type="button"  class="searchbuttonstyle" ng-click="searchCampaignsByName(campaignName);"><img src="images/search_icon.png"></button>
					</div>
				</form>
			</div>	
			<span class="searcharrow"><!-- <img src="images/search_arrow.png" title="Edit"> --></span>
		</div>
	</div>
				<!--  middle Section Start-->
				<div class="container bs-docs-container whitebg paddtop">				
				 <toaster-container toaster-options="{'time-out': 6000, 'close-button':true}"></toaster-container>
				
				<!--  start campaign list launch page  -->
                <form name="campaignlaunchform" novalidate id="campaignlaunchform" ng-show="noCampaign">  
                  <div class= "bs-docs-section bordermargin team-intereacted-white-block"> 
                    	<div class= "campaign-ready-upper-block">
                    		<div class = "align-lanch-campaign-btn">
								<div class = "form-control team-bid-bgcolor-btn align-center">
									<span class = "accept-bid-btn-font" ng-click = "addCampaign()">Create Campaign</span>
								</div>
							</div>
                    	</div>
                    	<span class="exclamation-logo"></span>
                    	<div class= "campaign-ready-upper-block">
                    		<div class = "align-lanch-campaign-btn-message">
								<div class = "form-control team-bid-bgcolor-message align-center">
								    
									<span class = "accept-bid-btn-font-message">No Campaign is created yet. Get started with your first campaign by clicking on Create Campaign</span>
								</div>
							</div>
                    	</div>                    	                   	
					</div>
					<div class= "campaign-ready-below-block">
                    	  <div class="col-md-12">
	                    	    <div class="col-md-4">
		                    		<div class= "campaign-ready-middle-block"> 
		                    			<div class="align-campaign-ready-img-block">		                    				
		                    				<img alt="" src="images/correctclk.png" class = "img-size">
		                    			</div>
		                    			<div class="font-txt">Create Campaign allows to</div>
		                    			<div class = "align-campaign-ready-general-info">
		                    				<ul class= "align-list-items">
		  										<li>Define general information of campaign</li>
		  										<li>Specifying campaign requirements</li>
		  										<li>Define target segment</li>
		  										<li>Select team</li>
											</ul> 
		                    			</div>
		                    		</div>
	                    		</div>
	                    		<div class="col-md-4">
		                    		<div class= "campaign-ready-middle-block"> 
		                    			<div class="align-campaign-ready-img-block">
		                    				<img alt="" src="images/light.png" class = "img-size">
		                    			</div>
		                    			<div class="font-txt">A few simple ideas to get you started</div>
		                    			<div class = "align-campaign-ready-general-info">
		                    				<ul class= "align-list-items">
		  										<li>Provide ideas for effective campaign creation</li>
		  										<li>Useful tips for CM</li>
		  										<li>Useful tips for CM</li>
											</ul> 
		                    			</div>
		                    		</div>
	                    		</div>
	                    		<div class="col-md-4">
		                    		<div class= "campaign-ready-middle-block"> 
		                    			<div class="align-campaign-ready-img-block">
		                    				<img alt="" src="images/userclk.png" class = "img-size">
		                    			</div>
		                    			<div class="font-txt">Campaign Management</div>
		                    			<div class="font-txt-under">Some basic steps in campaign<br> management are</div>
		                    			<div class = "align-campaign-ready-general-info">
		                    				<img alt="" src="images/arrow-top.png" class = "img-size1">
		                    				<ul class= "align-list-items">
		  										<li>Create Campaign</li>
		  										<li>Launch Campaign</li>
		  										<li>Manage Campaign</li>
											</ul> 
		                    			</div>
		                    		</div>
	                    		</div>
                    	    </div>                    		
                    	</div> 
                  </form>
                  <!--  end of campaign list launch  page --> 
				
				
				
				
				<form name="newcampaignform" novalidate>					
					<!-- start of middle camapign List div-->
					<div class="margintable" >
					<!-- <div class="errorMessageNoCampMargin" ng-show="noRunningCamp">
						<label class="label-text-transform">No Campaigns has been created yet.<a ui-sref="newcampaign"> Create one now </a>!!! </label>
					</div> -->
					<div class="errorMessageNoCampMargin" ng-show="noCampaign">
						<label class="label-text-transform">No Campaigns has been created yet.<a ui-sref="newcampaign"> Create one now </a>!!! </label>
					</div>
					<div class="errorMessageMargin" ng-show="noStatus">
						<label class="msg-color label-text-transform">No records were found to match your search</label>
					</div>
					  <table id="example" class="tablecontainer" ng-show="!noStatus && !noCampaign">
							<thead>
					            <tr class="tdhead">					            
									<!-- <td class="thtdpaddinghead handpointer" ng-repeat="key in notSorted(campaignHead)" ng-init="value = campaignHead[key]" ng-class="selectedColumn(key);" ng-click="changeSorting(key, selectedStatus, searchName, pageSize, currentPage)"><span class="titlespan">{{ value }}</span></td>									 -->
									<!-- <td ng-show="selectedStatus != 'RUNNING'" colspan="2" class="thtdpaddinghead">
										
									</td>
									<td ng-show="selectedStatus == 'RUNNING' || selectedStatus == 'PAUSED' || selectedStatus == 'PLANNING'" colspan="3" class="thtdpaddinghead">
									    									
									</td> -->
									<!-- <td class="thtdpaddinghead"  colspan="5">
									
									</td> -->
									<th ng-class="selectedColumn('Name');" ng-click="changeSorting('Name', selectedStatus, searchName, pageSize, currentPage)" class="thtdpaddinghead handpointer">Name</th>
									<th ng-class="selectedColumn('Type');" ng-click="changeSorting('Type', selectedStatus, searchName, pageSize, currentPage)" class="thtdpaddinghead handpointer">Type</th>
									<th ng-class="selectedColumn('Start Date');" ng-click="changeSorting('Start Date', selectedStatus, searchName, pageSize, currentPage)" class="thtdpaddinghead handpointer">Start Date</th>
									<th ng-class="selectedColumn('End Date');" ng-click="changeSorting('End Date', selectedStatus, searchName, pageSize, currentPage)" class="thtdpaddinghead handpointer">End Date</th>
									<th ng-class="selectedColumn('Achieved Vs Target');" ng-click="changeSorting('Achieved Vs Target', selectedStatus, searchName, pageSize, currentPage)" class="thtdpaddinghead handpointer">Achieved Vs Target</th>
									<th ng-show= "isCampaignSearched" class="thtdpaddinghead handpointer">Status</th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
						        </tr>
						        
					            <tr ng-repeat="campaign in allcampaigns.campaignsList" class="listtr">
					           
					            		<!-- {'backgrndheading' : changeBgColor[key]} -->
									   <!--  <td class="addextrathtdpadding  backgrnd" ng-class="selectedStatus != 'RUNNING' && selectedStatus != 'PLANNING' && selectedStatus != 'PAUSED'? 'namecls2' : 'namecls'"><a ng-click="retriveCampaign(campaign.id)" class="underline floatstyle handpointer">{{campaign.name}}</a></td> -->
									    <td class="addextrathtdpadding  backgrnd" ng-class = "selectedStatus != 'RUNNING' && selectedStatus != 'COMPLETED'  && selectedStatus != 'CREATED'
									        && selectedStatus != 'PLANNING'  && selectedStatus != 'STOPPED' && selectedStatus != 'RUNREADY'  && selectedStatus != 'DELISTED' && selectedStatus != 'PAUSED'? 'namecls2' : 'namecls'">{{campaign.name}}</td>
										<td class="thtdpadding typecls"><label class="textlabelmargin">{{getType(campaign.type)}}</label></td>
										<td class="thtdpadding startcls"><label class="textlabelmargin">{{campaign.startDate |date:'MM/dd/yyyy'}}</label></td>
										<td class="thtdpadding endcls"><label class="textlabelmargin">{{campaign.endDate |date:'MM/dd/yyyy'}}</label></td>
										<td class="thtdpadding targetcls">										
										{{campaign.deliveryTargetAchieved}} Of {{campaign.deliveryTarget}}								
										<label class="textlabelmargin"></label>
											<div class="progress">
    											<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{((campaign.deliveryTargetAchieved/campaign.deliveryTarget)*100)}}%">     
    											</div>    											
  											</div>
  											<!-- <span class="targimg"><img src="images/target.png"></span> -->
										</td>
										<td ng-show= "isCampaignSearched" class="thtdpadding typecls">{{campaign.status}}</td>
										<!-- <td class="thtdpaddingaction actionicons">
											<button class="imageactioncolor"><img src="images/messicon.png" title="Clone" ng-click="cloneCampaign(campaign.id)"></button>
										</td>
										<td class="thtdpaddingaction actionicons">
										    <span class="fillcnt">1</span>											
										</td> -->
										<!-- <td class="thtdpaddingaction actionicons" ng-show="selectedStatus == 'RUNNING'">
											<span data-toggle="modal" data-target="#stopCampaign" class="fillcnt stopcampaign"></span>										
										    <a title="Pause"><span ng-click="save('Pause', campaign)" class="pausecampaign"></span></a>											
										</td>	
										<td class="thtdpaddingaction actionicons" ng-show="selectedStatus == 'PLANNING'">										
										    <span data-toggle="modal" data-target="#stopCampaign" class="fillcnt stopcampaign"></span>	
										    <a title="Run"><span ng-click="save('Run', campaign)" class="runcampaign"></span></a>											
										</td>	
										<td class="thtdpaddingaction actionicons" ng-show="selectedStatus == 'PAUSED'">										
										    <a title="Resume"><span ng-click="save('Resume', campaign)" class="resumecampaign"></span></a>	
										</td>	 -->
										<td class="thtdpaddingaction actionicons">                                     
                                            <a title="Action"><span ng-click="retriveCampaign(campaign.id)" class="actioncampaign"></span></a>                                           
										</td>   	 
										<td class="thtdpaddingaction actionicons" ng-show="campaign.status == 'RUNNING'">                                     
                                            <a title="Pause campaign"><span ng-click="openConfirmationModal('Pause', campaign.id)" class="pausecampaign"></span></a>                                           
										</td>
										<td class="thtdpaddingaction actionicons" ng-show="(campaign.status == 'CREATED' || campaign.status == 'PLANNING' || campaign.status == 'RUNREADY' || campaign.status == 'STOPPED' || campaign.status == 'DELISTED' || campaign.status == 'COMPLETED')">
											--
										</td>
										<td class="thtdpaddingaction actionicons" ng-show="campaign.status == 'PAUSED'">                                     
                                            <a title="Run campaign"><span ng-click="openConfirmationModal('Run', campaign.id)" class="runcampaign"></span></a>                                           
                                        </td>							
										<td class="thtdpaddingaction actionicons" >
											<button class="imageactioncolor" ng-if="campaign.status !== 'STOPPED' && campaign.status !== 'DELISTED' && campaign.status !== 'COMPLETED'" ng-click="editCampaign(campaign.id)"><img src="images/edit_icon_list.png" title="Edit"></button>
											<img class="edit-button-align" ng-if="campaign.status === 'STOPPED' || campaign.status === 'DELISTED' || campaign.status === 'COMPLETED'" src="images/edit_icon_list.png" title="{{campaign.status | capitalize}} campaign cannot be edited">
										</td>
										<td class="thtdpaddingaction actionicons">
											<button class="imageactioncolor"><img src="images/clone_icon_list.png" title="Clone" ng-click="cloneCampaign(campaign.id)"></button>
											<!-- <button class="imageactioncolor"  ng-if = "campaign.status === 'CREATED' || campaign.status === 'DELISTED'"><img class="delete-button-align" src="images/delete.png" title="Delete" 
											ng-click = "deleteCampaign(campaign.id)"></button>
											<img class="delete-button-align" src="images/delete-disable.jpg" ng-if = "campaign.status !== 'CREATED' && campaign.status !== 'DELISTED'" title="{{campaign.status | capitalize}} campaign cannot be deleted"> -->
									 <div class="modal fade" id="stopCampaign" tabindex="-1" role="dialog" aria-labelledby="addassetLabel" aria-hidden="true">
									 <div class="modal-dialog"> 
									        <div class="modal-content">
									          	<div class="modal-header">
												              <button type="button" class="close"  data-dismiss="modal"><span aria-hidden="true" class="cross-img" ng-click="cancel()"></span></button>
												               <h4 class="modal-title modaltextcolor">Stop Campaign</h4>
												    </div>
													<div class="modal-body">
									                   <img alt="icon" src="images/ques-icon.png" class="cancel-icon">
									                   <div class="campaign-msg">
									                      <span class="ques-text">Once Stopped, this campaign cannot be started. A new campaign needs to be set up all over again.</span>
									                      <p class = "campaign-conform-msg">Are you sure, you want to stop this campaign?</p>
									                   </div>
									                </div>
									               <input type="hidden" ng-model="pturl">
									
												    <div class="modal-footer">
														<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save('Stop', campaign)">Yes</button>
												        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
												    </div>
											 </div>
									    </div>
									</div>
									
									
									</td>
									
									
								</tr>
					        </thead>
						</table>
					</div>
					<!-- end of middle campaign List div-->
					<!-- start of bottom campaign List div-->
						
						<div class="divfloatleft pagination-wrap" ng-show="!noStatus && !noCampaign">
						         <div class="leftdiv">
									<label>Show</label>
								</div>
								<div class="divshowmargin">
									<select class="form-control addselectoptionright addrightmargin" ng-disabled="noSize" ng-model="pageSize" ng-options="size.id as size.name for size in totalPageSize" ng-change="pageChanged(selectedStatus, searchName, currentPage, pageSize)">
									</select>
								</div> 
								<div class="leftdiv">
									<label>per page</label>
								</div>
							   	<!-- <div class="divsearchbuttonleft">
									<label class="number-box label-text-transform">{{((currentPage-1) * pageSize) +1 }} - {{((currentPage-1) * pageSize) + campaignLength}} of {{campaignCount}}</label>
						        </div> -->
						</div>
						
						<div class="divfloatright pagination-wrap" ng-show="!noStatus && !noCampaign">	
						<!--  -->						   
 								<div class="divsearchbuttonright"> 							
 									<pagination boundary-links="true" page="currentPage" max-size="3" ng-change="pageChanged(selectedStatus, searchName, currentPage, pageSize)" total-items="campaignCount" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"  items-per-page="pageSize"></pagination>
 								</div> 
								
						</div>
					
					<!-- end of bottom camapign List div-->
				</form>	
				</div>
</section>
<!-- <div class="fade-load bidpage-list" ng-show="loading">
	<img src="images/ajax-loader.gif"  />
</div>	 -->
<div class="processing" id="ad_loading" ng-show="loading">
<div class="processing_message">
	<span>Processing</span>
	<p align="center"><img alt="processing" src="images/loader_circle.gif"></p>
</div>
</div>		    
<head>
	<!-- Start of xtaascorp Zendesk Widget script -->
	<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=79a5108e-d547-4b2b-82f7-41a25f84e9f1"> </script>
	<!-- End of xtaascorp Zendesk Widget script -->
</head>