<link href="css/campaign.css" rel="stylesheet">
<script type="text/ng-template" id="runModal.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true" class="cross-img"></span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="addassetLabel">Run Campaign</h4>
	</div>
	<div class="modal-body">
		<img alt="icon" src="images/ques-icon.png"  class="ques-text">
		<span>To run the campaign, change the end date. Do you want to change?</span>
	</div>
	<input type="hidden" ng-model="pturl">
	<div class="modal-footer">
		<div ng-controller = "ViewCampaignController">
			<button class="btn btn-primary" data-dismiss="modal" ng-click="ok(campaign.id)">Yes</button>
			<button class="btn btn-default"  ng-click="cancel()">No</button>
		</div>
	</div>
</script>
<script type="text/ng-template" id="teamRating">
	<h5 class="infofont">&#40; {{team.totalCompletedCampaigns}} completed project &#41; </h5>
	<p class="text-center"  ng-if="team.averageRating == 0.0">
		<img src="images/black-star.png" class="starlist"/>
		<img src="images/black-star.png" class="starlist"/>
		<img src="images/black-star.png" class="starlist"/>
		<img src="images/black-star.png" class="starlist"/>
		<img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center"  ng-if="team.averageRating == 0.5">
		<img src="images/half-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="team.averageRating == 1.0">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="team.averageRating == 1.5">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/half-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="team.averageRating == 2.0">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="team.averageRating == 2.5">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/half-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="team.averageRating == 3.0">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="team.averageRating == 3.5">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/half-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="team.averageRating == 4.0">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="team.averageRating == 4.5">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/half-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="team.averageRating == 5.0">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	</p>
</script>
<script type="text/ng-template" id="agentRating">
	<h5 class="infofont">&#40; {{agent.totalCompletedCampaigns}} completed project &#41; </h5>
	<p class="text-center"  ng-if="agent.averageRating == 0.0">
		<img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center"  ng-if="agent.averageRating == 0.5">
		<img src="images/half-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="agent.averageRating == 1">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="agent.averageRating == 1.5">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/half-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="agent.averageRating == 2">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="agent.averageRating == 2.5">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/half-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="agent.averageRating == 3">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="agent.averageRating == 3.5">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/half-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="agent.averageRating == 4">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/black-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="agent.averageRating == 4.5">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/half-star.png" class="starlist"/>
	</p>
	<p class="text-center" ng-if="agent.averageRating == 5">
		<img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	    <img src="images/colored-star.png" class="starlist"/>
	</p>
</script>

<section  id="main">
	
<!--  middle Section Start-->
<div class="container bs-docs-container whitebg">
	<form name="newcampaignform" novalidate>
<!-- 	  <div class="alert alert-success"  ng-if="alert.type == 'success'" ng-repeat="alert in alerts">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									{{alert.msg}} 
			</div>
			<div class="alert alert-danger " ng-if="alert.type == 'error'" ng-repeat="alert in alerts">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									{{alert.msg}} 
			</div>  -->
			
		<div class="col-md-12 paddingoverwrite">
			<div class="clearfix">
				<div class=bgdiv>
					<label class="handpointer" ng-class="{compressbox: !isCampaignCollapsed, expandbox: isCampaignCollapsed}"  ng-click="isCampaignCollapsed = !isCampaignCollapsed">Campaign Creation</label>
				</div>
				<div class="whiteboxwithlabel-creation" collapse="isCampaignCollapsed">
					<h3>Create Campaign</h3>
					<div class="row">
						<div class="completediv" >
					   		<div class="col-md-6">
								<label class="col-md-4 control-label text-label">Campaign Name: </label>
								<h5>{{campaign.name}}</h5>
							</div>
							<div class="col-md-6">
								<label class="col-md-4 control-label text-label">Run Dates: </label>
								<h5>{{campaign.startDate| date:'MM/dd/yyyy'}} to {{campaign.endDate| date:'MM/dd/yyyy'}}</h5>
							</div>
						</div>
						<div class="completediv">
							<div class="col-md-6">
								<label class="col-md-4 control-label text-label">Campaign Type: </label>
								<h5>{{getType(campaign.type)}}</h5>
							</div>
							<div class="col-md-6">
								<label class="col-md-4 control-label text-label">Delivery Target: </label>
								<h5>{{campaign.deliveryTarget}}</h5>
							</div>
						</div>
						<div class="completediv">
							<div class="col-md-6">
									<label class="col-md-4 control-label text-label">Domains </label>
									<h5>{{campaign.domain}}</h5>
							</div>
							<div class="col-md-6">
									<label class="col-md-4 control-label text-label">Daily Cap </label>
									<h5>{{campaign.dailyCap}}</h5>
							</div>
						</div>
					</div>
					<div class="collapsediv">	
						<h4 class="text-uppercase">Restrictions</h4>
						 <div class="col-md-12"> 
							<div ng-repeat="restriction in campaign.restrictions">
								<h5 class="nomarginlabel"  ng-if="isExist(restriction)">{{restriction}}</h5>
							</div>
						</div>
						<h5 class="infolabel" ng-if="!isExist(campaign.restrictions)">
							<span class="warninglabel">No restrictions are available</span>
						</h5> 
						 
					</div>
					<hr class="horizontalline"></hr>
					<div class="bs-docs-section">
						<h3>Advanced Setup</h3>
						<div class="collapsediv">
							<h4 class="text-uppercase">Qualification Criteria</h4>
							<pre class="grayboxsmall"  ng-if="isExist(campaign.qualificationClause)">
								<h5 class="infolabel"> {{campaign.qualificationClause}} </h5>
							</pre>
						  	<h5 class="infolabel" ng-if="!isExist(campaign.qualificationClause)">
								<span class="warninglabel">No Qualification Criteria is available</span>
							</h5>   
							<div class="collapsediv clearfix">	
								<h4 class="text-uppercase"><!--  ng-repeat="questions in campaign.restrictions"> -->Custom Questions</h4>
								<div class="col-md-12" ng-if="isExist(campaign.informationCriteria)">
									<div ng-repeat="questions in campaign.informationCriteria">
										<h5 class="nomarginlabel">{{questions}}</h5>
									</div>	
								</div>
								<h5 class="infolabel" ng-if="!isExist(campaign.informationCriteria)">
									<span class="warninglabel">No Qualification Criteria is available</span>
								</h5> 
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix">
				<div class=bgdiv><label class="handpointer" ng-class="{compressbox: !isLeadCollapsed, expandbox: isLeadCollapsed}"  ng-click="isLeadCollapsed = !isLeadCollapsed">Lead Selection</label></div>
				<div class="whiteboxwithlabel" collapse="isLeadCollapsed">
			  		<h3>SELECT LEADS</h3>
			  		<pre class="grayboxsmall" ng-if="isExist(campaign.leadFilteringClause)">
			  			<h5 class="infolabel"> {{campaign.leadFilteringClause}} </h5>
			  		</pre>
			 		<h5 class="infolabel" ng-if="!isExist(campaign.leadFilteringClause)">
						<span class="warninglabel">No Leads is available</span>
					</h5>
					<h3>ASSETS</h3>
					<table class="singlecolumnlist" ng-if="isExist(campaign.assets)">
						<tr ng-repeat="asset in campaign.assets">
							<td class="singlecolumntd">
								 <div class="insidetableimage"></div>
								 <div class="insidetablecontent">
									<h5 class="blueelement"><a ng-href="{{asset.url}}" target="blank" >{{asset.name}}</a> </h5>
	    							<h5 class="underlinelink" >{{asset.url}}</h5>
	    							<h5> {{asset.description}}</h5>
							 	</div>
							</td>
						</tr>
					</table>
						<h5 class="infolabel" ng-if="!isExist(campaign.assets)">
							<span class="warninglabel">No Assets are available</span>
						</h5> 
				</div>
			</div>
			<div class="clearfix">
				
				<!-- selected teams --> 
				<div class=bgdiv ng-show = "campaign.selfManageTeam==false && campaign.status!='BIDDING'">
					<label class="handpointer" ng-class="{compressbox: !isSelectedTeamCollapsed, expandbox: isSelectedTeamCollapsed}"  ng-click="isSelectedTeamCollapsed = !isSelectedTeamCollapsed">Selected Teams</label>
				</div>
				<div collapse="isSelectedTeamCollapsed">
					<table class="singlecolumnlist1" ng-if="isExist(campaignSelectedTeams) && (campaign.status!='BIDDING') && (campaign.selfManageTeam==false)">
						<tr ng-repeat="team in campaignSelectedTeams">
							<td class="singlecolumntd1">
								 <div class="whiteboxsmall clearfix">
									<div class="leftimagediv"> </div>
									<div class="middlediv col-md-12">
										<h5 class="text-uppercase blueelement"> {{team.name}} </h5>
										<h5 class="basicinfolabel">{{team.overview}}</h5>
										<ul class="displaylist">
											
				                            	<li class="col-md-4"><h6>{{team.teamSize}} People team</h6></li>
				                            	<li class="col-md-4"><h6>Average Available Hours
															{{team.averageAvailableHours}}</h6></li>
												<li class="col-md-4"><h6>Total Volume {{team.totalVolume}}</h6></li>
											
	                              		</ul>
	                              	</div>
									<div class="rightdiv" ng-include = "'teamRating'">
									</div> 
								</div>
							</td>
						</tr>
					</table>
					<h5>
						<span class="warninglabelforselected"  ng-if="!isExist(campaignSelectedTeams) && campaign.selfManageTeam==false && (campaign.status!='BIDDING')">No Teams are Selected....</span>
					</h5>
				</div>
				
				<!-- invited teams --> 
				
				<div class=bgdiv ng-show = "campaign.selfManageTeam==false && (campaign.status == 'BIDDING' || campaign.status == 'CREATED')">
					<label class="handpointer" ng-class="{compressbox: !isInvitedTeamCollapsed, expandbox: isInvitedTeamCollapsed}"  ng-click="isInvitedTeamCollapsed = !isInvitedTeamCollapsed" ng-show="(campaign.status!='PLANNING') && campaign.selfManageTeam==false">Invited Teams</label>
				</div>
				<div collapse="isInvitedTeamCollapsed">
					<table class="singlecolumnlist1" ng-if="isExist(campaignInvitedTeams) && (campaign.status == 'BIDDING' || campaign.status == 'CREATED') && campaign.selfManageTeam==false">
						<tr ng-repeat="team in campaignInvitedTeams">
							<td class="singlecolumntd1">
								 <div class="whiteboxsmall clearfix">
									<div class="leftimagediv"> </div>
									<div class="middlediv col-md-12">
										<h5 class="text-uppercase blueelement"> {{team.name}} </h5>
										<h5 class="basicinfolabel">{{team.overview}}</h5>
										<ul class="displaylist">
											
				                            	<li class="col-md-4"><h6>{{team.teamSize}} People team</h6></li>
				                            	<li class="col-md-4"><h6>Average Available Hours
															{{team.averageAvailableHours}}</h6></li>
												<li class="col-md-4"><h6>Total Volume {{team.totalVolume}}</h6></li>
											
	                              		</ul>
									</div>
									<div class="rightdiv" ng-include="'teamRating'"></div>
									<div>
										<button type="button" class="btn btn-primary btn-lg center-block" ng-click="selectTeamOrAgent( team.teamId, $index)" ng-hide="hideValue_{{$index}}==0" ng-disabled = "selectDisable"><b>Select</b></button>
										<p class="comment-note text-center" ng-show="hideValue_{{$index}}==0"><span><img src="images/check-icon.png" /></span>Selected on {{getDatetime() | date:'dd MMM yyyy'}}</p>
									</div>
								</div>
							</td>
						</tr>
					</table>
					<h5>
						<span class="warninglabelforselected"  ng-if="!isExist(campaignInvitedTeams) && campaign.selfManageTeam==false && (campaign.status == 'BIDDING' || campaign.status == 'CREATED')">No Teams are invited....</span>
					</h5>
				</div>
				<!-- Selected agents --> 
				<div class=bgdiv ng-show = "campaign.selfManageTeam == true && campaign.status!='BIDDING'">
					<label class="handpointer" ng-class="{compressbox: !isAgentSelectedCollapsed, expandbox: isAgentSelectedCollapsed}"  ng-click="isAgentSelectedCollapsed = !isAgentSelectedCollapsed">Selected Agents</label>
				</div>
				<div collapse="isAgentSelectedCollapsed">
					<table class="singlecolumnlist1" ng-if="isExist(campaignSelectedAgents) && (campaign.status!='BIDDING') && (campaign.selfManageTeam==true)">
						<tr ng-repeat="agent in campaignSelectedAgents">
							<td class="singlecolumntd1">
								<div class="whiteboxsmall clearfix">
									<div class="leftimagediv"> </div>
									<div class="middlediv col-md-12">
										<h5 class="text-uppercase blueelement"> {{agent.firstName}}&nbsp;{{agent.lastName}}  </h5>
										<h5 class="basicinfolabel">{{agent.overview}}</h5>
										<ul class="displaylist">
											<li class="col-md-4"> <h6>Average Available Hours {{agent.averageAvailableHours}} </h6></li>
											<li class="col-md-4"> <h6>Total Volume {{agent.totalVolume}} </h6></li>
										</ul>
									</div>
									<div class="rightdiv" ng-include = "'agentRating'">
									</div> 
								</div>
							</td>
						</tr>
					</table>
					<h5>
						<span class="warninglabelforselected"  ng-if="!isExist(campaignSelectedAgents) && campaign.selfManageTeam==true && (campaign.status!='BIDDING')">No agents are Selected....</span>
					</h5>
				</div>
				<!-- invited agents --> 
				<div class=bgdiv ng-show = "campaign.selfManageTeam == true && (campaign.status == 'BIDDING' || campaign.status == 'CREATED')">
					<label class="handpointer" ng-class="{compressbox: !isAgentInvitedCollapsed, expandbox: isAgentInvitedCollapsed}"  ng-click="isAgentInvitedCollapsed = !isAgentInvitedCollapsed">Invited Agents</label>
				</div>
				<div collapse="isAgentInvitedCollapsed">
					<table class="singlecolumnlist1" ng-if = "isExist(campaignInvitedAgents) && (campaign.status == 'BIDDING' || campaign.status == 'CREATED') && campaign.selfManageTeam == true">
						<tr ng-repeat="agent in campaignInvitedAgents">
							<td class="singlecolumntd1">
								<div class="whiteboxsmall clearfix">
									<div class="leftimagediv"> </div>
									<div class="middlediv col-md-12">
										<h5 class="text-uppercase blueelement"> {{agent.name}} </h5>
										<h5 class="basicinfolabel">{{agent.overview}}</h5>
										<ul class="displaylist">
											<li class="col-md-4"> <h6>Average Available Hours {{agent.averageAvailableHours}} </h6></li>
											<li class="col-md-4"> <h6>Total Volume {{agent.totalVolume}} </h6></li>
										</ul>
									</div>
									<div class="rightdiv" ng-include = "'agentRating'"></div> 
									<div>
										<button type="button" class="btn btn-primary btn-lg center-block" ng-click="selectTeamOrAgent(agent.id, $index)" ng-hide="hideValue_{{$index}}==0"><b>Select this agent</b></button>
										<p class="comment-note text-center" ng-show = "hideValue_{{$index}} == 0"><span><img src="images/check-icon.png" /></span>Selected on {{getDatetime() | date:'dd MMM yyyy'}}</p>
									</div>
								</div>
							</td>
						</tr>
					</table>
					<h5>
						<span class="warninglabelforselected"  ng-if="!isExist(campaignInvitedAgents) && campaign.selfManageTeam == true && (campaign.status == 'BIDDING' || campaign.status == 'CREATED')">No Agents are invited....</span>
					</h5>
				</div>
			</div>
			<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
			<div>
				<button ui-sref="listcampaigns" class="pull-right graytbtn pull-right">cancel</button>
				<button class="blueButton" ng-click="save('Run')" ng-disabled="!newcampaignform.$valid" ng-if="campaign.status==='PLANNING'|| runvalue" ng-hide="stopvalue">
					RUN 
				</button>
				<button class="blueButton" ng-click="save('Plan')" ng-disabled="!newcampaignform.$valid" ng-if="(campaign.status==='BIDDING' && campaign.selfManageTeam == true)" ng-hide="stopvalue">
					PLAN 
				</button>
				<button class="blueButton" ng-click="save('Pause')" ng-disabled="!newcampaignform.$valid" ng-if="campaign.status==='RUNNING'|| pausevalue" ng-hide="stopvalue"> 
					PAUSE 
				</button>
				<button class="blueButton" ng-click="save('Resume')" ng-disabled="!newcampaignform.$valid" ng-if="campaign.status==='PAUSED'|| resumevalue" ng-hide="stopvalue">
					RESUME 
				</button>
				<button class="blueButton"  data-toggle="modal" data-target="#stopCampaign" ng-disabled="!newcampaignform.$valid" ng-hide="stopvalue || campaign.status==='STOPPED' || campaign.status==='DELISTED' || campaign.status==='COMPLETED'">
					STOP 
				</button>
			</div>
			<!-- dialog box start -->
			
		<!-- dialog box ends -->
		
		</div>
	</form>
</div>

<div class="modal fade" id="stopCampaign" tabindex="-1" role="dialog" aria-labelledby="addassetLabel" aria-hidden="true">
    <div class="modal-dialog"> 
        <div class="modal-content">
          	<div class="modal-header">
			              <button type="button" class="close"  data-dismiss="modal"><span aria-hidden="true" class="cross-img" ng-click="cancel()"></span></button>
			               <h4 class="modal-title modaltextcolor">Stop Campaign</h4>
			    </div>
				<div class="modal-body">
                   <img alt="icon" src="images/ques-icon.png" class="cancel-icon">
                   <div class="campaign-msg">
                      <span class="ques-text">Once Stopped, this campaign cannot be started. A new campaign needs to be set up all over again.</span>
                      <p class = "campaign-conform-msg">Are you sure, you want to stop this campaign?</p>
                   </div>
                </div>
               <input type="hidden" ng-model="pturl">

			    <div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save('Stop')">Yes</button>
			        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
			    </div>
		 </div>
    </div>


</div>
	
</section>
<div class="processing" id="ad_loading" ng-show="loading">
<div class="processing_message">
	<span>Processing</span>
	<p align="center"><img alt="processing" src="images/loader_circle.gif"></p>
</div>
</div>
